/*------------------------------------------------------------------------

        Name: Full Width Slider 2.0
        Design and Develpment: eightyclouds
        Author URI: http://www.eightyclouds.com
        Version: 1.0

--------------------------------------------------------------------------

   01. CSS Reset
   02. Head Styles
   03. Top Slider Styles
   04. Media Query Max Width 1300, Min Width 720
   05. Media Query Max Width 719

*/



/* ------------------------------- 3. Slider Styles ------------------------------- */

#fwslider {
	
   position: relative;
    background:#000;
    width:100%;
    overflow:hidden;
    z-index: 0;
}

#fwslider .slider_container { 
  width: 100%;
background-color: transparent;
background-position: 50% 50%;
background-repeat: no-repeat;}

#fwslider .slide {
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index:0;
    width:100%;
    	overflow:hidden;
}

#fwslider .slide img {
    width:100%;
	/*height:100%;*/
	overflow:hidden;

}

#fwslider .slidePrev {
    background: #000000;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    left: 0px;
    opacity:0.8;
    z-index: 10;
}

#fwslider .slidePrev span {
    background-image:url("/assets/img/left_arrow.png");
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fwslider .slideNext {
    background: #000000;
    width: 50px;
    height: 50px;
    position: absolute;
    top:50%;
    right: 0px;
    opacity:0.5;
    z-index: 10;
}

#fwslider .slideNext span {
    background-image:url("/assets/img/right_arrow.png");
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fwslider .timers {
    height:8px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

#fwslider .timer {
    height:8px;
    width:40px;
    background-color: #000;
    float:left;
    margin-right: 10px;
}

#fwslider .progress {
    height:8px;
    width:0%;
    background-color: #FF0000;
    float:left;
}

#fwslider .slide_content {
top: 0;
left: 0px;
right: 0;
position: absolute;
width: 100%;
float: right;
height: 100%;
margin: 0;
}

#fwslider .slide_content_wrap {
width: 50%;
height: 400px;
padding: 80px;
background-color: rgba(0, 0, 0, 0.2);
border-color: #232323;
color: #FFF;
float: right;
overflow:hidden;
}

/* Slider Title Style */
#fwslider .title {  
color: #f4f4f4;
font-size: 360%;
line-height:0.99;
font-family:arial black, arial, sans-serif !important;
margin: 10px 0 0 0;
font-weight:900;
text-shadow: 0px 1px 1px black;
text-transform: uppercase;
}

#fwslider .description { /* Slider Description Style */
    opacity: 0;
    color:#FFFFFF;
    font-size:18px;
	text-shadow: 0px 1px 1px black;
    padding:10px;
    clear:both;
    float:left;
    margin-top:2px;
    line-height:24px;
    font-family: 'Open Sans', arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#fwslider .readmore { /* Slider Read More button Style */
    opacity: 0;
    clear:both;
    float:left;
    text-transform:uppercase;
    font-size:16px;
    font-weight:700;
    color:#FFFFFF;
    background:#fe2232;
    border:1px;
    padding:10px;
    text-decoration: none;
    margin-top:2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

#fwslider .readmore:hover {
	background-color:#ffffff;
    color:#fe2232;
}

.footer {
    width:100%;
    float:left;
    text-align:center;
}

.footer p {
    font-family: arial black, arial, helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:12px;
    color:#585858;
    margin-top:20px;
}

/* ------------------------------- 4. Media Query Max Width 1300, Min Width 720 ------------------------------- 



@media only screen and (min-width:980px) and (max-width: 1300px) {

    #fwslider .slide_content_wrap { margin-left:50px; margin-top:15%;}
    #fwslider .title { font-size:26px; }
    #fwslider .description {  font-size:12px;}

}*/

/* ------------------------------- 5. Media Query Max Width 719 ------------------------------- 

@media only screen and (max-width:980px) {

    #fwslider .slide_content_wrap { display:none; }
    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}

}
*/
