/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	/*position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
	margin-top:15px;
	top:0px;
	-webkit-border-radius: 10px;
    border-radius: 10px;*/
}
.theme-default .nivoSlider img {
	/*position:absolute;
	top:0px;
	left:0px;
	display:none;
	-webkit-border-radius: 10px;
    border-radius: 10px;*/
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: right;
	margin-top:-60px;
	margin-left:auto;
	margin-right:auto;
	padding: 0;
	max-width: 950px;
	z-index:9999;
	position:relative;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	/*height:22px;*/
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
	border:3px solid transparent;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a.active {
	border:3px solid #c1272d;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
}