/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* The Nivo Slider styles */

#slider_home { padding:0;margin:0;}
.nivoSlider { width:100%; height:420px; display: block !important; margin: 0px; padding: 0px; clear: both; z-index: 0; overflow:hidden;}
.promoSlider { width:100%; height:420px; display: block !important; margin: 0px; padding: 0px; z-index: 0;overflow:hidden;}
.promoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:600px;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}


.nivo-whatshot img {
	display: block !important;
	margin:0;
	padding:0;
}

.nivoSlider img {
	display: block !important;
	margin:0;
	padding:0;
}
.nivo-main-image {
	display: block !important;
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:-200px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	/*padding: 5px 10px;*/
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
background-color: rgba(0, 2, 5, 0.6);
border-color: rgb(122, 122, 122);
border-width: 0px;
color: white;
z-index: 10;
overflow: hidden;
position: relative;
visibility: visible;
margin-top:20px;
margin-left	:20px;
height: auto;
width: auto;
top: -420px;
float: right;
right: 0px;
display: block;
}

.nivo-controlNav a {
cursor:pointer;
}

.nivo-controlNav a.active {
	font-weight:bold;
		color:#ff0000;
}

.nivoBlock {
	display:block;
}
