
/******************/
/* GLOBAL LAYOUT  */
/******************/

body {
	margin: 0;
 	font-size: 75%;
	background: #ffffff;
	font-family: arial,sans-serif;
} 

/******************/
/* LOGIN LAYOUT   */
/******************/

#login_logo {
	width: 500px; 
	margin: 110px auto 0;
	text-align: center;
}	
	
#login_main {
	width: 420px; 
	margin: 10px auto;
	padding: 10px 20px;
	min-height: 160px;
	background: -moz-linear-gradient(center top , #FF1A00, #C20303) repeat scroll 0 0 transparent;
	border: #cccccc 1px solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:1.0em;
}

#login_main h1{
	margin: 0;
	padding: 0;
}

.alert {
	color:#990000;
}

/******************/
/* LAYOUT  		  */
/******************/

#container {
	width: 97%;  
	padding: 0; 
	margin: 0 auto; 
	font-size: 1.0em;
	background-color: #ffffff;
	border: #cccccc 1px solid;
	-moz-border-bottom-left-radius: 7px;
	-moz-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#header {
	min-height: 10px; 
	margin-bottom: 5px;
	padding: 20px;
	background: url(../images/line_h.gif) bottom repeat-x;
}

#left_content {
	float: left;
	margin: 2px;
	padding: 5px 20px;
	width: 190px;
	background: transparent/*Total header background image entered here. Height: 125px*/;
}

#user_id{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #cccccc;
    border-color: -moz-use-text-color #999999 #999999;
    border-radius: 3px 3px 3px 3px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 2px 2px 5px #CCCCCC;
    color: #333333;
    display: block;
    font-size: 1.1em;
    margin-top: 10px;
    padding: 6px 10px;
    text-decoration: none;
}

#breadcrumb {
	width: 79%;  
	padding: 5px 2px; 
	float: right;
	margin: -95px 20px 20px 0;
	font-size: 1.0em;
	color: #ffffff;
	background: transparent;
}

#main {
	width: 75%; 
	margin: -90px 20px 20px 0;
	padding: 5px 15px;
	min-height: 500px;
	float: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	border: #cccccc 1px solid;
	font-size:1.0em;
}

#content_title {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    margin: 0 0 10px;
    padding: 5px 0;
}

.group_title {
	font-weight: bold;
	line-height: normal;
	border: #C5C5C5 1px solid;
	padding: 7px 7px 1px;
	background: url("images/ui-bg_glass_35_dddddd_1x400.png") repeat-x scroll 50% 50% #DDDDDD;
/* 	background-image: url(images/highlight.png) repeat-x;
	background-position: 0 center;
	background-color: #E3E3E3;
 */	border-top-left-radius: 5px; 
	-moz-border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	-moz-border-top-right-radius: 5px; 
}

.inline_text {
	background:transparent; 
	border:none; 
	width:97%;
}

.inline_text:HOVER {
	background:#5efb6e; 
	border:none; 
	width:97%;
}

.search_init {
	color: #aaaaaa;
}

.warning_msg {
	color:#999900;
}

.success_msg {
	color:green;
}

.error_msg {
	color:#990000;
}

.sections {
	width:980px;
	float:left;
	margin-top: 2px;
}

.sections .sectopwhite{
	width:980px;
	height:5px;
	float:left;
	background-image:url(../images/bg_content_t.jpg);
	background-repeat:no-repeat;
}

.sections .seccentwhite{
	width:980px;
	float:left;
}

.sections .secbotwhite{
	width:980px;
	height:6px;
	float:left;
	margin-bottom: 10px;
	background-image:url(../images/bg_content_b.jpg);
	background-repeat:no-repeat;
}

.headingSmall {
    background: url("images/ui-bg_glass_35_dddddd_1x400.png") repeat-x scroll 50% 50% #DDDDDD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    height: 15px;
    margin-top: -5px;
    padding: 8px 0;
    width: 215px;
}

.headingSmall #titleCorporate {
    background: url("../images/icon_corporate.png") no-repeat scroll 10px 0 transparent;
    font-size: 12px;
    height: 20px;
    line-height: 16px;
    padding-left: 40px;
}

.corporate {
    background: none repeat scroll 0 0 white;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    height: auto;
    margin-top: 5px;
}

.corporate ul {
    list-style: none outside none;
    padding: 20px 0;
}
.corporate ul li {
    padding-top: 5px;
}
.corporate ul li a {
    color: #3B3B3B;
    margin: 0 15px;
}
.corporate ul li a:hover {
    color: #C50403 !important;
}
.corporate_footer {
    background: url("../images/corporate_footer.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 7px;
    z-index: 1;
}
.corporate {
    background: none repeat scroll 0 0 white;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    height: auto;
    margin-top: 5px;
}
.corporate ul {
    list-style: none outside none;
    padding: 20px 0;
}
.corporate ul li {
    padding-top: 5px;
}
.corporate ul li a {
    color: #3B3B3B;
    margin: 0 15px;
}
.corporate ul li a:hover {
    color: #C50403 !important;
}
.corporate_footer {
    background: url("../images/corporate_footer.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 7px;
    z-index: 1;
}

.static {
	width:950px;
	float:left;
}
.static h3.wlcm{
	padding:10px 0px 0px 0px;
}
.static p.txt{
	width:980px;
	float:left;
	padding:10px 0px 30px 0px;
}

.static .sec1 {
	width:215px;
	float:left;
	margin-top: 10px;
	padding-right: 15px;
}
.static .sec2 {
	width:717px;
	float:left;
	border: 1px solid #cccccc;
	margin-top: 10px;
	background: white;
	
	
	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.static .sec2 p{
	padding:10px;
}
.static .sec2 h5{
	padding-left: 10px;
}

.static .sec3 {
	width:310px;
	float:left;
}
.static .sec3 img.bordr{
	border:#dddddd solid 4px;
	float:left;
}
.static .sec4 {
	width:630px;
	float:left;
	padding:0px 0px 0px 10px;
}
.static .sec4 p{
	padding-bottom:10px;
}
.static .sec5 {
	width:300px;
	float:left;
	padding:0px 10px;
}
.static .sec5 ul{
	list-style:decimal;
	list-style-position:inside;
}
.static .sec5 ul li{
	padding:5px 0px;
}


/* untuk ukurang ace rewards profile  3 kotak sec6,7,8*/
.static .sec6 {
	width: 640px;
	float:left;
	padding-right: 0px; margin-right: 0px;
}

.static .sec7 {
	width:305px;
	float:left;
	margin-right: 5px;
}

.static .sec8 {
	width:232px;
	float:left;
}


.static .sec9 {
	width:215px;
	float:left;
	margin-top: 10px;
	padding-left: 15px;
}
.static .sec10 {
	width:717px;
	float:left;
}

.static .sec11 {
	width:717px;
	float:left;
	margin-top: 10px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.static .sec12 {
	width:950px;
	float:left;
	margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    border: 1px solid #ccc;
    background: white;
}
.full_width {
    width: 100%;
}
.f_left {
    float: left;
}
.menu_red {
	height:45px;
}
.menu_red_left {
	height:45px;
	width:12px;
	background:url('../images/assets/menu_red_left.png') top left no-repeat;
}
.menu_red_center {
	height:45px;
	background:url('../images/assets/menu_red_center.png') top left repeat-x;
}
.menu_red_right {
	height:45px;
	width:12px;
	background:url('../images/assets/menu_red_right.png') top left no-repeat;
}
.menu_red_content {
	padding:12px 30px 12px 12px;
	height:25px;
	background:url('../images/assets/menu_red_split.png') top right no-repeat;
}
.menu_red_content h1 {
	color:#ffffff;
	font-family: 'Conv_vagBold', Arial;
	font-size:18px;
	text-transform:uppercase;
	display:inline-block;
	margin: 0;
	padding: 0;
}
.menu_red_content2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu_red_content2 ul li {
	float:left;
}
.menu_red_content2 ul li a {
	color:#ffffff;
	/* font-family: 'Conv_vagLight', Arial; */
	text-decoration:none;
	font-size:14px;
	padding:15px 10px;
	display:inline-block;
	height:25px;
}
.menu_red_content2 ul li a.selected {
	background:url('../images/assets/menu_red_arrow.png') top center no-repeat;
	font-weight:bold;
}
.menu_red_content2 ul li a:hover{
	background:url('../images/assets/menu_red_arrow.png') top center no-repeat;
}

#footer {
	width: 97%;  
	padding: 5px 2px; 
	margin: 0 auto; 
	font-size: 1.0em;
	color: #ffffff;
	background: transparent;
}
