/* untuk title setting warna di detail gambar*/
    	.p-title {
			font-size:15px;
			color:#fff;
		}
   
   
.l-rotator{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
background-color:#fff;
position:relative;
width:558px;
height:197px;
overflow:hidden;
}
.l-rotator a{
outline:none;
}
.l-rotator .screen{
position:relative;
top:0;
left:250px;
width:558px;
height:197px;
overflow:hidden;
}
.l-rotator .main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0;
}
.l-rotator .textbox{
position:absolute;
z-index:4;
overflow:hidden;
visibility:hidden;
}
.l-rotator .inner-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:#FFF;
filter:alpha(opacity=70);
opacity:.7;
z-index:0;
}
.l-rotator .inner-text{
position:absolute;
top:0;
left:0;
padding:10px;
color:#FFF;
z-index:1;
}
.l-rotator #timer{
position:absolute;
left:0;
height:4px;
background-color:#FFF;
filter:alpha(opacity=50);
opacity:.5;
z-index:5;
visibility:hidden;
}
.l-rotator .cpanel{
position:absolute;
margin:5px;
z-index:6;
visibility:hidden;
}
.l-rotator #play-btn{
position:relative;
float:left;
width:22px;
height:22px;
background:#000 url(../images/tips/play_pause.png) 0 0 no-repeat;
background:rgba(0,0,0,.7) url(../images/tips/play_pause.png) 0 0 no-repeat;
cursor:pointer;
}
.l-rotator .pause{
background-position:0 -22px !important;
}
.l-rotator #num-info{
position:relative;
float:left;
height:22px;
line-height:22px;
padding:0 4px;
text-align:center;
color:#FFF;
background:#000;
background:rgba(0,0,0,.7);
}
.l-rotator #preloader{
position:absolute;
top:50%;
left:50%;
width:34px;
height:34px;
margin-top:-17px;
margin-left:-17px;
z-index:7;
background:#000 url(../images/tips/loader.gif) no-repeat center;
}
.l-rotator .thumbnails{
position:absolute;
top:0;
left:0;
width:193px;
height:30px;
overflow:hidden;
z-index:10;

border:1px solid #ccc;
}
.l-rotator .thumbnails ul{
list-style:none;
position:absolute;
top:0;
left:0;
height:999999px;
margin:0;
padding:0;

}
.l-rotator .thumbnails li{
position:relative;
display:block;
float:left;
clear:both;

}
.l-rotator .thumbnails li a{
display:none;
}
.l-rotator .thumbnails li div{
display:none;

color:#FFF;
background-color:#3b3b3b;
}
.l-rotator #right-arrow,
.l-rotator #left-arrow{
position:relative;
display:block;
float:left;
width:12px;
}
.l-rotator #right-arrow{
background:url(../images/tips/right_arrow.png) left center no-repeat;
}
.l-rotator #left-arrow{
background:url(../images/tips/left_arrow.png) right center no-repeat;
}
.l-rotator .thumbnails .thumb{
position:relative;
display:block;
float:left;
cursor:pointer;
width:193px;
padding:5px;
color:#000;
background:#EEE;
background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
background:-moz-linear-gradient(top, #FFF, #EEE);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE'); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE')"; 
border-color:#CCC;
border-style:solid;
border-width:0 0 1px 0;
overflow:hidden;
}

.l-rotator .thumbnails li.selected,
.l-rotator .thumbnails li.selected .thumb{
background:#333;
background:-webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
background:-moz-linear-gradient(top, #666, #333);
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#333333'); 
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#333333')";
}
.l-rotator .thumbnails li.selected .thumb{
color:#FFF;
cursor:default;
}

.l-rotator .thumbnails li.item-over .thumb{
background:#DDD;
}

.l-rotator .thumbnails .descGallery
{
	  //top:233px; left:0px; width:558px; height:auto;
	 
}
.l-rotator #scrollbar{
position:relative;
width:2px;
height:100%;
overflow:hidden;
background-color:#FFF;
visibility:hidden;
}
.l-rotator #knob{
position:absolute;
top:0;
left:0;
width:2px;
background-color:#333;
}
.l-rotator .btn-pane{
position:absolute;
top:0;
left:0;
width:100%;
height:24px;
background:url(../images/tips/spacer.png) no-repeat;
z-index:2;
visibility:hidden;
}
.l-rotator #up-btn,
.l-rotator #down-btn{
position:absolute;
top:0;
left:50%;
width:60px;
height:24px;
margin-left:-30px;
}

.l-rotator #up-btn{
background:#DDD url(../images/tips/up.png) center no-repeat;
background:rgba(221,221,221,0.7) url(../images/tips/up.png) center no-repeat;
}
.l-rotator #down-btn{
background:#DDD url(../images/tips/down.png) center no-repeat;
background:rgba(221,221,221,0.7) url(../images/tips/down.png) center no-repeat;
}
.l-rotator .block,
.l-rotator .vpiece,
.l-rotator .hpiece{
position:absolute;
z-index:2;
}