/* ======================= store problem 
========================= */
p#city{
	float:left; 
	padding:0px 10px 0px 0px ;
}
select#city{
	width: 163px;
}
#storeTitle{
	margin-left: 8px;

}
#storeTitle .hairline{
	border-bottom: 0.2em solid #ee0b0b;
	width: 630px;
	margin-top: -5px;
	margin-bottom: 10px;
}
#storeTitle ul li{
	float: left;
	padding: 5px;
	list-style: none outside none;
}


ul.address{
		float:left;
}

ul.address li{
	margin-right: 5px;
	background: url(../images/icon_location.jpg) no-repeat;
	width: 291px;
	float:left;
	padding-left: 20px;
	padding-bottom: 40px;
}

ul.address li h5{
	font-size: 11px;
	line-height: 13px;
	margin-top: -2px;
	font-family: HelveticaRegular,verdana,sans-serif;
}

.headingStore{
	width:310px;
	height: 25px;
	background-color: rgb(197,4,3); /* Needed for IEs */
	background-image: url(../images/banner_s.jpg);
  	background-repeat: no-repeat;
  	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
 	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
 	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
 	zoom: 1;
   
	margin-top: -5px;
             
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff1a00), to(#c20303));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ff1a00, #c20303);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ff1a00, #c20303);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #ff1a00, #c20303);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ff1a00, endColorStr=#c20303, GradientType=0);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1a00, endColorstr=#c20303, GradientType=0)";
	 
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ff1a00, #c20303);


	
}

.headingStore #titleStore{
	padding-left:40px;
	font-size:12px;
	height: 20px;
	line-height: 30px;
	background: url(../images/icon_message.png)no-repeat 10px 3px;
}



.location_callcenter{
	margin-top: 5px;
	background: #d1d1d1;
	
	height: auto;
	//border-right: 1px solid #ccc;
	//border-left: 1px solid #ccc;
}
.location_callcenter h5{
	padding-top: 5px;
	margin-left: 20px;	
}
.location_callcenter_footer
{
	height: 8px;
	z-index: 1;
	border: none;
	
	background: url(../images/store_footer.jpg)no-repeat;
}

#gmap{
float:left
}



.store_detail ul.promo_locator{
	float:left;
	width: 100%;
}

.store_detail ul.promo_locator li{
	height: 157px;
	padding: 10px 0px;
}
.store_detail ul.promo_locator li.first{
	margin:0px;
	margin-right: 83px;
}
.store_detail ul.promo_locator li.last{
	margin:0px;
	margin-left: 83px;
}
.store_detail ul.promo_locator li img{
	float: left;
	width: 243px;
	padding-right: 10px;
}
.store_detail ul.promo_locator li span{
	font-size: 14px; color: #454545;
}



