/*
 *	pages navigation
 */
 
/* GLOBALHEADER */


#globalheader { position: relative; display: block; width: 980px; height: 36px;  margin: 10px auto; margin-bottom: 2px; text-align: left; z-index: 9998; background: url(../images/nav/globalheader.png) repeat-x;
	-khtml-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	-khtml-box-shadow: rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow: rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow: rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	
}
@media only screen and (max-device-width: 768px) {
	#globalheader { z-index: 1; }
}
#globalheader #globalnav { position: relative; display: block; margin: 0; padding: 0; zoom: 1; z-index: 3; }
#globalheader #globalnav:after { content:"."; display: block; height: 0; clear:both; visibility:hidden; }
#globalheader #globalnav li { display:inline; }
#globalheader #globalnav li a { float: left; width: 122px; height: 36px; overflow: hidden; text-indent:-9999px; background: url(../images/nav/globalnav.png) no-repeat; cursor: pointer; }

#globalheader-roundrect,
#globalheader-fill { display: block; position: absolute; width: 980px; height: 35px; top:0; left:0; z-index:2; }
#globalheader-shadow {  display:block; position:absolute; width:980px; height:35px; top:-1px; left:-2px; z-index:1; -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelRadius=2)"; filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2); }

/* VARIANTS */
#globalheader #globalnav.tabs6-nosearch li a { width:163px; background-image: url(../images/nav/globalnav_tabs6-nosearch.png); }
#globalheader #globalnav.tabs6-nosearch li#gn-ace a { width: 165px; }
#globalheader #globalnav.tabs7-nosearch li a { width:140px; background-image: url(../images/nav/globalnav_tabs7-nosearch.png); }
#globalheader #globalnav.tabs7-nosearch li#gn-ace a { width: 140px; }
#globalheader #globalnav.nosearch       li a { width:122px; background-image: url(../images/nav/globalnav_nosearch.png); }
#globalheader #globalnav.nosearch       li#gn-ace a { width: 126px; }
#globalheader #globalnav.tabs7          li a { width:117px; background-image: url(../images/nav/globalnav_tabs7.png); }
#globalheader #globalnav.tabs7          li#gn-ace a { width: 114px; }

/* ACTION STATES */
#globalheader #globalnav li a { background-position: 100% 0; outline:none; }
#globalheader #globalnav li a.before { background-position: 100% -36px; }
#globalheader #globalnav li a:hover,
#globalheader #globalnav li a:focus  { background-position: 100% -72px; }
#globalheader #globalnav li a:active { background-position: 100% -108px; }

#globalheader #globalnav li#gn-ace a { width: 62px; background-position: 0 0; }
#globalheader #globalnav li#gn-ace a.before {width: 62px; background-position: 0 -36px; }
#globalheader #globalnav li#gn-ace a:hover,
#globalheader #globalnav li#gn-ace a:focus  {width: 62px; background-position: 0 -72px; }
#globalheader #globalnav li#gn-ace a:active {width: 62px; background-position: 0 -108px; }
/*
#globalheader #globalnav li#gn-about a { width: 82px; background-position:-62px 0; }
#globalheader #globalnav li#gn-about a.before {width: 82px; background-position:-62px -36px; }
#globalheader #globalnav li#gn-about a:hover,
#globalheader #globalnav li#gn-about a:focus  {width: 82px; background-position:-62px -72px; }
#globalheader #globalnav li#gn-about a:active {width: 82px; background-position:-62px -108px; }

#globalheader #globalnav li#gn-service a { width: 82px; background-position:-62px 0; }
#globalheader #globalnav li#gn-service a.before {width: 82px; background-position:-62px -36px; }
#globalheader #globalnav li#gn-service a:hover,
#globalheader #globalnav li#gn-service a:focus  {width: 82px; background-position:-62px -72px; }
#globalheader #globalnav li#gn-service a:active {width: 82px; background-position:-62px -108px; }
*/

/* VARIANT ACTION STATES */
#globalheader #globalnav.tabs6-nosearch li.gn-last a { background-position: -165px 0; }
#globalheader #globalnav.tabs6-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs6-nosearch li.gn-last a:focus { background-position: -165px -72px; }
#globalheader #globalnav.tabs6-nosearch li.gn-last a:active { background-position:  -165px -108px; }

#globalheader #globalnav.tabs7-nosearch li.gn-last a { background-position:-140px 0; }
#globalheader #globalnav.tabs7-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs7-nosearch li.gn-last a:focus { background-position:-140px -72px; }
#globalheader #globalnav.tabs7-nosearch li.gn-last a:active { background-position:-140px -108px; }

#globalheader #globalnav.nosearch       li.gn-last a { background-position:-126px 0; }
#globalheader #globalnav.nosearch       li.gn-last a:hover,
#globalheader #globalnav.nosearch       li.gn-last a:focus { background-position:-126px -72px; }
#globalheader #globalnav.nosearch       li.gn-last a:active { background-position:-126px -108px; }

/* ON STATES */
//#globalheader.about  	li#gn-about   a,
#globalheader.service   li#gn-service a,
#globalheader.promo    	li#gn-promo   a,
#globalheader.store  	li#gn-store   a,
#globalheader.tips    	li#gn-tips    a,
#globalheader.rewards  	li#gn-rewards a,
#globalheader.care 		li#gn-care a { background-position:right -144px !important; z-index: 9999;}

#globalheader.gn-last #globalnav.tabs6-nosearch li.gn-last a { background-position:-165px -144px !important; }
#globalheader.gn-last #globalnav.tabs7-nosearch li.gn-last a { background-position:-140px -144px !important; }
#globalheader.gn-last #globalnav.nosearch       li.gn-last a { background-position:-126px -144px !important; }

/* TEXT */
#globalheader            #globalnav li            a span { display: block; width: 100%; height:30px; margin:3px auto; background:url(../images/nav/globalnav_text.png) no-repeat 50% 0; _background-image:url(../images/nav/globalnav_text.gif); }
#globalheader.svg        #globalnav li            a span { background-image:url(../images/nav/globalnav_text.svg); }
#globalheader.decelerate #globalnav li            a span,
#globalheader.ios3       #globalnav li            a span { background-image:url(../images/nav/globalnav_text.png); }
#globalheader            #globalnav li#gn-ace   a span { background-position:52% 0; }
#globalheader            #globalnav li#gn-about   a span { background-position:57% -30px; z-index: 9999; }
#globalheader            #globalnav li#gn-service     a span { background-position:57% -60px; }
#globalheader            #globalnav li#gn-promo    a span { background-position:57% -90px; }
#globalheader            #globalnav li#gn-store  a span { background-position:57% -120px; }
#globalheader            #globalnav li#gn-tips    a span { background-position:57% -150px; }
#globalheader            #globalnav li#gn-rewards  a span { background-position:57% -180px; }
#globalheader            #globalnav li#gn-care a span { background-position:57% -210px; }

/*
 * banner	
 */
#banner {
	display: inline;
    float: left;
    height: 394px;
    margin-left: 1px;
    width: 766px;
    z-index: -1;
}
#banner .sliderwrapper {
    height: 388px !important;
    overflow: hidden;
    position: relative;
}
#banner .sliderwrapper .contentdiv {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
}
.pagination {
    margin: -35px -270px 0 auto;
    text-align: center;
    width: 150px;
    z-index: 9999 !important;
}
.banner_bullets .pagination a {
    background-repeat: no-repeat;
    color: #000000;
    display: inline-block;
    float: left;
    font-size: 0;
    text-align: center;
}
.banner_bullets .pagination a.toc {
    background-image: url("../images/bullets.png");
    height: 29px;
    width: 17px;
}
.banner_bullets .pagination a.prev {
    background-image: url("../images/bullets_left.png");
    height: 29px;
    width: 30px;
}
.banner_bullets .pagination a.next {
    background-image: url("../images/bullets_right.png");
    height: 29px;
    width: 30px;
}
.banner_bullets .links {
    float: left;
    text-align: center;
    width: 766px;
}

/*
 * content list
 */
.content_inside {
	
}

.content_inside ul.content_list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.content_inside ul.content_list li {
	
}

ul.content_row li h3{
	margin-top: -3px;
}

ul.content_row li a{
/*	color:white;	*/
}

ul.content_row {
	min-width: 600px;
	float: left;
	padding: 10px 0;
	border-bottom:1px dotted #555;
	
}

ul.content_row li img{
	width:150px;
	height: auto;
	padding-right: 5px;
}

ul.content_row li p{
	width: 480px;
	margin: 0;
}

ul.content_row li{
	
	padding-left: 10px;
	float: left;
	list-style: none;
/*	color: white;	*/
	
}

.page_navigation, 
.alt_page_navigation {
	padding-bottom: 10px;
}

.page_navigation a, 
.alt_page_navigation a {
	padding:3px 5px;
	margin:2px;
	color: #555;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	border: 1px solid white;
}

.active_page{
	background-color:white !important;
	color:black !important;
}	

.sections {
	width:980px;
	float:left;
	margin-top: 2px;
}

.sections .sectopwhite{
	width:980px;
	height:5px;
	float:left;
	background-image:url(../images/bg_content_t.jpg);
	background-repeat:no-repeat;
}

.sections .seccentwhite{
	width:980px;
	float:left;
	background-image:url(../images/bg_content_c.jpg);
	background-repeat:repeat-y;
}

.sections .secbotwhite{
	width:980px;
	height:6px;
	float:left;
	margin-bottom: 10px;
	background-image:url(../images/bg_content_b.jpg);
	background-repeat:no-repeat;
}

.related_product{
	width:980px;
	float:left;
	background-image:url(../images/bg_content_c.jpg);
	background-repeat:repeat-y;
}

.relatedbot_product{
	width:980px;
	height:6px;
	float:left;
	margin-bottom: 10px;
	background-image:url(../images/bg_content_b.jpg);
	background-repeat:no-repeat;
}

ul li {
    list-style: none outside none;
}

.inner {
	margin:0px auto;
	width:980px;
}

h5 {
    font-size: 14px;
    font-weight: normal;
}
.heading {
    background: -moz-linear-gradient(center top , #FF1A00, #C20303) repeat scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 24px;
    margin-top: -1px;
    width: 100%;
}
.heading #title {
    float: left;
    padding-left: 15px;
}
.heading #title1 {
    float: left;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 3px;
}
.heading #title1 select {
    font-size: 10px;
    margin-top: 3px;
}
.heading #tagKanan {
    float: right;
    padding-right: 15px;
}
.headingMedium {
    background: -moz-linear-gradient(center top , #FF1A00, #C20303) repeat scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.headingMedium #title {
    padding-left: 15px;
}
.headingSmall {
    background: -moz-linear-gradient(center top , #FF1A00, #C20303) repeat scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    height: 15px;
    margin-top: -5px;
    width: 215px;
}
.headingSmall #title {
    line-height: 15px;
    padding-left: 15px;
}
.headingSmall #titleCorporate {
    background: url("../images/icon_corporate.png") no-repeat scroll 10px 0 transparent;
    font-size: 12px;
    height: 20px;
    line-height: 16px;
    padding-left: 40px;
}
.headingSmall #titleCareer {
    background: url("../images/icon_karir.png") no-repeat scroll 10px 0 transparent;
    font-size: 12px;
    height: 20px;
    line-height: 16px;
    padding-left: 40px;
}
.corporate {
    background: none repeat scroll 0 0 white;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    height: auto;
    margin-top: 5px;
}
.corporate ul {
    list-style: none outside none;
    padding: 20px 0;
}
.corporate ul li {
    padding-top: 5px;
}
.corporate ul li a {
    color: #3B3B3B;
    margin: 0 15px;
}
.corporate ul li a:hover {
    color: #C50403 !important;
}
.corporate_footer {
    background: url("../images/corporate_footer.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 7px;
    z-index: 1;
}
.headingSmall #titleIndustrial {
    background: url("../images/icon_message.png") no-repeat scroll 10px 2px transparent;
    font-size: 12px;
    height: 20px;
    line-height: 15px;
    padding-left: 40px;
}
.industrial {
    background: none repeat scroll 0 0 #D1D1D1;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    height: auto;
    margin-top: 5px;
}
.industrial p {
    margin-left: 11px;
    margin-top: 20px;
}
.industrial_footer {
    background: url("../images/industrial_footer.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 7px;
    z-index: 1;
}
.left {
    float: left;
}
.news {
    height: auto;
    margin-left: 25px;
    width: 710px;
}
.news ul {
    float: left;
}
.news ul li {
    background: url("../images/bg_news.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 195px;
    margin: 15px;
    width: 302px;
}
.news ul li .images {
    background: url("../images/bg_imgnews.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 102px;
    margin: 15px 5px 2px 15px;
    width: 102px;
}
.news ul li .images img {
    margin-left: 1px;
}
.share {
    margin-left: 15px;
}
.news_highlight {
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 15px;
}
.col6 {
    float: left;
    padding: 0 15px;
    width: 668px;
}
.col6 img#about {
    border: 1px solid #999999;
    display: block;
    margin-left: 10px;
    width: 665px;
}
.white {
    color: #FFFFFF !important;
}

.colr {
    color: #333333 !important;
}

.red {
	color: #C50403 !important;
}

.grey {
    color: grey !important;
}

p {
    line-height: 18px;
}
.static {
	width:950px;
	float:left;
}
.static h3.wlcm{
	padding:10px 0px 0px 0px;
}
.static p.txt{
	width:980px;
	float:left;
	padding:10px 0px 30px 0px;
}

.static .sec1 {
	width:215px;
	float:left;
	margin-top: 10px;
	padding-right: 15px;
}
.static .sec2 {
	width:717px;
	float:left;
	border: 1px solid #cccccc;
	margin-top: 10px;
	background: white;
	
	
	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.static .sec2 p{
	padding:10px;
}
.static .sec2 h5{
	padding-left: 10px;
}

.static .sec3 {
	width:310px;
	float:left;
}
.static .sec3 img.bordr{
	border:#dddddd solid 4px;
	float:left;
}
.static .sec4 {
	width:630px;
	float:left;
	padding:0px 0px 0px 10px;
}
.static .sec4 p{
	padding-bottom:10px;
}
.static .sec5 {
	width:300px;
	float:left;
	padding:0px 10px;
}
.static .sec5 ul{
	list-style:decimal;
	list-style-position:inside;
}
.static .sec5 ul li{
	padding:5px 0px;
}


/* untuk ukurang ace rewards profile  3 kotak sec6,7,8*/
.static .sec6 {
	width: 640px;
	float:left;
	padding-right: 0px; margin-right: 0px;
}

.static .sec7 {
	width:305px;
	float:left;
	margin-right: 5px;
}

.static .sec8 {
	width:232px;
	float:left;
}


.static .sec9 {
	width:215px;
	float:left;
	margin-top: 10px;
	padding-left: 15px;
}
.static .sec10 {
	width:717px;
	float:left;
}

.static .sec11 {
	width:717px;
	float:left;
	margin-top: 10px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.static .sec12 {
	width:950px;
	float:left;
	margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    border: 1px solid #ccc;
    background: white;
}
.static .sec12  h5#h5karir{
	padding-left: 15px;
}

.static .hairline {
	padding-top:20px;
	margin-bottom:10px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom:#ee0b0b solid 1px;
}

.static h1{
	float:left;
	width:100%;
	padding:10px 0px;
}
.static h2{
	float:left;
	width:100%;
	padding:8px 0px;
}
.static h3{
	float:left;
	width:100%;
	padding:6px 0px;
}
.static h4{
	float:left;
	width:100%;
	padding:5px 0px;
}
.static h5{
	float:left;
	width:100%;
	padding:5px 0px;
}
.static h5 span{
	padding-bottom:10px;
}
.static h6{
	float:left;
	width:100%;
	padding:5px 0px;
}
.static h5{
	float:left;
	width:100%;
	padding:5px 0px;
	line-height:24px;
}

.page_navigation, .alt_page_navigation {
    padding-bottom: 10px;
}
.page_navigation a, .alt_page_navigation a {
    border: 1px solid white;
    color: #555555;
    float: left;
    font-family: Tahoma;
    font-size: 12px;
    margin: 2px;
    padding: 3px 5px;
    text-decoration: none;
}
.active_page {
    background-color: white !important;
    color: black !important;
}
.content_detail {
    background: none repeat scroll 0 0 #E7E7E5;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    left: 0;
    position: relative;
}
/*
 * footer
 */
.clear {
	clear: both;
}

.footer {
    border-top: 1px solid #EE0B0B;
    padding-bottom: 10px;
    padding-top: 5px;
}
.footer span {
    float: right;
}
 