body {
	background-color: #fff;
	font-family: HelveticaRegular, verdana, sans-serif;
	font-size: 11px;
	color: #333333;
}

.example1 {
	font-weight: bold;
	font-size: 14px
}

.example2 {
	font-weight: bold;
	font-size: 12px;
	color: #FF0000
}
