.our-hotel .row-two-wrap,
.our-hotel .row-three-wrap {
	margin: 10px 0 0;
	}
	
.our-hotel .row-two-wrap .best-price-guarantee-wrap .inner,
.our-hotel .row-two-wrap .trueblue-points-wrap .inner,
.our-hotel .row-two-wrap .support-24-7-wrap .inner,
.our-hotel .row-three-wrap .hotel-wrap .inner,
.our-hotel .row-three-wrap .cars-wrap .inner,
.our-hotel .row-three-wrap .cruises-wrap .inner {
	height: 173px;
	}

.our-hotel .row-three-wrap .hotel-wrap .inner,
.our-hotel .row-three-wrap .cars-wrap .inner,
.our-hotel .row-three-wrap .cruises-wrap .inner {
	height: 243px;
}

.our-hotel .row-three-wrap .hotel-wrap .inner p.fine-print {
	color: #999999;
	font-size: 11px;
	margin: 10px 0 15px;
}