
/*=== Typography
Author: Roger
==================================================*/
/*
 * paddings for heading elements
 * h2 { padding: .83em; }
 * h3 { padding: 1em; }
 * h4 { padding: 1.33em; }
 * h5 { padding: 1.67em; }
 * h6 { padding: 2.33em; }
 */


h2 {
  color: #1E1E1E;
  padding: .83em 0;
}
h2.heading {
  /*
   * mimics an h1 element
   */
  font-size: 44px;
}
h2.huge {
  /*
   * used for hero image wraps
   */
  font-size: 60px;
}

h3 {
  color: #004990;
  padding: 1em 0;
}

h4 {
  color: #004990;
  padding: 1.33em 0;
}

h5 {
  color: #004990;
  padding: 1.67em 0;
}

h6 {
  padding: 2.33em 0;
}

.page .alpha {
  /*
   * The .alpha class will destroy all extraneous (margin & padding)
   * dimension measurements within the #page container.
   * @110
   */
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.page .intro {
  font-family: 'gr-bold', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  padding: 10px 0;
}
.page p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  padding-top: 20px;
  padding-right: 10px;
}
.page p.fine {
  font-size: 12px;
}
.page p a {
  color: #4d90cd;
}
.page p a:hover {
  color: #004990;
  text-decoration: underline;
}

.page ul.sq-bull {
  list-style: none;
}

.page ul.sq-bull li {
  background: url(/img/sq-bull.gif) no-repeat 0 9px;
  line-height: 1.8em;
  margin-left: 0;
  padding-left: 20px;
}

/*
 * Retro styles from large-small-col.css
 */
.content-side-layout .content-col {
  width: 638px;
  float: left;
}
.content-side-layout .content-col .intro {
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  padding-bottom: 20px;
  padding-right: 20px;
}
.content-side-layout .content-col .intro strong {
  font-weight: 600;
}
.content-side-layout .content-col .intro a {
  color: #4d90cd;
}
.content-side-layout .side-col {
  width: 314px;
  margin-left: 10px;
  float: right;
}