.full-slider {
border-top: 5px solid #E52E2F;
background: #FF3738;
}

#5reasons {

width:100%;
margin:10px;

}

#5reasons tr td {
vertical-align:top;
width:96%;
margin:20px;

}

#5reasons tr {

height:200px;

}


.about-slide-container {
width:100%;
min-width:980px;
margin-right: auto;
margin-left: auto;
}

#sidebar-about ul.menu li {

border-bottom: 1px dotted #CCC;
background: none;
margin: 0;
overflow: hidden;
padding: 0;
line-height: 160%;	
}

#sidebar-about ul.menu {
margin: 0;
padding: 0;
}

section { display:block;}

.pad-top-bottom{
	padding-top:20px
	padding-botom:20px;
}


#leftcol {
width: 640px;
margin: 0 10px 0 0;
float: left;
}

/*=== th new styles
author: gan
==================================================*/
#management {
margin:0;
padding:20px;

}

#management td{
	width:auto;
margin:0 20px;
padding-top:20px;
padding-bottom:-10px;
vertical-align:top;
top:0;

}

#management img {

	display: block;
	font-size: 16px;
	line-height: 28px;
	margin:0  15px;
	overflow: hiden;
	vertical-align: middle;
}

#management li {
	background-color: #fff;
	width:100%; margin-bottom:20px; display: block; float:left;
}

#management strong{
	font-size:160%;
	color: #000000;
	display: block;
	width:100%;
	line-height:24px;
	margin-bottom: 10px;
}

ul.tabsnavigation li.active {
background: url(../images/assets/ui/bg_tabarrows.png) no-repeat center bottom;
}

.video p {

	line-height:22px;
    font-stretch:100%;
	font-size: 110%;

	top: 0;

}

#container h2 img {
	color: rgb(85, 85, 85);
	display: block;
	font-family: 'open sans', arial, sans-serif;
	font-size:18px;
	line-height:31px;
}

#pager {
margin: 0 -10px 80px;
position: relative;
}

#pager, #widget-containers, .widget-container, .widget-container img.hero {
height: 558px;
width: 998px;
}

#video-main, .video-aux {
margin: auto;
max-width: 978px;
}

.videos-cols {
margin: 0 -1.53374233129%;
width: 103.067484663%;
}

.videos-col-1, .videos-col-2, .videos-col-3, .videos-col-4, .videos-col-5, .videos-col-6, .videos-col-7, .videos-col-8, .videos-col-9, .videos-col-10, .videos-col-11, .videos-col-12 { float:left; margin:0 1.4880952381% 20px }

.videos-col-1 { width:5.35714285714% }

.videos-col-2 { width:13.6904761905% }

.videos-col-3 { width:22.0238095238% }

.videos-col-4 { width:30.3571428571% }

.videos-col-5 { width:38.6904761905% }

.videos-col-6 { width:47.0238095238% }

.videos-col-7 { width:55.3571428571% }

.videos-col-8 { width:63.6904761905% }

.videos-col-9 { width:72.0238095238% }

.videos-col-10 { width:80.3571428571% }

.videos-col-11 { width:88.6904761905% }

.videos-col-12 { width:97.0238095238% }


#pager, #widget-containers, .widget-container, .widget-container img.hero { height:558px; width:980px }

.video-list .video-col-3 { margin-bottom:10px }

.widget-button { background:#fff; border:1px solid #e5e5e5; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; cursor:pointer; display:block; filter:alpha(opacity=75); margin:0 -10px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter:alpha(opacity=75); opacity:.75; padding:10px; -moz-transition:opacity .25s; -o-transition:opacity .25s; -webkit-transition:opacity .25s; transition:opacity .25s }



.widget-button.current, .widget-button:hover { filter:alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); opacity:1 }

.widget-button img { display:block; height:140px; margin:0 0 10px; width:220px }

.widget-button span { display:block }

.widget-button span::first-line { font:700 14px "gr-book", arial, sans-serif }

.video-list .video-col-3:nth-of-type(4n+1) { clear:left }



#about {
font-size: 13px;
margin: 0 auto;
max-width: 980px;
padding: 0;
}

#about ul {
background: none;
color: #444;
padding: 0;
margin: 16px;
}

#about li {
	float: left;
	margin: 0 20px 0 0;
	/*padding: 16px 0;*/
	text-shadow: none;
}

#about-header {
position: relative;
top: 0px;
width: 980px;
margin: 0px auto 50px auto;
background-image: url("/help/maps/helloworld/images/video_header_fill.jpg");
border-bottom: 1px solid #d1d1d1;
}



#about *{
	font-size: 13px;
	line-height: 1.54;
	}

/*=== greenlab styles
author: gan
==================================================*/
/* batasan */

#sidebar-about li{
display:block;
width:100%;
}

#sidebar-about li b {
color:#ff0000!important;
margin-top:10px;
display:block;
width:100%;
}

.added{ background: rgba(190, 190, 190, 0.6); padding:10px 0px; padding-bottom: 1px;margin: 0px; margin-bottom: 10px; margin-top: 60px; clear: both;
}


#about_content_container {
	margin:5px 0px;
}
.menu_red {
	height:45px;
}
.menu_red_left {
	height:45px;
	width:12px;
	background:url('../images/assets/menu_red_left.png') top left no-repeat;
}
.menu_red_center {
	height:45px;
	background:url('../images/assets/menu_red_center.png') top left repeat-x;
}
.menu_red_right {
	height:45px;
	width:12px;
	background:url('../images/assets/menu_red_right.png') top left no-repeat;
}
.menu_red_content {
	padding:12px 30px 12px 12px;
	height:25px;
	background:url('../images/assets/menu_red_split.png') top right no-repeat;
}
.menu_red_content h1 {
	color:#ffffff;
	font-family: 'open sans', Arial;
	font-size:18px;
	text-transform:uppercase;
	display:inline-block;
}
.menu_red_content2 ul li {
	float:left;
}
.menu_red_content2 ul li a {
	color:#ffffff;
	/* font-family: 'Conv_vagLight', Arial; */
	text-decoration:none;
	font-size:14px;
	padding:15px 10px;
	display:inline-block;
	height:25px;
}
.menu_red_content2 ul li a.selected {
	background:url('../images/assets/menu_red_arrow.png') top center no-repeat;
	font-weight:bold;
}
.menu_red_content2 ul li a:hover{
	background:url('../images/assets/menu_red_arrow.png') top center no-repeat;
}

#about_content_detail_container {

}

#management-team{
}
.management_team{
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #E1E1E1;
}
.management_team h1 {
	font-family: 'Conv_vagLight', Arial;
	font-size:18px;
	color:#e91126;
	padding: 10px 15px;
	border-bottom:1px solid #E1E1E1;
	font-weight:bold;
}
.management_team ul li {

}
.mt_image {
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #E1E1E1;
	padding:5px;
	overflow:hidden;
	background:#ffffff;
}
.mt_image img{
	-webkit-border-radius:5px;
	border-radius:5px;
}
#management-team h2 {
	color:#565656;
	font-weight:bold;
	font-size:14px;
	margin:0px 0px 10px 0px;
}

#management-team h4{

}

.mt_text {
	margin-left:20px;
	margin-right: 20px;
}
.mt_text p {
    width: 550px;
    line-height: 24px;
}

.pagination {
	padding:15px 20px 20px;
	text-align:center;
}

.shareholders {
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #E1E1E1;
}
.shareholders h1 {
	font-family: 'Conv_vagLight', Arial;
	font-size:18px;
	color:#e91126;
	padding: 17px 15px;
	font-weight:bold;
}
.shareholders ul li {
	padding:15px;
	border-top:1px solid #E1E1E1;
	color:#565656;
	font-size:12px;
}
.career {
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #E1E1E1;
}
.career h1 {
	font-family: 'Conv_vagLight', Arial;
	font-size:18px;
	color:#e91126;
	padding: 17px 15px;
	font-weight:bold;
	border-bottom:1px solid #E1E1E1;
}
.career_left {
	padding:15px;
	line-height:16px;
	font-size:12px;
}

.career_left p {
	color: #454545;
	margin-bottom:15px;
	line-height:22px;
}
.career_right {
	line-height:16px;
}
.career_right h2 {
	font-family: 'Conv_vagLight', Arial;
	font-size:14px;
	color:#e91126;
	padding: 10px;
	font-weight:bold;
	border-top:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
}
.career_right ul {
	margin:10px 0px;
}
.career_right ul li a {
	text-decoration:none;
	padding:5px 10px;
	display:inline-block;
	margin:5px 10px;
	color:#565656;
	font-size:12px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.career_right ul li a:hover, .career_right ul li a.selected {
	color:#ffffff;
	background:#e91126;
	font-weight:bold;
}

.concept {
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #E1E1E1;
}
.concept h1 {
	font-family: 'open sans', Arial, helvetica;
	font-size:18px;
	color:#e91126;
	padding: 17px 15px;
	font-weight:bold;
	border-bottom:1px solid #E1E1E1;
}
.concept_video {
padding:10px 0;
}
.concept ul li {
	margin:15px;
}
.concept_img {
  height:140px;
	width:120px;
}
.concept_img img {
	-webkit-border-radius:5px;
	border-radius:5px;
}
.contept_text {

}
.contept_text h3 {
	color:#ff0000;
	font-weight:bold;
	font-size:18px;
	line-height:20px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.contept_text p {
	padding:0px 30px 0px 0px;
	line-height:16px;
	font-size:12px;
}

.media {
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #E1E1E1;
}
.media h1 {
	font-family: 'Conv_vagLight', Arial;
	font-size:18px;
	color:#e91126;
	padding: 17px 15px;
	font-weight:bold;
	border-bottom:1px solid #E1E1E1;
}
.media_left {
	border-right:1px solid #E1E1E1;
	width:150px;
}
.media_left h2 {
	font-family: 'Conv_vagLight', Arial;
	font-size:14px;
	color:#e91126;
	padding: 10px;
	font-weight:bold;
	border-bottom:1px solid #E1E1E1;
}
.media_left ul {
	margin:10px;
}
.media_left ul li a {
	padding:5px 10px;
	display:inline-block;
	color:#565656;
	font-size:12px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-decoration:none;
	margin:2px 0px;
	width:110px;
}
.media_left ul li a:hover, .media_left ul li a.selected {
	color:#ffffff;
	background:#e91126;
}
.media_right {
	border-left:1px solid #E1E1E1;
	width:502px;
	margin-left:-1px;
	margin-right:-20px;
}
.media_right ul li {
	float:left;
	margin:10px;
}
.media_vid_img {
	width:108px;
	height:81px;
	overflow:hidden;
}
.title_media_vid {
	width:100px;
	font-size:12px;
	font-weight:bold;
	color:#565656;
	margin-left:10px;
	line-height:17px;
}
.pagination_media {
	border-top: 1px solid #E1E1E1;
    padding: 15px 20px;
    text-align: center;
}

/* box contact us*/

#contact_us_medium_container {
	margin-top:20px;
}
.contact_us_medium {
	width:305px;
}
.contact_us_medium h1 {
	border-bottom: 4px solid #E91126;
	color:#E91126;
	font-family:'open sans',Arial;
	padding:10px;
	font-size:18px;
}
.contact_us_medium_content {
	margin: 0px 10px;
	padding: 10px;
	-webkit-border-radius:0px 0px 10px 10px;
	border-radius:0px 0px 10px 10px;
	border-left:1px solid #E1E1E1;
	border-right:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	font-size:12px;
}
