
/******************/
/* GLOBAL LAYOUT  */
/******************/

body {
	margin: 0;
 	font-size: 75%;
	background: #000000;
	font-family: arial,sans-serif;
} 

/******************/
/* LOGIN LAYOUT  */
/******************/

#login_logo {
	width: 500px; 
	margin: 110px auto 0;
	text-align: center;
}	
	
#login_main {
	width: 420px; 
	margin: 10px auto;
	padding: 10px 20px;
	min-height: 160px;
	background-color: #ffffff;
	border: #cccccc 1px solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:1.0em;
}

#login_main h1{
	margin: 0;
	padding: 0;
}

.alert {
	color:#990000;
}

/******************/
/* LAYOUT  		  */
/******************/

#container {
	width: 97%;  
	padding: 0; 
	margin: 0 auto; 
	font-size: 1.0em;
	background-color: #ffffff;
	border: #cccccc 1px solid;
	-moz-border-bottom-left-radius: 7px;
	-moz-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#header {
	min-height: 10px; 
	margin-bottom: 5px;
	padding: 20px;
	background: url(../images/line_h.gif) bottom repeat-x;
}

#left_content {
	float: left;
	margin: 2px;
	padding: 5px 20px;
	width: 190px;
	background: transparent/*Total header background image entered here. Height: 125px*/;
}

#user_id{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #cccccc;
    border-color: -moz-use-text-color #999999 #999999;
    border-radius: 3px 3px 3px 3px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 2px 2px 5px #CCCCCC;
    color: #333333;
    display: block;
    font-size: 1.1em;
    margin-top: 10px;
    padding: 6px 10px;
    text-decoration: none;
}

#breadcrumb {
	width: 79%;  
	padding: 5px 2px; 
	float: right;
	margin: -95px 20px 20px 0;
	font-size: 1.0em;
	color: #ffffff;
	background: transparent;
}

#main {
	width: 70%; 
	margin: -90px 20px 20px 0;
	padding: 5px 15px;
	min-height: 500px;
	float: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	border: #cccccc 1px solid;
	font-size:1.0em;
}

#content_title {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    margin: 0 0 10px;
    padding: 5px 0;
}

.group_title {
	font-weight: bold;
	line-height: normal;
	border: #C5C5C5 1px solid;
	padding: 7px 7px 1px;
	background: url("images/ui-bg_glass_35_dddddd_1x400.png") repeat-x scroll 50% 50% #DDDDDD;
/* 	background-image: url(images/highlight.png) repeat-x;
	background-position: 0 center;
	background-color: #E3E3E3;
 */	border-top-left-radius: 5px; 
	-moz-border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	-moz-border-top-right-radius: 5px; 
}

.inline_text {
	background:transparent; 
	border:none; 
	width:97%;
}

.inline_text:HOVER {
	background:#5efb6e; 
	border:none; 
	width:97%;
}

.search_init {
	color: #aaaaaa;
}

#footer {
	width: 97%;  
	padding: 5px 2px; 
	margin: 0 auto; 
	font-size: 1.0em;
	color: #ffffff;
	background: transparent;
}
