@charset "UTF-8";
/* CSS Document */

#slider-promo {width:980px;height:420px; margin:0 auto;padding:0; overflow:hidden; display:block;"}
.promo-slider { width:100%; height:100px; display: block !important; margin: 0px; padding: 0px; z-index: 0;}
