@charset "UTF-8";
/* CSS Document */

@import url(/css/partials/_pages.css);
#email-updates {
  display: none;
}

.jb-checkbox {
  cursor: pointer;
  display: block;
  background: transparent url(/img/check-btn-bg.png) 0 0 no-repeat;
  width: 14px;
  height: 14px;
  margin-top: -2px;
}

.jb-checkbox-active {
  background-position: -19px 0;
}

/*=== Travel Groups Styles
Author: Joey, Roger
Colors: Orange: #ff9900 | Light Blue: #4d90cd
	      Dark Blue: #004990 | Darker Blue: #00285e
==================================================*/
#travel-groups .section {
  margin: 0 0 45px 0;
  padding: 0 20px 20px 0;
}
#travel-groups .section p {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #454545;
  line-height: 1.85;
}
#travel-groups .section ul {
  margin: 0 0 30px 0;
}
#travel-groups .section ul li {
  padding: 0 0 0 18px;
  margin: 0 0 20px 0;
  background: url(/img/list-bullet.gif) no-repeat 0 10px;
  font-size: 14px;
  color: #454545;
  line-height: 1.85;
}
#travel-groups .section ul li em {
  font-style: normal;
  color: #004990;
  font-weight: 700;
}

/*=== Group Submission Form
Author: Joey, Roger
Colors: Orange: #ff9900 | Light Blue: #4d90cd
	      Dark Blue: #004990 | Darker Blue: #00285e
==================================================*/
.group-submission-form {
  margin: 0 0 45px 0;
  padding: 3px 0 0 0;
  background: url(/img/bg-group-submission-form-top-strip.gif) no-repeat 0 0;
}
.group-submission-form .inner {
  padding: 25px 24px 5px 23px;
  background: #f1f5f8 url(/img/bg-group-submission-form-bottom-strip.gif) no-repeat 0 100%;
}
.group-submission-form form {
  width: 100%;
  display: block;
}
.group-submission-form form h3 {
  margin: 0 0 30px 0;
  display: block;
  color: #004990;
  font-size: 28px;
  font-weight: 700;
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
  line-height: 1;
}
.group-submission-form form fieldset {
  margin: 0 0 20px 0;
  display: block;
}
.group-submission-form form fieldset .input-wrap {
  height: 26px;
  padding: 10px 10px 0 10px;
}
.group-submission-form form fieldset .input-wrap input.text {
  width: 100%;
  height: 16px;
  padding: 0;
  display: block;
  border: 0;
  outline: none;
  line-height: 1;
}
.group-submission-form form fieldset .textarea-wrap {
  height: 86px;
  padding: 10px 10px 10px 10px;
}
.group-submission-form form fieldset .textarea-wrap textarea {
  width: 100%;
  height: 86px;
  overflow: auto;
  resize: none;
  outline: none;
  border: none;
}
.group-submission-form form fieldset .fineprint {
  width: 350px;
  padding: 0 0 0 0;
  display: block;
  color: #999;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
}
.group-submission-form form fieldset.last .jb-checkbox {
  float: left;
}
.group-submission-form form fieldset.last label {
  padding: 0 0 0 10px;
  float: left;
  display: inline;
  color: #4d90cd;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
}
.group-submission-form form fieldset .orange-btn-wrap {
  cursor: pointer;
  float: right;
  background: transparent url(/img/submit-btn-sp.png) left 0 no-repeat;
  width: 137px;
  height: 35px;
  margin-right: 5px;
  padding-left: 3px;
}
.group-submission-form form fieldset .orange-btn-wrap:hover {
  background-position: left -80px;
}
.group-submission-form form fieldset .orange-btn-wrap:hover .orange-btn-inner {
  background-position: right -120px;
}
.group-submission-form form fieldset .orange-btn-wrap:hover .orange-btn-inner input {
  background-color: #ff7300;
}
.group-submission-form form fieldset .orange-btn-wrap .orange-btn-inner {
  background: transparent url(/img/submit-btn-sp.png) right -40px no-repeat;
  width: 137px;
  height: 35px;
  padding-right: 3px;
}
.group-submission-form form fieldset .orange-btn-wrap .orange-btn-inner input {
  display: block;
  background-color: #ff9900;
  color: #ffffff;
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 137px;
  height: 35px;
  border: 0;
  margin: 0;
  padding: 3px 0 0 0;
}
.group-submission-form form label {
  margin: 0 0 7px 0;
  display: block;
  font-size: 14px;
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #004990;
}
.group-submission-form form label span {
  color: #ff9900;
}

/*=== Right-Side Sidekicks
Author: Roger
Colors: Orange: #ff9900 | Light Blue: #4d90cd
	      Dark Blue: #004990 | Darker Blue: #00285e
==================================================*/
.travel-groups #container {
  margin-top: 30px;
}
.travel-groups #container .group-travel-wrap {
  margin-bottom: 10px;
}
.travel-groups #container .group-travel-wrap h3 {
  color: #4d90cd;
  padding-bottom: 0;
}
.travel-groups #container .group-travel-wrap .fine-print {
  font-size: 11px;
}
.travel-groups #container .group-travel-plus-wrap .blue-dark-btn-wrap {
  width: 160px;
}
.travel-groups #container .sidekick .img-wrap {
  text-align: center;
  height: 177px;
  margin: 0;
  padding: 0;
}
.travel-groups #container .sidekick .img-wrap img {
  display: block;
}
.travel-groups #container .sidekick .inner {
  background: #f1f5f8 url(/img/booker-rnd-sp.gif) -1606px bottom no-repeat;
  padding: 30px;
  padding: 30px;
}
.travel-groups #container .sidekick .inner h3.heading {
  margin: 0 0 20px;
  padding: 0;
  display: block;
  font-size: 20px;
  color: #004990;
  font-weight: 700;
  position: relative;
}
.travel-groups #container .sidekick .inner p.body {
  margin: 0 0 15px 0;
  padding-top: 0;
  color: #454545;
  font-size: 14px;
  line-height: 1.75;
  word-spacing: -1px;
}
.travel-groups #container .sidekick .inner a.more {
  cursor: pointer;
  clear: both;
  position: relative;
  color: #4d90cd;
  font-size: 13px;
  text-transform: uppercase;
  font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.travel-groups #container .sidekick .inner a.more .arrow-rgt {
  width: 6px;
  height: 11px;
  display: block;
  overflow: hidden;
  background: url(/img/arrow-rgt-medium.png) no-repeat 0 -1px;
  position: absolute;
  top: 15%;
  right: -11px;
}
.travel-groups #container .sidekick .inner a.more:hover {
  color: #004990;
}
.travel-groups #container .sidekick .inner a.more:hover .arrow-rgt {
  background-position: 0 -18px;
}

/*=== jQuery UI : Select
Author: Joey, Roger
Colors: Orange: #ff9900 | Light Blue: #4d90cd
	      Dark Blue: #004990 | Darker Blue: #00285e
==================================================*/
.jb-select {
  width: 153px;
  height: 30px;
  background: url("/img/section-dd-bg.png") no-repeat 0 0;
  position: relative;
  cursor: pointer;
}
.jb-select .jb-select-title {
  width: 133px;
  height: 16px;
  padding: 7px 10px;
  display: block;
  position: relative;
  color: #fff;
  cursor: pointer;
}
.jb-select .jb-select-dropdown {
  width: 152px;
  padding: 0 0 3px 0;
  background: url("/img/section-dd-bg.png") no-repeat scroll -314px bottom transparent;
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}
.jb-select .jb-select-dropdown ul {
  width: 100%;
  background: #4d90cd;
  display: block;
}
.jb-select .jb-select-dropdown ul li {
  padding: 6px 10px;
  display: block;
  position: relative;
}
.jb-select .jb-select-dropdown ul li:hover {
  background-color: #ff9900;
}
.jb-select .jb-select-dropdown ul li.selected {
  background-color: #ff9900;
}
.jb-select .jb-select-dropdown ul li span {
  color: #fff;
}

.jb-select-active {
  z-index: 100;
  background-position: -157px 0;
}
.jb-select-active .jb-select-dropdown {
  display: block;
}

.jb-select-multi-select {
  display: inline;
  position: relative;
}
.jb-select-multi-select .jb-select-title {
  display: none;
}
.jb-select-multi-select .jb-select-dropdown {
  width: 45%;
  height: 300px;
  background-color: #FFF;
  position: relative;
  overflow-y: scroll;
}
.jb-select-multi-select .jb-select-dropdown ul {
  display: block;
}
.jb-select-multi-select .jb-select-dropdown ul li {
  padding: 5px;
  border-bottom: 1px solid #fff;
  display: block;
  position: relative;
  color: #4d90cd;
  cursor: pointer;
}
.jb-select-multi-select .jb-select-dropdown ul li.selected {
  background-color: #4d90cd;
  color: #fff;
}

input[type="checkbox"] {
margin: 0 6px;
}
