/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* DEBUG */
/* First element is always <body> - we don't need to debug that */
* *:hover { border:3px solid #89A81E }                   /* Solid Green */
* *:hover { border:2px solid #89A81E }                   /* Solid Green */
* * *:hover { border:2px solid #F34607 }                 /* Solid Orange */
* * * *:hover { border:2px solid #5984C3 }               /* Solid Blue */
* * * * *:hover { border:2px solid #CD1821 }             /* Solid Red */
* * * * * *:hover { border:2px dotted #89A81E }          /* Dotted Green */
* * * * * * *:hover { border:2px dotted #F34607 }        /* Dotted Orange */
* * * * * * * *:hover { border:2px dotted #5984C3 }      /* Dotted Blue */
* * * * * * * * *:hover { border:2px dotted #CD1821 }    /* Dotted Red */

/* BASIC RESET */
h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { font-family:Georgia,serif; font-size:13px; background: #1d1d1d; color: #fff; background-image:url("../images/bg.png");
		background-repeat:repeat-x; }
h1 { font: bold 65px/60px Helvetica, Arial, Sans-serif; text-align: center; color: #eee; }
h1 small{ font-size: 20px; text-transform:uppercase; letter-spacing: 14px; display: block; color: #ccc; }
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: italic 45px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }
h2 a:hover { color: #90bcd0; }
a { text-decoration:none; outline:none; color:gray; }
p { line-height:20px; }

/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { width:800px; margin:40px auto; }

/* NAVIGATION */
#navigation { text-align:center; border-top:1px solid white; padding-top:20px;
				border-bottom:1px solid white; padding-bottom:20px; }
#navigation ul { list-style:none; }
#navigation ul li { display:inline; text-transform:uppercase; letter-spacing:10px; margin-right:20px; }
#navigation ul li a { color:#eee; }
#navigation ul li a:hover { border-bottom:1px solid #eee; }

/* CONTENT */
#content { margin:20px; }

/* FOOTER */
#footer { border-top:1px solid white; clear:both; padding:20px; }
#footer p { float:left; }