/* http://greenlabgroup.com
   License: Greenlab Group
*/


/* <== Default from style css Tune Hotel.==> */
#header {
	width: 981px;
}

#header_top {
	margin:0px;
	padding:0px;
	height: auto;
	/*background:rgba(0,0,0,0.2);*/
}

#content-container {
	width: 981px;
}

#in_pagination{
	text-align:center;
}

ol#pagination{
	margin:0px auto;
	display:inline-block;
}
ol#pagination li {
	float:left;
	padding:3px 5px;
	cursor:pointer;
}

.full_width {
	width:100%;
}

.search_result {
	font-size:12px;
	line-height:17px;
	margin-bottom:15px;
	display:inline-block;
	width:630px;
}
.search_result h5 {
	font-size:13px;
	font-weight:bold;
	color:#4e4e4e;
	margin:5px 0px;
}

a.read_more {
	color:#E91126;
	text-decoration:underline;
}
a.read_more:hover {
	color:#be0c1d;
}

.page_content h1 {
	border-bottom: 4px solid #E91126;
	color:#E91126;
	font-family:'open sans',Arial;
	padding:10px 0px;
	font-size:18px;
	margin-bottom:15px;
}


.btn_round {

	    /*border: 1px solid #999;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
      display:block;
    overflow:hidden;
    position:relative !important;
    /*behavior: url(css/PIE.htc);*/
}



#link_header {
	height:57px;
	margin-top:10px;
}

#header_nav {
    float: right;
}

#header_menu {
	margin:0px;
	padding:0px;
	width:700px;

}

#this_country_lang {
	padding: 7px 10px;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	font-weight: bold;
	width: 180px;
	margin-right: 10px;
	margin-top: 1px;
	background: url('../images/assets/arrow_down.png') center right no-repeat;
}

.small_flag {
	margin-top:8px;
}

.backdrop1
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#444444;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:99991;
	display:none;
}

.search_box {
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
	padding:5px;
	background: url('../images/assets/search.png') top right no-repeat;
}
/*
.booking {
	background: rgba(255, 255, 255, 0.9);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 283px;
	border: 1px solid #ccc;
	padding:10px;
}
.booking h1 {
	font-size:40px;
	color:#e91126;
	font-family: 'open sans', Arial;
	margin:10px 0px 20px 0px;
}
.booking h5{ font-size: 11px; padding: 0px; margin: 0px; position: relative; left: 6px; }
.booking ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li.booking_ul {
	margin-bottom: 18px;
	clear: both;
	padding : 0px 5px;  font-size: 11px; padding-left: 3px;
}
.booking label {
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	display: block;
}
.booking a { padding-left: 5px; color: #555}
.booking p{ padding: 0px; margin: 0px; padding-left: 5px; }
.added{ background: rgba(190, 190, 190, 0.6); padding:10px 0px; padding-bottom: 1px;margin: 0px; margin-bottom: 10px; margin-top: 60px; clear: both;}
*/
.no_border {
	border:0px;
}



.f_left {

	float:left;
}
.f_right {
	float:right;
}

.clean {
	clear : both;
}
.hidden {
	display:none;
}







.row {
	position:relative;
	overflow: hidden;
	}

.footer_content_left1{
	padding:10px;
	border-right:1px solid #e0e0e0;
	width:469px;
}
.footer_content_right1{
	padding:10px;
	/*border-left:1px solid #e0e0e0;*/
	width:469px;
	margin-left:-1px;
}

hr.hr_one {
	border-top: 1px solid #e0e0e0;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	height:1px;
	margin:0px;
}

.footer_content  {
	width: 980px;
	margin:0px auto;
	padding:0px 0px 0px 0px;
}

.footer_content h1 {
	color: #e91126;
		font-weight:bold;

	font-size:16px;
	font-family: Arial;
}

.footer_content h2 {
	font-weight:bold;
	font-size:16px;
	color:#36424a;
	margin:10px 0px;
}

.foot_list_hotel {
	color: #22221A;
	width:214px;
	font-size: 13px;
	line-height:20px;
	margin: 0;
	padding-right:20px;

}


.footer_content a {
  	font-size: 13px;
	line-height: 20px;
	text-decoration:none;
  	color: #53545A;
}
.footer_content a:hover {
}

.two .first {
	margin-left:-1px;
	width:469x;
	}

.two .col1 {

	/*border-left:0px solid #e0e0e0;*/
	width:469x;
	margin-left:-1px;
	float: left;
	}

.foot_list_hotel_isi{
	margin-bottom:20px;
}

.follow_media {
	width:120px;
	height:50px;
}

.follow_media img {
	margin-right:3px;
}

.footer_content h3 {
	font-weight:bold;
	font-size:13px;
	color:#4f5966;
	margin-top:5px;
}

.footer_content h4 {
	font-size:14px;
	color:#4f5966;
}

.footer_content h5 {
	font-size:11px;
	color:#6c6c6c;
	margin-bottom:10px;
}

.footer_content_left2{
	padding:10px;
	width:469px;
}

.footer_content_right2{
	padding:10px;
	width:469px;
	margin-left:-1px;
}

.footer_text {
	padding:5px 10px 20px 10px;
	line-height:18px;
}

.box1
{
	position:absolute;
	/* top:20%;
	left:30%; */
	width:650px;
	z-index:99999;
	display:none;
	border: 1px solid #8c8c8c;
}

.box_title1 {
	padding:10px;
	/* background: rgba(211,0,0,0.75); */
	background: #ffffff;
	color:#444444;
}

.box_title1 span {
	font-size:16px;
	font-family: 'open sans', Arial;
	color: #E91126;
}

.boc_cont_cont1 {
    background: #fff;
	/* margin:15px 0px; */
}

.box_content1 {
	padding:10px;
	background:#ffffff;
	line-height:15px;
	color:#353535;
}

.box_content1 h4 {
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	color:#353535;
	margin:10px 0px;
}

.box_content1 h5 {
	font-family:Arial;
	font-size:16px;
	font-style:italic;
	color:#353535;
	margin:5px 0px;
}

/* <== Header End ==> */

ul#list_language li {
	float: left;
	width: 210px;
	height: 75px; /* Edited by budi */
	margin-bottom: 5px;
	margin-top: 5px;
}
ul#list_language li span {
	font-size: 12px;
	font-weight: bold;
}
ul#list_language li ul {
	margin-left: 12px;
}
ul#list_language li ul li {
	float: left;
	display: inline-block;
	width: auto;
	height: 24px; /* Edited by budi */
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 3px;
}
ul#list_language li ul li:not(:first-child) {
	border-left: 1px solid #8c8c8c;
}
ul#list_language li ul li a {
	font-size: 11px;
	text-decoration: none;
	color: #8c8c8c;
}
ul#list_language li ul li a:hover {
	text-decoration: underline;
}

ul.ul_foot_home li {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border: 1px solid #e3e3e3;
	display:inline-block;
	background: #fcfcfc;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%);
	background: linear-gradient(to bottom,  #fcfcfc 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e6e6e6',GradientType=0 );
	margin-right:7px;
	width:230px;
}
ul.ul_foot_home li:last-child {
	margin-right:0px;

}

.close1
{
	float:right;
	margin-right:0px;
	cursor:pointer;
	background-color: #f4f4f4;
	width:19px;
	height:19px;
}

#body_container {


}

.content_foot_home {
	padding:10px;
	/*height:75px;*/
	position:relative;


	}
.content_foot_home h1 {
	text-align:right;
	color:#4f5966;
	font-size:15px;
	font-family: 'open sans', Arial;
	margin:0px 0px 10px 0px;
}
.content_foot_home h2 {
	text-align:right;
	/*margin-top:40px;*/
}
