/* HTML5 Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; }

::-moz-selection { background: #0099FF; color: #fff; text-shadow: none; }
::selection { background: #0099FF; color: #fff; text-shadow: none; }

a { color: #FF0033; outline: none; }
a:visited { color: #454545; }
a:hover { color: #FF0033; }
a:focus {}
a:hover, a:active { outline: 0;}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: 700; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { /*background-color: #f0dddd;*/ }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.group:before, .group:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.group:after, .clearfix:after { clear: both; }
.group, .clearfix { zoom: 1; }



/* ====================================================================================================
 * Primary styles: START
 *
 * Author: Andrew
 * Author: Roger
 *
==================================================================================================== */



/*=== Fonts - USING TYPEKIT:
	- DIN Light: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 300;

	- DIN Medium: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif; 
		font-weight: 400;

	- DIN Regular: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 600;

	- DIN Bold: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 700;

	- DIN Black: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 900;

==================================================*/



/*=== FOUNDATION
==================================================*/


html {font-size: 62.5%;}
h1, h2, h3, h4, h5, h6 {line-height: 1.1; padding: 0; margin: 0; font-family: din-web-jetblue, Arial, Helvetica, sans-serif; font-weight:600;}
h1 {font-size: 44px;}
h2 {font-size: 28px;}
h3 {font-size: 20px;}
h4 {font-size: 20px; font-family: Arial, Helvetica, Verdana, sans-serif;}
h5 {font-size: 14px; font-family: Arial, Helvetica, Verdana, sans-serif;}
h6 {font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;}
a {text-decoration: none; color: #FF0033;}
a:hover {text-decoration: none; color: #FF0033;}
strong {font-weight: 700;}
p {font-size: 12px; line-height: 16px; margin: 0;}
p a {color: #FF0033;}
p a:hover {text-decoration: underline;}
ol, ul, dl {list-style: none; margin: 0; padding: 0;}


body { /* font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1; /* text-align: center; */ color: #454545; min-width: 963px; }

.floatleft{float:left;}
.floatright{float:right;}
.clear{clear:both;}

/* Structure */
.twelve .col1,
.twelve .col2,
.twelve .col3,
.twelve .col4,
.twelve .col5,
.twelve .col6,
.twelve .col7,
.twelve .col8,
.twelve .col9,
.twelve .col10,
.twelve .col11,
.twelve .col12{float:left; margin-left:16px;}

.six .col1,
.six .col2,
.six .col3,
.six .col4,
.six .col5,
.six .col6,
.four .col1,
.four .col2,
.four .col3,
.four .col4 { float:left; margin-left:10px; }

/* Alpha */
.twelve .first { margin: 0; left: 16px; }

.six .first,
.four .first { margin: 0; left: -10px; }

/* Twelve Colums */
.twelve .col1 {width:67px;}
.twelve .col2 {width:150px;}
.twelve .col3 {width:233px;}
.twelve .col4 {width:316px;}
.twelve .col5 {width:399px;}
.twelve .col6 {width:482px;}
.twelve .col7 {width:565px;}
.twelve .col8 {width:648px;}
.twelve .col9 {width:731px;}
.twelve .col10 {width:814px;}
.twelve .col11 {width:897px;}
.twelve .col12 {width:980px; margin:0;}

/* Six Columns */
/*.six .col1 {width: 155px;}
.six .col2 {width: 316px;}
.six .col3 {width: 482px;}
.six .col4 {width: 648px;}
.six .col5 {width: 814px;}
.six .col6 {width: 980px; margin:0;}*/

/*Six Columns*/
.six .col1 {width: 155px;}
.six .col2 {width: 320px;}
.six .col3 {width: 485px;}
.six .col4 {width: 650px;}
.six .col5 {width: 815px;}
.six .col6 {width: 980px; margin:0;}

/* Four Columns */
.four .col1 {width: 233px;}
.four .col2 {width: 482px;}
.four .col3 {width: 731px;}
.four .col4 {width: 980px; margin:0;}

/*=== Third Party Content
Author: Andrew
==================================================*/


#container {
	position: relative;
	width: 980px;
	margin: 0 auto;
	text-align: left;
	}
	
body.third-party #container {
	padding: 30px 0 30px; 
	}
	

/*=== CAROUSEL
Author: Andrew
==================================================*/
.carousel {
	width: 450px;
	padding: 0;
	}

.carousel .prev,
.carousel .next {
	float: left;
	width: 50px;
	padding: 10px 0 0;
	}

.carousel .prev span,
.carousel .next span {
	display: block;
	width: 30px;
	margin: 0 auto;
	height: 30px;
	overflow: hidden;
	background-color: #AAA;
	color: #fff;
	font-size: 2.8em;
	line-height: 1.1;
	text-align: center;
	cursor: pointer;
	}

.carousel .prevDisabled span,
.carousel .nextDisabled span {
	background-color: #EEE;
	cursor: default;
	}

.carousel .prev span:hover,
.carousel .next span:hover {
	background-color: #333;
	}

.carousel .prevDisabled span:hover,
.carousel .nextDisabled span:hover {
	background-color: #EEE;
	}

.carousel .visibleStage {
	float: left;
	width: 350px;
	overflow: hidden;
	position: relative;
	}

.carousel .visibleStage ul {
	width: 350px;
	position: relative;
	top: 0px;
	left: 0px;
	}

.carousel .visibleStage ul li {
	float: left;
	width: 70px;
	/* padding: 0 10px; */
	}

.carousel .visibleStage ul li a {
	display: block;
	width: 50px;
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
	background-color: #ffffff;
	}

.carousel .carouselPagin {
	clear: left;
	padding: 10px 0 0 5px;
	width: 100px;
	margin: 0 auto
	}

.carousel .carouselPagin span {
	/* background-color: #CCC; */
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	padding: 0;
	margin-right: 5px;
	overflow: hidden;
	color: #fff;
	font-size: 1px;
	line-height: 1px;
	text-indent: -9999px;
	cursor: pointer;
	-moz-border-radiust: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}

.carousel .carouselPagin span.active {
	/* background-color: #333; */
	}

.carousel .carouselPagin span:hover {
/* 	background-color: #AAA; */
	}

.content-side-layout {
	margin-top: 30px;
	margin-bottom: 10px;
	}
	
/*=== TOOLTIP
Author: Andrew
==================================================*/	
#tooltip,
.tooltip-data {
	display: block;
	position: absolute;
	left: -10000px;
	top: -10000px;
	z-index: 50;
	}	

.tooltipChromeTopRight,
.tooltipChromeBottomRight,
.tooltipChromeArrow {
	display: none;
	}

/*=== HEADER
Author: Andrew
==================================================*/
#jb-header {
	width: 100%;
	min-width: 968px;
	}

#jb-header .wrapper {
    background: url(/img/bg-jetblue-body-logoonly.jpg) no-repeat -216px 0;
	width: 968px;
	margin: 0 auto;
	text-align: left;
	padding: 0;
	}

#jb-header h1, 
#jb-header h1 a {
	display: block;
	float: left;
	width: 95px;
	height: 36px;
	padding: 35px 3px 0 3px;
	color: #FFF;
	font-size: 1px;
	line-height: 1px;
	text-indent: -10000px;
	}

#jb-header h1 a {
	float: none;
	padding: 0;
	}

#jb-header .global-nav {
	float: right;
	width: 780px;
	padding: 0 3px 10px 0;
	}

#jb-header .travel-alerts {
	padding: 7px 0 0;
	color: #ff9900;
	text-align: right;
	font-size: 12px;
	line-height: 21px;
	height: 31px;
	overflow: hidden;
	}

#jb-header .travel-alerts .rgt-arrow {
	display: inline-block;
	background: transparent url(/img/rgt-arrow.png) 0 0 no-repeat;
	width: 6px;
	height: 9px;
	margin-left: 4px;
	}
	
#jb-header .travel-alerts img {
	padding: 0 0 5px;
	}

#jb-header .travel-alerts span {
	color: #FF0033;
	}
#jb-header .travel-alerts a:hover span {
	color: #FF0033;
	text-decoration: underline;
	}

#jb-header .travel-alerts a {
	color: #ff9900;
	}
	
#jb-header .travel-alerts a:hover {
	text-decoration: none;
	}

#jb-header .travel-alerts a:hover .rgt-arrow {
	background-position: 0 -14px; 
	}

#jb-header .login-utility {
	padding: 8px 0 0;
	}
#jb-header .login-utility li {
	float: right;
	}

#jb-header .login-utility li a {
	display: block;
	height: 27px;
	color: #FF0033;
	font-size: 12px;
	font-weight: 700;
	line-height: 27px;
	overflow: hidden;
	padding: 0 7px;
	}

#jb-header .login-utility li a:hover {
	color: #FF0033;
	text-decoration: underline;
	}

#jb-header .true-blue-sign-in {
	background: url(/img/bg-true-blue-label.jpg) no-repeat 8px 0;
	float: right;
	width: 72px;
	padding: 0 0 0 140px;
	height: 27px;
	overflow: hidden;
	}

#jb-header .true-blue-join {
	width: 72px;
	padding: 0 0 0 7px;
	}

#jb-header li.true-blue-sign-in a,
#jb-header li.true-blue-sign-in a span,
#jb-header li.true-blue-join a,
#jb-header li.true-blue-join a span   {
	display: block;
	background: url(/img/bg-true-blue-btn.jpg) no-repeat 0 0 #FF0033;
	height: 27px;
	overflow: hidden;
	color: #FFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.1;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 0 3px;
	cursor: pointer;
	}

#jb-header li.true-blue-sign-in a:hover,
#jb-header li.true-blue-join a:hover {
	text-decoration: none;
	background-position: 0 -66px;
	}

#jb-header li.true-blue-sign-in a span,
#jb-header li.true-blue-join a span {
	background: url(/img/bg-true-blue-btn.jpg) no-repeat right -33px;
	width: auto;
	height: 19px;
	padding: 8px 3px 0 0;
	cursor: pointer;
	}

#jb-header li.true-blue-sign-in a:hover span,
#jb-header li.true-blue-join a:hover span {
	background-position: right -99px;
	background-color: #FF0033;
	}

#jb-header .main-nav {
	clear: both;
	}

#jb-primary-links {
	position: relative;
	top: 2px;
	/* padding: 3px 0 0; */
	}

#jb-primary-links li {
	float: left;
	width: 158px;
	height: 92px;
	margin: 0 0 0 4px;
	}

#jb-primary-links li.first {
	margin: 0;
	}

#jb-primary-links a {
	background: url(/img/bg-main-nav-primary.png) no-repeat 0 0;
	display: block;
	height: 75px;
	overflow: hidden;
	padding: 11px 3px 10px 14px;
	color: #FFF;
	}

/* Default State */
#jb-primary-links a.plan-a-trip {
	background-position: 0 0;
	}

#jb-primary-links a.manage-flight {
	background-position: -162px 0;
	}

#jb-primary-links a.where-we-jet {
	background-position: -324px 0;
	}

#jb-primary-links a.flying-on-jetblue {
	background-position: -486px 0;
	}

#jb-primary-links a.travel-information {
	background-position: -648px 0;
	}

#jb-primary-links a.true-blue {
	background-position: -810px 0;
	}

#jb-primary-links a.true-blue-logged-in {
	background-position: -972px -0px;
	}
	
#jb-primary-links a.true-blue-mosaic {
	background-position: -1134px -0px;
	}

/* Hover State	 */
#jb-primary-links li a.plan-a-trip:hover {
	background-position: 0  -100px;
	}

#jb-primary-links li a.manage-flight:hover {
	background-position: -162px  -100px;
	}

#jb-primary-links li a.where-we-jet:hover {
	background-position: -324px  -100px;
	}

#jb-primary-links li a.flying-on-jetblue:hover {
	background-position: -486px  -100px;
	}

#jb-primary-links li a.travel-information:hover {
	background-position: -648px  -100px;
	}

#jb-primary-links li a.true-blue:hover {
	background-position: -810px  -100px;
	}

#jb-primary-links li a.true-blue-logged-in:hover {
	background-position: -972px  -100px;
	}
	
#jb-primary-links li a.true-blue-mosaic:hover {
	background-position: -1134px  -100px;
	}

/* Active and Active/Hover State	 */
#jb-primary-links li.active a.plan-a-trip,
#jb-primary-links li.active a.plan-a-trip:hover,
#jb-primary-links li.hover a.plan-a-trip,
#jb-primary-links li.hover a.plan-a-trip:hover {
	background-position: 0 -100px;
	}

#jb-primary-links li.active a.manage-flight,
#jb-primary-links li.active a.manage-flight:hover,
#jb-primary-links li.hover a.manage-flight,
#jb-primary-links li.hover a.manage-flight:hover {
	background-position: -162px -100px;
	}

#jb-primary-links li.active a.where-we-jet,
#jb-primary-links li.active a.where-we-jet:hover,
#jb-primary-links li.hover a.where-we-jet,
#jb-primary-links li.hover a.where-we-jet:hover {
	background-position: -324px -100px;
	}

#jb-primary-links li.active a.flying-on-jetblue,
#jb-primary-links li.active a.flying-on-jetblue:hover,
#jb-primary-links li.hover a.flying-on-jetblue,
#jb-primary-links li.hover a.flying-on-jetblue:hover {
	background-position: -486px -100px;
	}

#jb-primary-links li.active a.travel-information,
#jb-primary-links li.active a.travel-information:hover,
#jb-primary-links li.hover a.travel-information,
#jb-primary-links li.hover a.travel-information:hover {
	background-position: -648px -100px;
	}

#jb-primary-links li.active a.true-blue,
#jb-primary-links li.active a.true-blue:hover,
#jb-primary-links li.hover a.true-blue,
#jb-primary-links li.hover a.true-blue:hover {
	background-position: -810px -100px;
	}

#jb-primary-links li.active a.true-blue-logged-in,
#jb-primary-links li.active a.true-blue-logged-in:hover,
#jb-primary-links li.hover a.true-blue-logged-in,
#jb-primary-links li.hover a.true-blue-logged-in:hover {
	background-position: -972px -100px;
	}

#jb-primary-links li.active a.true-blue-mosaic,
#jb-primary-links li.active a.true-blue-mosaic:hover,
#jb-primary-links li.hover a.true-blue-mosaic,
#jb-primary-links li.hover a.true-blue-mosaic:hover {
	background-position: -1134px -100px;
	}

/* Current Location State */
#jb-primary-links li.current a.plan-a-trip,
#jb-primary-links li.current a.plan-a-trip:hover{
	background-position: 0 -200px;
	}

#jb-primary-links li.current a.manage-flight,
#jb-primary-links li.current a.manage-flight:hover{
	background-position: -162px -200px;
	}

#jb-primary-links li.current a.where-we-jet,
#jb-primary-links li.current a.where-we-jet:hover {
	background-position: -324px -200px;
	}

#jb-primary-links li.current a.flying-on-jetblue,
#jb-primary-links li.current a.flying-on-jetblue:hover {
	background-position: -486px -200px;
	}

#jb-primary-links li.current a.travel-information,
#jb-primary-links li.current a.travel-information:hover {
	background-position: -648px -200px;
	}

#jb-primary-links li.current a.true-blue,
#jb-primary-links li.current a.true-blue:hover {
	background-position: -810px -200px;
	}

#jb-primary-links li.current a.true-blue-logged-in,
#jb-primary-links li.current a.true-blue-logged-in:hover {
	background-position: -972px -200px;
	}

#jb-primary-links li.current a.true-blue-mosaic,
#jb-primary-links li.current a.true-blue-mosaic:hover {
	background-position: -1134px -200px;
	}

#jb-primary-links a span.name,
#jb-primary-links a span.member {
	display: block;
	position: absolute;
	left: -10000px;
	top: -10000px;
	font-size: 1px;
	line-height: 1px;
	}

#jb-primary-links a.true-blue-mosaic span.member,
#jb-primary-links a.true-blue-mosaic span.points,
#jb-primary-links a.true-blue-logged-in span.member,
#jb-primary-links a.true-blue-logged-in span.points {
	position: static;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.05;
	display: block;
	}

#jb-primary-links a.true-blue-mosaic span.points,
#jb-primary-links a.true-blue-logged-in span.points {
	font-size: 15px;
	padding: 13px 0 0;
	font-weight: 400;
	}

#jb-primary-links a.true-blue-mosaic span.points em,
#jb-primary-links a.true-blue-logged-in span.points em { 
	font-size: 9px;
	font-style: normal;
	}

#jb-backdrop {
	background-color: #f1f5f8;
	margin: 0 3px 10px;
	padding: 0 0 0;
	height: 126px;
	overflow: hidden;
	display: none;
	}

#jb-primary-links .jb-secondary-links  {
	position: absolute;
	left: 3px;
	top: 90px;
	width: 963px;
	background: url(/img/bg-main-nav-secondary_strips.jpg) no-repeat 0 0 #f1f5f8;
	display: none;
	}

#jb-primary-links .jb-secondary-links .plan-a-trip-submenu,
#jb-primary-links .jb-secondary-links .flying-on-jetblue-submenu,
#jb-primary-links .jb-secondary-links .travel-information-submenu {
	background: url(/img/bg-main-nav-secondary_strips.jpg) no-repeat -1000px bottom;
	padding: 3px 0;
	height: 120px;
	overflow: hidden;
	}

#jb-primary-links .jb-secondary-links ul {
	list-style: none;
	}

#jb-primary-links .jb-secondary-links ul li {
	display: block;
	float: left;
	width: 154px;
	padding: 8px 0 8px 8px;
	margin: 0;
	height: auto;
	}

#jb-primary-links .jb-secondary-links ul li.flights,
#jb-primary-links .jb-secondary-links ul li.directv,
#jb-primary-links .jb-secondary-links ul li.t-5 {
	padding-left: 0;
	}


#jb-primary-links .jb-secondary-links ul li.additional-plan-a-trip-links,
#jb-primary-links .jb-secondary-links ul li.additional-travel-information-links-1,
#jb-primary-links .jb-secondary-links ul li.additional-travel-information-links-2,
#jb-primary-links .jb-secondary-links ul li.additional-flying-on-jetblue-links-1,
#jb-primary-links .jb-secondary-links ul li.additional-flying-on-jetblue-links-2 {
	width: 138px;
	padding: 10px 0 8px 23px;
	height: 102px;
	overflow: hidden;
	}

#jb-primary-links .jb-secondary-links ul li.additional-plan-a-trip-links,
#jb-primary-links .jb-secondary-links ul li.additional-travel-information-links-1,
#jb-primary-links .jb-secondary-links ul li.additional-flying-on-jetblue-links-1 {
	background: url(/img/bg-main-nav-secondary-icons.jpg) no-repeat -1881px -16px;
	}

#jb-primary-links .jb-secondary-links ul li a {
	background: url(/img/bg-main-nav-secondary-icons.jpg) no-repeat 0 0;
	display: block;
	width: 132px;
	height: 24px;
	padding: 80px 0 0;
	margin: 0 auto;
	color: #FF0033;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.1;
	text-align: center;
	}

#jb-primary-links .jb-secondary-links ul li a:hover {
	color: #FF0033;
	}	

#jb-primary-links .jb-secondary-links ul li a sup {
	font-size: 6px;
	font-weight: 600;
	}

#jb-primary-links .jb-secondary-links ul li.flights a {
	background-position: -2px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.flights a:hover {
	background-position: -2px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.vacations a {
	background-position: -138px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.vacations a:hover {
	background-position: -138px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.hotels a {
	background-position: -272px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.hotels a:hover {
	background-position: -272px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.cars a {
	background-position: -405px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.cars a:hover {
	background-position: -405px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.cruises a {
	background-position: -542px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.cruises a:hover {
	background-position: -542px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.directv a {
	background-position: -676px -21px;
	font-size: 13px;
	line-height: 1.2;
	padding-top: 67px;
	height: 40px;
	}

#jb-primary-links .jb-secondary-links ul li.directv a:hover {
	background-position: -676px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.snacks a {
	background-position: -808px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.snacks a:hover {
	background-position: -808px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.even-more a {
	background-position: -943px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.even-more a:hover {	
	background-position: -943px -147px;
	}
	
#jb-primary-links .jb-secondary-links ul li.first-bag a {
	background-position: -1078px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.first-bag a:hover {
	background-position: -1078px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.t-5 a {
	background-position: -1216px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.t-5 a:hover {
	background-position: -1216px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.baggage-info a {
	background-position: -1351px -21px;
	}

#jb-primary-links .jb-secondary-links ul li.baggage-info a:hover {
	background-position: -1351px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.special-needs a {
	background-position: -1486px -21px;
	width: 137px;
	}

#jb-primary-links .jb-secondary-links ul li.special-needs a:hover {
	background-position: -1486px -147px;
	}

#jb-primary-links .jb-secondary-links ul li.jet-paws a {
	background-position: -1621px -18px;
	}

#jb-primary-links .jb-secondary-links ul li.jet-paws a:hover {
	background-position: -1621px -144px;
	}

#jb-primary-links .jb-secondary-links  .plan-a-trip-submenu ul li.additional-plan-a-trip-links	a,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-1 a,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-2 a,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-1 a,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-2 a {
	display: block;
	width: auto;
	height: 20px;
	overflow: hidden;
	background: none;
	color: #FF0033;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.6;
	text-align: left;
	text-indent: 0;
	margin: 0;
	padding: 0;
	}

#jb-primary-links .jb-secondary-links  .plan-a-trip-submenu ul li.additional-plan-a-trip-links	a:hover,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-1 a:hover,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-2 a:hover,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-1 a:hover,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-2 a:hover {
	color: #FF0033;
	text-decoration: underline;
	}


/*=== Footer
Author: Roger
==================================================*/

#jb-footer {
	color: #454545;
	text-align: left;
	width: 968px;
	margin: 0 auto;
	padding: 10px 0 20px;
	}

#jb-footer p { font-size: 12px; line-height: 16px; margin: 0; padding:0; }

#jb-footer a {
	color: #FF0033;
	}

#jb-footer a:hover {
	color: #FF0033;
	text-decoration: underline;
	}

#jb-footer .header-wrap {
	background: #f1f5f8 url(/img/bg-footer-bar-top.gif) no-repeat 0 0;
	width: 962px;
	margin: 0 auto;
	padding: 6px 0 0;
	}

#jb-footer .header-inner {
	background: #f1f5f8 url(/img/bg-footer-bar-bottom.gif) no-repeat 0 bottom;
	padding: 0 10px 6px;
	}

#jb-footer .header-wrap .app-wrap {
	float: left;
	width: 466px;
	}

#jb-footer .header-wrap .search-wrap {
	float: left;
	width: 465px;
	margin-left: 10px;    
	padding: 4px 0 0;
	}

#jb-footer .header-wrap .search-wrap form {
	position: relative;
	}

#jb-footer .header-wrap .search-wrap .search-inner {
    border-color: #C0C0C0 #F0F0F0 #E7E7E7 #C0C0C0;
	border-style: solid;
    border-width: 1px;
	/* Fallback declaration for unsupported browsers */
	background-image: url(/img/input-bg.png) 0 top repeat-x;
	/* Multiple Backgrounds using CSS3 */
	background: url(/img/input-bg.png) 0 top repeat-x,
				url(/img/input-bg.png) left 0 repeat-y,
				url(/img/input-bg.png) left top no-repeat,
				url(/img/input-bg.png) left top no-repeat;
	/* Declare background-color at the end to complete the cascade */
	background-color: #ffffff;
	width: 424px;
	height: 31px;
	padding-right: 40px;
	}

#jb-footer .header-wrap .search-wrap .search-inner #search-box {
	font-size: 14px;
	border: 0;
	width: 420px;
	height: 20px;
	margin: 1px;
	padding: 5px;
	color: #FF0033;
	}

#jb-footer .header-wrap .search-wrap .search-inner .placeholder {
	color: #c0c0c0;
	}

#jb-footer .header-wrap .search-wrap .search-inner #search-box:focus {
	outline: 0;
	}

#jb-footer .header-wrap .search-wrap .search-inner #loupe-btn {
	position: absolute;
	top: 6px;
	right: 7px;
	background: transparent url(/img/loupe-btn-sp.gif) 0 0 no-repeat;
	text-indent: -10000px;
	border: 0;
	outline: 0;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	font-size: 1px;
	line-height: 1px;
	color: #fff;
	}

#jb-footer .header-wrap .search-wrap .search-inner #loupe-btn:hover {
	background: transparent url(/img/loupe-btn-sp.gif) 0 -25px no-repeat;
	}

#jb-footer .body-wrap {
	width: 963px;
	margin: 15px auto;
	}

#jb-footer .body-wrap .social-wrap {
	float: left;
	color: #FF0033;
	width: 476px;
	}

#jb-footer .body-wrap .social-wrap li {
	margin: 5px 0;
	}

#jb-footer .body-wrap .social-wrap li a {
	font-weight: bold;
	}
	
#jb-footer .body-wrap .social-wrap li .inner-media p {
	color: #999;
	}
	
#jb-footer .body-wrap .social-wrap li .inner-media p a {
	color: #FF0033;
	}	
	
#jb-footer .body-wrap .social-wrap li .inner-media p a:hover {
	color: #FF0033;
	}	

#jb-footer .body-wrap .social-wrap li .img {
	background: transparent url(/img/social-icons-sp.gif) 0 0 no-repeat;
	width: 31px;
	height: 31px;
	}

#jb-footer .body-wrap .social-wrap li.facebook .like-txt {
	color: #FF0033;
	}

#jb-footer .body-wrap .social-wrap li.twitter .img {
	background-position: -35px 0;
	}

#jb-footer .body-wrap .social-wrap li.youtube .img {
	background-position: -70px 0;
	}

#jb-footer .body-wrap .social-wrap li.btblog .img {
	background-position: -105px 0;
	}

#jb-footer .body-wrap .sitemap-wrap {
	float: left;
	width: 476px;
	margin-left: 11px;
	}

#jb-footer .body-wrap .sitemap-wrap ul {
	float: left;
	width: 152px;
	margin-right: 11px;
	}

#jb-footer .body-wrap .sitemap-wrap ul.last {
	width: 150px;
	margin: 0;
	}

#jb-footer .body-wrap .sitemap-wrap li.list-head {
	padding: 2px 0 5px;
	color: #FF0033;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.1;
	}

html.ie9 #jb-footer .body-wrap .sitemap-wrap li.list-head {
	font-weight: 900;
}

#jb-footer .body-wrap .sitemap-wrap li, #jb-footer .body-wrap .sitemap-wrap li a {
	font-size: 12px;
	font-weight: normal;
	color: #FF0033;
	margin: 7px 0;
	}

#jb-footer .body-wrap .sitemap-wrap li, #jb-footer .body-wrap .sitemap-wrap li a:hover {
	color: #FF0033;
	}

#getaways-cities-list {
	clear: both;
	padding: 26px 0 0;
	}

html.ie8 #getaways-cities-list {
	padding: 31px 0 0;
	}

html.ie7 #getaways-cities-list {
	padding: 16px 0 0;
	}

#getaways-cities-list .getaways-cities-wrap {
	border-top: 1px solid #dae8f4;
	padding: 30px 0 0;
	}
	
#getaways-cities-list p {
	margin: 0;
	padding: 0;
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 2;
	}
	
#getaways-cities-list p a {
	color: #999;
	font-weight: 400;
	}	
	
#getaways-cities-list p strong {
	color: #454545;
	font-weight: 700;
	}	
		
#getaways-cities-list p span.show-more {
	display: block;
}
#getaways-cities-list.hide-cities p span.show-more {
	display: block;
	position: absolute;
	top: -10000px;
	left: -10000px;
	}
	
#getaways-cities-list p.expander span {
	color: #FF0033;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	cursor: pointer;
	}

#getaways-cities-list p.expander img.up-icon,
#getaways-cities-list.hide-cities p.expander img.down-icon  {
	display: inline;
	}
	
#getaways-cities-list.hide-cities p.expander img.up-icon,
#getaways-cities-list p.expander img.down-icon  {
	display: none;
	}	

#jb-footer .footer-wrap {
	width: 963px;
	margin: 0 auto;
	}

#jb-footer .fine-print {
	display: block;
	color: #888888;
	font-size: 11px;
	}

#jb-footer .media {
	margin: 0;
	padding: 0;
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
	}

#jb-footer .media .img {
	float: left;
	margin-right: 15px;
	}

#jb-footer .media .img img {
	display: block;
	}

#jb-footer .media .inner-media {
	margin: 5px 0 0;
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
	}

/* Tabs */

.ui-tabs-hide{
	display:none;
}

/*=== Modal
Author: Roger
Colors: Orange: #ff9900 | Light Blue: #FF0033
	      Dark Blue: #FF0033 | Darker Blue: #00285e
==================================================*/
.overlay {
	z-index: 5000;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
.overlay .screen {
	cursor: pointer;
	position: absolute;
	background: transparent url(/img/overlay-bg.png) 0 0 repeat;
	width: 100%;
	height: 100%;
	}
.overlay .modal {
	position: absolute;
	left: 108px; /* (window.outerWidth - 850) / 2 */
	top: 145px; /* (window.outerHeight - 550) / 2 */
	width: 850px;
	height: 600px;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
	}

/*=== Modal : Modal Structure
Author: Roger
==================================================*/
.overlay .modal .header {
	position: relative;
	background: transparent url(/img/modal-rnd.png) 0 top no-repeat;
	color: #ffffff;
	width: auto;
	height: 70px;
	padding: 3px 0 0 0;
	}
.overlay .modal .header .header-inner {
	background-color: #FF0033;
	width: auto;
	height: inherit;
	}
	
html.oldie .overlay .modal .header .header-inner {
	height: 70px;
	}
	
.overlay .modal .body {
	background: transparent url(/img/modal-rnd.png) -855px bottom no-repeat;
	width: auto;
	height: 530px;
	padding: 0 0 3px 0;
	}
.overlay .modal .body .body-inner {
	background-color: #ffffff;
	width: auto;
	height: 530px;
	}
.body-inner 
{
    overflow: auto;
}	
.fs-info 
{
    text-align: center;
    height: 20px;
    width: 100%;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
}
/*=== Modal : Typography
Author: Roger
==================================================*/
.overlay .modal h3 {
	font-weight: 600;
	margin: 0;
	padding: 0;
	}
.overlay .modal .header h3 { font-size: 22px; padding: 25px 0 0 20px; }
.overlay .modal .body h4 { color: #FF0033; font-size: 16px; margin: 30px 0 10px; }
.overlay .modal .body p { font-size: 13px; line-height: 27px; }

/*=== Modal : Context Switcher
Author: Roger
==================================================*/
.header-inner .context-switch {
	position: absolute;
	top: 20px;
	right: 20px;
	}
.header-inner .context-switch .close-btn {
	cursor: pointer;
	display: block;
	float: right;
	background: transparent url(/img/context-switcher-btn-sp.png) 0 -128px no-repeat;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	}
.header-inner .context-switch .close-btn:hover { background-position: 0 -291px; }

/*=== Modal : City : Regions
Author: Roger
==================================================*/
#city-modal .region,
#city-modal .cities {
	float: left;
	margin-top: 26px;
	margin-left: 30px;
	}

#city-modal .region {
	color: #FF0033;
	width: 183px;
	}

#city-modal .region .region-list li {
	cursor: pointer;
	color: #FF0033;
	font-weight: 700;
	width: 170px;
	height: 17px;
	margin-top: 10px;
	padding: 10px;
	}
#city-modal .region .region-list .two-line { height: 28px; padding: 5px 10px; }
#city-modal .region .region-list li:hover,
#city-modal .region .region-list .active {
	background: transparent url(/img/region-hover-bg.gif) 0 center no-repeat;
	color: #ffffff;
	}

/*=== Modal : City : Cities
Author: Roger
==================================================*/
#city-modal .cities {
/*	display: none;*/
	width: 588px;
	}

#city-modal .cities .city-desc {
	display: block;
	clear: both;
	}
#city-modal .cities .city-desc li {
	float: left;
	background: transparent url(/img/city-lrg-disc-orange.png) left 4px no-repeat;
	color: #FF0033;
	margin-top: 2px;
	margin-left: 20px;
	padding-left: 10px;
	}
#city-modal .cities .city-desc .partner {
	background: transparent url(/img/city-lrg-disc-grey.png) left 4px no-repeat;
	color: #a6a6a6;
	}
#city-modal .cities .city-desc .first { background: none; margin: 0; padding: 0; }

#city-modal .cities .city-list {
	display: inline;
	float: left;
	padding-top: 15px;
/*
	width: 180px;
	margin-top: 15px;
	margin-left: 10px;
*/
	}
#city-modal .cities .city-list ul {
	width: auto;
	min-width: 160px;
	padding-right: 10px;
	}
#city-modal .cities .first {
	margin-left: 0;
	}
#city-modal .cities .city-list li {
	background: transparent url(/img/city-lrg-disc-orange.png) left 5px no-repeat;
	font-size: 11px;
	margin-top: 2px;
	padding-left: 8px;
	}

#city-modal .cities .city-list li.list-head {
	background: none;
	color: #454545;
	font-size: 12px;
	font-weight: 600;
	padding: 0px;
}
/*
 * This removes margin from the first city section names (text is in grey)
 */
/*#city-modal .cities .city-list ul:first-child { margin-bottom: 0; }*/
#city-modal .cities .city-list ul { margin-bottom: 22px; }
	
#city-modal .cities .city-list li a { display: block; }

#city-modal .cities .city-list .partner {
	background-image: url(/img/city-lrg-disc-grey.png);
	color: #a6a6a6;
	}

/*=== Modal : FAQ : Structure
Author: Roger
==================================================*/
#faq-modal .body-inner,
#restrictions-modal .body-inner {
	padding: 0 80px 0 30px;
	overflow-y: auto;
	}

#faq-modal .body-inner h3 { margin: 40px 0 5px; }


/*=== Modal : PICK ME UP 
Author: Andrew
==================================================*/

#pick-me-up {
	width: 650px;
	}
	
#pick-me-up .header,
#pick-me-up .body {
	background: url(/img/bg-modal-rd-650.png) no-repeat 0 0;
	}	
	
#pick-me-up .body {
	background-position: -1000px bottom;
	}	
	
#pick-me-up div.body h4 {
	margin: 0;
	padding: 28px 30px 0px;
	color: #FF0033;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.6;
	}
		
#pick-me-up-form {
	padding: 0 0 0 30px;
	}
	
#pick-me-up-form .float-form-element {
	padding: 20px 0 0;
	float: left;
	width: 289px;
	padding-right: 13px;
	}
	
#pick-me-up-form .form-element {
	padding: 20px 0 0;
	width: 591px;
	clear: left;
	}	
	
#pick-me-up-form label,
#pick-me-up-form input {
	display: block;
	}	
	
#pick-me-up-form label {
	padding: 0 0 3px 0;
	color: #FF0033;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.1;
	}	
	
#pick-me-up-form label span {
	color: #F90;
	}	
	
#pick-me-up-form .input-holder,
#pick-me-up-form .textarea-holder {	
	display: block;
	border: 1px solid #e4e4e4;
	border-top: 1px solid #c0c0c0;
	height: 36px;
	}	

#pick-me-up-form .textarea-holder {	
	height: auto;
	}

#pick-me-up-form input {
	display: block;
	border: 0;
	border-top: 1px solid #e4e4e4;
	height: 35px;
	overflow: hidden;
	margin: 0;
	padding: 0 10px 0 10px;
	width: 267px;
	color: #454545;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.1;
	}	
	
html.oldie #pick-me-up-form input {
	width: 257px;
	padding: 9px 20px 0 10px;
	line-height: 1.2;
	height: 23px;
	zoom: 1;
	}
	
#pick-me-up-form .form-element input {	
	width: 568px;
	}
	
html.oldie #pick-me-up-form input {	
	width: 568px;
	}
	
#pick-me-up-form .url-element input	{
	color: #FF0033;
	}
	
#pick-me-up-form textarea {
	width: 585px;
	height: 86px;
	margin: 0;
	padding: 0 0 0 4px;
	border: 0;
	border-top: 1px solid #e4e4e4;
	overflow: scroll;
	overflow-x: hidden;
	color: #454545;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.6;
	}	
	
#pick-me-up-form #pick-me-up-form-submit {
	float: right;
	display: block;
	width: 101px;
	height: 35px;
	overflow: hidden;
	margin: 18px 0 0;
	padding: 0;
	border: 0;
	background: url(/img/bg-pick-me-up-submit.jpg) no-repeat center center #FFF;
	color: #fff;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.1;
	text-transform: uppercase;
	}	

/*=== Modal : PICK ME UP 
Author: Andrew
==================================================*/

#pnr-modal {
	width: 570px;
	height: 300px;
	}

#pnr-modal .body {
	height: 249px;
	}
	
#pnr-modal .body .body-inner {
	padding: 20px;
	height: auto;
	}	


/*=== Input Boxes & Wraps
Author: Roger
==================================================*/

.input-wrap,
.textarea-wrap {
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #c0c0c0;
	/* Fallback declaration for unsupported browsers */
	background-image: url(/img/input-bg.png) 0 top repeat-x;
	/* Multiple Backgrounds using CSS3 */
	background: url(/img/input-bg.png) 0 top repeat-x,
							url(/img/input-bg.png) left 0 repeat-y,
							url(/img/input-bg.png) left top no-repeat,
							url(/img/input-bg.png) left top no-repeat;
	/* Declare background-color at the end to complete the cascade */
	background-color: #ffffff;
}


/*=== Global Styles for Sub-pages
Colors: Orange: #ff9900 | Light Blue: #FF0033
	      Dark Blue: #FF0033 | Darker Blue: #00285e
==================================================*/

/*
 * Apply this style to any container to create a bottom divider
 */
.btm-divide {
	background: transparent url(/img/btm-divide.gif) 0 bottom repeat-x;
	}

.media {
	margin: 10px 0;
	padding: 10px 0;
	}
.media, .inner-media {
	margin: 3px 0 0;
	overflow: hidden;
	_overflow: visible;
	zoom:1;
	}
.media .img {
	float: left;
	margin-right: 10px;
	}
.media .img img {
	display: block;
	}
.media .imgExt {
	float:right;
	margin-left: 10px;
	}

/*=== Buttons
Author: Roger
==================================================*/

/* Left-side  */
.blue-dark-btn-wrap,
.blue-btn-wrap,
.orange-btn-wrap {
	cursor: pointer;
	background: transparent url(/img/submit-btn-sp.png) no-repeat;
	/* don't forget to set the width */
	height: 35px;
	padding-left: 3px;
	}
.blue-dark-btn-wrap { background-position: left -160px; }
.blue-btn-wrap { background-position: left -160px; }
.orange-btn-wrap { background-position: left 0; }

/* Right-side */
.blue-dark-btn-wrap .blue-dark-btn-inner,
.blue-btn-wrap .blue-btn-inner,
.orange-btn-wrap .orange-btn-inner {
	cursor: inherit;
	background: transparent url(/img/submit-btn-sp.png) no-repeat;
	width: inherit;
	height: inherit;
	padding-right: 3px;
	}
.blue-dark-btn-wrap .blue-dark-btn-inner { background-position: right -200px; }
.blue-btn-wrap .blue-btn-inner { background-position: right -200px; }
.orange-btn-wrap .orange-btn-inner { background-position: right -40px; }

/* Contents */
.blue-dark-btn-wrap .blue-dark-btn-inner a,
.blue-btn-wrap .blue-btn-inner a,
.orange-btn-wrap .orange-btn-inner a {
	cursor: pointer;
	display: block;
	color: #ffffff;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	height: auto;
	border: 0;
	margin: 0 auto;
	padding: 11px 0;
	}
.blue-dark-btn-wrap .blue-dark-btn-inner a { background-color: #FF0033; }
.blue-btn-wrap .blue-btn-inner a { background-color: #FF0033; }
.orange-btn-wrap .orange-btn-inner a { background-color: #ff9900; }

/* Hover states	*/
.blue-dark-btn-wrap:hover { background-position: left -240px; }
.blue-btn-wrap:hover { background-position: left -320px; }
.orange-btn-wrap:hover { background-position: left -80px; }
.blue-dark-btn-wrap:hover .blue-dark-btn-inner { background-position: right -280px; }
.blue-btn-wrap:hover .blue-btn-inner { background-position: right -360px; }
.orange-btn-wrap:hover .orange-btn-inner { background-position: right -120px; }
.blue-dark-btn-wrap:hover .blue-dark-btn-inner a { background-color: #FF0033; text-decoration: none; }
.blue-btn-wrap:hover .blue-btn-inner a { background-color: #76beec; text-decoration: none; }
.orange-btn-wrap:hover .orange-btn-inner a { background-color: #ff7300; text-decoration: none; }

/*=== Sidekick Base Styles
Author: Roger
==================================================*/

/*
.sidekick {}
.sidekick .inner {
	padding: 20px;
}
.sidekick .img-wrap {
	text-align: center;
	margin: 25px auto 50px;
}
.sidekick h3.heading {
	margin: 30px 0;
	padding: 0;
	display: block;
	font-size: 20px;
	color: #FF0033;
	font-weight: 700;
	position: relative;
	}
.sidekick p.body {
	margin: 0 0 15px 0;
	padding-top: 0;
	color: #454545;
	font-size: 14px;
	line-height: 1.75;
	word-spacing: -1px;
	}
.sidekick a.more {
	cursor: pointer;
	clear: both;
	position: relative;
	color: #FF0033;
	font-size: 13px;
	text-transform: uppercase;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	}
.sidekick a.more .arrow-rgt {
	width: 6px;
	height: 11px;
	display: block;
	overflow: hidden;
	background: url(/img/arrow-rgt-medium.png) no-repeat 0 -1px;
	position: absolute;
	top: 15%;
	right: -11px;
	}
	
html.ie7 .sidekick a.more .arrow-rgt {
	position: relative;
	display: inline-block;
	top: -2px;
	}		
	
html.ie8 .sidekick a.more .arrow-rgt,
html.ie9 .sidekick a.more .arrow-rgt {
	position: relative;
	display: inline-block;
	top: 1px;
	}	
	
.sidekick a.more:hover {
	color: #FF0033;
	}
.sidekick a.more:hover .arrow-rgt {
	background-position: 0 -18px;
	}
*/

/*=== Navigation Selected States
Author: Roger
==================================================*/
/*body .plan-a-trip #jb-primary-links li a.plan-a-trip {
	background-position: 0 -200px;
	}
body .manage-flight #jb-primary-links li a.manage-flight {
	background-position: -162px -200px;
	}
body .where-we-jet #jb-primary-links li a.where-we-jet {
	background-position: -324px -200px;
	}
body .manage-flight #jb-primary-links li a.manage-flight:hover {
	background-position: -162px -200px;
	}
body .where-we-jet #jb-primary-links li a.where-we-jet:hover {
	background-position: -324px -200px;
	}
body .flying-on-jetblue #jb-primary-links li a.flying-on-jetblue {
	background-position: -486px -200px;
	}
body .travel-information #jb-primary-links li a.travel-information {
	background-position: -648px -200px;
	}
body .trueblue #jb-primary-links li a.true-blue {
	background-position: -972px -200px;
	}
*/

/*=== CLEAR FIX / HOLLY HACK FOR STANDARD 
	  COMPLIANT BROWSERS AND IE 6-7
==================================================*/
body:after,
.clearfix:after,
#container:after,
#jb-header:after,
#jb-header .login-utility:after,
#jb-primary-links:after,
#jb-primary-links .jb-secondary-links .plan-a-trip-submenu:after,
#jb-primary-links .jb-secondary-links .flying-on-jetblue-submenu:after,
#jb-primary-links .jb-secondary-links .travel-information-submenu:after,
#jb-primary-links .jb-secondary-links .plan-a-trip-submenu ul:after,
#jb-primary-links .jb-secondary-links .flying-on-jetblue-submenu ul:after,
#jb-primary-links .jb-secondary-links .travel-information-submenu ul:after,
.carousel:after,
.carousel .visableStage ul:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	}

html.oldie .clearfix,
html.oldie #container,
html.oldie #jb-header,
html.oldie #jb-header .login-utility,
html.oldie #jb-primary-links,
html.oldie .carousel,
html.oldie .carousel .visableStage ul {
	zoom: 1;
	_height: 1%;
	}



/** All Alberto's style below here. */
div.overlay { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1000; }
div.overlay div.screen { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 3; cursor: pointer; }
div.overlay div.modal { margin: 0 auto; position: relative; top: auto; left: auto; z-index: 10; }

.MAC 
{
    font-weight:bold;
}
.g-col-4 {
    position:relative;
    width:310px;
    float:left;
    margin-right:12px;
    min-height:400px;
    margin-bottom:20px;
   /* border:1px solid  #d8dcdf;*/
}

/*=============buttons rounded corners
===================================================*/

.gl_roundedCorners
{
    /*border: 1px solid #999;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
      display:block;
    overflow:hidden;
    position:relative !important;
    /*behavior: url(css/PIE.htc);*/
}

.gl_floatLeft
{
    float:left !important;
}
.gl_floatRight
{
    float:right !important;
}
.gl_orangebutton
{
    background-color: #E51400;
    color: #FFF;
    font-size: 13px;
    font-family: 'gr-med',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.gl_greybutton
{
    background-color: #fbfbfb;
    color: #004990;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.gl_bluebutton a
{
    display: block;
    background-color: #4D90CD;
    color: #FFF;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
}
.gl_greybutton a
{
    display: block;
    background-color: #f6f6f6;
    color: #004990;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding:10px 20px;
}
.gl_bluebutton a:hover
{
    background-color: #004990;
}
.gl_orangebutton a
{
     display: block;
    background-color: #fe2232;
    color: #FFF;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding:10px 20px;
}

.gl_orangebutton a:hover
{
    background-color: #9d141d;
}

.gl_smallLink
{
       color:#4D90CD;
       cursor:pointer;
       font-size:10px;
}


/*=== containers wrappers
==================================================*/

#page { z-index:1; width: 100%; margin: 0 auto; padding:0; text-align: left; }

#trace {width: 100%; min-height:420px; overflow: hidden; padding: 0px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; top: 0px; z-index: 1; }

#wrap { text-align: center; margin: 0px; padding: 0px; height: 100%; width: 100%; }

#container { position: relative; width: 980px; text-align: left; margin:0 auto; display: block; }

body.third-party #container {padding: 30px 0 30px;}

 .container { overflow:visible; position: relative; width: 980px; text-align: left; margin:0 auto;}

.row{ width: 980px; padding:20 0; margin:0 auto; display:block;}

.page .wrapper { margin: 0 auto; padding-bottom: 25px; width: 980px;}

.row-grey { border-top: 5px solid rgba(153,153,153,0.2); border-bottom: 5px solid rgba(153,153,153,0.2); /*padding: 20px 0;*/}

.align-center {text-align:center;}

.hblock-center {
  position: relative;
  width: 980px;
  margin: 0px auto;
  height: 420px;
  overflow:hidden;
}

.fullpage {
    position: relative;
    margin-top: -1px !important;
    width: 100% !important;
    max-width: 100% !important;
}



.dim{
background-color: #f0f3f5;
}
.black {background-color: #000;}
.white {background-color: #fff;}

.red {
  background-color:rgba(238,0,0,0.4);
  background-clip: padding-box;
  background-color: rgb(255, 0, 0);
  border-color: rgb(35, 35, 35);
  border-width: 0px;
  color: white;
  opacity: 0.93;
}

#whatshot {
  width:100%;
  height:100%;
  margin-bottom:16px;
  display: block !important;
}

#whatshot-two{
  width:100%;
  height: 220px;
  display: block !important;
}
.gut-top {display:block;height:16px;background:#ffd6d6;}

.dim {background:rgba(0,0,0,0.2)}
.inner {margin:16px;}
.gutter { display:block; height:16px }

.round {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.border-gray {
  border: 1px solid #f4f4f4;
}



#sticky-nav {
position: static;
margin-top: 8px;
z-index: 1000;
}

#sticky-nav .sticky-nav-wrapper {
width: 980px;
margin: 0 auto;
text-align: left;
padding: 18px 0 0;
}


#sticky-nav .page-title {
position: relative;
padding: 0 0 20px;
border-bottom: 1px solid #E1EDF8;
}


#sticky-nav .nav-sections {
cursor: pointer;
z-index: 5;
position: relative;
font-family: Arial, Helvetica, sans-serif;
padding: 20px 0 20px;
border-bottom: 1px solid #E1EDF8;
}

#sticky-nav .nav-sections #page-nav a {
font-family: 'gr-med', Arial, Helvetica, sans-serif;
font-weight: 700;
color: #4d90cd;
padding-bottom: 4px;
}

#sticky-nav .nav-sections #page-nav {
padding: 0;
margin: 0;
}

#sticky-nav .nav-sections #page-nav li {
background: none;
padding: 0;
margin: 0;
float: left;
font-size: 15px;
font-weight: 700;
margin-left: 24px;
}

#sticky-nav .nav-sections #page-nav li:first-child, #sticky-nav .nav-sections #page-nav .first {
margin-left: 0;
}

#sticky-nav .nav-sections #page-nav a {
font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
font-weight: 700;
color: #4d90cd;
padding-bottom: 4px;
}

.page-section {
cursor: pointer;
z-index: 5;
position: relative;
font-family: Arial, Helvetica, sans-serif;
padding: 20px 0 20px;
border-bottom: 1px solid #E1EDF8;
}


.page-title h3 {
color: #004990;
width: 450px;
margin: 0 !important;
padding: 0;
}

#aboutus {position: relative; width: 980px; margin: 0 auto; text-align: left;}

.maia-cols {margin:0 -1.53374233129%; width:103.067484663%}

.maia-cols:after {
clear: both;
content: " ";
display: block;
height: 0;
visibility: hidden;
}

.btn-red {
  font-size:17px;
  font-family:Arial;
  font-weight:bold;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:0px solid #ff1500;
  padding:14px 36px;
  text-decoration:none;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #8c0303) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #8c0303 100% );
  background:-ms-linear-gradient( top, #fe1a00 5%, #8c0303 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#8c0303');
  background-color:#fe1a00;
  color:#ffffff;
  display:inline-block;
  -webkit-box-shadow:inset -1px -1px 0px -6px #ff1500;
  -moz-box-shadow:inset -1px -1px 0px -6px #ff1500;
  box-shadow:inset -1px -1px 0px -6px #ff1500;
}
.btn-red:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #8c0303), color-stop(100%, #fe1a00) );
  background:-moz-linear-gradient( center top, #8c0303 5%, #fe1a00 100% );
  background:-ms-linear-gradient( top, #8c0303 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c0303', endColorstr='#fe1a00');
  background-color:#8c0303;
}.btn-red:active {
  position:relative;
  top:1px;
}

/*======Booking Form
===================================================*/
/* booking check in check out */


#booker { position:absolute; left:0px; top:0px; width:320px; height:400px; z-index:9999; overflow: hidden; }

.booking {
	margin:10px;
  	background:rgb(244,244,244);
  	background: transparent\9;
  	background:rgba(244,244,244,0.8);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5f4f4f4,endColorstr=#e5f4f4f4);
  	zoom: 1;
}


.booking:nth-child(n) {
  filter: none;
}

  /*-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 283px;
  border: 1px solid #ccc;
  padding:10px;
  /*background-color: rgba(255,255,255,0.6);*/
  /* Fallback for web browsers that doesn't support RGBa
  background: rgb(248, 248, 255); */
  /* RGBa with 0.6 opacity
  background: rgba(248, 248, 255, 0.6); */
  /* For IE 5.5 - 7
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";*/

.booking h1 {
  font-size:40px;
  color:#e91126;
  font-family: 'open sans', Arial;
  margin:0px 0px 10px 0px;
}
.booking h5{font-size: 11px; padding: 0px; margin: 0px; position: relative; left: 6px;}

.booking ul li {list-style: none;}
.booking li {display:block; list-style: none; padding: 6 0 8; margin: 0;}
li.booking_ul {
  margin-bottom: 18px;
  clear: both;
  padding : 0px 5px;  font-size: 11px; padding-left: 3px;
}
.booking label {
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
  display: block;
}
.booking a {padding-left: 5px; color: #555}
.booking p{padding: 0px; margin: 0px; padding-left: 5px;}
.added{background: rgba(190, 190, 190, 0.6); padding:10px 0px; padding-bottom: 1px;margin: 0px; margin-bottom: 10px; margin-top: 60px; clear: both;}



/** my form **/
.my_input_style {-webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb; box-shadow: inset 1px 1px 3px 0px #bbbbbb; background:#ffffff; padding:10px; border:0px;}
.no_border {
  border:0px;
}
.btn_search {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:20px;
  font-weight:normal;
  padding:12px 60px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
}
.btn_go {
  /*background:url('/assets/images/assets/lets_go.png') top left no-repeat;
  width:115px;
  height:40px;*/
  border:0px;
  padding:8px 22px 8px 22px;
  cursor:pointer;
  font-size:15px;
  color:#ffffff;
  font-family: 'open sans', Arial;
  /* font-weight:bold; */
  display:inline-block;
}
.input_light {
  padding: 5px;
  border: 1px solid #E1E1E1;
  color: #a6a6a6;
  margin:2px;
}
.input_error {
  background:#ffd6d6;
  border:1px solid #e13131;
  padding: 5px;
  margin:2px;
}
.span_input_error {
  background:#ffd6d6;
  border:1px solid #e13131;
  padding: 5px;
  margin:2px;
  color:#930707;
  position:relative;
  z-index:100;
}
.span_input_error1 {
  background:#ffd6d6;
  border:1px solid #e13131;
  padding: 5px;
  margin:2px;
  color:#930707;
  display:block;
}
.full_width {
  width:100%;
}
span.red {
  color:#cd0000;
}



/*=== CAROUSEL
==================================================*/
#billboard { height:520px; display: block; margin:0; overflow:hidden; }
.billboard {height:520px; display: block; margin:0;}
.carousel {width: 980px; padding: 0; margin:0;}

.carousel .prev,
.carousel .next {
  float: left;
  width: 50px;
  padding: 10px 0 0;
  }

.carousel .prev span,
.carousel .next span {
  display: block;
  width: 30px;
  margin: 0 auto;
  height: 30px;
  overflow: hidden;
  background-color: #AAA;
  color: #fff;
  font-size: 2.8em;
  line-height: 1.1;
  text-align: center;
  cursor: pointer;
  }

.carousel .prevDisabled span,
.carousel .nextDisabled span {
  background-color: #EEE;
  cursor: default;
  }

.carousel .prev span:hover,
.carousel .next span:hover {
  background-color: #333;
  }

.carousel .prevDisabled span:hover,
.carousel .nextDisabled span:hover {
  background-color: #EEE;
  }

.carousel .visibleStage {
  float: left;
  width: 350px;
  overflow: hidden;
  position: relative;
  }

.carousel .visibleStage ul {
  width: 350px;
  position: relative;
  top: 0px;
  left: 0px;
  }

.carousel .visibleStage ul li {
  float: left;
  width: 70px;
  /* padding: 0 10px; */
  }

.carousel .visibleStage ul li a {
  display: block;
  width: 50px;
  margin: 0 auto;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  }

.carousel .carouselPagin {
  clear: left;
  padding: 10px 0 0 5px;
  width: 100px;
  margin: 0 auto
  }

.carousel .carouselPagin span {
  /* background-color: #CCC; */
  display: block;
  float: left;
  width: 11px;
  height: 11px;
  padding: 0;
  margin-right: 5px;
  overflow: hidden;
  color: #fff;
  font-size: 1px;
  line-height: 1px;
  text-indent: -9999px;
  cursor: pointer;
  -moz-border-radiust: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.carousel .carouselPagin span.active {
  /* background-color: #333; */
  }

.carousel .carouselPagin span:hover {
/*  background-color: #AAA; */
  }

.content-side-layout {
  margin-top: 30px;
  margin-bottom: 10px;
  }



/*=== TOOLTIP
==================================================*/
#tooltip,
.tooltip-data {
  display: block;
  position: absolute;
  left: -10000px;
  top: -10000px;
  z-index: 50;
  }

.tooltipChromeTopRight,
.tooltipChromeBottomRight,
.tooltipChromeArrow {
  display: none;
  }

/*=== HEADER
==================================================*/
#th-header {width: 100%; min-width: 980px; background-color:#ffffff;}

#th-header .wrapper {width: 980px; margin: 0 auto; text-align: left; padding: 0;}

#th-header h1,
#th-header h1 a {
  display: block;
  float: left;
  width: 95px;
  height: 36px;
  padding: 35px 3px 0 3px;
  color: #FFF;
  font-size: 1px;
  line-height: 1px;
  text-indent: -10000px;
  }

#th-header h1 a {
  float: none;
  padding: 0;
  }

#th-header .global-nav {
  float: right;
  width: 780px;
  padding: 0 3px 10px 0;
  }

#th-header .deal-alerts {
  padding: 7px 0 0;
  color: #ff9900;
  text-align: right;
  font-size: 12px;
  line-height: 21px;
  height: 31px;
  overflow: hidden;
  }

#th-header .deal-alerts .rgt-arrow {
  display: inline-block;
  background: transparent url(/assets/images/rgt-arrow.png) 0 0 no-repeat;
  width: 6px;
  height: 9px;
  margin-left: 4px;
  }

#th-header .deal-alerts img {
  padding: 0 0 5px;
  }

#th-header .deal-alerts span {
  color: #4d90cd;
  }
#th-header .deal-alerts a:hover span {
  color: #004990;
  text-decoration: underline;
  }

#th-header .deal-alerts a {
  color: #ff9900;
  }

#th-header .deal-alerts a:hover {
  text-decoration: none;
  }

#th-header .deal-alerts a:hover .rgt-arrow {
  background-position: 0 -14px;
  }

#th-header .login-utility {
  padding: 8px 0 0;
  }
#th-header .login-utility li {
  float: right;
  }

#th-header .login-utility li a {
  display: block;
  height: 27px;
  color: #4d90cd;
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
  overflow: hidden;
  padding: 0 7px;
  }

#th-header .login-utility li a:hover {
  color: #004990;
  text-decoration: underline;
  }

#th-header .tune-hotel-sign-in {
  background: url(/assets/images/ui/bg-tune-hotel-label.jpg) no-repeat 8px 0;
  float: right;
  width: 72px;
  padding: 0 0 0 140px;
  height: 27px;
  overflow: hidden;
  }

#th-header .tune-hotel-join {
  width: 72px;
  padding: 0 0 0 7px;
  }

#th-header li.tune-hotel-sign-in a,
#th-header li.tune-hotel-sign-in a span,
#th-header li.tune-hotel-join a,
#th-header li.tune-hotel-join a span   {
  display: block;
  background: url(/assets/images/ui/bg-tune-hotel-btn.jpg) no-repeat 0 0 #4d90cd;
  height: 27px;
  overflow: hidden;
  color: #FFF;
  font-family: gotham-rouded-medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 0 3px;
  cursor: pointer;
  }

#th-header li.tune-hotel-sign-in a:hover,
#th-header li.tune-hotel-join a:hover {
  text-decoration: none;
  background-position: 0 -66px;
  }

#th-header li.tune-hotel-sign-in a span,
#th-header li.tune-hotel-join a span {
/*  background: url(/assets/images/ui/bg-tune-hotel-btn.jpg) no-repeat right -33px;
*/  width: auto;
  height: 19px;
  padding: 8px 3px 0 0;
  cursor: pointer;
  }

#th-header li.tune-hotel-sign-in a:hover span,
#th-header li.tune-hotel-join a:hover span {
  background-position: right -99px;
  background-color: #004990;
  }

#th-header .main-nav { }


#th-backdrop {
  background-color: #f1f5f8;
  margin: 0 3px 10px;
  padding: 0 0 0;
  height: 126px;
  overflow: hidden;
  display: none;
  }




/*=== Footer
==================================================*/

#th-footer { color: #8f8f8f; font-size: 90%; line-height: 1.6em; text-align: left; width: 980px; margin: 0 auto; padding: 10px 0 20px; }


#th-footer h5 {
   font-size: 120%;
   color:#fe2232;
}

#th-footer .body-wrap .sitemap-wrap ul {
    display: inline-block;
    float: left;
    width: 155px;

    }


.container .footer{
        text-align: left;
        line-height: 16px;
        font-size: 12px
        display:inline-block;
   }

#th-footer p {font-size: 12px; line-height: 16px; margin: 0; padding:0;}

#th-footer a {
  color: #333333;
  }

#th-footer a:hover {color: #4c4c4c; text-decoration: underline;   }

#th-footer .header-wrap {
  background: #f1f5f8 url(/assets/images/ui/bg-footer-bar-top.gif) no-repeat 0 0;
  width: 980px;
  margin: 0 auto;
  padding: 6px 0 0;
  }

#th-footer .header-inner {
  background: #f1f5f8 url(/assets/images/ui/bg-footer-bar-bottom.gif) no-repeat 0 bottom;
  padding: 0 10px 6px;
  }

#th-footer .header-wrap .app-wrap {
  float: left;
  width: 466px;
  }

#th-footer .header-wrap .search-wrap {
  float: left;
  width: 465px;
  margin-left: 10px;
  padding: 4px 0 0;
  }

#th-footer .header-wrap .search-wrap form {
  position: relative;
  }

#th-footer .header-wrap .search-wrap .search-inner {
    border-color: #C0C0C0 #F0F0F0 #E7E7E7 #C0C0C0;
  border-style: solid;
    border-width: 1px;
  /* Fallback declaration for unsupported browsers */
  background-image: url(/assets/images/ui/input-bg.png) 0 top repeat-x;
  /* Multiple Backgrounds using CSS3 */
  background: url(/assets/images/ui/input-bg.png) 0 top repeat-x,
        url(/assets/images/ui/input-bg.png) left 0 repeat-y,
        url(/assets/images/ui/input-bg.png) left top no-repeat,
        url(/assets/images/ui/input-bg.png) left top no-repeat;
  /* Declare background-color at the end to complete the cascade */
  background-color: #ffffff;
  width: 424px;
  height: 31px;
  padding-right: 40px;
  }

#th-footer .header-wrap .search-wrap .search-inner #search-box {
  font-size: 14px;
  border: 0;
  width: 420px;
  height: 20px;
  margin: 1px;
  padding: 5px;
  color: #4D90CD;
  }

#th-footer .header-wrap .search-wrap .search-inner .placeholder {
  color: #c0c0c0;
  }

#th-footer .header-wrap .search-wrap .search-inner #search-box:focus {
  outline: 0;
  }

#th-footer .header-wrap .search-wrap .search-inner #loupe-btn {
  position: absolute;
  top: 6px;
  right: 7px;
  background: transparent url(/assets/images/ui/loupe-btn-sp.gif) 0 0 no-repeat;
  text-indent: -10000px;
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 1px;
  line-height: 1px;
  color: #fff;
  }

#th-footer .header-wrap .search-wrap .search-inner #loupe-btn:hover {
  background: transparent url(/assets/images/ui/loupe-btn-sp.gif) 0 -25px no-repeat;
  }

#th-footer .body-wrap { width: 980px; margin: 15px auto; }

#th-footer .body-wrap .social-wrap {
    float: left;
    color: #000000;
    width: 50%;
    }

#th-footer .body-wrap .social-wrap li {
  margin: 5px 0;
  }

#th-footer .body-wrap .social-wrap li a {
  font-weight: bold;
  }

#th-footer .body-wrap .social-wrap li .inner-media p {
  color: #999;
  }

#th-footer .body-wrap .social-wrap li .inner-media p a {
  color: #4D90CD;
  }

#th-footer .body-wrap .social-wrap li .inner-media p a:hover {
  color: #004990;
  }

#th-footer .body-wrap .social-wrap li .img {
  background: transparent url(/assets/images/ui/social-icons-sp.gif) 0 0 no-repeat;
  width: 31px;
  height: 31px;
  }

#th-footer .body-wrap .social-wrap li.facebook .like-txt {
  color: #4d90cd;
  }

#th-footer .body-wrap .social-wrap li.twitter .img {
  background-position: -35px 0;
  }

#th-footer .body-wrap .social-wrap li.youtube .img {
  background-position: -70px 0;
  }

#th-footer .body-wrap .social-wrap li.btblog .img {
  background-position: -105px 0;
  }

#th-footer .body-wrap .sitemap-wrap {
    /*float: right;
    width: 50%;
    margin-left: 10px;*/
    }

#th-footer .body-wrap .sitemap-wrap ul {
    display: inline-block;
    float: left;
    width: 155px;

    }


#th-footer .body-wrap .sitemap-wrap ul.last {
  width: 150px;
  margin: 0;
  }

#th-footer .body-wrap .sitemap-wrap li.list-head {padding: 2px 0 5px; color: #e80000; font-family: 'gr-book', Arial, Helvetica, sans-serif; font-weight: 600; font-size: 12px; text-transform: uppercase; line-height: 1.1;  }

html.ie9 #th-footer .body-wrap .sitemap-wrap li.list-head {
  font-weight: 900;
}

#th-footer .body-wrap .sitemap-wrap li, #th-footer .body-wrap .sitemap-wrap li a {
  font-size: 12px;
  font-weight: normal;
 /* color: #4d90cd;*/
  margin: 3px 0;
  }

#th-footer .body-wrap .sitemap-wrap li, #th-footer .body-wrap .sitemap-wrap li a:hover {color: #4c4c4c}

.header, .footer, .cont_960, .cont_880, .cont_800, .cont_720, .cont_640, .cont_560, .cont_480, .cont_400, .cont_320, .cont_240, .cont_290{margin:0 auto; vertical-align:top;  -moz-transition:all 0.25s ease-out 0s; -webkit-transition:all 0.25s ease-out 0s; -o-transition:all 0.25s ease-out 0s; -ms-transition:all 0.25s ease-out 0s; position:relative}
.header, .footer, .cont_960{width:962px;}

/*=== CLEAR FIX / HOLLY HACK FOR STANDARD
    COMPLIANT BROWSERS AND IE 6-7
==================================================*/
body:after,
.clearfix:after,
#container:after,
#th-header:after,
#th-header .login-utility:after,
#th-primary-links:after,
#th-primary-links .th-secondary-links .plan-a-trip-submenu:after,
#th-primary-links .th-secondary-links .flying-on-jetblue-submenu:after,
#th-primary-links .th-secondary-links .travel-information-submenu:after,
#th-primary-links .th-secondary-links .plan-a-trip-submenu ul:after,
#th-primary-links .th-secondary-links .flying-on-jetblue-submenu ul:after,
#th-primary-links .th-secondary-links .travel-information-submenu ul:after,
.carousel:after,
.carousel .visableStage ul:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  }

html.oldie .clearfix,
html.oldie #container,
html.oldie #th-header,
html.oldie #th-header .login-utility,
html.oldie #th-primary-links,
html.oldie .carousel,
html.oldie .carousel .visableStage ul {
  zoom: 1;
  _height: 1%;
  }



/** page classes */
div.overlay {width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1000;}
div.overlay div.screen {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 3; cursor: pointer;}
div.overlay div.modal {margin: 0 auto; position: relative; top: auto; left: auto; z-index: 10;}

.MAC
{
    font-weight:bold;
}
#subpromo-wrap {
margin-top: 10px;
}

#subpromo-wrap {
zoom: 1;
  _height: 1%;
}

.row, .clearfix {
zoom: 1;
}

.group {
clear: both;
zoom: 1;
}

.three-up {
display: inline-block;
margin-left: 0;
margin-right: 0;
padding: 1%;
vertical-align: top;
width: 30%;
}

.feature-title {
color: #231F20;
font: 30px/1.35 "gr-book",arial,sans-serif;
font-weight: 100;
}

/*.theme {
display: inline-block;
padding: 2%;
vertical-align: top;
width: 47%;
}

.three-up.theme {
display: inline-block;
margin-left: 0;
margin-right: 0;
padding: 1%;
vertical-align: top;
width: 30%;
}

.theme:nth-child(1n+3), .one-of-two {
margin-right: 6%;
}*/

/*========previous styles from default css
=================================================*/

#logo {
  background: url("/assets/media/images/logo.png") no-repeat scroll left top transparent;
  float: left;
  width: 150px;
  height:120px;
}

#link_header {
  height:57px;
  margin-top:10px;
}

#header_nav {
    float: right;
}

#header_menu {
  margin:0px;
  padding:0px;
  width:700px;

}

#this_country_lang {
  padding: 7px 10px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  font-weight: bold;
  width: 180px;
  margin-right: 10px;
  margin-top: 1px;
  background: url('../images/assets/arrow_down.png') center right no-repeat;
}

.small_flag {
  margin-top:8px;
}

.backdrop1
{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#444444;
  opacity: .0;
  filter:alpha(opacity=0);
  z-index:99991;
  display:none;
}

.search_box {
  border: 1px solid #f3f3f3;
  -webkit-border-radius: 5px;
    border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
  padding:5px;
  background: url('../images/assets/search.png') top right no-repeat;
}

.no_border {
  border:0px;
}

#footer_container {
  text-align: left;
  width:100%;
  background:#f4f4f4 url('../images/assets/foot_bg.jpg') top left repeat-x;
  margin-top:10px;
}

#th-footer .col2 .media img{ padding-left: 20px; margin: 5px; }


.yellow {
background-color: #ffc40d !important;
}

.green {
background-color: #00a300 !important;
}

.blue {
background-color: #2d89ef !important;
}

.dark-red {
background-color: #b91d47 !important;
}

.box-unit {
position: relative;
margin: 0 0 10px;
padding: 20px;
background-color: #f1f1f1;
width: 100%;
}


/*
===============================================================
Inner Pages Banner
===============================================================
*/

.banner-inner { border-bottom: solid 1px #dcdcdc; min-height: 100px; padding:20px 0 20px; }
.banner-title{
  color: #444;
  font-size: 32px;
  font-weight: 100;
}
.banner-description{
  color: #666;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
 
}
.banner-inner.map{
  background :#efefef;  
  border-bottom: solid 1px #dcdcdc;
  min-height: 100px;
  padding:0;
}





.fg-color-blue {
  color: #2d89ef !important;
}
.fg-color-blueLight {
  color: #44a3aa !important;
}
.fg-color-blueDark {
  color: #2b5797 !important;
}
.fg-color-green {
  color: #00a300 !important;
}
.fg-color-greenLight {
  color: #99b433 !important;
}
.fg-color-greenDark {
  color: #1e7145 !important;
}
.fg-color-red {
  color: #b91d47 !important;
}
.fg-color-yellow {
  color: #ffc40d !important;
}
.fg-color-orange {
  color: #e3a21a !important;
}
.fg-color-orangeDark {
  color: #da532c !important;
}
.fg-color-pink {
  color: #9f00a7 !important;
}
.fg-color-pinkDark {
  color: #7e3878 !important;
}
.fg-color-purple {
  color: #603cba !important;
}
.fg-color-darken {
  color: #1d1d1d !important;
}
.fg-color-white {
  color: #ffffff !important;
}
.fg-color-grayDark {
  color: #525252 !important;
}

.bgc-black{ background-color:#1a1a1a !important;
}

	{}
.bgc-blue {
  background-color: #2d89ef !important;
}
.bgc-blueLight {
  background-color: #44a3aa !important;
}
.bgc-blueDark {
  background-color: #2b5797 !important;
}
.bgc-green {
  background-color: #00a300 !important;
}
.bgc-greenLight {
  background-color: #99b433 !important;
}
.bgc-greenDark {
  background-color: #1e7145 !important;
}
.bgc-red {
  background-color: #b91d47 !important;
}
.bgc-yellow {
  background-color: #ffc40d !important;
}
.bgc-orange {
  background-color: #e3a21a !important;
}
.bgc-orangeDark {
  background-color: #da532c !important;
}
.bgc-pink {
  background-color: #9f00a7 !important;
}
.bgc-pinkDark {
  background-color: #7e3878 !important;
}
.bgc-purple {
  background-color: #603cba !important;
}
.bgc-darken {
  background-color: #1d1d1d !important;
}
.bgc-white {
  background-color: #ffffff !important;
}
.bgc-grayDark {
  background-color: #525252 !important;
}
[class*=border-color] {
  border: 1px solid;
}
.border-color-blue {
  border-color: #2d89ef !important;
}
.border-color-blueLight {
  border-color: #44a3aa !important;
}
.border-color-blueDark {
  border-color: #2b5797 !important;
}
.border-color-green {
  border-color: #00a300 !important;
}
.border-color-greenLight {
  border-color: #99b433 !important;
}
.border-color-greenDark {
  border-color: #1e7145 !important;
}
.border-color-red {
  border-color: #b91d47 !important;
}
.border-color-yellow {
  border-color: #ffc40d !important;
}
.border-color-orange {
  border-color: #e3a21a !important;
}
.border-color-orangeDark {
  border-color: #da532c !important;
}
.border-color-pink {
  border-color: #9f00a7 !important;
}
.border-color-pinkDark {
  border-color: #7e3878 !important;
}
.border-color-purple {
  border-color: #603cba !important;
}
.border-color-darken {
  border-color: #1d1d1d !important;
}
.border-color-white {
  border-color: #ffffff !important;
}
.border-color-grayDark {
  border-color: #525252 !important;
}

.circle {
float: right;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 300px;
height: 300px;
background: rgba(44,50,60,0.9);
margin: 5% 5% 0 0;
position: relative;
z-index: 100;
}

header .bubblesWrapper {
width: 427px;
margin: 0 auto;
padding-right: 499px;
}

media="screen"
header .bubbles {
position: relative;
left: -54px;
top: 92px;
}

header .bubbles .headline {
float: none;
width: 427px;
height: 427px;
margin: 0;
display: table;
background-image: url('/assets/img/hero-bubble-large.png');
background-repeat: no-repeat;
background-size: 100% auto;
}


header .bubbles .headline .h1-large {
font-size: 42px;
line-height: 48px;
}

header .bubbles .headline h1 {
display: table-cell;
margin-bottom: 28px;
padding: 58px 67px;
color: #fff;
vertical-align: middle;
}
