/*!
 * Preboot v2 Docs
 * Styles for presenting Preboot features and benefits.
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.hll {
  background-color: #ffffcc;
}
/*{ background: #f0f3f3; }*/
.c {
  color: #999;
}
/* Comment */
.err {
  color: #AA0000;
  background-color: #ffaaaa;
}
/* Error */
.k {
  color: #006699;
}
/* Keyword */
.o {
  color: #555555;
}
/* Operator */
.cm {
  color: #0099FF;
  font-style: italic;
}
/* Comment.Multiline */
.cp {
  color: #009999;
}
/* Comment.Preproc */
.c1 {
  color: #999;
}
/* Comment.Single */
.cs {
  color: #999;
}
/* Comment.Special */
.gd {
  background-color: #FFCCCC;
  border: 1px solid #cc0000;
}
/* Generic.Deleted */
.ge {
  font-style: italic;
}
/* Generic.Emph */
.gr {
  color: #ff0000;
}
/* Generic.Error */
.gh {
  color: #003300;
}
/* Generic.Heading */
.gi {
  background-color: #CCFFCC;
  border: 1px solid #00cc00;
}
/* Generic.Inserted */
.go {
  color: #aaaaaa;
}
/* Generic.Output */
.gp {
  color: #000099;
}
/* Generic.Prompt */
/* Generic.Strong */
.gu {
  color: #003300;
}
/* Generic.Subheading */
.gt {
  color: #99cc66;
}
/* Generic.Traceback */
.kc {
  color: #006699;
}
/* Keyword.Constant */
.kd {
  color: #006699;
}
/* Keyword.Declaration */
.kn {
  color: #006699;
}
/* Keyword.Namespace */
.kp {
  color: #006699;
}
/* Keyword.Pseudo */
.kr {
  color: #006699;
}
/* Keyword.Reserved */
.kt {
  color: #007788;
}
/* Keyword.Type */
.m {
  color: #ff6600;
}
/* Literal.Number */
.s {
  color: #d44950;
}
/* Literal.String */
.na {
  color: #4f9fcf;
}
/* Name.Attribute */
.nb {
  color: #336666;
}
/* Name.Builtin */
.nc {
  color: #00AA88;
}
/* Name.Class */
.no {
  color: #336600;
}
/* Name.Constant */
.nd {
  color: #9999ff;
}
/* Name.Decorator */
.ni {
  color: #999999;
}
/* Name.Entity */
.ne {
  color: #CC0000;
}
/* Name.Exception */
.nf {
  color: #cc00ff;
}
/* Name.Function */
.nl {
  color: #9999ff;
}
/* Name.Label */
.nn {
  color: #00CCFF;
}
/* Name.Namespace */
.nt {
  color: #2f6f9f;
}
/* Name.Tag */
.nv {
  color: #003333;
}
/* Name.Variable */
.ow {
  color: #000000;
}
/* Operator.Word */
.w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.mf {
  color: #ff6600;
}
/* Literal.Number.Float */
.mh {
  color: #ff6600;
}
/* Literal.Number.Hex */
.mi {
  color: #ff6600;
}
/* Literal.Number.Integer */
.mo {
  color: #ff6600;
}
/* Literal.Number.Oct */
.sb {
  color: #cc3300;
}
/* Literal.String.Backtick */
.sc {
  color: #cc3300;
}
/* Literal.String.Char */
.sd {
  color: #CC3300;
  font-style: italic;
}
/* Literal.String.Doc */
.s2 {
  color: #cc3300;
}
/* Literal.String.Double */
.se {
  color: #CC3300;
}
/* Literal.String.Escape */
.sh {
  color: #cc3300;
}
/* Literal.String.Heredoc */
.si {
  color: #aa0000;
}
/* Literal.String.Interpol */
.sx {
  color: #cc3300;
}
/* Literal.String.Other */
.sr {
  color: #33aaaa;
}
/* Literal.String.Regex */
.s1 {
  color: #cc3300;
}
/* Literal.String.Single */
.ss {
  color: #ffcc33;
}
/* Literal.String.Symbol */
.bp {
  color: #336666;
}
/* Name.Builtin.Pseudo */
.vc {
  color: #003333;
}
/* Name.Variable.Class */
.vg {
  color: #003333;
}
/* Name.Variable.Global */
.vi {
  color: #003333;
}
/* Name.Variable.Instance */
.il {
  color: #ff6600;
}
/* Literal.Number.Integer.Long */
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}
html,
body {
  background-color: #fff;
}
body {
  padding: 0;
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #555;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  color: #2a6496;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0 10px;
  font-weight: bold;
  line-height: 1.2;
  color: #333;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h3 a,
h3 a:hover {
  color: inherit;
}
h4 {
  font-size: 18px;
  margin-bottom: 0;
}
p {
  margin: 0 0 15px;
}
.lead {
  font-size: 18px;
  line-height: 1.25;
  color: #999999;
}
ol,
ul {
  margin: 0 0 15px 25px;
  padding: 0;
}
.list-unstyled {
  margin-left: 0;
}
.list-unstyled li {
  display: block;
}
code,
pre {
  padding: 0 3px 2px;
  color: #333;
  border-radius: 4px;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 15px;
  margin: 0 0 20px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
.highlight {
  padding: 14px;
  margin-bottom: 20px;
  line-height: 20px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-bottom: 0;
  font-size: 16px;
  background-color: transparent;
  border: 0;
}
.highlight pre .lineno {
  display: inline-block;
  width: 20px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.grid-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .grid-4 {
    float: left;
    width: 33.33333333333333%;
  }
}
.header-divider {
  margin-top: 60px;
}
.header-divider:after {
  display: block;
  content: "";
  width: 25%;
  height: 4px;
  margin: 20px 0 26px;
  background-color: #555;
  border: 0;
  opacity: .5;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 760px;
}
.masthead {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #04a5e6;
  background-image: -moz-linear-gradient(top, #542687, #04a5e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#542687), to(#04a5e6));
  background-image: -webkit-linear-gradient(top, #542687, #04a5e6);
  background-image: -o-linear-gradient(top, #542687, #04a5e6);
  background-image: linear-gradient(to bottom, #542687, #04a5e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff542687', endColorstr='#ff04a5e6', GradientType=0);
}
.masthead-inner {
  padding: 30px;
}
.masthead h1 {
  margin-top: 0;
  color: #fff;
  letter-spacing: -1px;
}
.masthead .header-divider:after {
  width: 50%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.masthead .list-unstyled {
  font-size: 85%;
  margin-top: 0;
  margin-bottom: 20px;
}
.masthead .social-buttons {
  margin-bottom: 0;
}
.masthead a {
  font-weight: bold;
  color: #fff;
}
.masthead a:hover {
  text-decoration: none;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}
.toc {
  margin-left: 0;
}
.toc li {
  display: block;
}
.toc a {
  display: block;
  margin-left: -10px;
  padding: 4px 10px;
}
.toc a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  border-radius: 3px;
}
.color-swatches {
  margin: 0 -5px 20px;
}
.color-swatches:before,
.color-swatches:after {
  content: " ";
  display: table;
}
.color-swatches:after {
  clear: both;
}
.color-swatch {
  float: left;
  width: 80px;
  height: 80px;
  margin: 5px 2px;
}
.color-swatch.black-10 {
  background-color: #e6e6e6;
}
.color-swatch.black-20 {
  background-color: #cccccc;
}
.color-swatch.black-30 {
  background-color: #b3b3b3;
}
.color-swatch.black-40 {
  background-color: #999999;
}
.color-swatch.black-50 {
  background-color: #808080;
}
.color-swatch.black-60 {
  background-color: #666666;
}
.color-swatch.black-70 {
  background-color: #4d4d4d;
}
.color-swatch.black-80 {
  background-color: #333333;
}
.color-swatch.black-90 {
  background-color: #191919;
}
.color-swatch.brand-primary {
  background-color: #428bca;
}
.color-swatch.brand-success {
  background-color: #5cb85c;
}
.color-swatch.brand-warning {
  background-color: #f0ad4e;
}
.color-swatch.brand-danger {
  background-color: #d9534f;
}
.color-swatch.brand-info {
  background-color: #5bc0de;
}
.btn {
  display: block;
  margin-bottom: 5px;
  padding: 15px 20px;
  font-weight: bold;
  line-height: 1;
  color: #7a43b6;
  text-align: center;
  letter-spacing: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn:hover,
.btn:active {
  color: #fff;
  text-decoration: none;
  background-color: #7a43b6;
  border-color: #7a43b6;
}
.btn:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
  border-color: #613591;
}
@media screen and (min-width: 820px) {
  body {
    font-size: 18px;
  }
  .highlight {
    line-height: 25px;
  }
  .lead {
    font-size: 24px;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  .container {
    margin-left: 30%;
    margin-right: 10%;
    padding-left: 0;
    padding-right: 0;
  }
  .masthead {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 25%;
    background-attachment: fixed;
  }
  .masthead:after {
    position: absolute;
    top: -20px;
    right: 0;
    bottom: -20px;
    left: -10px;
    z-index: 10;
    display: block;
    content: " ";
    box-shadow: inset -5px 0 25px rgba(0, 0, 0, 0.3);
  }
  .masthead-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
  }
}
@media screen and (min-width: 1100px) {
  .masthead h1 {
    font-size: 60px;
  }
}
