/* Elastislide Style */
.es-carousel-wrapper{
	padding:10px 37px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	background: #f2f2f2;
	margin-top:10px;
}
.es-carousel{
	overflow:hidden;
	width:560px;
	margin-left:40px;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#d5d5d5;
}
.es-carousel ul li a.active, .es-carousel ul li a:hover{
	border-color:#d30000;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:24px;
	background:transparent url(../images/assets/nav.png) no-repeat top left;
	width:16px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:24px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}