/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */
.date{ 
	/* background-image: url(../images/assets/sprite.png);
    background-repeat: no-repeat;
	background-position: -287px -864px;
	height: 33px; width: 135px;
	outline:none; */
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
	background:#ffffff;
	height: 33px;
	width: 124px;
	background:#ffffff url('../images/assets/call.png') center right no-repeat;
	padding-left:5px;
	cursor:pointer;
	border:1px solid #E1E1E1;
}
.date_clean{
	border:1px solid #E1E1E1;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
    box-shadow: inset 0px 0px 0px 0px #ffffff;
	border-radius:0px;
	height: 26px;
	width: 124px;
	background:#ffffff url('../images/assets/call.png') center right no-repeat;
	padding-left:5px;
	cursor:pointer;
	margin:2px;
} 
/* calendar root element */
#calroot {
    /* place on top of other elements. set a higher value if nessessary */
    z-index:2002;

    font-family:sans-serif;
    background-color:#fff;
    border:1px solid #ccc;
    padding-top:10px;
   /*  height:160px; */
    width:227px;
    display:none;
    margin:0 0 0 -7px;

    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
    padding:2px 0;
    height:22px;
}

#caltitle {
    font-size:14px;
    color:#0150D1;
    float:left;
    text-align:center;
    width:160px;
    line-height:20px;
    text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
    display:block;
    width:9px;
    height:16px;
    background:transparent url(../images/assets/arrows_small.png) 0px 0px no-repeat;
    float:left;
    cursor:pointer;
    margin-left:9px;
}

#calnext {
    background:transparent url(../images/assets/arrows_small.png) -13px 0px no-repeat;
    float:right;
    margin-right:9px;
}

#calprev.caldisabled, #calnext.caldisabled {
    visibility:hidden;
}

/* year/month selector */
#caltitle select {
    font-size:10px;
}

/* names of the days */
#caldays {
    height:14px;
    border-bottom:1px solid #ddd;
}

#caldays span {
    display:block;
    float:left;
    width:32px;
    text-align:center;
    font-size:11px;
}

/* container for weeks */
#calweeks {
    background-color:#fff;
    margin-top:4px;
}

/* single week */
.calweek {
    clear:left;
    height:22px;
}

/* single day */
.calweek a {
    display:block;
    float:left;
    width:31px;
    height:20px;
    text-decoration:none;
    font-size:11px;
    margin-left:1px;
    text-align:center;
    line-height:20px;
    color:#666;
    border-radius:3px;
    -webkit-border-radius:3px;
}

/* different states */
.calweek a:hover, .calfocus {
    background-color:#ddd;
}

/* sunday */
a.calsun {
    color:red;
}

/* offmonth day */
a.caloff {
    color:#ccc;
}

a.caloff:hover {
    background-color:rgb(245, 245, 250);
}


/* unselecteble day */
a.caldisabled {
    background-color:#efefef !important;
    color:#ccc	!important;
    cursor:default;
}


/* current date */
#calcurrent {
    background-color:#498CE2;
    color:#fff;
}

/* today */
#caltoday {
    background-color:#999;
    color:#fff;
}
