/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}


/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.group:before, .group:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.group:after, .clearfix:after { clear: both; }
.group, .clearfix { zoom: 1; }


/*=== FOUNDATION
==================================================*/

html {font-size: 62.5%;}
h1, h2, h3, h4, h5, h6 {line-height: 1.1; padding: 0; margin: 0; font-family: din-web-jetblue, Arial, Helvetica, sans-serif; font-weight:600;}
h1 {font-size: 44px;}
h2 {font-size: 28px;}
h3 {font-size: 20px;}
h4 {font-size: 20px; font-family: Arial, Helvetica, Verdana, sans-serif;}
h5 {font-size: 14px; font-family: Arial, Helvetica, Verdana, sans-serif;}
h6 {font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;}
a {text-decoration: none; color: #4d90cd;}
a:hover {text-decoration: none; color: #004990;}
strong {font-weight: 700;}
p {font-size: 12px; line-height: 16px; margin: 0;}
p a {color: #4d90cd;}
p a:hover {text-decoration: underline;}
ol, ul, dl {list-style: none; margin: 0; padding: 0;}


body {
	background: url(/img/bg-jetblue-body-logoonly.jpg) no-repeat center top #FFF ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	/* text-align: center; */
	color: #454545;
	min-width: 963px;
	}

.floatleft{float:left;}
.floatright{float:right;}
.clear{clear:both;}



/* ====================================================================================================
 * Primary styles: START
 *
 *
==================================================================================================== */

/*=== Grid Layout
Author: gan
==================================================*/

/* Structure */
.twelve .col1,
.twelve .col2,
.twelve .col3,
.twelve .col4,
.twelve .col5,
.twelve .col6,
.twelve .col7,
.twelve .col8,
.twelve .col9,
.twelve .col10,
.twelve .col11,
.twelve .col12,
.six .col1,
.six .col2,
.six .col3,
.six .col4,
.six .col5,
.six .col6,
.four .col1,
.four .col2,
.four .col3,
.four .col4 { float: left; margin-left: 16px; }

/* Alpha */
.twelve .first,
.six .first,
.four .first { margin: 0; }

/* Twelve Colums */
.twelve .col1 { width:67px; }
.twelve .col2 { width:150px; }
.twelve .col3 { width:233px; }
.twelve .col4 { width:316px; }
.twelve .col5 { width:399px; }
.twelve .col6 { width:482px; }
.twelve .col7 { width:565px; }
.twelve .col8 { width:648px; }
.twelve .col9 { width:731px; }
.twelve .col10 { width:814px; }
.twelve .col11 { width:897px; }
.twelve .col12 { width:980px; margin:0; }

/* Six Columns */
.six .col1 { width: 150px; }
.six .col2 { width: 316px; }
.six .col3 { width: 482px; }
.six .col4 { width: 648px; }
.six .col5 { width: 814px; }
.six .col6 { width: 980px; margin: 0; }

/* Four Columns */
.four .col1 { width: 233px; }
.four .col2 { width: 482px; }
.four .col3 { width: 731px; }
.four .col4 { width: 980px; margin:0; }

/* Container */

#container { position: relative; width: 980px; margin: 0 auto; text-align: left; }



body.third-party #container {
	padding: 30px 0 30px;
	}

/*=== CAROUSEL
==================================================*/
#billboard { height:420px; display: block; }
.carousel { width: 980px; padding: 0; margin:0;}

.carousel .prev,
.carousel .next {
	float: left;
	width: 50px;
	padding: 10px 0 0;
	}

.carousel .prev span,
.carousel .next span {
	display: block;
	width: 30px;
	margin: 0 auto;
	height: 30px;
	overflow: hidden;
	background-color: #AAA;
	color: #fff;
	font-size: 2.8em;
	line-height: 1.1;
	text-align: center;
	cursor: pointer;
	}

.carousel .prevDisabled span,
.carousel .nextDisabled span {
	background-color: #EEE;
	cursor: default;
	}

.carousel .prev span:hover,
.carousel .next span:hover {
	background-color: #333;
	}

.carousel .prevDisabled span:hover,
.carousel .nextDisabled span:hover {
	background-color: #EEE;
	}

.carousel .visibleStage {
	float: left;
	width: 350px;
	overflow: hidden;
	position: relative;
	}

.carousel .visibleStage ul {
	width: 350px;
	position: relative;
	top: 0px;
	left: 0px;
	}

.carousel .visibleStage ul li {
	float: left;
	width: 70px;
	/* padding: 0 10px; */
	}

.carousel .visibleStage ul li a {
	display: block;
	width: 50px;
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
	background-color: #ffffff;
	}

.carousel .carouselPagin {
	clear: left;
	padding: 10px 0 0 5px;
	width: 100px;
	margin: 0 auto
	}

.carousel .carouselPagin span {
	/* background-color: #CCC; */
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	padding: 0;
	margin-right: 5px;
	overflow: hidden;
	color: #fff;
	font-size: 1px;
	line-height: 1px;
	text-indent: -9999px;
	cursor: pointer;
	-moz-border-radiust: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}

.carousel .carouselPagin span.active {
	/* background-color: #333; */
	}

.carousel .carouselPagin span:hover {
/* 	background-color: #AAA; */
	}

.content-side-layout {
	margin-top: 30px;
	margin-bottom: 10px;
	}



/*=== TOOLTIP
==================================================*/
#tooltip,
.tooltip-data {
	display: block;
	position: absolute;
	left: -10000px;
	top: -10000px;
	z-index: 50;
	}

.tooltipChromeTopRight,
.tooltipChromeBottomRight,
.tooltipChromeArrow {
	display: none;
	}

/*=== HEADER
==================================================*/
#th-header { width: 100%; min-width: 980px; 	}

#th-header .wrapper { width: 980px; margin: 0 auto; text-align: left; padding: 0; }

#th-header h1,
#th-header h1 a {
	display: block;
	float: left;
	width: 95px;
	height: 36px;
	padding: 35px 3px 0 3px;
	color: #FFF;
	font-size: 1px;
	line-height: 1px;
	text-indent: -10000px;
	}

#th-header h1 a {
	float: none;
	padding: 0;
	}

#th-header .global-nav {
	float: right;
	width: 780px;
	padding: 0 3px 10px 0;
	}

#th-header .deal-alerts {
	padding: 7px 0 0;
	color: #ff9900;
	text-align: right;
	font-size: 12px;
	line-height: 21px;
	height: 31px;
	overflow: hidden;
	}

#th-header .deal-alerts .rgt-arrow {
	display: inline-block;
	background: transparent url(/assets/images/rgt-arrow.png) 0 0 no-repeat;
	width: 6px;
	height: 9px;
	margin-left: 4px;
	}

#th-header .deal-alerts img {
	padding: 0 0 5px;
	}

#th-header .deal-alerts span {
	color: #4d90cd;
	}
#th-header .deal-alerts a:hover span {
	color: #004990;
	text-decoration: underline;
	}

#th-header .deal-alerts a {
	color: #ff9900;
	}

#th-header .deal-alerts a:hover {
	text-decoration: none;
	}

#th-header .deal-alerts a:hover .rgt-arrow {
	background-position: 0 -14px;
	}

#th-header .login-utility {
	padding: 8px 0 0;
	}
#th-header .login-utility li {
	float: right;
	}

#th-header .login-utility li a {
	display: block;
	height: 27px;
	color: #4d90cd;
	font-size: 12px;
	font-weight: 700;
	line-height: 27px;
	overflow: hidden;
	padding: 0 7px;
	}

#th-header .login-utility li a:hover {
	color: #004990;
	text-decoration: underline;
	}

#th-header .tune-hotel-sign-in {
	background: url(/assets/images/ui/bg-tune-hotel-label.jpg) no-repeat 8px 0;
	float: right;
	width: 72px;
	padding: 0 0 0 140px;
	height: 27px;
	overflow: hidden;
	}

#th-header .tune-hotel-join {
	width: 72px;
	padding: 0 0 0 7px;
	}

#th-header li.tune-hotel-sign-in a,
#th-header li.tune-hotel-sign-in a span,
#th-header li.tune-hotel-join a,
#th-header li.tune-hotel-join a span   {
	display: block;
	background: url(/assets/images/ui/bg-tune-hotel-btn.jpg) no-repeat 0 0 #4d90cd;
	height: 27px;
	overflow: hidden;
	color: #FFF;
	font-family: gotham-rouded-medium, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.1;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 0 3px;
	cursor: pointer;
	}

#th-header li.tune-hotel-sign-in a:hover,
#th-header li.tune-hotel-join a:hover {
	text-decoration: none;
	background-position: 0 -66px;
	}

#th-header li.tune-hotel-sign-in a span,
#th-header li.tune-hotel-join a span {
/*	background: url(/assets/images/ui/bg-tune-hotel-btn.jpg) no-repeat right -33px;
*/	width: auto;
	height: 19px;
	padding: 8px 3px 0 0;
	cursor: pointer;
	}

#th-header li.tune-hotel-sign-in a:hover span,
#th-header li.tune-hotel-join a:hover span {
	background-position: right -99px;
	background-color: #004990;
	}

#th-header .main-nav { background: #000; }


#th-backdrop {
	background-color: #f1f5f8;
	margin: 0 3px 10px;
	padding: 0 0 0;
	height: 126px;
	overflow: hidden;
	display: none;
	}

/*=== Main Navigation
==================================================*/


ul.nav_models, ul.nav_others { list-style:none; display:inline-block; position:relative; vertical-align:top; margin-top: 15px; margin-bottom: 15px; }
ul.nav_models li, ul.nav_others li{ display:inline-block; float:left; margin: 0px 15px; }
ul.nav_models li a{ padding:5px 10px; display:block; font-size:1.25em; color:#E3E3E3; text-decoration:none}
ul.nav_others li a{ padding:5px 10px; display:block; font-size:0.93em; color:#E3E3E3; text-decoration:none}
ul.nav_models li a:hover, ul.nav_others li a:hover, ul.nav_models li a.active, ul.nav_others li a.active{ color:#FFFFFF; text-decoration:underline}
.nav_divider{ position:relative; display:inline-block; vertical-align:top; padding-top:10px}
.nav_divider img{ float:left}
.nav_arrow{ display:none; height:0px; visibility:hidden}
a.nav_icon{ display:none !important}
.nav_others_cont{ margin:0; padding:0}
.nav_others_cont2{ margin:0; padding:0; visibility:hidden; width:0; height:0; display:none}

/* side nav*/
.side_nav{ position:relative; right:-50px}
.side_nav_title{ position:absolute; float:left; color:#666666; text-decoration:none; line-height:30px; font-style:italic; background:url(../images/tyt_side_nav_arrow.png) right center no-repeat; padding-right:15px}
.side_nav_back{position:absolute; font-style:italic; margin-left:0 !important;}
.side_nav_back span{padding:0px 15px !important}

.side_nav2{ position:absolute; right:53px; top:78px;  font-style:italic;}



/*bottom navi*/
.bottom_nav_title{ margin:0 auto; color:#666666; text-decoration:none; line-height:30px; font-style:italic; background:url(../images/tyt_side_nav_arrow.png) right center no-repeat; padding-right:15px}
.bottom_nav{ margin:0 auto; right:20px; font-style:italic}

/*back top navi */
.back_top_nav{ position:absolute; left:18px;  font-style:italic}

/* sub_nav */
.btn_back{ display:none; height:0px; visibility:hidden}
.nav_drop{
	left: -1px;
	display:block;
	width: 100%;
	top: auto;
	color: #212121;
	float: left;
	background-color: #2a2a2a;
}
.nav_drop_model{
	text-align: left;
	width: 160px;
	display: block;
	/*border: 1px solid #CCCCCC;*/
	border-top-width: 0;

	color: #212121;
	font-size: 12px;
	vertical-align: top;
	line-height: 18px;
	clear: right;
	float: left;
	padding-top: 20px;
	padding-right: 12px;
	padding-bottom: 18px;
	padding-left: 15px;
}

.nav_drop_divider{display:inline-block; padding:5px}

ul.nav_drop_list{
	padding: 0;
	list-style-position: outside;
	list-style-type: square;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 15px;
}

.nav_drop_list li{
	display: list-item; padding-bottom: 10px; font-size: 12px; line-height: 18px; color: #454545; }
.nav_drop_list a{ display:block; color:#999; text-decoration:none}
.nav_drop_list a:hover{ color:#999; text-decoration:underline}
.nav_drop_list .nav_test_drive{ color:#999}
.nav_drop_tab {color:#999; text-decoration:none}
.nav_drop h4 {color:#444444}
.nav_drop h2 {
	/*color:#999999;*/
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 6px;
}


/*=== Footer
==================================================*/

#th-footer {
	color: #454545;
	text-align: left;
	width: 968px;
	margin: 0 auto;
	padding: 10px 0 20px;
	}

#th-footer p { font-size: 12px; line-height: 16px; margin: 0; padding:0; }

#th-footer a {
	color: #4d90cd;
	}

#th-footer a:hover { color: #4c4c4c; text-decoration: underline; 	}

#th-footer .header-wrap {
	background: #f1f5f8 url(/assets/images/ui/bg-footer-bar-top.gif) no-repeat 0 0;
	width: 980px;
	margin: 0 auto;
	padding: 6px 0 0;
	}

#th-footer .header-inner {
	background: #f1f5f8 url(/assets/images/ui/bg-footer-bar-bottom.gif) no-repeat 0 bottom;
	padding: 0 10px 6px;
	}

#th-footer .header-wrap .app-wrap {
	float: left;
	width: 466px;
	}

#th-footer .header-wrap .search-wrap {
	float: left;
	width: 465px;
	margin-left: 10px;
	padding: 4px 0 0;
	}

#th-footer .header-wrap .search-wrap form {
	position: relative;
	}

#th-footer .header-wrap .search-wrap .search-inner {
    border-color: #C0C0C0 #F0F0F0 #E7E7E7 #C0C0C0;
	border-style: solid;
    border-width: 1px;
	/* Fallback declaration for unsupported browsers */
	background-image: url(/assets/images/ui/input-bg.png) 0 top repeat-x;
	/* Multiple Backgrounds using CSS3 */
	background: url(/assets/images/ui/input-bg.png) 0 top repeat-x,
				url(/assets/images/ui/input-bg.png) left 0 repeat-y,
				url(/assets/images/ui/input-bg.png) left top no-repeat,
				url(/assets/images/ui/input-bg.png) left top no-repeat;
	/* Declare background-color at the end to complete the cascade */
	background-color: #ffffff;
	width: 424px;
	height: 31px;
	padding-right: 40px;
	}

#th-footer .header-wrap .search-wrap .search-inner #search-box {
	font-size: 14px;
	border: 0;
	width: 420px;
	height: 20px;
	margin: 1px;
	padding: 5px;
	color: #4D90CD;
	}

#th-footer .header-wrap .search-wrap .search-inner .placeholder {
	color: #c0c0c0;
	}

#th-footer .header-wrap .search-wrap .search-inner #search-box:focus {
	outline: 0;
	}

#th-footer .header-wrap .search-wrap .search-inner #loupe-btn {
	position: absolute;
	top: 6px;
	right: 7px;
	background: transparent url(/assets/images/ui/loupe-btn-sp.gif) 0 0 no-repeat;
	text-indent: -10000px;
	border: 0;
	outline: 0;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	font-size: 1px;
	line-height: 1px;
	color: #fff;
	}

#th-footer .header-wrap .search-wrap .search-inner #loupe-btn:hover {
	background: transparent url(/assets/images/ui/loupe-btn-sp.gif) 0 -25px no-repeat;
	}

#th-footer .body-wrap {
	width: 963px;
	margin: 15px auto;
	}

#th-footer .body-wrap .social-wrap {
	float: left;
	color: #4d90cd;
	width: 476px;
	}

#th-footer .body-wrap .social-wrap li {
	margin: 5px 0;
	}

#th-footer .body-wrap .social-wrap li a {
	font-weight: bold;
	}

#th-footer .body-wrap .social-wrap li .inner-media p {
	color: #999;
	}

#th-footer .body-wrap .social-wrap li .inner-media p a {
	color: #4D90CD;
	}

#th-footer .body-wrap .social-wrap li .inner-media p a:hover {
	color: #004990;
	}

#th-footer .body-wrap .social-wrap li .img {
	background: transparent url(/assets/images/ui/social-icons-sp.gif) 0 0 no-repeat;
	width: 31px;
	height: 31px;
	}

#th-footer .body-wrap .social-wrap li.facebook .like-txt {
	color: #4d90cd;
	}

#th-footer .body-wrap .social-wrap li.twitter .img {
	background-position: -35px 0;
	}

#th-footer .body-wrap .social-wrap li.youtube .img {
	background-position: -70px 0;
	}

#th-footer .body-wrap .social-wrap li.btblog .img {
	background-position: -105px 0;
	}

#th-footer .body-wrap .sitemap-wrap {
	float: left;
	width: 476px;
	margin-left: 11px;
	}

#th-footer .body-wrap .sitemap-wrap ul {
	float: left;
	width: 152px;
	margin-right: 11px;
	}

#th-footer .body-wrap .sitemap-wrap ul.last {
	width: 150px;
	margin: 0;
	}

#th-footer .body-wrap .sitemap-wrap li.list-head { padding: 2px 0 5px; color: #e80000; font-family: din-web-jetblue, Arial, Helvetica, sans-serif; font-weight: 600; font-size: 16px; line-height: 1.1; 	}

html.ie9 #th-footer .body-wrap .sitemap-wrap li.list-head {
	font-weight: 900;
}

#th-footer .body-wrap .sitemap-wrap li, #th-footer .body-wrap .sitemap-wrap li a {
	font-size: 12px;
	font-weight: normal;
	color: #4d90cd;
	margin: 7px 0;
	}

#th-footer .body-wrap .sitemap-wrap li, #th-footer .body-wrap .sitemap-wrap li a:hover { color: #4c4c4c}

.header, .footer, .cont_960, .cont_880, .cont_800, .cont_720, .cont_640, .cont_560, .cont_480, .cont_400, .cont_320, .cont_240, .cont_290{ margin:0 auto; vertical-align:top;  -moz-transition:all 0.25s ease-out 0s; -webkit-transition:all 0.25s ease-out 0s; -o-transition:all 0.25s ease-out 0s; -ms-transition:all 0.25s ease-out 0s; position:relative}
.header, .footer, .cont_960{ width:980px; }

/*=== CLEAR FIX / HOLLY HACK FOR STANDARD
	  COMPLIANT BROWSERS AND IE 6-7
==================================================*/
body:after,
.clearfix:after,
#container:after,
#th-header:after,
#th-header .login-utility:after,
#th-primary-links:after,
#th-primary-links .th-secondary-links .plan-a-trip-submenu:after,
#th-primary-links .th-secondary-links .flying-on-jetblue-submenu:after,
#th-primary-links .th-secondary-links .travel-information-submenu:after,
#th-primary-links .th-secondary-links .plan-a-trip-submenu ul:after,
#th-primary-links .th-secondary-links .flying-on-jetblue-submenu ul:after,
#th-primary-links .th-secondary-links .travel-information-submenu ul:after,
.carousel:after,
.carousel .visableStage ul:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	}

html.oldie .clearfix,
html.oldie #container,
html.oldie #th-header,
html.oldie #th-header .login-utility,
html.oldie #th-primary-links,
html.oldie .carousel,
html.oldie .carousel .visableStage ul {
	zoom: 1;
	_height: 1%;
	}



/** All Alberto's style below here. */
div.overlay { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1000; }
div.overlay div.screen { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 3; cursor: pointer; }
div.overlay div.modal { margin: 0 auto; position: relative; top: auto; left: auto; z-index: 10; }

.MAC
{
    font-weight:bold;
}
#subpromo-wrap {
margin-top: 10px;
}

#subpromo-wrap {
zoom: 1;
	_height: 1%;
}


/*    */

#sidekicks-wrap {
min-height: 500px;
margin-top: 10px;
}


.sidekicks .row-two-wrap, .sidekicks .row-three-wrap {
margin: 10px 0 0;
}