
.menu_red_content4 {
	padding:12px 20px 12px 7px;
	height:25px;
	background:url('../images/assets/menu_red_split.png') top right no-repeat;
}
.menu_red_content4 h1 {
	color:#ffffff;
	font-family: 'open sans', Arial;
	font-size:18px;
	text-transform:uppercase;
	display:inline-block;
}
.menu_red_content3 ul li {
	float:left;
}
.menu_red_content3 ul li a {
	color:#ffffff;
	/* font-family: 'Conv_vagLight', Arial; */
	text-decoration:none;
	font-size:12px;
	padding:15px 5px;
	display:inline-block;
	height:25px;
}
.menu_red_content3 ul li a.selected {
	background:url('../images/assets/menu_red_arrow.png') top center no-repeat;
	font-weight:bold;
}
.menu_red_content3 ul li a:hover{
	background:url('../images/assets/menu_red_arrow.png') top center no-repeat;
}

.contact_us_full {

}
.contact_us_full h1 {
	border-bottom: 4px solid #E91126;
	color:#E91126;
	font-family:'open sans',Arial;
	padding:10px;
	font-size:18px;
}
.contact_us_full_content {
	margin: 0px 10px;
	padding: 10px;

	font-size:100%;
}
ul#ul_inquiry {
	width:100%;
    margin-right:-50px;
    display:block;
    margin-top:20px;
}
ul#ul_inquiry li {
    float:left;
    text-align:center;
}
ul#ul_inquiry li a {
    padding: 5px 10px;
    display:table-cell;
    vertical-align:middle;
    height:60px;
    line-height:15px;
    background: #ffffff;
    color:#565656;
    text-decoration:none;
    border-top:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}
ul#ul_inquiry li a:hover, ul#ul_inquiry li a.selected {
    color:#ffffff;
    background:#e91126;
}
ul#ul_inquiry li:first-child a {

    border-left:1px solid #d9d9d9;
    border-top:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}
ul#ul_inquiry li:last-child a {

}
.content_form_inquiry {
    padding:50px;
    border:1px solid #d9d9d9;
}
.content_form_inquiry table {

}
.content_form_inquiry table tr td {
    padding:5px;
}

.width100{width:100px;}
.width110{width:110px;}
.width120{width:120px;}
.width130{width:130px;}
.width140{width:140px;}
.width150{width:150px;}
.width160{width:160px;}
.width170{width:170px;}
.width180{width:180px;}
.width190{width:190px;}
.width200{width:200px;}
.width210{width:210px;}
.width220{width:220px;}
.width230{width:230px;}
.width240{width:240px;}
.width250{width:250px;}
.width260{width:260px;}
.width270{width:270px;}
.width280{width:280px;}
.width290{width:290px;}
.width300{width:300px;}

.booking_cancelation h2 {
    font-weight:bold;
    color:#565656;
    margin:5px 0px;
}
.booking_cancelation p {
    margin:10px 0px;
    line-height:15px;
}
.booking_cancelation ul {
    margin-bottom:20px;
}
.booking_cancelation ul li {
    font-size:100%;
    line-height: 2em;
}

li.numb {
    list-style:decimal;
}
li.alpha {
    list-style:lower-alpha;
}

ul#fee_hotel li {
    float:left;
    list-style:none;
}
ul#fee_hotel li a {
    text-decoration: none;
    color:#e91126;
    background:#ffffff;
    font-size:18px;
    padding: 10px 15px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    display:block;
    margin:0px 1px 0px 0px;
    border-top:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
}
ul#fee_hotel li a:hover, ul#fee_hotel li a.selected {
    color:#ffffff;
    background:#e91126;
}
.content_fee_hotel table {
    border-collapse: collapse;
    width:100%;
}
.content_fee_hotel table tr td, .content_fee_hotel table tr th {
    border:1px solid #E1E1E1;
    padding:10px;
    color:#565656;
    font-size:12px;
}
.content_fee_hotel table tr th {
    font-weight:bold;
}
.content_fee_hotel table tr td.td_small {
    font-size:11px;
}
.content_fee_hotel table tr td.td_empty{
    background:#fba6ae;
}
.faq_accordion {
    margin-top:10px;
}
.faq_accordion li {
    margin-bottom:3px;
}
.faq_accordion li a {
    display:block;
    padding:7px 13px;
    border: 1px solid #E1E1E1;
    text-decoration:none;
    color:#565656;
    font-size:14px;
    margin:1px 0px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.faq_accordion li a.active, .faq_accordion li a:hover {
    border: 1px solid #e91126;
    background: #e91126;
    color:#ffffff;
}
.faq_accordion li div {
    font-size:12px;
    background: #e1e1e1;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:7px 13px;
}
#corporate_container_left {
	width:305px;
	margin-top:20px;
}
#corporate_container_right {
	width:655px;
	margin-right:-20px;
	margin-top:20px;
	margin-left:20px;
}
.newsletter_small {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #e1e1e1;
	margin-bottom:15px;
	-webkit-box-shadow: inset -1px -1px 3px 0px #cfcfcf;
	box-shadow: inset -1px -1px 3px 0px #cfcfcf;
	padding:10px;
}
.newsletter_small h1{
	color: #4f5966;
	font-size:20px;
	font-family: 'open sans', Arial;
	margin:10px 0px;
	margin-left:10px;
}
.newsletter_small span {
	color:#7f7f7f;
	font-size:12px;
	line-height:17px;
	margin:10px 0px;
	display:inline-block;
}