/* home banner */
#home_banner {
	position:relative;
	margin-bottom:20px;
	min-height: 423px;
}

/* booking check in check out */
#container-book {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	position:absolute;
	top:10px;
	left:10px;
	z-index:99
}

.booking {
	
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff,endColorstr=#ccffffff);
	zoom: 1;
	
	background: rgba(255, 255, 255, 0.9);
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 283px; 
	border: 1px solid #ccc;
	padding:10px;
}
.booking h1 {
	font-size:40px;
	color:#e91126;
	font-family: 'Conv_vagBold', Arial;
	margin:10px 0px 20px 0px;
}
.booking h5{ font-size: 11px; padding: 0px; margin: 0px; position: relative; left: 6px; }
.booking ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li.booking_ul {
	margin-bottom: 18px;
	clear: both;
	padding : 0px 5px;  font-size: 11px; padding-left: 3px;
}
.booking label {
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	display: block;
}
.booking a { padding-left: 5px; color: #555}
.booking p{ padding: 0px; margin: 0px; padding-left: 5px; }
.added{ background: rgba(190, 190, 190, 0.6); padding:10px 0px; padding-bottom: 1px;margin: 0px; margin-bottom: 10px; margin-top: 60px; clear: both;}

/* top destination */
#container_home_content_left {
	
}
.top_destination {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	padding:10px;
	border: 1px solid #e1e1e1;
	width:300px;
}
.top_destination h1 {
	font-size:20px;
	color:#4f5966;
	font-family: 'Conv_vagBold', Arial;
	margin:10px 0px;
}
.top_destination ul li {
	border-bottom:1px solid #e1e1e1;
	margin:5px 0px;
	display:inline-block;
	width:100%;
	padding-bottom:10px;
}
.top_destination_from {
	width:35px;
	text-align:right;
	font-size:10px;
	color:#4f5966;
	margin-right:10px;
}
.top_destination_price_large, .top_destination_price_small{
	text-align:left;
	color:#e91126;
	font-family: 'Conv_vagBold', Arial;
}
.top_destination_price_small{
	font-size:27px;
}
.top_destination_price_large{
	font-size:35px;
}

.btn_go {
	background:url('../images/assets/lets_go.png') top left no-repeat;
	width:115px;
	height:40px;
	border:0px;
	padding:7px 30px 10px 5px;
	cursor:pointer;
	font-size:15px;
	color:#ffffff;
	font-family: 'Conv_vagBold', Arial;
	/* font-weight:bold; */
	display:inline-block;
}

.top_destination_price_pernight{
	text-align:left;
	color:#4f5966;
	font-size:10px;
	width:25px;
	padding-left:5px;
	display:inline-block;
}
.top_destination_right {
	color:#e91126;
	font-size:14px;
	font-family: 'Conv_vagBold', Arial;
	text-align:right;
	width:83px;
	position:relative;
	height:32px;
}
.top_destination_right .isi {
	position:absolute;
	right:0;
	bottom:0;
}
ul.social{
	margin-right:-15px;
}

ul.social li {
	float:left;
	margin:0px 15px 15px 0px;
}

#container_home_content_center {
	width:316px;
	margin-left:10px;
}

#container_slider_hot {
	position:relative;
}
.slider-wrapper-hot {
	width:316px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	margin-bottom:0px;
}
#slider_hot {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:0px;
}
.text_slider_hot {
	
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff,endColorstr=#ccffffff);
	zoom: 1;
	
	position:absolute;
	left:20px; 
	top:0;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	-webkit-box-shadow:  1px 1px 2px 0px #808080;
	box-shadow:  1px 1px 2px 0px #808080;
	border:0px;
	background:rgba(255,255,255,0.9);
	padding:8px;
	z-index:999;
	color:#5b6470;
	font-size:18px;
	font-family: 'Conv_vagBold', Arial;
}
#container_promo {
	margin-top:-30px;
}
.image_promo {
	width:316px;
	overflow:hidden;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:0px;
}

#container_home_content_right {
	width:316px;
	margin-left:10px;
}

.mod_social{
	-webkit-border-radius: 10px;
    border-radius: 10px;
	padding:10px 20px;
	border: 1px solid #e1e1e1;
	width:280px;
}
.mod_social h1{
	color: #e91126;
	font-size:20px;
	font-family: 'Conv_vagBold', Arial;
	margin:10px 0px;
}

.newsletter_container {
	margin-top:10px;
}
.mod_newsletter{
	-webkit-border-radius: 10px;
    border-radius: 10px;
	padding:20px;
	border: 1px solid #e1e1e1;
	width:280px;
}
.mod_newsletter h1{
	color: #4f5966;
	font-size:20px;
	font-family: 'Conv_vagBold', Arial;
	margin:10px 0px;
	margin-left:10px;
}
.mod_newsletter span {
	color:#7f7f7f;
	font-size:12px;
	line-height:17px;
	margin:10px 0px;
	display:inline-block;
}
a.my_red_grad {
	background: #fe0000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U0MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NiMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fe0000 0%, #e40000 50%, #cb0000 51%, #cc0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0000), color-stop(50%,#e40000), color-stop(51%,#cb0000), color-stop(100%,#cc0000));
	background: -webkit-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: -o-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: -ms-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: linear-gradient(to bottom,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#cc0000',GradientType=0 );
	font-size:14px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	padding:7px;
	display:inline-block;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
