.our-hotel .row-two-wrap,
.our-hotel .row-three-wrap {
	margin: 10px 0 0;
	}
	
.our-hotel .row-two-wrap .best-price-guarantee-wrap .inner,
.our-hotel .row-two-wrap .trueblue-points-wrap .inner,
.our-hotel .row-two-wrap .support-24-7-wrap .inner,
.our-hotel .row-three-wrap .hotel-wrap .inner,
.our-hotel .row-three-wrap .cars-wrap .inner,
.our-hotel .row-three-wrap .cruises-wrap .inner {
	height: 173px;
	}

.our-hotel .row-three-wrap .hotel-wrap .inner,
.our-hotel .row-three-wrap .cars-wrap .inner,
.our-hotel .row-three-wrap .cruises-wrap .inner {
	height: 243px;
}

.our-hotel .row-three-wrap .hotel-wrap .inner p.fine-print {
	color: #999999;
	font-size: 11px;
	margin: 10px 0 15px;
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #ff0000;
 
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}