
#mainmenu ul.menu {
    margin: 5px 0 0;
    padding: 0;
}
#mainmenu ul.menu a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 2px 2px 5px #CCCCCC;
    color: #333333;
    display: block;
    font-size: 1.1em;
    padding: 6px 10px;
    text-decoration: none;
}
#mainmenu ul.menu li {
    list-style-type: none;
    margin-bottom: 4px;
}
#mainmenu ul.menu li:hover > ul {
    display: block;
}
#mainmenu ul.menu li.selected > ul {
    display: block;
}
#mainmenu ul.menu a:hover, #mainmenu ul.menu li.selected a:hover, #mainmenu ul.menu li.selected a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DFDFDF;
/*    background-image: url("/intranett1/img/bg_clickablehead.gif");
    background-repeat: repeat-x;
 */   border-color: -moz-use-text-color #84A0C4 #84A0C4;
    border-right: 1px solid #84A0C4;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    text-shadow: 0 1px 0 #FFFFFF;
}

#mainmenu ul.menu ul {
	display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#mainmenu ul.menu ul li {
    list-style-type: none;
    margin: 0;
}
#mainmenu ul.menu ul a, #mainmenu ul.menu li.selected ul a {
	border-color: -moz-use-text-color #84A0C4 #84A0C4;
    border-width: medium 1px 1px;
	background-color: #DAECF4;
   	padding: 6px 20px;
}
#mainmenu ul.menu li.selected ul li {
    margin-bottom: 0;
}
/* #mainmenu ul.menu li.selected ul li a {
    background-color: #F4F4F4;
    background-image: none;
    border-color: -moz-use-text-color #CCCCCC;
    border-radius: 0 0 0 0;
    border-style: none solid;
    border-width: medium 1px;
    color: #333333;
    font-size: 0.95em;
    padding: 2px 0 2px 20px;
}
#mainmenu ul.menu li.selected ul li.selected a, #mainmenu ul.menu li.selected ul li a:hover {
    background-color: #E0E0E0;
} */
#mainmenu .small ul.menu a {
    padding: 4px 10px;
}
#mainmenu .small ul.menu li {
    margin-bottom: 1px;
}
#hd ul.menu {
    font-size: 0.9em;
    margin: 0 0 0 10px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 12px;
}
#hd ul.menu li {
    border-left: 1px solid #CCCCCC;
    display: inline;
    list-style-type: none;
    padding: 0 5px 0 8px;
}
#hd ul.menu li:first-child, #hd ul.menu li.first {
    border: medium none;
}
#hd ul.menu a {
    color: #333333;
    text-decoration: none;
}
#hd ul.menu li.selected a {
    font-weight: bold;
}
#yui-main ul.menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
}
#yui-main ul.menu li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#yui-main ul.menu li a {
    background-color: #D7E5F5;
/*    background-image: url("/intranett1/img/bg_tab.gif");
    background-repeat: repeat-x;
 */   border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #333333;
    padding: 4px 16px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
#yui-main ul.menu li.selected a {
/*    background-image: url("/intranett1/img/bg_tab_menu.gif");
    background-position: 0 0;
 */   background-repeat: repeat-x;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}
#yui-main li {
    margin: 0 0 1px;
}
#yui-main ul.submenu {
    background-color: #D7E5F5;
/*    background-image: url("/intranett1/img/bg_tab_menu.gif");
    background-position: 0 -15px;
    background-repeat: repeat-x;
 */   list-style-type: none;
    margin: -10px -10px 5px;
    padding: 8px 7px;
}
#yui-main ul.submenu li {
    display: inline;
}
#yui-main ul.submenu a {
    border-left: 1px solid #E9F0F8;
    color: #333333;
    padding: 2px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
#yui-main ul.submenu li:first-child a, #yui-main ul.submenu li.first a {
    border: medium none;
}
#yui-main ul.submenu li.selected a {
    color: #333333;
    font-weight: bold;
    text-shadow: none;
}
h1#tabgroup {
    position: absolute;
    right: 10px;
    top: 20px;
}
