#top_menu {

}

/*=====================================================
 Navigation (with dropdowns)
 ======================================================*/
.navbar { 
	width: 100%; 
	display: block; 
	margin-bottom: 0px; 
	font-family:'gothamrounded-medium', arial, helvetica, sans-serif; 
	background: url("../images/nav-bg.png");"
	font-size: 18px; 
	background: #161616;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1F1F), to(#0E0E0E));
	background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#1F1F1F), to(#0E0E0E));
	background: -moz-linear-gradient(center top, #1F1F1F, #0E0E0E);
	background: linear-gradient(#1F1F1F, #0E0E0E);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.navbar.fixed { top: 0; left: 0; z-index: 99999; }
.navbar a.toggle { display: none; }
.navbar .logo { display: inline-block; margin: 0 1.02041% 0 0; padding: 0; height: 40px; line-height: 58px; }
.navbar .logo a { display: block; padding: 0 0 0 10px; overflow: hidden; height: 40px; line-height: 58px; }
.navbar .logo a.toggle { display: none; }
.navbar ul { display: table; vertical-align: middle; margin: 0; float: none; }
.navbar ul li { display: table-cell; text-align: center; text-transform: uppercase; padding-bottom: 0; margin: 0; height: 50px; line-height: 50px; }
.navbar ul li > a { display: block; padding: 0 25px; white-space: nowrap; color: white; text-shadow: 0 1px 2px #191a1b, 0 1px 0 #191a1b; height: 50px; line-height: 50px; font-size: 14px; font-size: 0.875rem; }
.navbar ul li .btn { border-color: #000101 !important; }
.navbar ul li.field { margin-bottom: 0 !important; margin-right: 0; }
.navbar ul li.field input.search { background: #191a1b; border: none; color: #f2f2f2; }
.navbar ul li:hover > a { 
	position: relative; 
	background: #868d92; 
	z-index: 1000;
	background: #DF151C;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D11622), to(#ED1417));
	background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#D11622), to(#ED1417));
	background: -moz-linear-gradient(center top, #D11622, #ED1417);
	background: linear-gradient(#D11622, #ED1417);
	-webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3) inset, -1px 0 0px 0px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3) inset, -1px 0 0px 0px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3) inset, -1px 0 0px 0px rgba(0, 0, 0, 0.5) inset;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
 }
.navbar ul li .dropdown { width: auto; min-width: 0px; max-width: 320px; height: 0; position: absolute; background: #fafafa; overflow: hidden; z-index: 999; }
.navbar ul li:hover .dropdown { min-height: 40px; max-height: 561px; overflow: visible; height: auto; width: 100%; padding: 0; border-top: 1px solid #3e4043; -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); }
.navbar ul a.toggle { display: block; }

.navbar > ul > li > li > a { padding: 0 33px; }

.navbar > ul > li:last-child, .navbar > ul > li:last-child a:hover { border-right: none; }

/**** Navbar positioning for Microsoft's browser who deserves not to be mentioned ****/
.ie7 .navbar > ul { width: auto; }

.ie7 .navbar, .ie7 .navbar > ul > li > a { display: block; }

.ie7 .navbar .logo, .ie7 .navbar ul, .ie7 .navbar ul li { float: left; display: inline-block; }

.ie7 .navbar .logo a { display: block; overflow: hidden; }

.ie7 .navbar > ul > li .field { display: block; padding: 12px 18px 0; width: 80%; }

/******** Pretty Navbar Styles *********/
.pretty.navbar { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b8085), color-stop(100%, #313436)); background-image: -webkit-linear-gradient(#7b8085, #313436); background-image: -moz-linear-gradient(#7b8085, #313436); background-image: -o-linear-gradient(#7b8085, #313436); background-image: linear-gradient(#7b8085, #313436); -webkit-box-shadow: inset 0 1px 1px #7b8085, 0 1px 2px rgba(0, 0, 0, 0.8) !important; /* Remove this line if you dont want a dropshadow on your navigation*/ box-shadow: inset 0 1px 1px #7b8085, 0 1px 2px rgba(0, 0, 0, 0.8) !important; /* Remove this line if you dont want a dropshadow on your navigation*/ }
.pretty.navbar.row { border-radius: 12px; }
.pretty.navbar ul li.field input.search { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #191a1b), color-stop(100%, #4f5255)); background-image: -webkit-linear-gradient(#191a1b, #4f5255); background-image: -moz-linear-gradient(#191a1b, #4f5255); background-image: -o-linear-gradient(#191a1b, #4f5255); background-image: linear-gradient(#191a1b, #4f5255); border: none; box-shadow: 0 1px 2px #888d91 !important; /* Remove this line if you dont want a dropshadow on your navigation*/ }
.pretty.navbar > ul > li:first-child, .pretty.navbar .pretty.navbar > ul > li:first-child a:hover { box-shadow: none; }

.navbar li .dropdown ul { margin: 0; }
.navbar li .dropdown ul > li { position: relative; display: block; width: 100%; float: left; text-align: left; height: auto; border-radius: none; }
.navbar li .dropdown ul > li a { display: block; padding: 0 20px; color: #d04526; border-bottom: 1px solid #cccccc; text-shadow: none; height: 45px; line-height: 43px; }
.navbar li .dropdown ul > li .dropdown { display: none; background: white; }
.navbar li .dropdown ul > li:hover .dropdown { border-top: none; display: block; position: absolute; z-index: 9999; left: 320px; top: 0px; margin-top: 0; }
.navbar li .dropdown ul li:first-child a { border-radius: 0; }
.navbar li .dropdown ul li a:hover { background: #f2f2f2; }

@media only screen and (min-width: 768px) and (max-width: 979px) { .navbar .logo a { line-height: 0px; }
  .navbar > ul > li > .btn a { padding: 0 9px 0 9px !important; }
  .navbar ul > li .dropdown ul li:hover .dropdown { left: -320px; }
  .navbar .dropdown li { max-width: 320px; word-wrap: break-word; } }
@media only screen and (max-width: 767px) { .navbar { position: relative; border: none; }
  .navbar .logo { float: left; display: inline; }
  .navbar .logo a { line-height: 0; padding-left: 1.02041%; }
  .navbar .logo a img { width: auto; height: inherit; }
  .navbar a.toggle { top: 18%; right: 4%; width: 46px; position: absolute; text-align: center; display: inline-block; color: white; background: #4a4d50; height: 40px; line-height: 38px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px; font-size: 30px; font-size: 1.875rem; }
  .navbar a.toggle:hover { background: #565a5d; }
  .navbar a.toggle:active, .navbar a.toggle.active { background: #3e4043; }
  .navbar.pretty a.toggle { border: 1px solid #3e4043; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b8085), color-stop(100%, #4a4d50)); background-image: -webkit-linear-gradient(#7b8085, #4a4d50); background-image: -moz-linear-gradient(#7b8085, #4a4d50); background-image: -o-linear-gradient(#7b8085, #4a4d50); background-image: linear-gradient(#7b8085, #4a4d50); -webkit-box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; -moz-box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; }
  .navbar.pretty a.toggle i { text-shadow: 0 1px 1px #191a1b; }
  .navbar.pretty a.toggle:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888d91), color-stop(100%, #565a5d)); background-image: -webkit-linear-gradient(#888d91, #565a5d); background-image: -moz-linear-gradient(#888d91, #565a5d); background-image: -o-linear-gradient(#888d91, #565a5d); background-image: linear-gradient(#888d91, #565a5d); }
  .navbar.pretty a.toggle:active, .navbar.pretty a.toggle.active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e4043), color-stop(100%, #4a4d50)); background-image: -webkit-linear-gradient(#3e4043, #4a4d50); background-image: -moz-linear-gradient(#3e4043, #4a4d50); background-image: -o-linear-gradient(#3e4043, #4a4d50); background-image: linear-gradient(#3e4043, #4a4d50); -webkit-box-shadow: 0 1px 1px #63676a; -moz-box-shadow: 0 1px 1px #63676a; box-shadow: 0 1px 1px #63676a; }
  .navbar ul { position: absolute; display: block; width: 100% !important; height: 0; max-height: 0; top: 60px; overflow: hidden; text-align: center; background: #3e4043; }
  .navbar ul.active { height: auto; max-height: 600px; z-index: 999999; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-box-shadow: 0 2px 2px #252728; -moz-box-shadow: 0 2px 2px #252728; box-shadow: 0 2px 2px #252728; }
  .navbar ul li { display: block; position: relative; min-height: 40px; max-height: 320px; height: auto; width: 100%; border-right: 0 !important; -webkit-box-shadow: none; box-shadow: none; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
  .navbar ul li .dropdown { width: 100%; max-width: 100%; position: relative; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
  .navbar ul li:hover .dropdown { border-bottom: 1px solid #313436; }
  .navbar ul li:hover .dropdown ul { position: relative; top: 0; background: #36393b; min-height: 40px; max-height: 250px; height: auto; overflow: scroll; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
  .navbar ul li:hover .dropdown ul li { min-height: 50px; border-bottom: #3e4043; }
  .navbar ul li:hover .dropdown ul li a { color: white; border-bottom: 1px solid #313436; }
  .navbar ul li:hover .dropdown ul li a:hover { color: #d04526; }
  .pretty.navbar.row { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; } }
.subnav { display: block; width: auto; overflow: hidden; margin: 0 0 18px 0; padding-top: 4px; }
.subnav li, .subnav dt, .subnav dd { float: left; display: inline; margin-left: 9px; margin-bottom: 4px; }
.subnav li:first-child, .subnav dt:first-child, .subnav dd:first-child { margin-left: 0; }
.subnav dt { color: #999; font-weight: normal; }
.subnav li a, .subnav dd a { color: #05390a; font-size: 15px; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.subnav li.active a, .subnav dd.active a { background: #5dbb73; padding: 5px 9px; text-shadow: 0 1px 1px #77d58e; }

.drawer { position: relative; width: 100%; max-height: 0; background: #222; -webkit-box-shadow: inset 0 -3px 5px black, inset 0 3px 5px black; box-shadow: inset 0 -3px 5px black, inset 0 3px 5px black; overflow: hidden; -webkit-transition-duration: .3s; /* Saf3.2+, Chrome */ -moz-transition-duration: .3s; /* FF4+ */ -ms-transition-duration: .3s; /* IE10 */ -o-transition-duration: .3s; /* Opera 10.5+ */ transition-duration: .3s; }
.drawer.active { height: auto; max-height: 800px; -webkit-transition-duration: .5s; /* Saf3.2+, Chrome */ -moz-transition-duration: .5s; /* FF4+ */ -ms-transition-duration: .5s; /* IE10 */ -o-transition-duration: .5s; /* Opera 10.5+ */ transition-duration: .5s; }



ul#ul_top_menu {
	margin-left: 1px;
	height:50px;
	width:98px;
}
ul#ul_top_menu li, ul#ul_top_menu li a {
	display:inline-block;
}
ul#ul_top_menu li a.i_child{
	display:inline-block;
	background:url('../images/assets/nav_menu.png') right no-repeat;
}
ul#ul_top_menu li a.a_first{
	padding:11px 30px 20px 20px;
	height: 9px;
	color:#ffffff;
	font-family: 'Gotham Rounded', Arial;
	text-decoration:none;
	font-size:14px;	
	text-align:left;
	border-right: 1px solid #555F6E;
}

ul#ul_top_menu li a.a_first:hover, 

ul#ul_top_menu li a.home_hover, 
ul#ul_top_menu li a.hotel_hover, ul#ul_top_menu li a.promotion_hover, ul#ul_top_menu li a.corporate_hover, ul#ul_top_menu li a.about_us_hover, ul#ul_top_menu li a.help_info_hover{
	color:#e91126;
	
}
ul#ul_top_menu li a.i_child:focus, 
ul#ul_top_menu li a.i_child:hover{
	color:#e91126;
	background:url('../images/assets/nav_menu_after_hover.png') right no-repeat;
}
ul#ul_top_menu li a.i_child:focus {
//	height:15px;
}
ul#ul_top_menu li:first-child a.a_first{
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
ul#ul_top_menu li a.a_first:focus{
	background-color:#000000;
}

ul#ul_top_menu li:last-child a.a_first{
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	border-right: 0px;
}
ul#ul_top_menu li a.home{
	
}
ul#ul_top_menu li a.home:hover, ul#ul_top_menu li a.home_hover{
	
}
ul#ul_top_menu li a.hotel{
	
}
ul#ul_top_menu li a.hotel:hover, ul#ul_top_menu li a.hotel_hover{
	
}
ul#ul_top_menu li a.promotion{
	
}
ul#ul_top_menu li a.promotion:hover, ul#ul_top_menu li a.promotion_hover{
	
}
ul#ul_top_menu li a.corporate{
	
}
ul#ul_top_menu li a.corporate:hover, ul#ul_top_menu li a.corporate_hover{
	
}
ul#ul_top_menu li a.about_us{
	
}
ul#ul_top_menu li a.about_us:hover, ul#ul_top_menu li a.about_us_hover{
	
}
ul#ul_top_menu li a.help_info{
	
	position:absolute;
}
ul#ul_top_menu li a.help_info:hover, ul#ul_top_menu li a.help_info_hover{
	
}

.nav_drop {
	background-image: url('../images/assets/logo_foot_menu.jpg') bottom centre no-repeat;

	background-color: #38383A;
	color: #ffffff;
	display: block;
	float: left;
	left: -1px;
	top: auto;
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
}
.nav_drop li a {
color: #ffffff;
}
.nav_drop li a:hover {
 color:#ff0000; 
}

.nav_drop_model {
	border-top-width: 0;
	clear: right;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 18px;
	padding: 20px 12px 18px 15px;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.nav_drop_about {
	width:100%;
	margin: 0;
	padding-top:0;
	height:120px;
	border-top-width: 0;
	clear: right;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
}
.nav_drop  a, a:visited, {
	color:#cecece;
}

.nav_drop_tab {
	color:#dcd9d8;
	text-decoration: none;
	line-height: 1.1;
	margin: 0;
	text-rendering: optimizelegibility;
}

.nav_drop  h2 {
    color: #888A8F;
    font-family: Arial, helvetica;
    font-size: 13px;
    text-transform:uppercase;
    font-weight: 600;
    font-style: bold;
    font-stretch: 1em;
    padding-bottom: 10px;
}

.nav_drop  h2:hover {
    color: #F0606A;

}

ul.nav_drop_list {
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 0 15px;
    padding: 0;
}

.nav_drop_list li {
color: #CCCDCE;
display: list-item;
font-size: 100%;
font-family: Arial, helvetica;
line-height: 18px;
padding-bottom: 10px;
margin-left: -5px;
}

.nav_drop_list li a {
color: #CCCDCE;
display: list-item;
outline: medium none;
padding: 0px 0px 0px 5px;
}

.nav_drop_list li a:hover{
color:#F0606A;
}

ul.nav_drop_list li a:hover{
color:#d50f25;
}

.nav_drop .twelve .col2 {
	list-style-type: none;
	width:140px;
	margin-right:20px;
}


#hotelmap {

}

.nav-map {
  width: 980px;
  background-color:#fff000;
}

.nav-map ul li {

	float:left;
}

.nav_drop .twelve li .col2 {
color: #FFF;
list-style-type: none;
width: 140px;
margin-right: 10px;
}