/** layout id regions **/


.nav-sections {
	cursor: pointer;
z-index: 5;
position: relative;
font-family: Arial, Helvetica, sans-serif;
padding: 20px 0 20px;
border-bottom: 1px solid #E1EDF8;
}

#page-nav {
padding: 0;
margin: 0;
}


nav-sections #page-nav ul{
display: table;
vertical-align: middle; 
margin: 0;
float: none;
}


.nav-sections #page-nav  li {
display: table-cell;
text-align: center;
text-transform: uppercase;
padding-bottom: 0;
margin: 0;
height: 50px;
line-height: 50px;
}


.nav-sections ul li a:hover {
	color:#ffffff;
	background: #858585;
}


.nav-sections ul li a.selected {
	color:#ffffff;
	background:#ff0000;
}

.nav-sections .tab{
	cursor: pointer;
position: relative;
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin:0;
}

.tab{
	cursor: pointer;
position: relative;
font-family: Arial, Helvetica, sans-serif;
padding: 0px;
}

.hotel-canvas {
background-color: #0073E5;
background-image: -ms-radial-gradient(center top,ellipse cover,#00A6FE 0,#0073E5 100%);
background-image: -moz-radial-gradient(center top,ellipse farthest-corner,#00a6fe 0,#0073e5 100%);
background-image: -o-radial-gradient(center top,ellipse cover,#00A6FE 0,#0073E5 100%);
background-image: -webkit-gradient(radial,center top,0,center top,559,color-stop(0,#00A6FE),color-stop(1,#0073E5));
background-image: -webkit-radial-gradient(center top,ellipse cover,#00A6FE 0,#0073E5 100%);
-moz-box-shadow: 0 -6px 5px -6px rgba(0,0,0,.6) inset,0 7px 5px -6px rgba(0,0,0,.5) inset;
-webkit-box-shadow: 0 -6px 5px -6px rgba(0,0,0,.6) inset,0 7px 5px -6px rgba(0,0,0,.5) inset;
box-shadow: 0 -6px 5px -6px rgba(0,0,0,.6) inset,0 7px 5px -6px rgba(0,0,0,.5) inset;
}

#hotel .section {
border-bottom: 1px solid #ccc;
padding:0;
/*padding: 60px 0px 30px;*/
position: relative;
min-height: 400px;
width: 100%;
}


#slider .section{
  padding-bottom: 0px;
  height: 420px;
}

/* home banner */
#home_banner {
	position:relative;
	margin-bottom:20px;
	min-height: 420px;
}


/* bawahnya banner */

#hotel_container_left {
	width:100%;
}
#hotel_container_right {
	width:234px;
	margin-left:20px;
}
#map_hotel_container {
width:100%;
}
.map_hotel_top {
width:100%;
}
.title_hotel {
	line-height: 22px;
	padding-bottom: 10px;
}
.title_hotel h2 {
	color:#333e4d;
	font-size:16px;
	font-weight:bold;
}
.title_hotel h1 {
	color:#e91126;
	font-size:25px;
	font-family: 'open sans', Arial;
	margin:5px 0px;
}
.share_hotel {
	text-align:right;
	margin-top:10px;
}
.map_hotel {
	border:1px solid #e1e1e1;
	margin-top:20px;
}
.map_hotel_nav {
width: 233px;
border-right: 1px solid #E1E1E1;
padding:0;
}
.map_hotel_nav h1 {
	color:#e91126;
	font-size:25px;
	font-family: 'open sans', Arial;
}
.map_hotel_nav ul {
	margin-top:15px;
}
.map_hotel_nav ul li a {
	color:#7f7f7f;
	text-decoration:none;
	font-size:18px;
	display:inline-block;
	width:100%;
	padding:10px 10px 10px 15px;
}
.map_hotel_nav ul li a:hover, .map_hotel_nav ul li a.selected {
	color:#ffffff;
	background:#e91126;
}

.nav-sections ul li a {
display: block;
padding: 0 25px;
white-space: nowrap;
color: #000000;
height: 50px;
line-height: 50px;
font-size: 14px;
font-size: 0.875rem;
	background:#f4f4f4;
}


.map_content {
	width:527px;
	padding:15px;
	border-left: 1px solid #e1e1e1;
	margin-left:-1px;
}

#gmap {

	margin:0;
	padding:0;
}

.googlemap-region {
	width:980px;
	height:420px;
	background-color: transparent !important;
}

/* hotel bawah*/
#list_hotel_container {
	margin-top:20px;
}

.list_hotel h1 {
	color:#e91126;
	font-size:25px;
	font-family: 'open sans', Arial;
	margin:10px 0px;
}
.list_hotels {
	margin: 0px;
	margin-top:15px;
}
.list_hotels ul li {
	float:left;
}

.lists_hotels {

border: 1px solid #E1E1E1;
padding: 11px;
min-height: 280px;
margin-bottom: 40px;

}

.lists_hotels h3 {
	color:#e91126;
	font-size:14px;
	font-family: 'open sans', Arial;
	margin-bottom:30px;
}

button.btn, input[type="submit"].btn {
}
.btn_see_detail {
	background:url('../images/assets/btn_see_detail.png') top left no-repeat;
	width:118px;
	height:30px;
	border:0px;
	padding:5px 30px 10px 5px;
	cursor:pointer;
	font-size:15px;
	color:#ffffff;
	font-family: 'open sans', Arial;
	display:inline-block;
}
.whats_hot_hotel_container {
  margin:0;
}
.whats_hot_hotel h1 {
	color:#333e4d;
	font-size:29px;
	font-family: 'open sans', Arial;
	margin-bottom:10px;
}
.whats_hot_hotel_content {

	border:1px solid #e1e1e1;
	margin-bottom:15px;
	-webkit-box-shadow: inset -1px -1px 3px 0px #cfcfcf;
	box-shadow: inset -1px -1px 3px 0px #cfcfcf;
}
.whats_hot_hotel_content img {

	width:232px;
}
.whats_hot_hotel_text {
	padding:15px;
}
.whats_hot_hotel_text h3 {
	color:#e91126;
	font-size:16px;
	margin:10px 0px;
}
.whats_hot_hotel_text span {
	color:#3a3a3a;
	font-size:12px;
	line-height:15px;
}
/*email subscribe */
.newsletter_small {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #e1e1e1;
	margin-bottom:15px;
	-webkit-box-shadow: inset -1px -1px 3px 0px #cfcfcf;
	box-shadow: inset -1px -1px 3px 0px #cfcfcf;
	padding:10px;
}
.newsletter_small h1{
	color: #4f5966;
	font-size:20px;
	font-family: 'open sans', Arial;
	margin:10px 0px;
	margin-left:10px;
}
.newsletter_small span {
	color:#7f7f7f;
	font-size:12px;
	line-height:17px;
	margin:10px 0px;
	display:inline-block;
}.mod_newsletter{
	-webkit-border-radius: 10px;
    border-radius: 10px;
	padding:20px;
	border: 1px solid #e1e1e1;
	width:280px;
}
.mod_newsletter h1{
	color: #4f5966;
	font-size:20px;
	font-family: 'open sans', Arial;
	margin:10px 0px;
	margin-left:10px;
}
.mod_newsletter span {
	color:#7f7f7f;
	font-size:12px;
	line-height:17px;
	margin:10px 0px;
	display:inline-block;
}
a.my_red_grad {
	background-color: rgb(197,4,3); /* Needed for IEs */
	background: #fe0000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U0MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NiMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fe0000 0%, #e40000 50%, #cb0000 51%, #cc0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0000), color-stop(50%,#e40000), color-stop(51%,#cb0000), color-stop(100%,#cc0000));
	background: -webkit-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: -o-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: -ms-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: linear-gradient(to bottom,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#cc0000',GradientType=0 );
	font-size:14px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	padding:7px;
	display:inline-block;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
.my_input_style {
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
	background:#ffffff;
	padding:10px;
	border:0px;
	width:237px;
	margin-top:10px;
	}

/** PAGE HOTEL DETAIL **/
#detail_hotel_container {
	width:726px;
}
.ul_tab_detail_hotels {
	display:inline-block;
}
.ul_tab_detail_hotels li {
	float:left;
}
.ul_tab_detail_hotels li a {
	padding:15px 22px;
	background:#eaeaea;
	text-decoration:none;
	color:#3b3b3b;
	font-size:15px;
	font-family: 'Conv_vagLight', Arial;
	border-left:1px solid #ffffff;
}
.ul_tab_detail_hotels li a:hover, .ul_tab_detail_hotels li a.selected {
	color: #f4f4f4;
	background-color: #e91126;

}
.ul_tab_detail_hotels li:first-child a {

	border-left:0px;
}
.ul_tab_detail_hotels li:last-child a {

}

#map {
height: 350px;
width: 100%;
margin-bottom: 80px;
position: relative;
z-index: 2000;

}


.map_hotel_detail {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #e1e1e1;

}
.map_hotel_detail_left {
	width:238px;
	border-right:1px solid #e1e1e1;
	font-size:12px;
}
.map_hotel_detail_right {
	width:431px;
	margin-left:-1px;
	border-left:1px solid #e1e1e1;
}
.map_hotel_detail_left h3 {
	color:#222222;
	letter-spacing:-1px;
	margin:10px 0px;
	font-size:20px;
	font-weight:bold;
}
.map_hotel_detail_left p {

	margin:5px 0px 20px 0px;
}
ul.red_bullet, .will_red_bullet ul {
	list-style-image:url('../images/assets/bullet_red.jpg');
	margin-left:15px;
}
ul.red_bullet li, .will_red_bullet ul li {
	margin:5px 0px;
	line-height:17px;

}

#what_we_provide_container {
	margin-top:20px;
}
.what_we_provide {
	color:#22222;

}
.what_we_provide h2 {
padding: 20px auto;
font-weight: bold;
font-size: 18px;
color: #222222;
font-family: helvetica, Arial, sans-serif;
text-transform:bold;
}

.what_we_provide table {
	width: 100%;
	font-size:12px;
}

.what_we_provide table tr td{
	border: 1px solid #e1e1e1;
	border-collapse: collapse;
	padding:5px 10px;
    	border-left-width: 0;
}

#how_to_get_here_container {
}

ul .inner li{
	background: url(/assets/img/ui/li-circle.gif) no-repeat 0 9px;
	line-height: 1.8em;
	margin-left: 0;
	padding-left: 20px;
}

/* icon */
#executive,
#connect,
#comfort,
#cozy,
#towel,
#transport,
#breakfast,
#parking,
#checkin,
#checkout,
#tv,
#wifi,
#cleaning,
#shower,
#smoke,
#in_room_save,
#dollar,
#wheel_chair_friendly_room,
#lift,
#cctv,
#fan,
#ac,
#washer,
#bussiness,
#mosque,
#iron,
#no_tv,
#no_wifi,
#no_towel,
#no_cleaning,
#no_transport,
#no_checkin,
#no_checkout,
#no_shower,
#no_smoke,
#no_in_room_save,
#no_dollar,
#no_wheel_chair_friendly_room,
#no_lift,
#no_cctv,
#no_fan,
#no_ac,
#no_washer,
#no_bussiness,
#no_parking,
#no_mosque,
#no_iron,
#no_breakfast
{
	background-image: url('../images/assets/sprites-icon.png');
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased; width: 28px; height: 28px;
}

#tv			{ background-position: -0px -28px;}
#no_tv			{ background-position: -0px -0px;}
#wifi		{ background-position: -28px -28px;}
#no_wifi		{ background-position: -28px -0px;}
#towel 		{ background-position: -56px -28px; }
#no_towel 		{ background-position: -56px -0px; }
#cleaning	{ background-position: -84px -28px;}
#no_cleaning	{ background-position: -84px -0px;}
#transport	{ background-position: -112px -28px;}
#no_transport	{ background-position: -112px -0px;}
#checkin	{ background-position: -140px -28px;}
#no_checkin	{ background-position: -140px -0px;}
#checkout 	{ background-position: -168px -28px;}
#no_checkout 	{ background-position: -168px -0px;}
#shower		{ background-position: -196px -28px;}
#no_shower		{ background-position: -196px -0px;}
#smoke		{ background-position: -224px -28px;}
#no_smoke		{ background-position: -224px -0px;}
#in_room_save		{ background-position: -252px -28px;}
#no_in_room_save		{ background-position: -252px -0px;}
#dollar		{ background-position: -280px -28px;}
#no_dollar		{ background-position: -280px -0px;}
#wheel_chair_friendly_room	{ background-position: -308px -28px;}
#no_wheel_chair_friendly_room	{ background-position: -308px -0px;}
#lift		{ background-position: -336px -28px;}
#no_lift		{ background-position: -336px -0px;}
#cctv		{ background-position: -364px -28px;}
#no_cctv		{ background-position: -364px -0px;}
#fan		{ background-position: -392px -28px;}
#no_fan		{ background-position: -392px -0px;}
#ac			{ background-position: -420px -28px;}
#no_ac			{ background-position: -420px -0px;}
#washer		{ background-position: -448px -28px;}
#no_washer		{ background-position: -448px -0px;}
#bussiness	{ background-position: -476px -28px;}
#no_bussiness	{ background-position: -476px -0px;}
#parking	{ background-position: -504px -28px;}
#no_parking	{ background-position: -504px -0px;}
#mosque		{ background-position: -532px -28px;}
#no_mosque		{ background-position: -532px -0px;}
#iron		{ background-position: -560px -28px;}
#no_iron		{ background-position: -560px -0px;}
#breakfast	{ background-position: -588px -28px;}
#no_breakfast	{ background-position: -588px -0px;}

#executive	{ background-position: -56px -56px; }
#connect 	{ background-position: -84px -56px; }
#comfort 	{ background-position: -28px -56px; }
#cozy		{ background-position: -112px -56px;}

#available {
	background:url('../images/assets/available.jpg') top left no-repeat;
	width:17px;
	height:17px;
}
#no_available {
	background:url('../images/assets/n_available.jpg') top left no-repeat;
	width:17px;
	height:17px;
}
#executive_package, #connect_package {
	width:100px;
	height:100px;
}
#executive_package {
	background:url('../images/assets/executive_package.png') top left no-repeat;
}
#connect_package {
	background:url('../images/assets/connect_package.png') top left no-repeat;
}
.hotel_package_image {
	width:100px;
	height:100px;
	background-position: top left;
	background-repeat: no-repeat;
}

.detail_addon_icon, .no_detail_addon_icon {
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased; width: 28px; height: 28px;
}
.detail_addon_icon {
	background-position: -0px -28px;
}
.no_detail_addon_icon {
	background-position: -0px -0px;
}

.detail_addon_icon_name {
	margin:8px 0px 0px 5px;
	color: #222222;
	font-size:12px;
	width:120px;
}
.detail_addon_icon_avail {
	margin: 6px 5px 0px 0px;
}
#addon_container {
	margin-top:20px;
}

#package_container {
	width: 100%;
	margin-top:20px;
}
.package_hotel {
	width: 100%;
	border:1px solid #e1e1e1;
}
.package_hotel h2 {
	padding:10px;
	font-size:18px;
	font-family: Arial, helvetica, sans-serif;
	border-bottom:1px solid #e1e1e1;
}
.package_list {
	padding:5px 10px;
}
ul.package_lists li {
	border-bottom:1px solid #e1e1e1;
	padding:5px 0px 10px 0px;
	margin:5px 0px 0px 0px;
}
ul.package_lists li:last-child {
	border-bottom:0px;
}
.desc_package {
	margin:0px -50px 0px 10px;
	width:620px;
}
.desc_package h4 {
	font-size:14px;
	color:#3a3a3a;
	margin:0px 0px 10px 0px;
}
.list_desc_package {
	width:184px;
	margin-right:20px;
	margin-bottom:10px;
}

/** gallery **/
.hotel_gallery_list_container {
}
.hotel_gallery {

	border:1px solid #e1e1e1;
	padding:10px;
}
.hotel_gallery_ul li {
}
.hotel_gallery_ul {
}


.must_do_think {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #e1e1e1;
	margin-bottom:15px;
}
.must_do_think_content {
	font-size:12px;
	padding:10px 15px;
	line-height:17px;
}
.must_do_think h2 {
	padding:10px;
	font-weight:bold;
	font-size:18px;
	color:#e91126;
	font-family: 'open sans', Arial;
	border-bottom:1px solid #e1e1e1;
}
.must_do_think_left {
	width:340px;
	border-right:1px solid #e1e1e1;
	padding:10px;
}
.must_do_think_right {
	width:330px;
	border-left:1px solid #e1e1e1;
	margin-left:-1px;
	padding:10px;
}

#appetite_container {
	margin-top:20px;
}
.appetite_content {
	padding:10px;
	line-height:16px;
}
.appetite_content h4 {
	font-size:14px;
	font-weight:bold;
	color:#3b3b3b;
	margin:10px 0px;
}
.appetite_content p {
	line-height:15px;
	margin:5px 0px;
}
.appetite {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #e1e1e1;
	font-size:12px;
}
.appetite h2 {
	padding:10px;
	font-weight:bold;
	font-size:18px;
	color:#e91126;
	font-family: 'open sans', Arial;
	border-bottom:1px solid #e1e1e1;
}
.appetite_desc {
	width:300px;
	margin-left:20px;
}
.appetite_desc h4 {
	font-size:14px;
	font-weight:bold;
	color:#3b3b3b;
	margin:10px 0px;
}
.appetite_desc p {
	line-height:15px;
	margin:5px 0px;
}
.place_of_interest h1 {
	padding:10px;
	font-weight:bold;
	font-size:18px;
	color:#e91126;
	font-family: 'open sans', Arial;
	border-bottom:4px solid #e91126;
}
.how_to_get_here {
	-webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
	border:1px solid #e1e1e1;
	font-size:12px;
	padding: 10px 15px;
	line-height:17px;
}
.title_how_to_get_here {
	padding:10px;
}
.title_how_to_get_here_text {
	margin-left:10px;
}
.title_how_to_get_here_text h3 {
	color:#333e4d;
	font-size:17px;
	font-family: 'open sans', Arial;
	margin:0px 0px 5px 0px;
}
.title_how_to_get_here_text h2 {
	color:#e91126;
	font-size:17px;
	font-family: 'open sans', Arial;
	margin:5px 0px;
}
.title_how_to_get_here_text {
	font-size:12px;
	color:#3b3b3b;
}
.content_how_to_get_here h5 {
	font-weight:bold;
	font-size:14px;
	color:#333e4d;
}

.content_how_to_get_here table {
	margin-left:-1px;
	margin-bottom:-1px;
	margin-right:-1px;
	width:726px;
}
.content_how_to_get_here table tr td {
	text-align:center;
	border: 1px solid #e1e1e1;
	padding:10px;
	border-collapse:collapse;
}
.hotel_disclaimer {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	background:#4a4a4a;
	font-size:12px;
	color:#f4f4f4;
	padding:10px;
	margin-top:20px;
}
.hotel_disclaimer h4 {
	color:#f4f4f4;
	font-size:14px;
	margin-left:10px;
	font-weight:bold;
	margin-top:10px;
}
.hotel_disclaimer p {
	line-height:18px;
	margin:5px 0px;
}
.customer_overview {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border: 1px solid #e1e1e1;
}
.customer_overview h3 {
	font-size:16px;
	color:#e91126;
	font-family: 'open sans', Arial;
	margin:10px;
}
.customer_overview h4 {
	font-size:16px;
	color:#333e4d;
	font-family: 'open sans', Arial;
	margin:10px;
}

.detail_room a {
	cursor:pointer;
	text-decoration:none;
}
.detail_room:hover {
	color:#ff0000;
}

.mod-center{
text-align:center;
width:980px;
margin:10px auto;
display:block;

}

/*comment - edited by budi */
/*
.modal {
	position: absolute;
	top:0px;
	left:0px;
	padding:0;
	margin:0;
	width:100% !important;
	height:100% !important;
	background:#000 !important;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:1099;	
}

.modal-win {
margin: 0 auto;
width: 1200px;
display:none;
}
*/

#popup_room {
	position: fixed; 
	width: 750px; 
	left: 0;
	right: 0;
	margin: auto; 
}

.backdrop_room {
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
z-index: 1101;

display:none;
}

.box_room {
display:none;
background-color: #F1F1F1;
position: absolute;
margin: 10px auto;

position: absolute;
top: 0px;
width: 980px;
z-index: 9999;
}

.box_room h4 {
	font-size:16px;
}

.box_title_room {

	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cae31717,endColorstr=#cae31717);
	zoom: 1;

	height: 50px;
	padding:10px;
	background: rgba(227,23,23,0.8);
	color:#ffffff;
}
.box_title_room span  {
	font-size:30px;
	font-family:'Conv_DINPRO-BOLD', Arial;
}

.close_room {
	float:right;
	margin-right:6px;
	cursor:pointer;
	background:url('../images/assets/pop_close.png') top right no-repeat;
	width:30px;
	height:30px;
}
.box_content_room {
	font-size: 12px;/*comment - edited by budi */
	color: #555;
	font-family: "gr-book",arial,sans-serif;
	line-height: 1.8;
	position: relative;
	background:#ffffff;
	width: 750px;
}

.box_content_room li {
	font-size: 12px;/*comment - edited by budi */
	color: #555;
	line-height: 1.6;
	margin-left:25px;
	list-style-type: disc;
	list-style-position: outside;
}

.box_left_room {
	padding: 25px 0;
	width: 288px;
	border-right:1px solid #e1e1e1;
	overflow: hidden;
}
.box_content_text_room {
	border-left:1px solid #e1e1e1;
	margin-left:-1px;
	width: 460px;
}
.box_content_text_title_room {
	border-bottom:1px solid #e1e1e1;
	padding:10px 15px 15px 15px;
	width:425px;
}
.box_content_text_title_room h3 {
	color:#e91126;
	font-size:16px;
	margin:0px 0px 5px 0px;
}
.box_content_text_title_room h2  {
	color:#3b3b3b;
	font-size: 21px;
	margin:10px 0px 0px 0px;
}
.box_content_texts_room {
	padding: 15px;
	width: auto;
}
.box_content_texts_room p {
	line-height:16px;
	margin:5px 0px;
}
.box_booking_search_room {
	position:relative;
}
.box_booking_close_room {
	position:absolute;
	padding:4px 8px;
	font-weight:bold;
	background:#4f4f4f;
	color:#ffffff;
	top:5px;
	right:15px;
	-webkit-border-radius: 15px;
    border-radius: 15px;
	text-decoration:none;
}

/*comment - edited by budi */
#gmap img {
	max-width: none;
}

#tab_hotel_information {
	color:#22222;
	font-size:14px;
	line-height:22px;
	}

.hotel-address {


}