article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.hll{background-color:#ffffcc;}
.c{color:#999;}
.err{color:#AA0000;background-color:#ffaaaa;}
.k{color:#006699;}
.o{color:#555555;}
.cm{color:#0099FF;font-style:italic;}
.cp{color:#009999;}
.c1{color:#999;}
.cs{color:#999;}
.gd{background-color:#FFCCCC;border:1px solid #cc0000;}
.ge{font-style:italic;}
.gr{color:#ff0000;}
.gh{color:#003300;}
.gi{background-color:#CCFFCC;border:1px solid #00cc00;}
.go{color:#aaaaaa;}
.gp{color:#000099;}
.gu{color:#003300;}
.gt{color:#99cc66;}
.kc{color:#006699;}
.kd{color:#006699;}
.kn{color:#006699;}
.kp{color:#006699;}
.kr{color:#006699;}
.kt{color:#007788;}
.m{color:#ff6600;}
.s{color:#d44950;}
.na{color:#4f9fcf;}
.nb{color:#336666;}
.nc{color:#00AA88;}
.no{color:#336600;}
.nd{color:#9999ff;}
.ni{color:#999999;}
.ne{color:#CC0000;}
.nf{color:#cc00ff;}
.nl{color:#9999ff;}
.nn{color:#00CCFF;}
.nt{color:#2f6f9f;}
.nv{color:#003333;}
.ow{color:#000000;}
.w{color:#bbbbbb;}
.mf{color:#ff6600;}
.mh{color:#ff6600;}
.mi{color:#ff6600;}
.mo{color:#ff6600;}
.sb{color:#cc3300;}
.sc{color:#cc3300;}
.sd{color:#CC3300;font-style:italic;}
.s2{color:#cc3300;}
.se{color:#CC3300;}
.sh{color:#cc3300;}
.si{color:#aa0000;}
.sx{color:#cc3300;}
.sr{color:#33aaaa;}
.s1{color:#cc3300;}
.ss{color:#ffcc33;}
.bp{color:#336666;}
.vc{color:#003333;}
.vg{color:#003333;}
.vi{color:#003333;}
.il{color:#ff6600;}
.css .o,.css .o+.nt,.css .nt+.nt{color:#999;}
html,body{background-color:#fff;}
body{padding:0;font-family:"Maven Pro","Helvetica Neue",Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.4;color:#555;}
a{color:#428bca;text-decoration:none;}a:hover{color:#2a6496;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{margin:30px 0 10px;font-weight:bold;line-height:1.2;color:#333;}
h1{font-size:48px;}
h2{font-size:36px;}
h3{font-size:24px;}h3 a,h3 a:hover{color:inherit;}
h4{font-size:18px;margin-bottom:0;}
p{margin:0 0 15px;}
.lead{font-size:18px;line-height:1.25;color:#999999;}
ol,ul{margin:0 0 15px 25px;padding:0;}
.list-unstyled{margin-left:0;}.list-unstyled li{display:block;}
code,pre{padding:0 3px 2px;color:#333;border-radius:4px;}
code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;white-space:nowrap;}
pre{display:block;padding:15px;margin:0 0 20px;line-height:1.4;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid rgba(0, 0, 0, 0.15);border-radius:4px;}pre code{padding:0;color:inherit;white-space:pre;white-space:pre-wrap;background-color:transparent;border:0;}
.highlight{padding:14px;margin-bottom:20px;line-height:20px;background-color:#f7f7f9;border:1px solid #e1e1e8;border-radius:4px;}
.highlight pre{padding:0;margin-bottom:0;font-size:16px;background-color:transparent;border:0;}
.highlight pre .lineno{display:inline-block;width:20px;padding-right:5px;margin-right:10px;text-align:right;color:#bebec5;}
.row{margin-left:-15px;margin-right:-15px;}.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.grid-4{min-height:1px;padding-left:15px;padding-right:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}@media (min-width:768px){.grid-4{float:left;width:33.33333333333333%;}}
.header-divider{margin-top:60px;}
.header-divider:after{display:block;content:"";width:25%;height:4px;margin:20px 0 26px;background-color:#555;border:0;opacity:.5;}
.container{padding-left:20px;padding-right:20px;max-width:760px;}
.masthead{color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);background-color:#04a5e6;background-image:-moz-linear-gradient(top, #542687, #04a5e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#542687), to(#04a5e6));background-image:-webkit-linear-gradient(top, #542687, #04a5e6);background-image:-o-linear-gradient(top, #542687, #04a5e6);background-image:linear-gradient(to bottom, #542687, #04a5e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff542687', endColorstr='#ff04a5e6', GradientType=0);}
.masthead-inner{padding:30px;}
.masthead h1{margin-top:0;color:#fff;letter-spacing:-1px;}
.masthead .header-divider:after{width:50%;background-color:#fff;box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);opacity:1;}
.masthead .list-unstyled{font-size:85%;margin-top:0;margin-bottom:20px;}
.masthead .social-buttons{margin-bottom:0;}
.masthead a{font-weight:bold;color:#fff;}.masthead a:hover{text-decoration:none;text-shadow:0 0 8px rgba(255, 255, 255, 0.5);}
.toc{margin-left:0;}
.toc li{display:block;}
.toc a{display:block;margin-left:-10px;padding:4px 10px;}.toc a:hover{text-decoration:none;background-color:#f5f5f5;border-radius:3px;}
.color-swatches{margin:0 -5px 20px;}.color-swatches:before,.color-swatches:after{content:" ";display:table;}
.color-swatches:after{clear:both;}
.color-swatch{float:left;width:80px;height:80px;margin:5px 2px;}.color-swatch.black-10{background-color:#e6e6e6;}
.color-swatch.black-20{background-color:#cccccc;}
.color-swatch.black-30{background-color:#b3b3b3;}
.color-swatch.black-40{background-color:#999999;}
.color-swatch.black-50{background-color:#808080;}
.color-swatch.black-60{background-color:#666666;}
.color-swatch.black-70{background-color:#4d4d4d;}
.color-swatch.black-80{background-color:#333333;}
.color-swatch.black-90{background-color:#191919;}
.color-swatch.brand-primary{background-color:#428bca;}
.color-swatch.brand-success{background-color:#5cb85c;}
.color-swatch.brand-warning{background-color:#f0ad4e;}
.color-swatch.brand-danger{background-color:#d9534f;}
.color-swatch.brand-info{background-color:#5bc0de;}
.btn{display:block;margin-bottom:5px;padding:15px 20px;font-weight:bold;line-height:1;color:#7a43b6;text-align:center;letter-spacing:-1px;background-color:#fff;border:1px solid #ccc;border-radius:5px;}.btn:hover,.btn:active{color:#fff;text-decoration:none;background-color:#7a43b6;border-color:#7a43b6;}
.btn:active{box-shadow:inset 0 3px 6px rgba(0, 0, 0, 0.3);border-color:#613591;}
@media screen and (min-width:820px){body{font-size:18px;} .highlight{line-height:25px;} .lead{font-size:24px;} .btn{display:inline-block;margin-bottom:0;} .container{margin-left:30%;margin-right:10%;padding-left:0;padding-right:0;} .masthead{position:fixed;top:0;bottom:0;left:0;z-index:5;width:25%;background-attachment:fixed;} .masthead:after{position:absolute;top:-20px;right:0;bottom:-20px;left:-10px;z-index:10;display:block;content:" ";box-shadow:inset -5px 0 25px rgba(0, 0, 0, 0.3);} .masthead-inner{position:absolute;right:0;bottom:0;left:0;z-index:15;}}@media screen and (min-width:1100px){.masthead h1{font-size:60px;}}
