/* home banner 
html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*/ /* Edited by budi */

.promo-slider {	
width:100%;
position: relative;
height: 450px;
margin: 0;
display:block;
overflow:hidden;
}



h4 {
  font-size:140%;
  font-family:Arial, helvetica, sans-serif;
  margin-bottom:10px;
  color: #d50f25
  width:100%;

  line-height:1.2em;
  padding-bottom:12px;
}

p {
  font-size: 1em;
  line-height: 18px;
  color:#444 !important;
  display:inline;
}




/* promo bawah */
.promotion_title {
	padding:15px;
	border-bottom:4px solid #e91126;
}
.promotion_title h1.promo_title {
	font-weight:bold;
	font-size:18px;
	color:#e91126;
	font-family: 'open sans', Arial;
	width:400px;
}
.promotion_content_container {
	padding:0px 10px 10px 10px;
}
.promotion_content {
	padding:10px;
	border: 1px solid #e1e1e1;
}
.promotion_content h3 {
	color: #36424a;
	font-weight:bold;
	font-size:12px;
	margin:5px 0px 10px 0px;
}
.promotion_content2{
	-webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.list_promotion {
	padding:0px 10px;
}
.list_promotion ul {
	margin-right:-50px;
}
.list_promotion ul li {
	float:left;
}
.list_promotions {
	margin:10px 10px 20px 10px;
	width:215px;
}
.list_promotions img {
	-webkit-border-radius: 10px;
    border-radius: 10px;
}
.list_promotions_text {
	font-size:12px;
}
.list_promotions_text h4 {
	font-weight:bold;
	font-size:16px;
	color:#e91126;
	margin:10px 0px;
}
.list_promotions_text p {
	line-height:16px;
	margin:5px 0px;
}

.promo_paging {
	margin: 40px 0 20px;
	padding: 20px 20px 20px 20px;
	border-top:1px solid #e1e1e1;
	text-align:center;
}




/*

.backdrop, .backdrop_promo {
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:1999;
	display:none;
}


.box, .box_promo {
	position:absolute;
	width:800px;
	z-index:2000;
	padding:10px;
	display:none;
}

.box_title, .box_title_promo {
	
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cae31717,endColorstr=#cae31717);
	zoom: 1;
	
	padding:10px;
	background: rgba(227,23,23,0.8);
	color:#ffffff;
}
.box_title span, .box_title_promo span  {
	font-size:30px;
	font-family:'Conv_DINPRO-BOLD', Arial;
}

.close, .close_promo {
	float:right;
	margin-right:6px;
	cursor:pointer;
	background:url('../images/assets/pop_close.png') top right no-repeat;
	width:99px;
	height:55px;
}
.box_content, .box_content_promo {
	padding:10px;
	background:#ffffff;
	line-height:15px;
	color:#353535;
}
.box_left, .box_left_promo {
	width:315px;
	border-right:1px solid #e1e1e1;
}
.box_content_text, .box_content_text_promo {
	border-left:1px solid #e1e1e1;
	margin-left:-1px;
}
.box_content_text_title, .box_content_text_title_promo {
	border-bottom:1px solid #e1e1e1;
	padding:0px 15px 15px 15px;
	width:425px;
}
.box_content_text_title h3, .box_content_text_title_promo h3 {
	color:#e91126;
	font-size:16px;
	margin:0px 0px 5px 0px;
}
.box_content_text_title h2, .box_content_text_title_promo h2  {
	color:#3b3b3b;
	font-size:18px;
	margin:10px 0px 0px 0px;
}
.box_content_texts, .box_content_texts_promo {
	padding:15px;
	width:415px;
}
.box_content_texts p, .box_content_texts_promo p {
	line-height:16px;
	margin:5px 0px;
}
.box_booking_search, .box_booking_search_promo {
	position:relative;
}
.box_booking_close, .box_booking_close_promo {
	position:absolute;
	padding:4px 8px;
	font-weight:bold;
	background:#4f4f4f;
	color:#ffffff;
	top:5px;
	right:15px;
	-webkit-border-radius: 15px;
    border-radius: 15px;
	text-decoration:none;
}
*/

.gw_Offer
{
	position:relative;
	width:309px;
	float:left;
	margin-right:13px;
	min-height:400px;  
	margin-bottom:20px;
	border: 1px solid #D7D7D7;
	-webkit-box-shadow: 0 2px 2px -1px #DFDFDF;
	box-shadow: 0 2px 2px -1px #DFDFDF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background:#ffffff;
}

.gw_dd_content_container
{
    margin-top:8px;
    float: left;
    width: 960px;
}
.gw_dd_content_hero_container
{
    float:left;
}
.gw_dd_content_title
{
    float:left;
   font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
   font-weight: bold;
   font-size: 28px;
   color: #004990;
   border-bottom: 1px solid #dae8f6;
   padding-bottom: 16px;
   margin-bottom: 20px;
   width: 960px;
   padding-top:36px;
}
.gw_dd_content_stack
{
    float:left;
    width:960px;
    margin-bottom: 20px;
}
.gw_dd_content_stack>div
{
    float:left;
    width:310px;
    min-height: 320px;
}
.gw_dd_content_stack_middle
{
    margin-left: 15px;
    margin-right: 15px;
}
.gw_dd_content_stack_img
{
    width:310px;
    height: 180px;
    float:left;
}
.gw_dd_content_stack_offer
{
    float:left;
    width:auto;
    min-height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
}

.gw_dd_content_stack_title
{
    float:left;
    color: #004990;
    width:100%;
}
.gw_dd_content_stack_description{
    float:left;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    color: #454545;
    margin-top: 10px;
    margin-bottom: 17px;
    width:100%;
    line-height:1.7;    
}
.gw_dd_content_stack_starrating{
    float:left;
    padding-bottom:17px;
    
    width:100%;
}

.gw_dd_content_stack .gw_Offer
{
    min-height: auto;  
    padding-bottom: 17px;
}

.gw_dd_content_stack_buttondiv
{
float: left;
margin-right: 20px;
margin-left: 20px;
border-top: 1px dotted #E4E5E6;
padding-top: 14px;
margin-top: 6px;
width: 266px;
}


.gw_dd_content_poi
{
    float:left;
    width:960px;
}
.gw_dd_content_poi_container
{
    float:left;
    height:auto;
    width:100%;
    padding-bottom:38px;
}
.gw_dd_content_poi_numImg
{
    float:left;
    width: 62px;
    height:56px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 56px;
    color:#CCCCCC;
}
.gw_dd_content_poi_title
{
    float:left;
    width: 898px;
    height: 40px;
    color: #004990;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.gw_dd_content_poi_content
{
    float:left;
    width: 898px;
    height:auto;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #454545;
    line-height:1.7;
}

.gw_dd_content_activities
{
    float:left;
    width:960px;    
}
.gw_dd_content_activities_stack
{
    float:left; 
    width:100%;   
    padding-bottom:35px;
}
.gw_dd_content_activities_container
{
    float:left;  
    width: 430px;
    padding-right:50px;  
}
.gw_dd_content_activities_title
{
    float:left;    
    width:100%;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size:20px;
    color: #004990;
    padding-bottom:19px;
}
.gw_dd_content_activities_content
{
    float:left;
    width:100%;
    height: auto;    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #454545;
}


.gw_dd_content_ymalike_title
{
    width: 960px;
    margin-top:20px;
    float:left;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #004990;
    padding-bottom:14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DAE8F6;
}
.gw_dd_content_ymalike_offer
{
    float:left;
    width: 232px;
    height:162px;   
    margin-right:10px;
}
.gw_dd_content_ymalike_offer_container>.gw_firstchild
{
    margin-right:11px;
}
.gw_dd_content_ymalike_offer_container>.gw_lastchild 
{   
    margin-right:0px;
    float:right;
}
.gw_dd_content_ymalike_offer .gw_dd_content_ymalike_img
{
    float:left;
    width:100%;
}
.gw_dd_content_ymalike_offer .gw_bluebar
{
    float:left;
    position:relative;
    margin-top: -35px;
    width: 100%;
    height: 35px;
    background-color:#004890;
    opacity:0.8;
    filter:alpha(opacity=80);
}
.gw_dd_content_ymalike_offer .gw_ymalike_text
{
    float:left;
    position:relative;
    margin-top:-35px;
    color: #FFF;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-left:20px;
    padding-top:11px;
}

.gw_dd_content_legal
{
    float:left;
    margin-top:40px;
    padding-top:30px;
    border-top: 1px solid #999999;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 10px;
}
