/*=== Page Title Styles
==================================================*/
.page .contact-us {
	font-size: 12px;
	line-height: 18px;
}
.contact-us #container {
	padding-top: 30px; 
	}
	
.contact-us #container a:hover {
	color: #004990;
	text-decoration: underline;
	}	
	
.contact-us #container h2 { 
	font-family: 'gr-bold', Arial, Helvetica, sans-serif;
	font-size: 24px;
	/*background: url(/img/contactus/bg-contact-us-header-phone.jpg) no-repeat 0 0;*/
	padding: 1px 0 24px 0px;
	}
	
.contact-us #container .talk-to-us h2 {

	} 	
	
.contact-us #container .just-ask h2 {
	/*background: url(/img/contactus/bg-contact-us-header-question.jpg) no-repeat 0 0;*/
	padding: 6px 0 19px 45px;
	}
	
.contact-us #container h3 {
	color: #FF0000;
	font-family: 'gr-med', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.1;
	}		
	
.contact-us #container h6 {
	color: #454545;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding: 0 0 10px;
	}		
	
.contact-us #container p {
	color: #454545;
	font-size: 14px;
	line-height: 1.1;
	padding: 0 0 33px;
	}
		 	
.contact-us #container p.intro {
	padding-bottom: 0px;
	color: #454545;
	font-family: 'gr-book', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
	}		
	
.contact-us #container p.intro a {
	color: #4d90cd;
	}	
	
.contact-us #container  .blue-col2-bg {
	background: url("/img/booker-rnd-sp.gif") no-repeat scroll -1286px top transparent;
	padding-top: 3px;
	}	
	
.contact-us #container .blue-col2-bg .inner {	
	background: url("/img/booker-rnd-sp.gif") no-repeat scroll -1606px bottom #F1F5F8;
	padding: 27px 30px 30px;
	}		

.contact-us #container .blue-col2-bg p {
	line-height: 2;
	padding-bottom: 0;
	}

.contact-us #container .tele-numbers {
	padding-top: 25px;
	}	
	
.contact-us #container .tech-issues {
	/*margin-top: 30px;*/
	margin-bottom: 10px;
	}

.contact-us #container .tech-issues p {	
	color: #454545;
	font-size: 14px;
	line-height: 2;
	}
	
.contact-us #container .faq ul {	
	/* padding: 20px 0 0; */
	}
	
.contact-us #container .faq ul li {	
	padding: 25px 0 0;
	font-size: 14px;
	line-height: 1.6;
	}	
	
.contact-us #container .faq ul li.first {	
	padding-top: 0;
	}	
	
.contact-us #container .faq ul li a {	
	color: #4d90cd;
	}	
	
.contact-us #container .faq ul li a:hover {
	color: #004990;
	text-decoration: underline;
	}	
	
.contact-us #container .faq .blue-dark-btn-wrap {
	width: 140px;
	}	
	
.contact-us #container .faq .blue-dark-btn-inner {
	height: 35px;
	overflow: hidden;
	}
	
.contact-us #container .faq .blue-dark-btn-wrap a {
	color: #fff;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 8px 0 7px;
	}		
	
.contact-us #container .faq .blue-dark-btn-wrap a:hover {	
	text-decoration: none;
	color: #fff;
	}
	
.contact-us #container .just-ask {
	border-top: 1px solid #e1edf8;
	margin-top: 12px;
	padding-top: 39px;
	}
	
.contact-us #container .just-ask .tab-content {
	padding-bottom: 25px;
	}




#leftcol {
width: 640px;
margin: 0 10px 0 0;
float: left;
}

/*======sticky-nav
===========================*/


#sticky-nav {
	position: static;
	margin-top: 8px;
	z-index: 1000;
	}
	
#sticky-nav .sticky-nav-wrapper {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	padding: 18px 0 0;
	}	
	
.social-share .at300b {
    width: 110px;
	}			
	
body.fixed-nav-enabled #sticky-nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FFF;
	}
	
body.fixed-nav-enabled #jb-header{
	padding-bottom: 116px;
	}

body.fixed-nav-enabled #jb-header.no-stick-nav {
	padding-bottom: 56px;
	}

#sticky-nav .page-title {
	position: relative;
	padding: 0 0 20px;
	border-bottom: 1px solid #fe2232;
	}
	
#sticky-nav .page-title h3 {
	color: #004990;
 	width: 450px;
 	margin: 0 !important;
 	padding: 0;
	}
	
#sticky-nav .page-title .social-share {
 	position: absolute;
 	top: 0;
 	right: 0;
 	width: 405px;
 	margin: 0;
 	padding: 0;
	}
	
#sticky-nav .page-title #back-to-top {
	display: block;
	position: absolute;
 	top: 0;
 	right: 0;
 	width: 83px;
	padding: 3px 0 0;
	background: url(/img/bg-back-to-top.jpg) no-repeat right 5px;
	color: #fe2232;
	font-size: 13px;
	line-height: 1.1;
	}
	
#sticky-nav .page-title #back-to-top:hover {
	color: #fe2232;
	background-position: right -35px;
	text-decoration: underline;
	}	

/*=== Sticky Navigation
==================================================*/
#sticky-nav .nav-sections {
	cursor: pointer;
	z-index: 5;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px 0 20px;
	border-bottom: 1px solid #E1EDF8;
	}
	
#sticky-nav .nav-sections .section-dropdown {
	z-index: 1001;
	position: absolute;
	top: 12px;
	right: 0;
	background: transparent url(/img/section-dd-bg.png) 0 0 no-repeat;
	width: 152px;
	height: 32px;
	}
	
#sticky-nav .nav-sections .section-dropdown h5 {
	cursor: inherit;
	font-size: 13px;
	color: white;
	margin: 0;
	padding: 8px 0 8px 10px;
	}
	
#sticky-nav .nav-sections .section-dropdown .section-nav {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent url(/img/section-dd-bg.png) -157px top no-repeat;
	width: 152px;
	padding: 0 0 13px;
	}
	
#sticky-nav .nav-sections .section-dropdown .section-nav .inner {
	background: transparent url(/img/section-dd-bg.png) -314px bottom no-repeat;
	padding: 0 0 3px;
	}
	
#sticky-nav .nav-sections .section-dropdown .section-nav .inner .nav {
	background-color: #4d90cd;
	padding: 5px 0;
	}
	
#sticky-nav .nav-sections .section-dropdown .section-nav .inner li {
	margin: 0;
	padding: 0;
	background: none;
	/*margin-bottom: 3px;*/
	}
	
#sticky-nav .nav-sections .section-dropdown .section-nav .inner a { 
	font-size: 13px;
	line-height: 1.1;
	display: block;
	color: white;
	text-decoration: none;
	padding: 6px 10px;
	}
	
#sticky-nav .nav-sections .section-dropdown .section-nav .inner a:hover {
	background-color: #004990;
	}
	
#sticky-nav .nav-sections .active .section-nav {
	display: block;
	}

#sticky-nav .nav-sections #page-nav {
	padding: 0;
	margin: 0;
	}
	
#sticky-nav .nav-sections #page-nav li {
	background: none;
	padding: 0;
	margin: 0;
	float: left;
	font-size: 15px;
	font-weight: 700;
	margin-left: 24px;
	}

#sticky-nav .nav-sections #page-nav li:first-child,
#sticky-nav .nav-sections #page-nav .first {
	margin-left: 0;
	}
	
#sticky-nav .nav-sections #page-nav a {
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #4d90cd;
	padding-bottom: 4px;
	}
	
#sticky-nav .nav-sections #page-nav a:hover {
	text-decoration: underline;
	color: #004990;
	}	

/*
#sticky-nav .nav-sections #page-nav a:hover, 
#sticky-nav .nav-sections #page-nav a.active {
	background: transparent url(/img/dwn-arrow.png) center bottom no-repeat;
	}
*/

#sticky-nav .page-title:after,
#page-nav:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	}
	
html.oldie #sticky-nav .page-title,
html.oldie #page-nav {
	zoom: 1;
	_height: 1%;
	}	



