/*
@import url("reset.css");
@import url("page_hotel.css");
@import url("promotion.css");
@import url("corporate.css");
@import url("about.css");
@import url("help_info.css");
*/
@import url("menu_nav.css");

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#6d7a8c;
	height:100%;
	background-color:#ffffff;
	
}

#body_container {
	width:981px;
	margin:0px auto;
	padding:0px;
	
}
.clean {
	clear : both;
}
.hidden {
	display:none;
}
.no_border {
	border:0px;
}
.f_left {
	float:left;
}
.f_right {
	float:right;
	
}
.clearfix {
  *zoom: 1;
  
}
.clearfix:before,
.clearfix:after {
  display: table;
  
}
.clearfix:after {
  clear: both;
}
hr.hr_one {
	border-top: 1px solid #e0e0e0;
	border-right:0px;
	border-left:0px;
	border-bottom:0px;
	height:1px;
	margin:0px;
}
i, em {
	font-style:italic;
}
b {
	font-weight:bold;
}


/**
 *	MAIN
 *
**/

#header {
	width: 981px;
}
#content-container {
	width: 981px;
}
#footer {
	width: 981px;
}

/* START HEADER */
#header_top {
	margin:0px;
	padding:0px;
	background:rgba(211,0,0,0.2);
}
#logo {
	background:url('../images/assets/logo.jpg') top left no-repeat;
	width:107px;
	height:79px;
	float:left;
	margin-top:10px;
}
#header_nav {
	float:right;
}
#link_header {
	height:57px;
	margin-top:10px;
}
#header_menu {
	margin:0px;
	padding:0px;
	width:700px;
	
}
.small_flag {
	margin-top:8px;
}
.search_box {
	border: 1px solid #f3f3f3;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
	padding:5px;
	background: url('../images/assets/search.png') top right no-repeat;
}

/* #top_menu {
	margin-top:15px;
	background: url('../images/assets/nav_header_menu.png') top left no-repeat;
	
}
#top_menu ul li {
	float:left;
	list-style:none;
	margin:0px;
	padding:0px;
	
}

ul#ul_top_menu {
	margin-left: 1px;
	height:50px;
	width:983px;
}
ul#ul_top_menu li, ul#ul_top_menu li a {
	display:inline-block;
}
ul#ul_top_menu li a.a_first{
	padding:20px 20px 20px 20px;
	width: 90px;
	height:10px;
	
	color:#ffffff;
	font-family: 'Gotham Rounded', Arial;
	text-decoration:none;
	font-size:16px;
	
	text-align:left;
	
	border-right: 1px solid #ffffff;
}
ul#ul_top_menu li a.a_first:hover, ul#ul_top_menu li a.home_hover, ul#ul_top_menu li a.hotel_hover, ul#ul_top_menu li a.promotion_hover, ul#ul_top_menu li a.corporate_hover, ul#ul_top_menu li a.about_us_hover, ul#ul_top_menu li a.help_info_hover{
	color:#e91126;
	
	
    
}
ul#ul_top_menu li:first-child a.a_first{
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
ul#ul_top_menu li:last-child a.a_first{
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	border-right: 0px;
}
ul#ul_top_menu li a.home{
	
}
ul#ul_top_menu li a.home:hover, ul#ul_top_menu li a.home_hover{
	
}
ul#ul_top_menu li a.hotel{
	
}
ul#ul_top_menu li a.hotel:hover, ul#ul_top_menu li a.hotel_hover{
	
}
ul#ul_top_menu li a.promotion{
	
}
ul#ul_top_menu li a.promotion:hover, ul#ul_top_menu li a.promotion_hover{
	
}
ul#ul_top_menu li a.corporate{
	
}
ul#ul_top_menu li a.corporate:hover, ul#ul_top_menu li a.corporate_hover{
	
}
ul#ul_top_menu li a.about_us{
	
}
ul#ul_top_menu li a.about_us:hover, ul#ul_top_menu li a.about_us_hover{
	
}
ul#ul_top_menu li a.help_info{
	
	position:absolute;
}
ul#ul_top_menu li a.help_info:hover, ul#ul_top_menu li a.help_info_hover{
	
} */

/** language **/

ul#list_language li {
	float: left;
	width: 210px;
	margin-bottom: 5px;
	margin-top: 5px;
}
ul#list_language li span {
	font-size: 12px;
	font-weight: bold;
}
ul#list_language li ul {
	margin-left: 12px;
}
ul#list_language li ul li {
	float: left;
	display: inline-block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 3px;
}
ul#list_language li ul li:not(:first-child) {
	border-left: 1px solid #8c8c8c;
}
ul#list_language li ul li a {
	font-size: 11px;
	text-decoration: none;
	color: #8c8c8c;
}
ul#list_language li ul li a:hover {
	text-decoration: underline;
}

#this_country_lang {
	padding: 7px 10px;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	font-weight: bold;
	width: 180px;
	margin-right: 10px;
	margin-top: 1px;
	background: url('../images/assets/arrow_down.png') center right no-repeat;
}



/** menu (**/
/* Targeting the second level menu */
#ul_top_menu li ul {
	font-family: Arial;
	font-size:16px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: rgba(255,255,255,0.9);
	border: 1px solid #E1E1E1;
	color: #ffffff;
	display: none;
	margin-top: 0px;
	width: 200px;
	position: absolute;
	z-index:99999;
	padding:5px 0px;
}
#ul_top_menu li ul li {
	width: 100%
}
#ul_top_menu li ul li a {
	background: none;
	border: none;
	margin: 0px;
	padding: 7px 7px 5px 7px;
	width:186px;
	font-family: Arial;
	color:#7f7f7f;
	text-decoration:none;
}
#ul_top_menu li ul li a:hover {
	background: #e91126;
	color:#ffffff;
	
}

/* Third level menu */
#ul_top_menu li ul li ul{
	right: -202px;
	top:-5px;
}

/* A class of current will be added via jQuery */
#ul_top_menu li.current > a {
	background: #f7f7f7;
	color:#929292;
}
/* CSS fallback */
#ul_top_menu li:hover > ul.child {
	display: block;
	background: url('../images/assets/menu_hotel_hover.png') center right no-repeat;
}
#ul_top_menu li:hover > ul.grandchild  { 
	display: block;
	background: url('../images/assets/menu_hotel_hover.png') center right no-repeat; 
}


/* END HEADER */

/* home banner */
#home_banner {
	position:relative;
	margin-bottom:20px;
	min-height: 423px;
}

/* booking check in check out */
#container-book {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	position:absolute;
	top:10px;
	left:10px;
	z-index:99
}

.booking {
	background: rgba(255, 255, 255, 0.9);
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 283px; 
	border: 1px solid #ccc;
	padding:10px;
}
.booking h1 {
	font-size:40px;
	color:#e91126;
	font-family: 'open sans', Arial;
	margin:10px 0px 20px 0px;
}
.booking h5{ font-size: 11px; padding: 0px; margin: 0px; position: relative; left: 6px; }
.booking ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li.booking_ul {
	margin-bottom: 18px;
	clear: both;
	padding : 0px 5px;  font-size: 11px; padding-left: 3px;
}
.booking label {
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	display: block;
}
.booking a { padding-left: 5px; color: #555}
.booking p{ padding: 0px; margin: 0px; padding-left: 5px; }
.added{ background: rgba(190, 190, 190, 0.6); padding:10px 0px; padding-bottom: 1px;margin: 0px; margin-bottom: 10px; margin-top: 60px; clear: both;}



/** my form **/
.my_input_style {
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
	background:#ffffff;
	padding:10px;
	border:0px;
}
.no_border {
	border:0px;
}
.btn_search {
	padding: 7px 70px 7px 7px;
	background: url('../images/assets/search_button.png') top left no-repeat;
	font-size:26px;
	color:#ffffff;
	font-family: 'open sans', Arial;
	border:0px;
	cursor:pointer;
	width:276px;
	text-align:center;
}
.btn_go {
	background:url('../images/assets/lets_go.png') top left no-repeat;
	width:115px;
	height:40px;
	border:0px;
	padding:7px 30px 10px 5px;
	cursor:pointer;
	font-size:15px;
	color:#ffffff;
	font-family: 'open sans', Arial;
	/* font-weight:bold; */
	display:inline-block;
}
.input_light {
	padding: 5px;
	border: 1px solid #E1E1E1;
	color: #a6a6a6;
	margin:2px;
}
.input_error {
	background:#ffd6d6;
	border:1px solid #e13131;
	padding: 5px;
	margin:2px;
}
.span_input_error {
	background:#ffd6d6;
	border:1px solid #e13131;
	padding: 5px;
	margin:2px;
	color:#930707;
	position:relative;
	z-index:100;
}
.span_input_error1 {
	background:#ffd6d6;
	border:1px solid #e13131;
	padding: 5px;
	margin:2px;
	color:#930707;
	display:block;
}
.full_width {
	width:100%;
}
span.red {
	color:#cd0000;
}

/* top destination */
#container_home_content_left {
	
}
.top_destination {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	padding:10px;
	border: 1px solid #e1e1e1;
	width:300px;
}
.top_destination h1 {
	font-size:20px;
	color:#4f5966;
	font-family: 'open sans', Arial;
	margin:10px 0px;
}
.top_destination ul li {
	border-bottom:1px solid #e1e1e1;
	margin:5px 0px;
	display:inline-block;
	width:100%;
	padding-bottom:10px;
}
.top_destination_from {
	width:35px;
	text-align:right;
	font-size:10px;
	color:#4f5966;
	margin-right:10px;
}
.top_destination_price_large, .top_destination_price_small{
	text-align:left;
	color:#e91126;
	font-family: 'open sans', Arial;
}
.top_destination_price_small{
	font-size:27px;
}
.top_destination_price_large{
	font-size:35px;
}
.top_destination_price_pernight{
	text-align:left;
	color:#4f5966;
	font-size:10px;
	width:25px;
	padding-left:5px;
	display:inline-block;
}
.top_destination_right {
	color:#e91126;
	font-size:14px;
	font-family: 'open sans', Arial;
	text-align:right;
	width:83px;
	position:relative;
	height:32px;
}
.top_destination_right .isi {
	position:absolute;
	right:0;
	bottom:0;
}
ul.social{
	margin-right:-15px;
}

ul.social li {
	float:left;
	margin:0px 15px 15px 0px;
}

#container_home_content_center {
	width:316px;
	margin-left:10px;
}

#container_slider_hot {
	position:relative;
}
.slider-wrapper-hot {
	width:316px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	margin-bottom:0px;
}
#slider_hot {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border:0px;
}
.text_slider_hot {
	position:absolute;
	left:20px; 
	top:0;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	-webkit-box-shadow:  1px 1px 2px 0px #808080;
	box-shadow:  1px 1px 2px 0px #808080;
	border:0px;
	background:rgba(255,255,255,0.9);
	padding:8px;
	z-index:999;
	color:#5b6470;
	font-size:18px;
	font-family: 'open sans', Arial;
}
#container_promo {
	margin-top:-30px;
}
.image_promo {
	width:316px;
	overflow:hidden;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:0px;
}

#container_home_content_right {
	width:316px;
	margin-left:10px;
}

.mod_social{
	-webkit-border-radius: 10px;
    border-radius: 10px;
	padding:10px 20px;
	border: 1px solid #e1e1e1;
	width:280px;
}
.mod_social h1{
	color: #e91126;
	font-size:20px;
	font-family: 'open sans', Arial;
	margin:10px 0px;
}

.newsletter_container {
	margin-top:10px;
}
.mod_newsletter{
	-webkit-border-radius: 10px;
    border-radius: 10px;
	padding:20px;
	border: 1px solid #e1e1e1;
	width:280px;
}
.mod_newsletter h1{
	color: #4f5966;
	font-size:20px;
	font-family: 'open sans', Arial;
	margin:10px 0px;
	margin-left:10px;
}
.mod_newsletter span {
	color:#7f7f7f;
	font-size:12px;
	line-height:17px;
	margin:10px 0px;
	display:inline-block;
}
a.my_red_grad {
	background: #fe0000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U0MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2NiMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fe0000 0%, #e40000 50%, #cb0000 51%, #cc0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0000), color-stop(50%,#e40000), color-stop(51%,#cb0000), color-stop(100%,#cc0000));
	background: -webkit-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: -o-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: -ms-linear-gradient(top,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	background: linear-gradient(to bottom,  #fe0000 0%,#e40000 50%,#cb0000 51%,#cc0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#cc0000',GradientType=0 );
	font-size:14px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	padding:7px;
	display:inline-block;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}

/* 4 menu bawah */

.container_foot_home {
	margin-top:10px;
	position:relative;
	margin-left:13px;
	width:981px;
}

ul.ul_foot_home li {
	-webkit-border-radius: 10px;
    border-radius: 10px;
	border: 1px solid #e3e3e3;
	display:inline-block;
	background: #fcfcfc;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#e6e6e6 100%);
	background: linear-gradient(to bottom,  #fcfcfc 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e6e6e6',GradientType=0 );
	margin-right:8px;
	width:230px;
}
ul.ul_foot_home li:last-child {
	margin-right:0px;
}
.content_foot_home {
	padding:10px;
	height:75px;
	position:relative;
	}
.content_foot_home h1 {
	text-align:right;
	color:#4f5966;
	font-size:15px;
	font-family: 'open sans', Arial;
	margin:0px 0px 10px 0px;
}
.content_foot_home h2 {
	text-align:right;
	margin-top:40px;
}
.foot_map {
	background:url('../images/assets/home_map.png') 10px 10px no-repeat;
}
.foot_video {
	background:url('../images/assets/home_video.png') 10px 15px no-repeat;
}
.foot_corporate {
	background:url('../images/assets/home_corporate.png') 10px 15px no-repeat;
}
.foot_guest {
	background:url('../images/assets/home_guest.png') 10px 15px no-repeat;
	
}

/* ----------------------------------------------------------------------------*/

/** search **/
.search_result {
	font-size:12px;
	line-height:17px;
	margin-bottom:15px;
	display:inline-block;
	width:630px;
}
.search_result h5 {
	font-size:13px;
	font-weight:bold;
	color:#4e4e4e;
	margin:5px 0px;
}
a.read_more {
	color:#E91126;
	text-decoration:underline;
}
a.read_more:hover {
	color:#be0c1d;
}

/** FOOTER **/
#footer_container {
	width:100%;
	background:#f4f4f4 url('../images/assets/foot_bg.jpg') top left repeat-x;
	margin-top:10px;
}

.row {
	position:relative;
	overflow: hidden;
	}

.footer_content {
	width:981px;
	margin:0px auto;
	padding:1px 0px 0px 0px;
}

.two .first { 
	margin-left:-1px;
	width:469x;
	}

.two .col1 { 
	
	border-left:0px solid #e0e0e0;
	width:469x;
	margin-left:-1px;
	float: left;
	}
.footer_content_left1{
	padding:10px;
	border-right:1px solid #e0e0e0;
	width:469px;
	
}
.footer_content_right1{
	padding:10px;
	border-left:1px solid #e0e0e0;
	width:469px;
	margin-left:-1px;	
} 

/* .footer_content_right1 ul{
} */
.footer_content h1 {
	color: #e91126;
	font-size:15px;
	font-family: 'open sans', Arial;
	margin:10px 0px 10px 0px;
}
.footer_content h2 {
	font-weight:bold;
	font-size:11px;
	color:#36424a;
	margin:10px 0px;
	
}
.foot_list_hotel {
	width:214px;
	padding-right:20px;
	margin:0px 0px 10px 0px;
	
}
.footer_content span {
	color:#6d7a8c;
	font-size:10px;
	line-height:15px;
}
.footer_content a {
	text-decoration:none;
	color:#6d7a8c;	
}
.footer_content a:hover {
	color:#555f6e;
}
.foot_list_hotel_isi{
	margin-bottom:20px;
}
.follow_media {
	width:120px;
	height:50px;
}
.follow_media img {
	margin-right:3px;
}
.footer_content h3 {
	font-weight:bold;
	font-size:13px;
	color:#4f5966;
	margin-top:5px;
}
.footer_content h4 {
	font-size:11px;
	color:#4f5966;
}
.footer_content_left2{
	padding:10px;
	width:469px;
}
.footer_content_right2{
	padding:10px;
	width:469px;
	margin-left:-1px;
}
.footer_content h5 {
	font-size:11px;
	color:#6c6c6c;
	margin-bottom:10px;
}
.footer_text {
	padding:5px 10px 20px 10px;
	line-height:15px;
}


/** pagination **/
#in_pagination{
	text-align:center;
}
ol#pagination{
	margin:0px auto;
	display:inline-block;
}
ol#pagination li {
	float:left;
	padding:3px 5px;
	cursor:pointer;
}

/** pages and search **/
.page_content h1 {
	border-bottom: 4px solid #E91126; 
	color:#E91126;
	font-family:'open sans',Arial;
	padding:10px 0px;
	font-size:18px;
	margin-bottom:15px;
}

/** lightbox **/

.backdrop1
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#444444;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:99991;
	display:none;
}


.box1
{
	position:absolute;
	/* top:20%;
	left:30%; */
	width:650px;
	z-index:99999;
	display:none;
	border: 1px solid #8c8c8c;
}
.box_title1 {
	padding:10px;
	/* background: rgba(211,0,0,0.75); */
	background: #ffffff;
	color:#444444;
}
.box_title1 span {
	font-size:16px;
	font-family: 'open sans', Arial;
	color: #E91126;
}

.close1
{
	float:right;
	margin-right:0px;
	cursor:pointer;
	background:url('../images/assets/pop_close_small.png') top right no-repeat;
	width:19px;
	height:19px;
}
.box_content1 {
	padding:10px;
	background:#ffffff;
	line-height:15px;
	color:#353535;
}

.box_content1 h4 {
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	color:#353535;
	margin:10px 0px;
}

.box_content1 h5 {
	font-family:Arial;
	font-size:16px;
	font-style:italic;
	color:#353535;
	margin:5px 0px;
}
.boc_cont_cont1 {
	/* margin:15px 0px; */
}