.wrap {
  width: auto;
  clear: both;
}
body {
  background-color: #fff;
  color: #666;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}
a {
  color: #f7682c;
  text-decoration: none;
}
a:hover {
  color: #e74b09;
  text-decoration: underline;
}
img {
  max-width: 100% !important;
}
.img-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
-------------------------------------------------------
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  line-height: 20px;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
}
td {
  border-top: 1px solid #ddd;
}
th {
  background: #444;
  color: #eee;
  font-weight: bold;
}
th a {
  color: #eee;
}
th a:hover,
th a:focus,
th a:active {
  color: #fff;
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f5f5f5;
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: #f9f9f9;
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
-------------------------------------------------------
.star {
  color: #fc0;
}
.red {
  color: #c00;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
form {
  margin: 0 0 20px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input.input-text,
.uneditable-input {
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}
input,
textarea {
  width: 210px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
  -moz-transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
  -o-transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
  transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0,0,0,.25);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0,0,0,.25);
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #ddd;
}
select[multiple],
select[size] {
  height: auto;
}
.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  padding-top: 5px;
  margin-bottom: 0;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
.help-block,
.help-inline {
  color: #8c8c8c;
}
.help-block {
  margin-bottom: 10px;
}
.input-append,
.input-prepend {
  margin-bottom: 5px;
}
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  margin-bottom: 0;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
}
.form-horizontal .control-label {
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 160px;
}
.form-horizontal .help-block {
  margin-top: 10px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
.btn {
  padding: 4px 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.1);
  color: #666;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top,#ffffff,#eee);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#eee));
  background-image: -webkit-linear-gradient(top,#ffffff,#eee);
  background-image: -o-linear-gradient(top,#ffffff,#eee);
  background-image: linear-gradient(to bottom,#ffffff,#eee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eee #eee #c8c8c8;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #666;
  background-color: #eee;
  *background-color: #e1e1e1;
}
.btn:active,
.btn.active {
  background-color: #d5d5d5 \9;
}
.btn:hover,
.btn a.btn:hover {
  text-decoration: none;
  background-color: #eee;
}
.btn:focus,
.btn a.btn:focus {
  outline: 0;
}
.btn.active,
.btn:active,
.btn a.btn:active {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.5);
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
}
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #f87d49;
  background-image: -moz-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f98b5d),to(#f7682c));
  background-image: -webkit-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -o-linear-gradient(top,#f98b5d,#f7682c);
  background-image: linear-gradient(to bottom,#f98b5d,#f7682c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff88b5d', endColorstr='#fff7682c', GradientType=0);
  border-color: #f7682c #f7682c #cf4308;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f7682c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #f7682c;
  *background-color: #f65613;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #e74b09 \9;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #f87d49;
  background-image: -moz-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f98b5d),to(#f7682c));
  background-image: -webkit-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -o-linear-gradient(top,#f98b5d,#f7682c);
  background-image: linear-gradient(to bottom,#f98b5d,#f7682c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff88b5d', endColorstr='#fff7682c', GradientType=0);
  border-color: #f7682c #f7682c #cf4308;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f7682c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #f7682c;
  *background-color: #f65613;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #e74b09 \9;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #eb0000;
  background-image: -moz-linear-gradient(top,#ff0000,#c00);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff0000),to(#c00));
  background-image: -webkit-linear-gradient(top,#ff0000,#c00);
  background-image: -o-linear-gradient(top,#ff0000,#c00);
  background-image: linear-gradient(to bottom,#ff0000,#c00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0000', endColorstr='#ffcc0000', GradientType=0);
  border-color: #c00 #c00 #800000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #c00;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #fff;
  background-color: #c00;
  *background-color: #b30000;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #990000 \9;
}
.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #7ab800;
  background-image: -moz-linear-gradient(top,#88cc00,#690);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#88cc00),to(#690));
  background-image: -webkit-linear-gradient(top,#88cc00,#690);
  background-image: -o-linear-gradient(top,#88cc00,#690);
  background-image: linear-gradient(to bottom,#88cc00,#690);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff87cc00', endColorstr='#ff669900', GradientType=0);
  border-color: #690 #690 #334d00;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #690;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #690;
  *background-color: #558000;
}
.btn-success:active,
.btn-success.active {
  background-color: #446600 \9;
}
.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #00b0eb;
  background-image: -moz-linear-gradient(top,#00bfff,#09c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#00bfff),to(#09c));
  background-image: -webkit-linear-gradient(top,#00bfff,#09c);
  background-image: -o-linear-gradient(top,#00bfff,#09c);
  background-image: linear-gradient(to bottom,#00bfff,#09c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00bfff', endColorstr='#ff0099cc', GradientType=0);
  border-color: #09c #09c #006080;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #09c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #fff;
  background-color: #09c;
  *background-color: #0086b3;
}
.btn-info:active,
.btn-info.active {
  background-color: #007399 \9;
}
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #535353;
  background-image: -moz-linear-gradient(top,#5e5e5e,#444);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5e5e5e),to(#444));
  background-image: -webkit-linear-gradient(top,#5e5e5e,#444);
  background-image: -o-linear-gradient(top,#5e5e5e,#444);
  background-image: linear-gradient(to bottom,#5e5e5e,#444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d5d5d', endColorstr='#ff444444', GradientType=0);
  border-color: #444 #444 #1e1e1e;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #444;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #444;
  *background-color: #373737;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #2b2b2b \9;
}
.invalid {
  border-color: #c00;
}
label.invalid {
  color: #c00;
}
.nav {
  margin-bottom: 20px;
}
.nav > li > a:hover {
  background-color: #666;
  color: #eee;
}
.nav .dropdown-toggle .caret {
  border-top-color: #f7682c;
  border-bottom-color: #f7682c;
  margin-top: 8px;
  margin-left: 5px;
}
.nav .dropdown-toggle:hover .caret {
  border-top-color: #e74b09;
  border-bottom-color: #e74b09;
}
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.caret {
  border-top: 4px solid #000;
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.dropdown-menu a {
  font-weight: normal;
  padding: 3px 20px;
  color: #444;
  text-shadow: none;
}
.nav li.dropdown.open > .dropdown-toggle,
.nav li.dropdown.active > .dropdown-toggle,
.nav li.dropdown.open.active > .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  background-color: none;
  color: #eee;
}
.nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
.nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}
.nav li.dropdown.open > .dropdown-toggle .caret,
.nav li.dropdown.active > .dropdown-toggle .caret,
.nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #fff;
  background-color: #666;
  background-color: #757575;
  background-image: -moz-linear-gradient(top,#808080,#666);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#808080),to(#666));
  background-image: -webkit-linear-gradient(top,#808080,#666);
  background-image: -o-linear-gradient(top,#808080,#666);
  background-image: linear-gradient(to bottom,#808080,#666);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7f7f7f', endColorstr='#ff666666', GradientType=0);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
  background-color: #fff;
  background-color: #f87d49;
  background-image: -moz-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f98b5d),to(#f7682c));
  background-image: -webkit-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -o-linear-gradient(top,#f98b5d,#f7682c);
  background-image: linear-gradient(to bottom,#f98b5d,#f7682c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff88b5d', endColorstr='#fff7682c', GradientType=0);
  font-weight: bold;
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999;
}
.dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.dropdown-submenu > .dropdown-menu {
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-submenu > a:after {
  border-width: 4px 0 4px 4px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #eee;
}
.ja-navhelper {
  background: #2f2f2f;
  color: #666;
}
.breadcrumb {
  padding: 10px 0;
  margin: 0;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  *zoom: 1;
}
.breadcrumb:before,
.breadcrumb:after {
  display: table;
  content: "";
  line-height: 0;
}
.breadcrumb:after {
  clear: both;
}
.breadcrumb li {
  text-shadow: none;
  display: block;
  float: left;
}
.breadcrumb a {
  color: #666;
}
.breadcrumb .divider {
  padding: 0 5px;
  color: #666;
}
.breadcrumb .divider img {
  vertical-align: middle;
}
.breadcrumb .active {
  color: #999;
}
.module_menu .nav {
  margin-bottom: 20px;
}
.module_menu .nav > li {
  border-top: 1px solid #eee;
}
.module_menu .nav > li > a {
  padding: 5px;
}
.module_menu .nav > li:first-child {
  border-top: 0;
}
.module_menu .nav > li:first-child > a {
  padding-top: 0;
  border-top: 0;
}
.ja-mainnav {
  height: 59px;
  float: right;
}
.ja-mainnav .navbar {
  color: #666;
  margin-bottom: 0;
  margin-top: 0;
}
.ja-mainnav .navbar-inner {
  min-height: 59px;
  padding: 0;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ja-mainnav .navbar .nav {
  margin: 0;
}
.ja-mainnav .navbar .nav > li > a {
  border-top: 0;
  font-weight: bold;
  margin: 0 15px;
  padding: 19.5px 0;
  outline: none;
  text-shadow: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ja-mainnav .navbar .nav > li > a:focus {
  color: #666;
  background: transparent;
}
.ja-mainnav .navbar .nav > li > a:hover {
  background: transparent;
  color: #eee;
  cursor: pointer;
  text-shadow: none;
}
.ja-mainnav .navbar .nav > li.active > a,
.ja-mainnav .navbar .nav > li.active > a:hover {
  background: transparent;
  color: #eee;
}
.ja-mainnav .navbar .nav > .active > a,
.ja-mainnav .navbar .nav > .active > a:hover,
.ja-mainnav .navbar .nav > .active > a:focus {
  background: transparent;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: solid 1px #fff;
}
.ja-mainnav .navbar .btn-navbar {
  float: left;
  padding: 7px 10px;
  margin: 7px 20px 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #919191;
  background-image: -moz-linear-gradient(top,#f2f2f2,#000000);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#000000));
  background-image: -webkit-linear-gradient(top,#f2f2f2,#000000);
  background-image: -o-linear-gradient(top,#f2f2f2,#000000);
  background-image: linear-gradient(to bottom,#f2f2f2,#000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ff000000', GradientType=0);
  border-color: #000000 #000000 #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.ja-mainnav .navbar .btn-navbar:hover,
.ja-mainnav .navbar .btn-navbar:active,
.ja-mainnav .navbar .btn-navbar.active,
.ja-mainnav .navbar .btn-navbar.disabled,
.ja-mainnav .navbar .btn-navbar[disabled] {
  color: #fff;
  background-color: #000000;
  *background-color: #000000;
}
.ja-mainnav .navbar .btn-navbar:active,
.ja-mainnav .navbar .btn-navbar.active {
  background-color: #000000 \9;
}
.ja-mainnav .navbar .btn-navbar .icon-bar {
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.ja-mainnav .btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #fff;
}
.ja-mainnav .dropdown .caret {
  margin-left: 5px;
  border-top: solid 4px #666;
}
.ja-mainnav .dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: solid 1px #fff;
}
.ja-mainnav .dropdown-menu a {
  border-top: 1px solid #eee;
  padding: 5px 20px;
  text-shadow: none;
  font-weight: 700;
}
.ja-mainnav .dropdown-menu li:first-child > a {
  border-top: 0;
}
.ja-mainnav .dropdown-menu li a:hover,
.ja-mainnav .dropdown-menu li a:focus,
.ja-mainnav .dropdown-menu li a:active,
.ja-mainnav .dropdown-menu li.active a,
.ja-mainnav .dropdown-menu li.active a:hover,
.ja-mainnav .dropdown-menu li.active a:focus,
.ja-mainnav .dropdown-menu li.active a:active {
  background: #000;
  color: #fff;
  font-weight: bold;
}
.ja-mainnav .dropdown-menu li li > a,
.ja-mainnav .dropdown-menu li.active li > a {
  background: #fff;
  color: #666;
}
.ja-mainnav .dropdown-menu li li > a:hover,
.ja-mainnav .dropdown-menu li li > a:focus,
.ja-mainnav .dropdown-menu li li > a:active,
.ja-mainnav .dropdown-menu li.active li a:hover,
.ja-mainnav .dropdown-menu li.active li a:focus,
.ja-mainnav .dropdown-menu li.active li a:active,
.ja-mainnav .dropdown-menu li.active li.active > a {
  background: #000;
  color: #fff;
}
.ja-mainnav .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.ja-mainnav .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.ja-mainnav .dropdown-menu li > a:hover,
.ja-mainnav .dropdown-menu li > a:focus,
.ja-mainnav .dropdown-submenu:hover > a {
  background: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.ja-mainnav .dropdown-menu .active > a {
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.ja-mainnav .dropdown-menu .active > a:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.ja-mainnav .dropdown-menu .disabled > a,
.ja-mainnav .dropdown-menu .disabled > a:hover {
  color: #999;
}
.ja-mainnav .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.ja-module {
  margin-bottom: 40px;
}
.module-title {
  line-height: 30px;
  margin: 0 0 10px 0;
}
.ja-module ul,
.ja-module ol {
  margin-left: 20px;
}
.ja-module ul.unstyled,
.ja-module ol.unstyled,
.ja-module ul.nav,
.ja-module ol.nav {
  margin-left: 0;
}
.module_menu .nav {
  margin-bottom: 0;
}
.module_menu .nav > li {
  border-top: 1px solid #ddd;
}
.module_menu .nav > li > a {
  color: #666;
  padding: 8px 20px;
}
.module_menu .nav > li > a:hover,
.module_menu .nav > .dropdown.open > a.dropdown-toggle:hover {
  background: #f9f9f9;
}
.module_menu .nav > .dropdown.active > a.dropdown-toggle {
  font-weight: bold;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.module_menu .nav > .dropdown.open > a.dropdown-toggle,
.module_menu .nav > .dropdown.active.open > a.dropdown-toggle {
  background: #f9f9f9;
  color: #f7682c;
}
.module_menu .dropdown-menu li > a {
  padding: 7px 20px;
}
.module_menu .dropdown-menu li > a:hover,
.module_menu .dropdown-menu li > a:focus,
.module_menu .dropdown-menu li > a:active {
  color: #f7682c;
}
.module_menu .nav li.dropdown.open > .dropdown-toggle,
.module_menu .nav li.dropdown.active > .dropdown-toggle,
.module_menu .nav li.dropdown.open.active > .dropdown-toggle,
.module_menu .nav > li.dropdown.open.active > a:hover {
  color: #f7682c;
}
.module_menu .nav .nav-child {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.module_menu .nav .nav-child li {
  border-top: 1px solid #ddd;
}
.module_menu .nav .nav-child li a:hover,
.module_menu .nav .nav-child .dropdown-submenu > a:hover {
  background: #f9f9f9;
}
.module_menu .nav .nav-child li.active > a {
  background: #fff;
  color: #f7682c;
  font-weight: bold;
}
.module_menu .nav > li:first-child > a {
  padding-top: 8px;
  border-top: 0;
}
.module_menu .nav .nav-child .dropdown-submenu:hover > a {
  background: #f5f5f5;
}
.module_menu .nav > li > a:hover {
  color: #f7682c;
}
.banneritem {
  padding: 10px 0;
}
.banneritem:first-child {
  margin-top: 10px;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  font-size: 11px;
  padding-top: 10px;
  text-align: right;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eee;
}
.feed .newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed .feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eee;
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.items-leading .leading {
  margin-bottom: 40px;
}
.categories-list div h3.page-header a {
  color: #666;
}
.categories-list div h3.page-header a:hover,
.categories-list div h3.page-header a:focus,
.categories-list div h3.page-header a:active {
  color: #e74b09;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 0 0 40px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: none;
  height: 1px;
}
.article-aside {
  color: #999;
  font-size: 12px;
  margin-bottom: 20px;
}
body.bd-popup .article-aside {
  display: none;
}
.article-info {
  margin: 0;
  width: 90%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  float: left;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info dd span {
  font-weight: bold;
}
.article-footer {
  color: #999;
  font-size: 12px;
  margin-bottom: 20px;
}
article img[align=left],
.img_caption.left {
  margin: 0 30px 20px 0;
}
article img[align=right],
.img_caption.right {
  margin: 0 0 20px 30px;
}
article .pull-left.item-image {
  margin-right: 20px;
  margin-bottom: 10px;
}
article .pull-right.item-image {
  margin-left: 20px;
  margin-bottom: 10px;
}
article .article-intro .pull-left img {
  margin: 0 30px 20px 0;
}
article .article-intro .pull-right img {
  margin: 0 0 20px 30px;
}
.item-page article .article-content .content_popup {
  float: left;
  display: inline-block;
  text-align: center;
}
.item-page article .article-content img {
  margin: 0 30px 10px 0px;
  display: block;
}
.item-page article .article-content img[align="right"] {
  margin: 0 0 10px 30px;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
  margin-right: 30px;
}
.img-fulltext-right {
  float: right;
  margin-left: 30px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eee;
  color: #666;
  font-size: 11px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
article aside .btn-group > .dropdown-toggle {
  background: transparent;
  border: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.login_form fieldset,
.login fieldset {
  padding: 15px 0 0;
}
.login_form fieldset p,
.login fieldset p {
  margin: 0 0 5px;
}
.login_form label,
.login label {
  display: block;
  font-weight: bold;
}
.login-fields {
  margin: 0 0 10px;
}
.login_form .inputbox,
.login-fields .required {
  margin-left: 10px;
  width: 150px;
}
.login_form .remember .inputbox {
  width: 20px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt {
  margin-right: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  font-size: 150%;
  margin-top: 0;
  margin-bottom: 20px;
}
#mailto-window .mailto-close {
  background: #FFF;
  background: -moz-linear-gradient(bottom,#ccc,#f0f0f0);
  background: -webkit-linear-gradient(bottom,#ccc,#f0f0f0);
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #666;
  font-size: 92%;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  right: 0px;
  text-shadow: 1px 1px 0 #f0f0f0;
}
#mailto-window .mailto-close a {
  color: #666;
}
#mailto-window .mailto-close:hover {
  border-color: #999;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .inputbox {
  width: 62%;
}
#mailtoForm .button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eee;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
#searchForm {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
}
#searchForm:before,
#searchForm:after {
  display: table;
  content: "";
  line-height: 0;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
.phrases-box input,
.phrases-box label,
.form-limit input,
.form-limit label,
.only label {
  display: inline-block;
  margin-right: 10px;
}
.phrases-box input {
  margin: 0;
}
.search-results {
  margin-top: 20px;
}
.search-results .result-title {
  font-size: 15px;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 11px;
  color: #999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-created {
  font-size: 11px;
  color: #999;
}
#advanced-search #finder-filter-window {
  background: #eee;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#advanced-search #finder-filter-window ul {
  padding: 20px;
}
#advanced-search #finder-filter-window ul >li {
  list-style: none;
  background: none;
  margin: 10px;
  border-bottom: solid 1px #ddd;
}
.filter-branch label {
  width: 150px;
  display: inline-block;
  font-weight: bold;
}
.contact .accordion-heading .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items div.intro {
  clear: both;
  overflow: hidden;
}
.categories-list > .category-desc {
  background: #eee;
  margin-bottom: 20px;
  padding: 20px;
  text-shadow: 1px 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.category-desc img {
  margin-right: 30px;
}
.category-item span.badge.badge-info {
  background: #f7682c;
}
.category-item {
  margin-top: 20px;
  *zoom: 1;
}
.category-item:before,
.category-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.category-item .category-item {
  margin-left: 3.2258064516129%;
}
.newsfeed > h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.feed-description {
  margin-bottom: 40px;
}
.edit textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button2-left,
.button2-left div {
  float: left;
}
.button2-right,
.button2-right div {
  float: right;
}
.button2-left {
  margin: 5px 5px 0 0;
}
.button2-right {
  margin: 5px 0 0 5px;
}
.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
  background: #eee;
  border: 1px solid #e1e1e1;
  color: #999;
  cursor: pointer;
  display: block;
  float: left;
  padding: 2px 10px;
  border-radius: 3px;
}
.button2-left span,
.button2-right span {
  color: #999;
  cursor: default;
}
.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
  padding: 0 6px;
}
.button2-left a:hover,
.button2-right a:hover {
  background: #e1e1e1;
  color: #444;
  text-decoration: none;
}
.readmore a.btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #f87d49;
  background-image: -moz-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f98b5d),to(#f7682c));
  background-image: -webkit-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -o-linear-gradient(top,#f98b5d,#f7682c);
  background-image: linear-gradient(to bottom,#f98b5d,#f7682c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff88b5d', endColorstr='#fff7682c', GradientType=0);
  border-color: #f7682c #f7682c #cf4308;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f7682c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.readmore a.btn:hover,
.readmore a.btn:active,
.readmore a.btn.active,
.readmore a.btn.disabled,
.readmore a.btn[disabled] {
  color: #fff;
  background-color: #f7682c;
  *background-color: #f65613;
}
.readmore a.btn:active,
.readmore a.btn.active {
  background-color: #e74b09 \9;
}
.controls img.calendar {
  cursor: pointer;
  margin-left: 5px;
}
div.weblink-category table.category td > p {
  padding-right: 30px;
}
div.weblink-category table.category ul.actions {
  float: right;
  margin: -30px 0 0 0;
  padding: 0;
  list-style: none;
}
.article-content .pagination ul {
  border-left: 1px solid #ddd;
}
.article-content .pagination ul li {
  float: left;
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #ddd;
  border-left: 0;
}
.article-content .pagination ul a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 20px;
  font-weight: bold;
}
#article-index {
  float: right;
  margin: 0 0 20px 20px;
  padding: 10px;
  width: 30%;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#article-index ul {
  margin: 0 0 0 20px;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav li {
  margin: 0 10px 0 0;
  padding: 0;
  float: left;
}
.pagenav li.pagenav-prev {
  margin-right: 10px;
}
.pagenav li a {
  padding: 5px 10px;
  line-height: normal;
  border: 1px solid #f7682c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f7682c;
  color: #fff;
}
.pagenav li a:hover {
  background-color: #e74b09;
  border: 1px solid #e74b09;
  color: #fff;
  text-decoration: none;
}
.pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pagination .pagination-list > li {
  display: inline-block;
  margin-bottom: 10px;
}
.pagination .pagination-list > li > a,
.pagination .pagination-list > li:first-child > a,
.pagination .pagination-list > li:last-child > a {
  background: #f7682c;
  border: 0;
  color: #fff;
  margin: 0 4px;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.pagination .pagination-list > li > a:hover {
  background: #e74b09;
  text-decoration: none;
}
.pagination .pagination-list > li.disabled > a {
  background: #eee;
  color: #666;
}
.counter {
  float: right;
  line-height: 1;
  margin: 10px 0;
  text-align: right;
}
.items-more h3 {
  margin: 0 0 5px;
}
.back_button a,
.back_button a:hover,
.back_button a:active {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0 5px;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .filter-search,
.filters .display-limit {
  float: left;
  width: 50%;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message > .message > ul,
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  background-position: 10px 5px;
  margin: 0 auto;
  padding: 5px 0 5px 15px;
  width: 1040px;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 13px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
p {
  margin: 0 0 10px;
}
p small,
p .small {
  font-size: 11px;
  color: #999;
}
.lead {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #444;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #444;
}
h1 {
  font-size: 32.5px;
  line-height: 40px;
}
h1 small {
  font-size: 26px;
}
h2 {
  font-size: 26px;
  line-height: 40px;
}
h2 small {
  font-size: 19.5px;
}
h3 {
  font-size: 19.5px;
  line-height: 40px;
}
h3 small {
  font-size: 15px;
}
h4 {
  font-size: 15px;
  line-height: 20px;
}
h4 small {
  font-size: 13px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h5 small {
  font-size: 11px;
}
h6 {
  font-size: 13px;
  line-height: 20px;
}
.page-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin: 0 0 40px;
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px;
  *zoom: 1;
}
.page-subheader:before,
.page-subheader:after {
  display: table;
  content: "";
  line-height: 0;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -20px;
}
.article-title,
.article-header h1 {
  margin: 0 0 10px 0;
}
body.bd-popup .article-header h1.article-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 10px 0 5px;
}
.article-header h1 a,
.article-header h2 a {
  color: #444;
}
.article-header h1 a:hover,
.article-header h1 a:focus,
.article-header h1 a:active,
.article-header h2 a:hover,
.article-header h2 a:focus,
.article-header h2 a:active {
  color: #e74b09;
}
.item-title {
  font-weight: bold;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 130px;
}
.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #999;
}
.label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.label:hover,
a.badge:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label-important,
.badge-important {
  background-color: #c00;
}
.label-important[href],
.badge-important[href] {
  background-color: #990000;
}
.label-warning,
.badge-warning {
  background-color: #f7682c;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #e74b09;
}
.label-success,
.badge-success {
  background-color: #690;
}
.label-success[href],
.badge-success[href] {
  background-color: #446600;
}
.label-info,
.badge-info {
  background-color: #07b;
}
.label-info[href],
.badge-info[href] {
  background-color: #005788;
}
.label-inverse,
.badge-inverse {
  background-color: #444;
}
.label-inverse[href],
.badge-inverse[href] {
  background-color: #2b2b2b;
}
.btn .label,
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-mini .label,
.btn-mini .badge {
  top: 0;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 0;
  font-style: normal;
  line-height: 20px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
.ja-header {
  background: #000;
  z-index: 100 !important;
}
.ja-header .container {
  border-bottom: 1px solid #1a1a1a;
  position: relative;
  color: #666;
}
.ja-header a {
  color: #f7682c;
}
.ja-header a:hover,
.ja-header a:focus,
.ja-header a:active {
  color: #e74b09;
}
.logo {
  float: left;
}
.logo h1,
.logo h1 a {
  display: inline-block;
  line-height: 1;
  margin: 10px 0 0;
}
.logo-image {
  overflow: hidden;
}
.logo-image a {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  width: 95px;
  height: 25px;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text h1 {
  color: #444;
}
.logo-text h1 a {
  color: #444;
  text-decoration: none;
}
.logo-text:hover h1 a,
.logo-text h1 a:hover,
.logo-text h1 a:active,
.logo-text h1 a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.head-search {
  float: right;
  margin-top: 20px;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .input {
  background: url('../images/ico/search-invert.png') no-repeat 8px center;
  width: 120px;
  padding-left: 26px;
}
.head-search .input:focus {
  color: #444;
  width: 180px;
}
#ja-quick-tips {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  bottom: -10px;
  color: #666;
  display: none;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  line-height: 1;
  right: 5px;
}
#ja-quick-tips .inner {
  margin: 0;
  padding: 0;
  position: relative;
}
#ja-quick-tips span.arrow {
  background: url('../images/arrow-up.gif') no-repeat left top;
  display: block;
  height: 5px;
  margin-left: -3px;
  position: absolute;
  top: -10px;
  left: 50%;
  width: 7px;
}
.ja-sl {
  padding-bottom: 60px;
  padding-top: 60px;
}
.onepage .section-subtitle,
.onepage .section-desc {
  display: block;
  font-weight: bold;
  margin: 0 0 30px;
  text-align: center;
}
.onepage .section-subtitle {
  font-size: 15px;
}
.onepage .container {
  padding: 60px 0;
}
.onepage .section-title h2 {
  font-size: 24px;
  margin: 0 0 15px;
  line-height: 1;
  text-align: center;
}
.onepage .introduction {
  margin-bottom: 40px;
  padding: 0 150px;
  text-align: center;
}
.hero-unit {
  margin: 59px 0 0;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.hero-unit .container {
  padding: 140px 0 30px;
}
.hero-unit .hero-unit {
  padding: 0;
  margin: 0;
}
.hero-unit h1 {
  font-weight: bold;
  margin-bottom: 30px;
}
.hero-unit p {
  font-size: 24px;
  margin-bottom: 30px;
  padding: 0 150px;
}
.hero-unit p.btn_unit {
  margin-bottom: 0;
}
.hero-unit .btn {
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 15px 40px;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.hero-unit .btn-primary {
  background: #f7682c;
  margin-bottom: 40px;
}
.hero-unit .btn-primary:hover {
  background: #e74b09;
  color: #fff;
  text-shadow: none;
}
.hero-unit a.arrow-down {
  background: url('../images/arrow-down.png') no-repeat left top;
  display: inline-block;
  height: 40px;
  font-weight: bold;
  text-indent: -999em;
  width: 40px;
}
.hero-unit a.arrow-down:hover {
  background-position: left bottom;
}
.introducing .container {
  padding: 60px 0;
}
.introducing .section-title h2 {
  color: #222;
}
.introducing .ja-module {
  margin: 0;
}
.introducing .block {
  text-align: center;
}
.introducing .block-img i {
  background-image: url('../images/intro-icons.png');
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  margin: 0 auto;
  text-indent: -999em;
  width: 120px;
}
.introducing-icon1 {
  background-position: 0px 0px;
}
.introducing-icon2 {
  background-position: -120px 0px;
}
.introducing-icon3 {
  background-position: -240px 0px;
}
.introducing .block-title {
  font-size: 18px;
}
.portfolio  .ja-cp-main .ja-cp-group {
  margin-bottom: 20px;
}
.portfolio .ja-cp-main .ja-cp-group .ja-cp-item {
  text-align: center;
  margin-bottom: 35px;
}
.portfolio .ja-cp-main .ja-cp-title {
  margin-bottom: 5px;
}
.portfolio .ja-cp-main a:hover,
.portfolio .ja-cp-main a:focus,
.portfolio .ja-cp-main a:active {
  text-decoration: none;
}
.portfolio .ja-cp-main a .ja-cp-title {
  color: #fff;
  font-size: 14px;
}
.portfolio .ja-cp-main a:hover .ja-cp-title,
.portfolio .ja-cp-main a:focus .ja-cp-title,
.portfolio .ja-cp-main a:active .ja-cp-title {
  color: #f7682c;
  text-decoration: none;
}
.portfolio .ja-cp-pagination {
  background: url('../images/line.gif') repeat-x left center;
  text-align: center;
}
.portfolio .ja-cp-main .ja-cp-image {
  margin-bottom: 20px;
}
.portfolio .ja-cp-pagination ul.ja-cp-pagelist {
  background: #000;
  display: inline;
  margin: 0;
  padding: 0 2px;
}
.portfolio .ja-cp-pagination ul li {
  vertical-align: middle;
}
.portfolio .ja-cp-pagination ul.ja-cp-pagelist span {
  background: url('../images/navigation.png') no-repeat left top;
  cursor: pointer;
  display: block;
  font-size: 0px;
  line-height: 10px;
  height: 10px;
  width: 10px;
  text-indent: -999em;
}
.portfolio .ja-cp-pagination ul.ja-cp-pagelist li.active span {
  background-position: left bottom;
}
.team ul.thumbnails {
  margin: 0;
}
ul.thumbnails div.thumbnail {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.thumb-mask .mask {
  display: none;
  height: 180px;
  position: relative;
  width: 180px;
  z-index: 20;
}
ul.thumbnails div.thumbnail .caption {
  padding: 0;
  text-align: center;
}
ul.thumbnails div.thumbnail .caption h3 {
  font-size: 16px;
  line-height: normal;
  margin: 15px 0px 5px;
}
ul.thumbnails li:hover div.thumbnail .caption h3 {
  color: #e74b09;
}
ul.thumbnails div.thumbnail .caption .meta {
  color: #999;
  font-size: 12px;
}
ul.thumbnails div.thumbnail .hiring img {
  background: url('../images/icon-add.gif') no-repeat left top;
}
ul.thumbnails div.thumbnail .hiring img:hover {
  background-position: left bottom;
}
ul.social-list {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}
ul.social-list li {
  display: inline-block;
  height: 20px;
  margin: 0;
  width: 20px;
}
ul.social-list li a {
  background-image: url('../images/social-icons.png');
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  text-indent: -999em;
  width: 20px;
}
ul.social-list li a.facebook {
  background-position: 0px -20px;
}
ul.social-list li a.facebook:hover,
ul.thumbnails li:hover li a.facebook {
  background-position: 0px -40px;
}
ul.social-list li a.twitter {
  background-position: -20px -20px;
}
ul.social-list li a.twitter:hover,
ul.thumbnails li:hover li a.twitter {
  background-position: -20px -40px;
}
ul.social-list li a.flicker {
  background-position: -40px -20px;
}
ul.social-list li a.flicker:hover,
ul.thumbnails li:hover li a.flicker {
  background-position: -40px -40px;
}
.clients .testimonial {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 25px 30px;
  overflow: hidden;
}
.clients .testimonial blockquote {
  border: 0;
  margin: 0;
  padding: 0;
}
.clients blockquote p {
  font-size: 13px;
  margin: 0;
  line-height: 1.6;
}
.clients blockquote small {
  margin-top: 10px;
}
.clients blockquote small cite {
  color: #f7682c;
}
.clients .gs-wrap {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 60px !important;
  height: 60px !important;
}
.clients .testimonial:hover .gs-wrap img.gotcolors {
  opacity: 1 !important;
  display: block;
}
.partners .container {
  border-top: 1px solid #e5e5e5;
}
.partners div {
  text-align: center;
}
.onepage.contact .container {
  padding-bottom: 0;
}
.map {
  background: #000;
}
.map .container {
  padding: 0 0 60px;
}
.map .custommap {
  padding: 4px;
  border: solid 1px #222;
}
.map .map-container {
  margin: 0px;
}
.section1 {
  background: #000;
  color: #666;
}
.section1 .hero-unit {
  background: #000;
}
.section1 h1 {
  color: #fff;
}
.section1 p {
  color: #666;
}
.section1 a {
  color: #f7682c;
}
.section1 a:hover,
.section1 a:focus,
.section1 a:active {
  color: #e74b09;
}
.section1 .section-title h2 {
  color: #fff;
}
.section1 .section-subtitle {
  color: #666;
}
.section2 {
  background: #fff;
  color: #666;
}
.section2 a {
  color: #f7682c;
}
.section2 a:hover,
.section2 a:focus,
.section2 a:active {
  color: #e74b09;
}
.section2 .section-title h2 {
  color: #000;
}
.section2 .section-subtitle {
  color: #999;
}
.section2 h3 {
  color: #000;
}
.section3 {
  background: #000;
  color: #666;
}
.section3 a {
  color: #f7682c;
}
.section3 a:hover,
.section3 a:focus,
.section3 a:active {
  color: #e74b09;
}
.section3 .section-title h2 {
  color: #fff;
}
.section3 .section-subtitle {
  color: #666;
}
.section4 {
  background: #fff;
  color: #666;
}
.section4 a {
  color: #f7682c;
}
.section4 a:hover,
.section4 a:focus,
.section4 a:active {
  color: #e74b09;
}
.section4 .section-title h2 {
  color: #000;
}
.section4 .section-subtitle {
  color: #999;
}
.section4 h3 {
  color: #000;
}
.section5 {
  background: #f5f5f5;
  color: #666;
}
.section5 a {
  color: #f7682c;
}
.section5 a:hover,
.section5 a:focus,
.section5 a:active {
  color: #e74b09;
}
.section5 .section-title h2 {
  color: #000;
}
.section5 .section-subtitle {
  color: #999;
}
.section6 {
  background: #000;
  color: #666;
}
.section6 a {
  color: #f7682c;
}
.section6 a:hover,
.section6 a:focus,
.section6 a:active {
  color: #e74b09;
}
.section6 .section-title h2 {
  color: #fff;
}
.section6 .section-subtitle {
  color: #666;
}
.ja-mainbody {
  padding-bottom: 40px;
  padding-top: 20px;
}
.ja-mainbody.bodypage {
  padding-top: 100px;
}
.ja-footer {
  background: #000;
  color: #666;
  *zoom: 1;
}
.ja-footer:before,
.ja-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.ja-footer:after {
  clear: both;
}
.ja-footer small {
  display: block;
  font-size: 100%;
}
.ja-footer a {
  color: #222;
}
.ja-footer a:hover,
.ja-footer a:active,
.ja-footer a:focus {
  color: #fff;
}
.ja-footnav {
  padding: 60px 0 40px;
  *zoom: 1;
}
.ja-footnav:before,
.ja-footnav:after {
  display: table;
  content: "";
  line-height: 0;
}
.ja-footnav:after {
  clear: both;
}
.ja-footnav ul {
  list-style: none;
  margin-left: 0;
}
.ja-footnav li {
  line-height: 24px;
}
.ja-footnav .module-title {
  font-size: 17px;
  color: #999;
}
.ja-copyright {
  border-top: 1px solid #1a1a1a;
  font-size: 11px;
  padding: 40px 0 80px;
  *zoom: 1;
}
.ja-copyright:before,
.ja-copyright:after {
  display: table;
  content: "";
  line-height: 0;
}
.ja-copyright:after {
  clear: both;
}
.copyright {
  text-align: center;
}
.poweredby {
  float: right;
}
.ja-footer a {
  color: #666;
}
.ja-footer a:hover,
.ja-footer a:focus,
.ja-footer a:active {
  color: #f7682c;
}
.ja-footer a.back-to-top {
  background: url('../images/arrow-up.png') no-repeat left top;
  display: block;
  height: 40px;
  margin: 20px auto 0;
  text-indent: -999em;
  width: 40px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ja-footer a.back-to-top:hover {
  background-position: left bottom;
}
#search-form #finder-search button.button {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #f87d49;
  background-image: -moz-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f98b5d),to(#f7682c));
  background-image: -webkit-linear-gradient(top,#f98b5d,#f7682c);
  background-image: -o-linear-gradient(top,#f98b5d,#f7682c);
  background-image: linear-gradient(to bottom,#f98b5d,#f7682c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff88b5d', endColorstr='#fff7682c', GradientType=0);
  border-color: #f7682c #f7682c #cf4308;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f7682c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#search-form #finder-search button.button:hover,
#search-form #finder-search button.button:active,
#search-form #finder-search button.button.active,
#search-form #finder-search button.button.disabled,
#search-form #finder-search button.button[disabled] {
  color: #fff;
  background-color: #f7682c;
  *background-color: #f65613;
}
#search-form #finder-search button.button:active,
#search-form #finder-search button.button.active {
  background-color: #e74b09 \9;
}
#search-form #finder-search button.button {
  margin: 0;
  padding: 4px 14px;
  border: solid 1px #c5c5c5;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: -1px 1px 0 #F87D49 inset;
  vertical-align: top;
}
#search-form #finder-search button.button:hover,
#search-form #finder-search button.button:focus,
#search-form #finder-search button.button:active {
  background: #f98b5d;
}
.onepage .map-container img {
  max-width: none !important;
  width: auto !important;
}
.homepage #system-message-container {
  background: #000;
  margin-bottom: -59px;
}
.homepage .contact #system-message-container {
  padding-top: 0px !important;
  margin-bottom: 0px;
}
.ja-mainbody.bodypage #system-message-container {
  overflow: hidden;
  padding-top: 0px !important;
}
.contact div.first {
  margin-left: 0px !important;
}
.clients .img-grayscale {
  margin: 5px 20px 15px 0 \9;
}
.portfolio .gs-wrap {
  width: 240px \9 !important;
  height: 180px \9 !important;
}
img.jaimage,
div.circle_image .img-grayscale,
.clients .img-grayscale {
  max-width: none \9 !important;
  filter: gray \9;
}
.clients .testimonial .hiring .img-grayscale,
.partners .span2 .img-grayscale,
.thumbnails li div.thumb-mask .mask-inner .img-grayscale {
  max-width: none \9 !important;
  filter: gray \9;
}
.clients .testimonial:hover .img-grayscale,
.partners .span2:hover .img-grayscale,
.thumbnails li:hover div.thumb-mask .mask-inner .img-grayscale {
  filter: none \9 !important;
}
