/*updates 09 apr 2013" */
.nav-sections {
cursor: pointer;
z-index: 5;
position: relative;
font-family: Arial, Helvetica, sans-serif;
background:none;
padding:0;

}

/* hotel bawah*/
#list_hotel_container {
	margin-top:20px;
}

.list_hotel h1 {
	color:#e91126;
	font-size:25px;
	font-family: 'open sans', Arial;
	margin:10px 0px;
}
.list_hotels {
	margin: 0px;
	margin-top:15px;
}
.list_hotels ul li {
	float:left;
}
.lists_hotels {
	border:1px solid #e1e1e1;

	padding: 11px;
	margin-bottom:40px;

}
.lists_hotels h3 {
	margin-top:10px;
	color:#e91126;
	font-size: 110%;
	height: 32px;
	display: block;
	font-family: Arial;
	padding-bottom: 20px;
}