.yell {background-color:rgba(252,238,30,0.2)}

.gray4 {
	background-color:rgba(242,242,242,0.6)}

.lime {
	background-color: rgba(18,255,0,0.4);
}

.gw_Offer {
position: relative;
width: 309px;
float: left;
margin-right: 12px;
min-height: 400px;
margin-bottom: 20px;
}

.red {
	background-clip: padding-box;
background-color: rgb(255, 0, 0);
border-color: rgb(35, 35, 35);
border-width: 0px;
color: white;
opacity: 0.93;
}