@charset "UTF-8";
/* CSS Document */

/* booking check in check out */

#booker { height: 320px; width: 300px;
; -webkit-border-radius: 10px; border-radius: 10px; position:absolute; top:10px; left:10px; z-index:999;/* background: rgba(255, 255, 255, 0.6); text-align: left; */ }

.booking {
	padding:10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background:rgb(244,244,244);
	background: transparent\9;
	background:rgba(244,244,244,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5f4f4f4,endColorstr=#e5f4f4f4);
	zoom: 1;
}


.booking:nth-child(n) {
	filter: none;
}

	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 283px;
	border: 1px solid #ccc;
	padding:10px;
	/*background-color: rgba(255,255,255,0.6);*/
	/* Fallback for web browsers that doesn't support RGBa
	background: rgb(248, 248, 255); */
	/* RGBa with 0.6 opacity
	background: rgba(248, 248, 255, 0.6); */
	/* For IE 5.5 - 7
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";*/

.booking h1 {
	font-size:40px;
	color:#e91126;
	font-family: 'open sans', Arial;
	margin:0px 0px 10px 0px;
}
.booking h5{ font-size: 11px; padding: 0px; margin: 0px; position: relative; left: 6px; }

.booking ul li { list-style: none; }
.booking li { display:block; list-style: none; padding: 6 0 8; margin: 0; }
li.booking_ul {
	margin-bottom: 18px;
	clear: both;
	padding : 0px 5px;  font-size: 11px; padding-left: 3px;
}
.booking label {
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	display: block;
}
.booking a { padding-left: 5px; color: #555}
.booking p{ padding: 0px; margin: 0px; padding-left: 5px; }
.added{ background: rgba(190, 190, 190, 0.6); padding:10px 0px; padding-bottom: 1px;margin: 0px; margin-bottom: 10px; margin-top: 60px; clear: both;}



/** my form **/
.my_input_style { -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb; box-shadow: inset 1px 1px 3px 0px #bbbbbb; background:#ffffff; padding:10px; border:0px; }
.no_border {
	border:0px;
}
.btn_search {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:normal;
	padding:12px 60px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}
.btn_go {
	background:url('../images/assets/lets_go.png') top left no-repeat;
	width:115px;
	height:40px;
	border:0px;
	padding:7px 30px 10px 5px;
	cursor:pointer;
	font-size:15px;
	color:#ffffff;
	font-family: 'open sans', Arial;
	/* font-weight:bold; */
	display:inline-block;
}
.input_light {
	padding: 5px;
	border: 1px solid #E1E1E1;
	color: #a6a6a6;
	margin:2px;
}
.input_error {
	background:#ffd6d6;
	border:1px solid #e13131;
	padding: 5px;
	margin:2px;
}
.span_input_error {
	background:#ffd6d6;
	border:1px solid #e13131;
	padding: 5px;
	margin:2px;
	color:#930707;
	position:relative;
	z-index:100;
}
.span_input_error1 {
	background:#ffd6d6;
	border:1px solid #e13131;
	padding: 5px;
	margin:2px;
	color:#930707;
	display:block;
}
.full_width {
	width:100%;
}
span.red {
	color:#cd0000;
}
