/*!
 * Preboot v2 Docs
 * Styles for presenting Preboot features and benefits.
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main, 
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.hll {
  background-color: #ffffcc;
}
/*{ background: #f0f3f3; }*/
.c {
  color: #999;
}
/* Comment */
.err {
  color: #AA0000;
  background-color: #ffaaaa;
}
/* Error */
.k {
  color: #006699;
}
/* Keyword */
.o {
  color: #555555;
}
/* Operator */
.cm {
  color: #0099FF;
  font-style: italic;
}
/* Comment.Multiline */
.cp {
  color: #009999;
}
/* Comment.Preproc */
.c1 {
  color: #999;
}
/* Comment.Single */
.cs {
  color: #999;
}
/* Comment.Special */
.gd {
  background-color: #FFCCCC;
  border: 1px solid #cc0000;
}
/* Generic.Deleted */
.ge {
  font-style: italic;
}
/* Generic.Emph */
.gr {
  color: #ff0000;
}
/* Generic.Error */
.gh {
  color: #003300;
}
/* Generic.Heading */
.gi {
  background-color: #CCFFCC;
  border: 1px solid #00cc00;
}
/* Generic.Inserted */
.go {
  color: #aaaaaa;
}
/* Generic.Output */
.gp {
  color: #000099;
}
/* Generic.Prompt */
/* Generic.Strong */
.gu {
  color: #003300;
}
/* Generic.Subheading */
.gt {
  color: #99cc66;
}
/* Generic.Traceback */
.kc {
  color: #006699;
}
/* Keyword.Constant */
.kd {
  color: #006699;
}
/* Keyword.Declaration */
.kn {
  color: #006699;
}
/* Keyword.Namespace */
.kp {
  color: #006699;
}
/* Keyword.Pseudo */
.kr {
  color: #006699;
}
/* Keyword.Reserved */
.kt {
  color: #007788;
}
/* Keyword.Type */
.m {
  color: #ff6600;
}
/* Literal.Number */
.s {
  color: #d44950;
}
/* Literal.String */
.na {
  color: #4f9fcf;
}
/* Name.Attribute */
.nb {
  color: #336666;
}
/* Name.Builtin */
.nc {
  color: #00AA88;
}
/* Name.Class */
.no {
  color: #336600;
}
/* Name.Constant */
.nd {
  color: #9999ff;
}
/* Name.Decorator */
.ni {
  color: #999999;
}
/* Name.Entity */
.ne {
  color: #CC0000;
}
/* Name.Exception */
.nf {
  color: #cc00ff;
}
/* Name.Function */
.nl {
  color: #9999ff;
}
/* Name.Label */
.nn {
  color: #00CCFF;
}
/* Name.Namespace */
.nt {
  color: #2f6f9f;
}
/* Name.Tag */
.nv {
  color: #003333;
}
/* Name.Variable */
.ow {
  color: #000000;
}
/* Operator.Word */
.w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.mf {
  color: #ff6600;
}
/* Literal.Number.Float */
.mh {
  color: #ff6600;
}
/* Literal.Number.Hex */
.mi {
  color: #ff6600;
}
/* Literal.Number.Integer */
.mo {
  color: #ff6600;
}
/* Literal.Number.Oct */
.sb {
  color: #cc3300;
}
/* Literal.String.Backtick */
.sc {
  color: #cc3300;
}
/* Literal.String.Char */
.sd {
  color: #CC3300;
  font-style: italic;
}
/* Literal.String.Doc */
.s2 {
  color: #cc3300;
}
/* Literal.String.Double */
.se {
  color: #CC3300;
}
/* Literal.String.Escape */
.sh {
  color: #cc3300;
}
/* Literal.String.Heredoc */
.si {
  color: #aa0000;
}
/* Literal.String.Interpol */
.sx {
  color: #cc3300;
}
/* Literal.String.Other */
.sr {
  color: #33aaaa;
}
/* Literal.String.Regex */
.s1 {
  color: #cc3300;
}
/* Literal.String.Single */
.ss {
  color: #ffcc33;
}
/* Literal.String.Symbol */
.bp {
  color: #336666;
}
/* Name.Builtin.Pseudo */
.vc {
  color: #003333;
}
/* Name.Variable.Class */
.vg {
  color: #003333;
}
/* Name.Variable.Global */
.vi {
  color: #003333;
}
/* Name.Variable.Instance */
.il {
  color: #ff6600;
}
/* Literal.Number.Integer.Long */
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}
html,
body {
  background-color: #fff;
}
body {
  padding: 0;
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #555;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  color: #2a6496;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0 10px;
  font-weight: bold;
  line-height: 1.2;
  color: #333;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h3 a,
h3 a:hover {
  color: inherit;
}
h4 {
  font-size: 18px;
  margin-bottom: 0;
}
p {
  margin: 0 0 15px;
}
.lead {
  font-size: 18px;
  line-height: 1.25;
  color: #999999;
}
ol,
ul {
  margin: 0 0 15px 25px;
  padding: 0;
}
.list-unstyled {
  margin-left: 0;
}
.list-unstyled li {
  display: block;
}
code,
pre {
  padding: 0 3px 2px;
  color: #333;
  border-radius: 4px;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 15px;
  margin: 0 0 20px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
.highlight {
  padding: 14px;
  margin-bottom: 20px;
  line-height: 20px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-bottom: 0;
  font-size: 16px;
  background-color: transparent;
  border: 0;
}
.highlight pre .lineno {
  display: inline-block;
  width: 20px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.grid-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .grid-4 {
    float: left;
    width: 33.33333333333333%;
  }
}
.header-divider {
  margin-top: 60px;
}
.header-divider:after {
  display: block;
  content: "";
  width: 25%;
  height: 4px;
  margin: 20px 0 26px;
  background-color: #555;
  border: 0;
  opacity: .5;
}
.container {
  max-width: 980px;
}
.masthead {
color: #FFF;
background:#323538;
}

.masthead p {
	color:#ffffff !important;
}

.masthead-inner {
  padding: 30px;
}
.masthead h1 {
  margin-top: 0;
  color: #fff;
  letter-spacing: -1px;
}
.masthead .header-divider:after {
  width: 50%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.masthead .list-unstyled {
  font-size: 85%;
  margin-top: 0;
  margin-bottom: 20px;
}
.masthead .social-buttons {
  margin-bottom: 0;
}
.masthead a {
  font-weight: bold;
  color: #fff;
}
.masthead a:hover {
  text-decoration: none;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}
.toc {
  margin-left: 0;
}
.toc li {
  display: block;
}
.toc a {
  display: block;
  margin-left: -10px;
  padding: 4px 10px;
}
.toc a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  border-radius: 3px;
}
.color-swatches {
  margin: 0 -5px 20px;
}
.color-swatches:before,
.color-swatches:after {
  content: " ";
  display: table;
}
.color-swatches:after {
  clear: both;
}
.color-swatch {
  float: left;
  width: 80px;
  height: 80px;
  margin: 5px 2px;
}
.color-swatch.black-10 {
  background-color: #e6e6e6;
}
.color-swatch.black-20 {
  background-color: #cccccc;
}
.color-swatch.black-30 {
  background-color: #b3b3b3;
}
.color-swatch.black-40 {
  background-color: #999999;
}
.color-swatch.black-50 {
  background-color: #808080;
}
.color-swatch.black-60 {
  background-color: #666666;
}
.color-swatch.black-70 {
  background-color: #4d4d4d;
}
.color-swatch.black-80 {
  background-color: #333333;
}
.color-swatch.black-90 {
  background-color: #191919;
}
.color-swatch.brand-primary {
  background-color: #428bca;
}
.color-swatch.brand-success {
  background-color: #5cb85c;
}
.color-swatch.brand-warning {
  background-color: #f0ad4e;
}
.color-swatch.brand-danger {
  background-color: #d9534f;
}
.color-swatch.brand-info {
  background-color: #5bc0de;
}
  /*
.btn {
  display: block;
  margin-bottom: 5px;
  padding: 15px 20px;
  font-weight: bold;
  line-height: 1;
  color: #7a43b6;
  text-align: center;
  letter-spacing: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn:hover,
.btn:active {
  color: #fff;
  text-decoration: none;
  background-color: #7a43b6;
  border-color: #7a43b6;
}
.btn:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
  border-color: #613591;
}*/

  @media screen and (min-width: 820px) {
  body {
    font-size: 18px;
  }
  .highlight {
    line-height: 25px;
  }
  .lead {
    font-size: 24px;
  }
  /*
  .btn {
    display: inline-block;
    margin-bottom: 0;
  }*/

  .masthead {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-attachment: fixed;
  }
  .masthead:after {
    position: absolute;
    top: -20px;
    right: 0;
    bottom: -10px;
    left: -10px;
    z-index: 10;
    display: block;
    content: " ";
  }
  .masthead-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
  }
}
@media screen and (min-width: 1100px) {
  .masthead h1 {
    font-size: 60px;
  }
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.group:before, .group:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.group:after, .clearfix:after { clear: both; }
.group, .clearfix { zoom: 1; }




/*==================================================*/

/*=== FOUNDATION
==================================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

html {font-size: 100%;}
h1, h2, h3, h4, h5, h6 {line-height: 1.1; padding: 0; margin: 0; font-family: 'Open Sans', arial black, arial, helvetica, sans-serif; font-weight:1200;}
h1 {font-size: 44px;}
h2 {font-size: 28px;}
h3 {font-size: 20px;}
h4 {font-size: 20px;color: #ff0000;margin-bottom: 10px;}
h5 {font-size: 14px;}
h6 {font-size: 11px;}
a {text-decoration: none; color: #d50f25;}
a:hover {text-decoration: none; color: #d50f25;}
strong {font-weight: 800;}
p {font-size: 12px; color:#444; line-height: 18px; margin: 0;}
p a {text-decoration:none;}
p a:hover {text-decoration:none;}
ol, ul, dl {list-style: none; margin: 0; padding: 0;}


body {
	background: #FFFFFF ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1;
	/* text-align: center; */
	color: #454545;
	min-width: 980px;
	position: relative;
	}



.floatleft{float:left;}
.floatright{float:right;}
.clear{clear:both;}
.center {text-align:center;}

.thick {
   font-weight:800;
}

.med {
 font-weight:600;
}

section { display: block; }
section#booking-section { width: 320px; float: left;}

#ellipsis {
  font-size: 18px;
  /*border: 1px solid black;*/
  width: 500px;
  height:300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#clip {
  font-size: 18px;
  border: 1px solid black;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.hero h1 {

	color: #FFF;
display: block;
font-family: sans-serif;
font-size: 60px;
font-weight: bold;
height: 60px;
letter-spacing: -1px;
line-height: 60px;
margin-bottom: 30px;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
text-align: center;
text-rendering: optimizelegibility;
}

/*=== Grid System
==================================================*/
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75.385em;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row .column,
  .row .columns {
    position: relative;
    padding-left: 0.357em;
    padding-right: 0.357em;
    width: 100%;
    float: left; }


/* Structure */
.twelve .col1,
.twelve .col2,
.twelve .col3,
.twelve .col4,
.twelve .col5,
.twelve .col6,
.twelve .col7,
.twelve .col8,
.twelve .col9,
.twelve .col10,
.twelve .col11,
.twelve .col12{float:left; margin-left:16px;}

.six .col1,
.six .col2,
.six .col3,
.six .col4,
.six .col5,
.six .col6,
.four .col1,
.four .col2,
.four .col3,
.four .col4 { float:left; margin-left:10px; }

/* Alpha */
.twelve .first { margin: 0; left: -16px; }

.six .first,
.four .first { margin: 0; left: -10px; }

/* Twelve Colums */
.twelve .col1 {width:67px;}
.twelve .col2 {width:150px;}
.twelve .col3 {width:233px;}
.twelve .col4 {width:316px;}
.twelve .col5 {width:399px;}
.twelve .col6 {width:482px;}
.twelve .col7 {width:565px;}
.twelve .col8 {width:648px;}
.twelve .col9 {width:731px;}
.twelve .col10 {width:814px;}
.twelve .col11 {width:897px;}
.twelve .col12 {width:980px; margin:0;}

/* Six Columns */
/*.six .col1 {width: 155px;}
.six .col2 {width: 316px;}
.six .col3 {width: 482px;}
.six .col4 {width: 648px;}
.six .col5 {width: 814px;}
.six .col6 {width: 980px; margin:0;}*/

/*Six Columns*/
.six .col1 {width: 155px;}
.six .col2 {width: 320px;}
.six .col3 {width: 485px;}
.six .col4 {width: 650px;}
.six .col5 {width: 815px;}
.six .col6 {width: 980px; margin:0;}

/* Four Columns */
.four .col1 {width: 233px;}
.four .col2 {width: 482px;}
.four .col3 {width: 731px;}
.four .col4 {width: 980px; margin:0;}





.g-col-4 {
    position:relative;
    width:310px;
    float:left;
    margin-right:12px;
    min-height:400px;
    margin-bottom:20px;
   /* border:1px solid  #d8dcdf;*/
}



.box-round{
 	 -webkit-border-radius: 12px;
          border-radius: 12px;
  	background-clip: padding-box;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 4px 0px #ffffff;
          box-shadow: 0px 0px 4px 0px #ffffff;
}

.box-gradient {
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #444444, #999999); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #444444, #999999); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #444444, #999999); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #444444, #999999); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.social-links{
	background: #ff3738;
}

.social-links i{
	background: #e52e2f;
}

/* Social */

.social-links{
	margin-top: 20px;
	padding:20px 0px 10px 0px;
	color: #fff;
	line-height: 30px;
}

.social-links a, .social-links a:visited, .social-links a:hover{
	font-size: 15px;
	margin: 0px 15px;
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
}

.social-links i{
	position: relative;
	top: -2px;
	width: 15px;
	text-align: center;
	padding: 3px;
	right: 3px;
}
.big {
font-size: 20px !important;
font-family: 'Open Sans', sans-serif;
margin-bottom: 10px;
font-weight: 300;
}

/* Contact */

.cwell{
	padding: 10px;
	background: #fafafa;
	margin-top: 10px;
	border:1px solid #f1f1f1;
}

.cwell h5{
border-bottom: 1px solid #eee;
padding-bottom: 10px;
}

.cwell address{
	font-size: 13px;
}

.gmap iframe{
width:100%;
margin-bottom: 10px;
padding-bottom:0px !important;
}

/* 404 #2 */

.big-text{
	font-size: 150px;
	line-height: 160px;
	color: #888;
}

/*=============buttons rounded corners
===================================================*/

.gl_roundedCorners
{
    /*border: 1px solid #999;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
      display:block;
    overflow:hidden;
    position:relative !important;
    /*behavior: url(css/PIE.htc);*/
}

.gl_floatLeft
{
    float:left !important;
}
.gl_floatRight
{
    float:right !important;
}
.gl_orangebutton
{
    background-color: rgb(250, 0, 25);
border-color: rgb(35, 35, 35);
color: white;
opacity: 1; #E51400;
    color: #FFF;
    font-size: 14px;
    font-family: 'gothamrounded-medium',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.gl_greybutton
{
    background-color: #fbfbfb;
    color: #004990;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.gl_bluebutton a
{
    display: block;
    background-color: #4D90CD;
    color: #FFF;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
}
.gl_greybutton a
{
    display: block;
    background-color: #f6f6f6;
    color: #004990;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding:10px 20px;
}
.gl_bluebutton a:hover
{
    background-color: #004990;
}
.gl_orangebutton a
{
     display: block;
    background-color: #fe2232;
    color: #FFF;
    font-size: 13px;
    font-family: 'gr-bold',Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding:10px 20px;
}

.gl_orangebutton a:hover
{
    background-color: #9d141d;
}

.gl_smallLink
{
       color:#4D90CD;
       cursor:pointer;
       font-size:10px;
}
/*carousel , sliders types---*/

#slider-nivo {
	width:980px;
	height:420px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}

.hr {
border-bottom: 1px dotted #BBB;
clear: both;
height: 0;
overflow: hidden;
position: relative;
}

/*=== containers wrappers
==================================================*/
.border {
border-color: #efefef;
border-style: solid;
border-width: 0;
}
#page { position: relative; width: 100%; margin: 0; padding:0; text-align: left; }

#trace {
	background-color: #222222;
	padding: 0;
	height: 100%;
}

.lcs-main-wrap {
/*margin: 0 -15px;*/
margin: 0;
overflow: hidden;
padding: 0 15px;
position: relative;
}

.lcs-main-wrap .horizontal {
background: #FFF;
border-top: 1px solid #E5E5E5;
margin: 0 -15px;
padding: 40px 0;
}

.lcs-banner-campaign {
background-position: 50% 0;
height: 450px;
margin: 0 -15px -30px;
overflow: hidden;
position: relative;

}



.lcs-banner-carousel {
background: #000;
margin: 0 -15px -30px;
overflow: hidden;
position: relative;
}

.hotel-slider{
background-position: 50% 0;
height: 480px;
margin: 0 -15px 30px;
overflow: hidden;
position: relative;
display:block;
}

.lcs-aux {
margin: 0 auto;
max-width: 980px;
}

#th-main, .th-aux {
margin: auto;
max-width: 980px;
}


#wrap { text-align: center; margin: 0px; padding: 0px; height: 100%; width: 100%; }

#container { clear: both; position: relative; width: 980px; text-align: left; margin: 0 auto; top: 0; display: block; }

body.third-party #container {padding: 30px 0 30px;}

 .container { overflow:visible; position: relative; max-width: 980px; text-align: left; margin:0 auto;}




 #container-main {
 	clear: both;
	margin-top: 20px;
	margin: auto;
	max-width: 980px;
}

#main-slider.show {
width: 100%;
padding: 0 0 48% 0;
overflow: hidden;
position: relative;
background: #171717;
}

 #main-slider.show > .content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
line-height: 0;
}

.main-wrap {
 margin: 0 -15px;
overflow: hidden;
padding: 0 15px;
position: relative;
}

.row-slider {
padding:0;
width: 100%;
height:420px;
overflow:hidden;
margin: 0 auto;
display:block;
}

.text-row {

	float: none; display: block; width: 100%;
}



.margin-top {
	margin-top:10px;
}

.page .wrapper { margin: 0 auto; padding-bottom: 25px; width: 980px;}


.row-grey { background-color:#f4f4f4; border-top: 5px solid rgba(153,153,153,0.2); border-bottom: 5px solid rgba(153,153,153,0.2); /*padding: 20px 0;*/}

.align-center {text-align:center;}

.hblock-center {
  position: relative;
  width: 980px;
  margin: 0px auto;
  height: 420px;
  overflow:hidden;
}

.fullpage {
    position: relative;
    margin-top: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.trans-white {
	background: #fff transparent;
	background: rgba(255,255,255,.9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5FFFFFF,endColorstr=#CFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5FFFFFF, endColorstr=#CFFFF)";
}

.dim{
background-color: #f0f3f5;
}
.black {background-color: #000;}
.white {background-color: #fff;}

/*.red {
	background-color:#d50f25;
  background-color:rgba(238,0,0,0.4);
  background-clip: padding-box;
  background-color: rgb(255, 0, 0);
  border-color: rgb(35, 35, 35);
  border-width: 0px;
  color: white;
  opacity: 0.93;
}*/

#whatshot {
  width:100%;
  height:100%;
  margin-bottom:16px;
  display: block !important;
}

#whatshot-two{
  width:100%;
  height: 220px;
  display: block !important;
}
.gut-top {display:block;height:16px;background:#ffd6d6;}

.dim {background:rgba(0,0,0,0.2)}
.inner {margin:16px;}
.gutter { display:block; height:16px }

.round {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.border-gray {
  border: 1px solid #f4f4f4;
}

.h-divider {
-webkit-border-image: none;
background-image: url(http://www.zurb.com/playground/images/dividers/divider-zurb.gif);
background-position: 50% 0%;
background-repeat: no-repeat;
border-bottom-color: #555;
border-bottom-style: none;
border-bottom-width: 0px;
border-left-color: #555;
border-left-style: none;
border-left-width: 0px;
border-right-color: #555;
border-right-style: none;
border-right-width: 0px;
border-top-color: #555;
border-top-style: none;
border-top-width: 0px;
color: #555;
display: block;
font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 36px;
line-height: 18px;
margin-bottom: 27px;
margin-left: 0px;
margin-right: 0px;
margin-top: 18px;
outline-color: #555;
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: 980px;
zoom: 1;

}
#main-nav-wrap {width:100%; padding:0; margin:0;}

#sticky-nav {
position: static;
margin-top: 8px;
z-index: 1000;
}

#sticky-nav .sticky-nav-wrapper {
width: 980px;
margin: 0 auto;
text-align: left;
padding: 18px 0 0;
}


#sticky-nav .page-title {
position: relative;
padding: 0 0 10px;
border-bottom: 1px solid #ececef;
}


#sticky-nav .nav-sections {
cursor: pointer;
z-index: 5;
position: relative;
font-family: Arial, Helvetica, sans-serif;
padding: 20px 0 20px;
border-bottom: 1px solid #E1EDF8;
}

#sticky-nav .nav-sections #page-nav a {
font-family: 'gr-med', Arial, Helvetica, sans-serif;
font-weight: 700;
color: #4d90cd;
padding-bottom: 4px;
}

#sticky-nav .nav-sections #page-nav {
padding: 0;
margin: 0;
}

#sticky-nav .nav-sections #page-nav li {
background: none;
padding: 0;
margin: 0;
float: left;
font-size: 15px;
font-weight: 700;
margin-left: 24px;
}

#sticky-nav .nav-sections #page-nav li:first-child, #sticky-nav .nav-sections #page-nav .first {
margin-left: 0;
}

#sticky-nav .nav-sections #page-nav a:active {
font-family: 'gr-book', Arial, Helvetica, sans-serif;
font-weight: 700;
color: #000;
padding-bottom: 4px;
}
#sticky-nav .nav-sections #page-nav a {color:#505050;}
#sticky-nav .nav-sections #page-nav  a:hover {color:#e23300;}

.page-section {
cursor: pointer;
z-index: 5;
position: relative;
font-family: Arial, Helvetica, sans-serif;
padding: 20px 0 20px;
border-bottom: 1px solid #eeeeee;
}


.page-title h3 {
color: #e51400;
width: 450px;
margin: 0 !important;
padding: 0;
}

#aboutus {position: relative; width: 980px; margin: 0 auto; text-align: left;}

/* Footer List ---------------------- */

.heading {background: url('../../images/heading-bg-light.png') left repeat-x;
font-size: 18px;
font-weight: normal;
}

.check, .calendar, .user {
list-style: none;
padding: 0;
}

.calendar ul {
list-style: none outside;
}

.calendar li {
margin-bottom: 20px;
padding-left: 28px;
background: url("/assets/img/ui/icon-calendar.png") no-repeat scroll 0px 5px transparent;
}

.footer h4, dl.tabs dd.active, .member-description, .member-social li, .portfolio-item:hover .portfolio-item-content, .tabs.vertical dd.active, .tabs.vertical li.active {
border-color: #ff6633;
}

.row-footer {
background-color: #ffffff;
padding-top:30px;
padding-bottom:0px;
}

.lineDivider {
clear: both;
display: block;
overflow: hidden;
height: 4px;
margin: 0px auto 30px;
background: url('/assets/img/ui/line-shadowed.gif') repeat-x;
border-top: 30px solid transparent;
}

ul.footer-list { display: block; list-style: none; margin: 0; padding: 0; }
ul.footer-list li { display: block; list-style: none; margin: 0 0 7px 0; }
ul.footer-list li a { display: block; }
ul.footer-list li.active a { color: #4d4d4d; font-weight: bold; }
ul.footer-list li.divider { border-top: 1px solid #e6e6e6; height: 0; padding: 0; }


.maia-cols {margin:0 -1.53374233129%; width:103.067484663%}

.maia-cols:after {
clear: both;
content: " ";
display: block;
height: 0;
visibility: hidden;
}


.btn-large-fat a:hover {
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #222222;
	border: 1px solid #f4f4f4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
	margin: 20px 0 0;
	padding: 10px;
	text-transform: uppercase;
}

.btn-large-fat a {
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #F10C31;
	border: 1px solid #FF0000;
	border-radius: 4px;
	color: #FFF;
	font-size: 10pt;
	font-weight: bold;
	margin: 20px 0 0;
	padding: 10px;
	text-transform: uppercase;
}

/*
.btn {
color: #FFF;
cursor: pointer;
text-transform: uppercase;
display: inline-block;
font-family: arial, sans-serif;
font-size: 13px;
line-height: 1.54em;
padding: 10px 1px;
text-align: center;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .08);
}

.btn a:hover {
  background-color:#1f1f1f;
}
.btn a:active {
  position:relative;
  top:1px;
}
*/
.btn-red {
  font-size:18px;
font-family: arial,sans-serif;
  font-weight:bold;
  text-transform: uppercase;
  border:0px solid #ff1500;
  padding:14px 36px;
  text-decoration:none;
  background-color: #ff0000;
color:#ffffff;
  display:inline-block;
  -webkit-box-shadow:inset -1px -1px 0px -6px #ff1500;
  -moz-box-shadow:inset -1px -1px 0px -6px #ff1500;
  box-shadow:inset -1px -1px 0px -6px #ff1500;
}

.btn-red a:hover {
  background-color:#1f1f1f;
}
.btn-red a:active {
  position:relative;
  top:1px;
}

.box-shade {
	border: 1px solid #D7D7D7;
	-webkit-box-shadow: 0 2px 2px -1px #DFDFDF;
	box-shadow: 0 2px 2px -1px #DFDFDF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

section#loved-by {
  width: 980px;
  padding-bottom: 90px;
  margin: 0 auto;
}
section#loved-by h3 {
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1em;
  color: #2f353e;
  letter-spacing: 0.2em;
  background: url('../images/home/hr.gif') center repeat-x;
}

/*======Booking Form
===================================================*/
/* booking check in check out */


#booker { position: absolute; float: left; left:0px; top: 20px; margin:0; width: 320px; z-index:999; overflow: hidden; }

.booking {
	height: 400px;
	width:300px;
	margin-top: 0;
	background:rgb(244,244,244);
	background: transparent\9;
	background: rgba(244,244,244,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5f4f4f4,endColorstr=#e5f4f4f4);
	zoom: 1;
}


.booking:nth-child(n) {
  filter: none;
}

  /*-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 283px;
  border: 1px solid #ccc;
  padding:10px;
  /*background-color: rgba(255,255,255,0.6);*/
  /* Fallback for web browsers that doesn't support RGBa
  background: rgb(248, 248, 255); */
  /* RGBa with 0.6 opacity
  background: rgba(248, 248, 255, 0.6); */
  /* For IE 5.5 - 7
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";*/

.booking h1 {
  font-size:40px;
  color:#e91126;
  font-family: Arial;
  padding-top: 25px;
  padding-bottom:10px;}

.booking h5{font-size: 11px; padding: 0px; margin: 0px; position: relative; left: 6px;}

.booking ul li {list-style: none;}
.booking li {display:block; list-style: none; padding: 6 0 8; margin: 0;}
li.booking_ul {
  margin-bottom: 10px;
  clear: both;
}

.booking label {
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
  display: block;
}
.booking a {padding-left: 5px; color: #555}
.booking p{padding: 0px; margin: 0px; padding-left: 5px;}
.added{background: rgba(190, 190, 190, 0.6); padding:10px 0px; padding-bottom: 1px;margin: 0px; margin-bottom: 10px; margin-top: 60px; clear: both;}


/** my form **/
.my_input_style {-webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb; box-shadow: inset 1px 1px 3px 0px #bbbbbb; background:#ffffff; padding:10px; border:0px;}
.no_border {
  border:0px;
}




.input_light {
  padding: 5px;
  border: 1px solid #E1E1E1;
  color: #a6a6a6;
  margin:2px;
}
.input_error {
  background:#ffd6d6;
  border:1px solid #e13131;
  padding: 5px;
  margin:2px;
}
.span_input_error {
  background:#ffd6d6;
  border:1px solid #e13131;
  padding: 5px;
  margin:2px;
  color:#930707;
  position:relative;
  z-index:100;
}
.span_input_error1 {
  background:#ffd6d6;
  border:1px solid #e13131;
  padding: 5px;
  margin:2px;
  color:#930707;
  display:block;
}
.full_width {
  width:100%;
}


label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 5px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {

  width:100%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.select-full-width {
  overflow:hidden;
  width:260px;
  height:28px;
  padding:0;
  margin:0;
}

.book {
  display:inline-block;
  float:left;
  width:120px;
}

.sbHolder{
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  position: relative;
  -webkit-border-radius: 5px;
    border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
  background:#ffffff;
}

/*=== CAROUSEL
==================================================*/

#billboard { display: block; margin:0; overflow:hidden; }
.billboard {height:520px; display: block; margin:0;}
.carousel {width: 980px; padding: 0; margin:0;}

.carousel .prev,
.carousel .next {
  float: left;
  width: 50px;
  padding: 10px 0 0;
  }

.carousel .prev span,
.carousel .next span {
  display: block;
  width: 30px;
  margin: 0 auto;
  height: 30px;
  overflow: hidden;
  background-color: #AAA;
  color: #fff;
  font-size: 2.8em;
  line-height: 1.1;
  text-align: center;
  cursor: pointer;
  }

.carousel .prevDisabled span,
.carousel .nextDisabled span {
  background-color: #EEE;
  cursor: default;
  }

.carousel .prev span:hover,
.carousel .next span:hover {
  background-color: #333;
  }

.carousel .prevDisabled span:hover,
.carousel .nextDisabled span:hover {
  background-color: #EEE;
  }

.carousel .visibleStage {
  float: left;
  width: 350px;
  overflow: hidden;
  position: relative;
  }

.carousel .visibleStage ul {
  width: 350px;
  position: relative;
  top: 0px;
  left: 0px;
  }

.carousel .visibleStage ul li {
  float: left;
  width: 70px;
  /* padding: 0 10px; */
  }

.carousel .visibleStage ul li a {
  display: block;
  width: 50px;
  margin: 0 auto;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  }

.carousel .carouselPagin {
  clear: left;
  padding: 10px 0 0 5px;
  width: 100px;
  margin: 0 auto
  }

.carousel .carouselPagin span {
  /* background-color: #CCC; */
  display: block;
  float: left;
  width: 11px;
  height: 11px;
  padding: 0;
  margin-right: 5px;
  overflow: hidden;
  color: #fff;
  font-size: 1px;
  line-height: 1px;
  text-indent: -9999px;
  cursor: pointer;
  -moz-border-radiust: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

.carousel .carouselPagin span.active {
  /* background-color: #333; */
  }

.carousel .carouselPagin span:hover {
/*  background-color: #AAA; */
  }

.content-side-layout {
  margin-top: 30px;
  margin-bottom: 10px;
  }



/*=== TOOLTIP
==================================================*/
#tooltip,
.tooltip-data {
  display: block;
  position: absolute;
  left: -10000px;
  top: -10000px;
  z-index: 50;
  }

.tooltipChromeTopRight,
.tooltipChromeBottomRight,
.tooltipChromeArrow {
  display: none;
  }

/*=== HEADER
==================================================*/
#th-header {background-color: #000000;width: 100%; min-width: 980px; display:block; /*background-color:#f8f8f8;*/}

.wrapper {width: 980px; margin: 0 auto; text-align: left; padding: 0;}

#th-header h1,
#th-header h1 a {
  display: block;
  float: left;
  width: 150px;
  height: 140px;
 /*padding: 35px 3px 0 3px;*/
  color: #FFF;
  font-size: 1px;
  line-height: 1px;
  text-indent: -10000px;
  }

#th-header h1 a {
  float: none;
  padding: 0;
  }

#th-header .global-nav {
  float: right;
  width: 780px;
  padding: 0 3px 10px 0;
  }

#th-header .deal-alerts {
  padding: 7px 0 0;
  color: #ff9900;
  text-align: right;
  font-size: 12px;
  line-height: 21px;
  height: 31px;
  overflow: hidden;
  }

#th-header .deal-alerts .rgt-arrow {
  display: inline-block;
  background: transparent url(/assets/images/rgt-arrow.png) 0 0 no-repeat;
  width: 6px;
  height: 9px;
  margin-left: 4px;
  }

#th-header .deal-alerts img {
  padding: 0 0 5px;
  }

#th-header .deal-alerts span {
  color: #4d90cd;
  }
#th-header .deal-alerts a:hover span {
  color: #004990;
  text-decoration: underline;
  }

#th-header .deal-alerts a {
  color: #ff9900;
  }

#th-header .deal-alerts a:hover {
  text-decoration: none;
  }

#th-header .deal-alerts a:hover .rgt-arrow {
  background-position: 0 -14px;
  }

#th-header .login-utility {
  padding: 8px 0 0;
  }
#th-header .login-utility li {
  float: right;
  }

#th-header .login-utility li a {
  display: block;
  height: 27px;
  color: #4d90cd;
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
  overflow: hidden;
  padding: 0 7px;
  }

#th-header .login-utility li a:hover {
  color: #004990;
  text-decoration: underline;
  }

#th-header .tune-hotel-sign-in {
  background: url(/assets/images/ui/bg-tune-hotel-label.jpg) no-repeat 8px 0;
  float: right;
  width: 72px;
  padding: 0 0 0 140px;
  height: 27px;
  overflow: hidden;
  }

#th-header .tune-hotel-join {
  width: 72px;
  padding: 0 0 0 7px;
  }

#th-header li.tune-hotel-sign-in a,
#th-header li.tune-hotel-sign-in a span,
#th-header li.tune-hotel-join a,
#th-header li.tune-hotel-join a span   {
  display: block;
  background: url(/assets/images/ui/bg-tune-hotel-btn.jpg) no-repeat 0 0 #4d90cd;
  height: 27px;
  overflow: hidden;
  color: #FFF;
  font-family: gotham-rouded-medium, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 0 3px;
  cursor: pointer;
  }

#th-header li.tune-hotel-sign-in a:hover,
#th-header li.tune-hotel-join a:hover {
  text-decoration: none;
  background-position: 0 -66px;
  }

#th-header li.tune-hotel-sign-in a span,
#th-header li.tune-hotel-join a span {
/*  background: url(/assets/images/ui/bg-tune-hotel-btn.jpg) no-repeat right -33px;
*/  width: auto;
  height: 19px;
  padding: 8px 3px 0 0;
  cursor: pointer;
  }

#th-header li.tune-hotel-sign-in a:hover span,
#th-header li.tune-hotel-join a:hover span {
  background-position: right -99px;
  background-color: #004990;
  }

#th-header .main-nav {background: #000;}


#th-backdrop {
  background-color: #f1f5f8;
  margin: 0 3px 10px;
  padding: 0 0 0;
  height: 126px;
  overflow: hidden;
  display: none;
  }




/*=== Footer
==================================================*/

#th-footer { color: #d3d3d3; font-size: 90%; line-height: 1.6em; text-align: left; width:100%; margin: 0; padding: 10px 0 20px; }


#th-footer h5 {
   font-size: 100%;
   margin-bottom:10px;
   font-family: arial;
   color:#fe2232;
}

#th-footer .body-wrap .sitemap-wrap ul {
    display: inline-block;
    float: left;
    width: 155px;

    }


.container .footer{
        text-align: left;
        line-height: 16px;
        font-size: 12px
        display:inline-block;
   }

#th-footer p {font-size: 12px; line-height: 16px; margin: 0; padding:0;}

#th-footer a {
  color: #7F8086;
  }

#th-footer a:hover {color: #4c4c4c; text-decoration: underline;   }

#th-footer .header-wrap {

  width: 980px;
  margin: 0 auto;
  padding: 10px;
  }

#th-footer .header-inner {

  padding: 20 10px 20px;
  }

#th-footer .header-wrap .app-wrap {
  float: left;
  width: 536px;
  }

#th-footer .header-wrap .search-wrap {
  float: left;
  width: 395px;
  margin-left: 10px;
  padding: 4px 0 0;
  }

#th-footer .header-wrap .search-wrap form {
  position: relative;
  }

#th-footer .header-wrap .search-wrap .search-inner {
    border-color: #C0C0C0 #F0F0F0 #E7E7E7 #C0C0C0;
  border-style: solid;
    border-width: 1px;
  /* Fallback declaration for unsupported browsers */
  background-image: url(/assets/images/ui/input-bg.png) 0 top repeat-x;
  /* Multiple Backgrounds using CSS3 */
  background: url(/assets/images/ui/input-bg.png) 0 top repeat-x,
        url(/assets/images/ui/input-bg.png) left 0 repeat-y,
        url(/assets/images/ui/input-bg.png) left top no-repeat,
        url(/assets/images/ui/input-bg.png) left top no-repeat;
  /* Declare background-color at the end to complete the cascade */
  background-color: #ffffff;
  width: 424px;
  height: 31px;
  padding-right: 40px;
  }

#th-footer .header-wrap .search-wrap .search-inner #search-box {
  font-size: 14px;
  border: 0;
  width: 420px;
  height: 20px;
  margin: 1px;
  padding: 5px;
  color: #4D90CD;
  }

#th-footer .header-wrap .search-wrap .search-inner .placeholder {
  color: #c0c0c0;
  }

#th-footer .header-wrap .search-wrap .search-inner #search-box:focus {
  outline: 0;
  }

#th-footer .header-wrap .search-wrap .search-inner #loupe-btn {
  position: absolute;
  top: 6px;
  right: 7px;
  background: transparent url(/assets/images/ui/loupe-btn-sp.gif) 0 0 no-repeat;
  text-indent: -10000px;
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 1px;
  line-height: 1px;
  color: #fff;
  }

#th-footer .header-wrap .search-wrap .search-inner #loupe-btn:hover {
  background: transparent url(/assets/images/ui/loupe-btn-sp.gif) 0 -25px no-repeat;
  }

#th-footer .body-wrap { width: 980px; margin: 15px auto; }

#th-footer .body-wrap .social-wrap {
    float: left;
    color: #000000;
    width: 50%;
    }

#th-footer .body-wrap .social-wrap li {
  margin: 5px 0;
  }

#th-footer .body-wrap .social-wrap li a {
  font-weight: bold;
  }

#th-footer .body-wrap .social-wrap li .inner-media p {
  color: #999;
  }

#th-footer .body-wrap .social-wrap li .inner-media p a {
  color: #4D90CD;
  }

#th-footer .body-wrap .social-wrap li .inner-media p a:hover {
  color: #004990;
  }

#th-footer .body-wrap .social-wrap li .img {
  background: transparent url(/assets/images/ui/social-icons-sp.gif) 0 0 no-repeat;
  width: 31px;
  height: 31px;
  }

#th-footer .body-wrap .social-wrap li.facebook .like-txt {
  color: #4d90cd;
  }

#th-footer .body-wrap .social-wrap li.twitter .img {
  background-position: -35px 0;
  }

#th-footer .body-wrap .social-wrap li.youtube .img {
  background-position: -70px 0;
  }

#th-footer .body-wrap .social-wrap li.btblog .img {
  background-position: -105px 0;
  }

#th-footer .body-wrap .sitemap-wrap {
    /*float: right;
    width: 50%;
    margin-left: 10px;*/
    }

#th-footer .body-wrap .sitemap-wrap ul {
    display: inline-block;
    float: left;
    width: 155px;

    }


#th-footer .body-wrap .sitemap-wrap ul.last {
  width: 150px;
  margin: 0;
  }

#th-footer .body-wrap .sitemap-wrap li.list-head {padding: 2px 0 5px; color: #e80000; font-family: 'gr-book', Arial, Helvetica, sans-serif; font-weight: 600; font-size: 12px; text-transform: uppercase; line-height: 1.1;  }

html.ie9 #th-footer .body-wrap .sitemap-wrap li.list-head {
  font-weight: 900;
}

#th-footer .body-wrap .sitemap-wrap li, #th-footer .body-wrap .sitemap-wrap li a {
  font-size: 12px;
  font-weight: normal;
 /* color: #4d90cd;*/
  margin: 3px 0;
  }

#th-footer .body-wrap .sitemap-wrap li, #th-footer .body-wrap .sitemap-wrap li a:hover {color: #4c4c4c}



/*=== CLEAR FIX / HOLLY HACK FOR STANDARD
    COMPLIANT BROWSERS AND IE 6-7
==================================================*/
body:after,
.clearfix:after,
#container:after,
#th-header:after,
#th-header .login-utility:after,
#th-primary-links:after,
#th-primary-links .th-secondary-links .plan-a-trip-submenu:after,
#th-primary-links .th-secondary-links .flying-on-jetblue-submenu:after,
#th-primary-links .th-secondary-links .travel-information-submenu:after,
#th-primary-links .th-secondary-links .plan-a-trip-submenu ul:after,
#th-primary-links .th-secondary-links .flying-on-jetblue-submenu ul:after,
#th-primary-links .th-secondary-links .travel-information-submenu ul:after,
.carousel:after,
.carousel .visableStage ul:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  }

html.oldie .clearfix,
html.oldie #container,
html.oldie #th-header,
html.oldie #th-header .login-utility,
html.oldie #th-primary-links,
html.oldie .carousel,
html.oldie .carousel .visableStage ul {
  zoom: 1;
  _height: 1%;
  }



/** page classes */
div.overlay {width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1000;}
div.overlay div.screen {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 3; cursor: pointer;}
div.overlay div.modal {margin: 0 auto; position: relative; top: auto; left: auto; z-index: 10;}

.MAC
{
    font-weight:bold;
}
#subpromo-wrap {
margin-top: 10px;
}

#subpromo-wrap {
zoom: 1;
  _height: 1%;
}



.three-up {
display: inline-block;
margin-left: 0;
margin-right: 0;
padding: 1%;
vertical-align: top;
width: 30%;
}

.feature-title {
color: #231F20;
font: 30px/1.35 "gr-book",arial,sans-serif;
font-weight: 100;
}

/*.theme {
display: inline-block;
padding: 2%;
vertical-align: top;
width: 47%;
}

.three-up.theme {
display: inline-block;
margin-left: 0;
margin-right: 0;
padding: 1%;
vertical-align: top;
width: 30%;
}

.theme:nth-child(1n+3), .one-of-two {
margin-right: 6%;
}*/

/*========previous styles from default css
=================================================*/

#logo {
background: url("/assets/media/images/logo.png") no-repeat scroll left top transparent;
float: left;
width: 250px;
height: 120px;
}

#link_header {
  height:57px;
  margin-top:10px;
}

#header_nav {
    float: right;
}

#header_menu {
  margin:0px;
  padding:0px;
  width:700px;

}

#this_country_lang {
  padding: 7px 10px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  font-weight: bold;
  width: 180px;
  margin-right: 10px;
  margin-top: 40px;
  background: url('../images/assets/arrow_down.png') center right no-repeat;
}

.small_flag {
  margin-top:8px;
}

.backdrop1
{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#444444;
  opacity: .0;
  filter:alpha(opacity=0);
  z-index:99991;
  display:none;
}

.search_box {
  border: 1px solid #f3f3f3;
  -webkit-border-radius: 5px;
    border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #bbbbbb;
    box-shadow: inset 1px 1px 3px 0px #bbbbbb;
  padding:5px;
  background: url('../images/assets/search.png') top right no-repeat;
}

.no_border {
  border:0px;
}

#footer_container {
  background-color:#f4f4f4;
  text-align: left;
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
}

#th-footer .col2 .media img{ padding-left: 20px; margin: 5px; }
.grey-tint {
background-color: #f4f4f4 !important;
}

.bright-red {
	background-color:#ED1C24!important
}

.light-grey {background-color: #F2F2F2!important;}

.yellow {
background-color: #ffc40d !important;
}

.green {
background-color: #00a300 !important;
}

.blue {
background-color: #2d89ef !important;
}

.dark-red {
background-color: #b91d47 !important;
}

.box-unit {
position: relative;
margin: 0 0 10px;
padding: 20px;
background-color: #f1f1f1;
width: 100%;
}


/*
===============================================================
Inner Pages Banner
===============================================================
*/

.jumbotron {
position: relative;
padding: 40px 0;
color: #fff;
text-align: center;
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
border-top: 5px solid #E52E2F;
background: #FF3738;
}
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

Pseudo ::after element
.jumbotron:after {
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: url(/assets/img/bs-docs-masthead-pattern.png) repeat center center;
opacity: .4;
}

.masthead {
padding: 40px 0 80px;
margin-bottom: 0;
color: #fff;
}

.masthead h1 {
font-family: 'gr-light' , arial, helvetica;
font-size: 96px;
line-height: 1;
letter-spacing: -3px;
}
.masthead p {
font-size: 24px;
font-weight: 200;
line-height: 1.5;
}

.banner-inner { background-color: rgba(0, 0, 0, 0.98)  !important;
border-color: rgb(35, 35, 35);
color: white; border-bottom: solid 1px #dcdcdc; min-height: 100px; padding:20px 0 20px; }


.banner-inner.map{
  background :#efefef;
  border-bottom: solid 1px #dcdcdc;
  min-height: 100px;
  padding:0;
}





.fg-color-blue {
  color: #2d89ef !important;
}
.fg-color-blueLight {
  color: #44a3aa !important;
}
.fg-color-blueDark {
  color: #2b5797 !important;
}
.fg-color-green {
  color: #00a300 !important;
}
.fg-color-greenLight {
  color: #99b433 !important;
}
.fg-color-greenDark {
  color: #1e7145 !important;
}
.fg-color-red {
  color: #b91d47 !important;
}
.fg-color-yellow {
  color: #ffc40d !important;
}
.fg-color-orange {
  color: #e3a21a !important;
}
.fg-color-orangeDark {
  color: #da532c !important;
}
.fg-color-pink {
  color: #9f00a7 !important;
}
.fg-color-pinkDark {
  color: #7e3878 !important;
}
.fg-color-purple {
  color: #603cba !important;
}
.fg-color-darken {
  color: #1d1d1d !important;
}
.fg-color-white {
  color: #ffffff !important;
}
.fg-color-grayDark {
  color: #525252 !important;
}

.bgc-black{
}

.bgc-blue {
  background-color: #2d89ef !important;
}
.bgc-blueLight {
  background-color: #44a3aa !important;
}
.bgc-blueDark {
  background-color: #2b5797 !important;
}
.bgc-green {
  background-color: #00a300 !important;
}
.bgc-greenLight {
  background-color: #99b433 !important;
}
.bgc-greenDark {
  background-color: #1e7145 !important;
}
.bgc-red {
  background-color: #b91d47 !important;
}
.bgc-yellow {
  background-color: #ffc40d !important;
}
.bgc-orange {
  background-color: #e3a21a !important;
}
.bgc-orangeDark {
  background-color: #da532c !important;
}
.bgc-pink {
  background-color: #9f00a7 !important;
}
.bgc-pinkDark {
  background-color: #7e3878 !important;
}
.bgc-purple {
  background-color: #603cba !important;
}
.bgc-darken {
  background-color: #1d1d1d !important;
}
.bgc-white {
  background-color: #ffffff !important;
}

.bcg-bright-red {
	background-clip: border-box;
	background-color: rgb(255, 0, 48);
	border-color: rgb(35, 35, 35);
	color: white;
	opacity: 1;
}


.bgc-lightGrey {
	background-color:##f1f1f1;
  background-color: rgba(244, 244, 244, 0.44) !important;
}
.bgc-grayDark {
  background-color: #ececef !important;
}
[class*=border-color] {
  border: 1px solid;
}
.border-color-blue {
  border-color: #2d89ef !important;
}
.border-color-blueLight {
  border-color: #44a3aa !important;
}
.border-color-blueDark {
  border-color: #2b5797 !important;
}
.border-color-green {
  border-color: #00a300 !important;
}
.border-color-greenLight {
  border-color: #99b433 !important;
}
.border-color-greenDark {
  border-color: #1e7145 !important;
}
.border-color-red {
  border-color: #b91d47 !important;
}
.border-color-yellow {
  border-color: #ffc40d !important;
}
.border-color-orange {
  border-color: #e3a21a !important;
}
.border-color-orangeDark {
  border-color: #da532c !important;
}
.border-color-pink {
  border-color: #9f00a7 !important;
}
.border-color-pinkDark {
  border-color: #7e3878 !important;
}
.border-color-purple {
  border-color: #603cba !important;
}
.border-color-darken {
  border-color: #1d1d1d !important;
}
.border-color-white {
  border-color: #ffffff !important;
}
.border-color-grayDark {
  border-color: #525252 !important;
}
.border-color-grey {
  border-color: rgb(238, 238, 238);
}
.circle {
float: right;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 300px;
height: 300px;
background: rgba(44,50,60,0.9);
margin: 5% 5% 0 0;
position: relative;
z-index: 100;
}

.trans-grey {
	background-clip: border-box;
background-color: rgba(0, 0, 25, 0.09);
border-color: rgb(35, 35, 35);
color: white;
opacity: 1;
}


header .bubblesWrapper {
width: 427px;
margin: 0 auto;
padding-right: 499px;
}

media="screen"
header .bubbles {
position: relative;
left: -54px;
top: 92px;
}

header .bubbles .headline {
float: none;
width: 427px;
height: 427px;
margin: 0;
display: table;
background-image: url('/assets/img/hero-bubble-large.png');
background-repeat: no-repeat;
background-size: 100% auto;
}


header .bubbles .headline .h1-large {
font-size: 42px;
line-height: 48px;
}

header .bubbles .headline h1 {
display: table-cell;
margin-bottom: 28px;
padding: 58px 67px;
color: #fff;
vertical-align: middle;
}

#th-header h1 { display: inline-block; margin: 0px; padding: 0px; float: left; width: 200px; }

.gw_modalOverlay {
width: 100%;
height: 100%;
background: #000;
left: 0px;
top: 0px;
}


/** lighbox */

.reveal-modal-bg {
		position: fixed;
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0;
		}

	.reveal-modal {
		visibility: hidden;
		top: 100px;
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}

	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		}


.bookform iframe { 
	background:rgb(244,244,244);
	background: transparent\9;
	background:rgba(244,244,244,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5f4f4f4,endColorstr=#e5f4f4f4);
	zoom: 1; }
	
iframe {
	border:0;
	background:rgb(244,244,244);
	background: transparent\9;
	background:rgba(244,244,244,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5f4f4f4,endColorstr=#e5f4f4f4);
	zoom: 1;
}


.iframe:nth-child(n) {
	filter: none;
}