/* version 1.0 */

body
{
    margin: 0;
    padding: 0;
    background: white;
}
body:after
{
    display: none !important;
    content: none !important;
    clear: none !important;
    visibility: visible;
    
}
.main_geometry
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.gwShow /* seems to be repeat of whats in global */
{
    display: block;
}
.gwHide  /* seems to be repeat of whats in global */
{
    display: none;
}

.jbtooltip
{   
 width:220px;
 height:75px;
 display:block;
 background:#fff;
 z-index:3000;
   -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    top:320px;
    padding:15px;
    color:#454545;
}

/* getaways global 

1. header css with line
2. title medium
3. title small
4. offer description
5. small blue link
6. legal copy

*/

.gw_toolTip
{
    background:#fff;
    text-align: center; width: 200px; 
     
}
.blueBar
{
    background:none;
    height: 50px; 
    background: url("../img/bluebar.png") repeat;
}

.gw_roundedCorners
{
    /*border: 1px solid #999;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
      display:block;
    overflow:hidden;
    position:relative !important;
    /*behavior: url(css/PIE.htc);*/
}
.gw_roundedCorners_top
{
    border-radius: 3px 3px 0px 0px; 
    -moz-border-radius: 3px 3px 0px 0px; 
    -webkit-border-radius: 3px 3px 0px 0px;    
    position:relative !important;
}
.gw_roundedCorners_left
{
    border-radius: 3px 0px 0px 3px; 
    -moz-border-radius: 3px 0px 0px 3px; 
    -webkit-border-radius: 3px 0px 0px 3px; 
    position:relative !important;
}
.gw_roundedCorners_right
{
    border-radius: 0px 3px 3px 0px; 
    -moz-border-radius: 0px 3px 3px 0px; 
    -webkit-border-radius: 0px 3px 3px 0px; 
    position:relative !important;
}
.gw_roundedCorners_bottom
{
    border-radius: 0px 0px 3px 3px !important; 
    -moz-border-radius: 0px 0px 3px 3px  !important; 
    -webkit-border-radius: 0px 0px 3px 3px  !important; 
    position:relative !important;
}
.gw_roundedCorners_topLeft
{
    border-radius: 3px 0px 0px 0px; 
    -moz-border-radius: 3px 0px 0px 0px; 
    -webkit-border-radius: 3px 0px 0px 0px; 
    position:relative !important;
}
.gw_roundedCorners_topRight
{
    border-radius: 0px 3px 0px 0px; 
    -moz-border-radius: 0px 3px 0px 0px; 
    -webkit-border-radius: 0px 3px 0px 0px; 
    position:relative !important;
}
.gw_roundedCorners_bottomLeft
{
    border-radius: 0px 0px 0px 3px; 
    -moz-border-radius: 0px 0px 0px 3px; 
    -webkit-border-radius: 0px 0px 0px 3px; 
    position:relative !important;
}
.gw_roundedCorners_bottomRight
{
    border-radius: 0px 0px 3px 0px; 
    -moz-border-radius: 0px 0px 3px 0px; 
    -webkit-border-radius: 0px 0px 3px 0px;
    position:relative !important;
}
.gw_showdislayinline
{
    display: inline;    
}
.gw_showdisplayblock
{
    display: block;
}
.gw_hidedisplay
{
    display:none;
}
.gw_hidevisiblity
{
    visibility: hidden;
}
.gw_showvisiblity
{
    visibility:visible;
}
.gw_floatLeft
{
    float:left !important;
}
.gw_floatRight
{
    float:right !important;
}
.gw_orangebutton
{
    background-color: #FF9900;
    color: #FFF;
    font-size: 13px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.gw_greybutton
{
    background-color: #fbfbfb;
    color: #004990;
    font-size: 13px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.gw_bluebutton a
{
    display: block;
    background-color: #4D90CD;
    color: #FFF;
    font-size: 13px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
}
.gw_greybutton a
{
    display: block;
    background-color: #f6f6f6;
    color: #004990;
    font-size: 13px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding:10px 20px;
}
.gw_bluebutton a:hover
{
    background-color: #004990;
}
.gw_orangebutton a
{
     display: block;
    background-color: #FF9900;
    color: #FFF;
    font-size: 13px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding:10px 20px;
}

.gw_orangebutton a:hover
{
    background-color: #FF7300;
}

.gw_smallLink
{
       color:#4D90CD;
       cursor:pointer;
       font-size:10px;
}
.gw_sectionContainer

{
   width:960px;
   overflow:hidden; 
   margin:auto;
   padding:auto;
}

.gw_container
{
    width:960px;
    float:left;
    /*overflow:hidden;*/
}

.gw_Offer
{
    position:relative;
    width:309px;
    float:left;
    margin-right:12px;
    min-height:400px;  
    margin-bottom:20px;
   /* border:1px solid  #d8dcdf;*/
}
#gw_homepageContainer .gw_Offer
{
    margin-right:16px;
}
.gw_dd_content_stack .gw_Offer
{
  border:1px solid  #d8dcdf; 
}
.gw_offerDetails
{
       height: 200px; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    width: 245px;

    border-radius: 0px 0px 3px 3px !important; 
    -moz-border-radius: 0px 0px 3px 3px  !important; 
    -webkit-border-radius: 0px 0px 3px 3px  !important; 
    position:relative !important;
    border-left:1px solid  #d8dcdf;
    border-right:1px solid  #d8dcdf;
    border-bottom:1px solid  #d8dcdf;
    } 
    
.gw_offerTitle
{ 
color:#004990;
width:100%;  
 } 
 
 
.gw_offerDesc
{    
    color:#454545;
      line-height:24px; 
      font-size:12px;
}
.gw_offerCallOut
{ 
     position:absolute;
     bottom:10px;
     left:10%;
     margin-top:5px;
     width:80%;
}    
.gw_priceTag
{
    position:absolute; 
    top:10px;
    left:0px;
    width:255px;
    height:60px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -737px; 
}
.gw_priceTagSmall
{
      position:absolute; 
    top:10px;
    left:0px;
    width:255px;
    height:60px;
    background: url("../img/gw_spritesheet.png") no-repeat -95px -737px; 
}
.gw_priceTagLong
{
    position:absolute; 
    top:10px;
    left:0px;
    width:255px;
    height:60px;
    background: url("../img/gw_spritesheet.png") no-repeat -95px -737px; 
}
.gw_priceTagSmall .gw_priceTagText,.gw_priceTagLong .gw_priceTagText
{
    font-size: 22px;
    color: #FFFFFF;
    position:absolute;
    top:0;
    width:148px;
    padding-left:4px;
}
.gw_clickToArrow
{
     width:18px; 
      height:17px; 
      background: url("../img/gw_spritesheet.png") no-repeat -0px -534px; 
     float:left;
    margin-left:5px;
}
.gw_clickTagArrow
{
    width:5px; 
      height:7px; 
      background: url("../img/gw_spritesheet.png") no-repeat -0px -712px; 
     float:right;  
    margin-top:52px;
    margin-left:5px;
    
}
.gw_pTagSmallTxt
{
    margin-top:10px;
   font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    color:#fff;
    font-size:11px;
    margin-left:5px;
    font-weight:bold
}
.gw_pTagLeft 
{
    margin-top:6px;
}
.gw_pTagRight 
{
    margin-top:22px;
}
.gw_pTagMidTxt
{
    position:relative;
     top:-8px;
    font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight:bold; 
    font-size:23px;
    margin-left:10px; 
}   
.gw_pTagLargeTxt
{
   font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight:bold;
    font-size:38px;   
}

.gw_pTagExclusive
{
    margin-top:18px;
    font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight:bold; 
    font-size:14px;
    margin-left:10px;
    margin-right:12px;
}
/*
.gw_greyLine
{
    display:block;
    border-bottom:1px solid #d8dcdf; 
    margin-top:20px;
    margin-bottom:10px;
    width:100%;
}*/


.gw_greyLine
{
     border-bottom: 1px solid #D8DCDF;
    bottom: 50px;
    display: block;
    left: 5%;
    margin-bottom: 10px;
    margin-top: 20px;
    position: absolute;
    width: 90%;
}
 
 /* in progress use with h2 */
.gw_midTitle
{
   float:left;
   color:#004990;
   display:block;
   height:80px; 
   line-height:105px;  
   text-align:left;
   margin-bottom:20px;
}

.gw_smallTitle
{
    font-size:20px;
    font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    font-weight: 700; 
    
} 

.gw_btnHolder .gw_smallTitle
{   
    color:#004990;
    text-align:center;
    float:left; 
    
}
.gw_offerDetails .gw_smallTitle
{   
    color:#004990; 
    width:100%;
    float:left;
    
    position:relative;
    line-height:24px; 
}

.gw_titleHolder
{
   width:960px;
   height:80px;
   border-bottom:1px solid #dae8f6; 
}

.gw_btnHolder
{
    margin:auto;
    padding:auto;
    height:20px;  
}
#gw_redeem .gw_btnHolder
{
    margin-top:24px;
}

#gw_guaruntee .gw_btnHolder
{
    margin-top:17px;
}

#gw_support .gw_btnHolder
{
    margin-top:12px;
}

#gw_save .gw_btnHolder
{
    margin-top:34px;
}

.gw_lightBlueLink
{
    /*cursor:pointer;*/
    color:#5ea1de;
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
    line-height:110px;
    height:78px;
    font-size:12px;
}
.gw_lightBlueLink a
{
    color: #5ea1de;
}
.gw_lightBlueLink a:hover
{
    color: #004990 !important;
}
.gw_lightBlueLink a:visited
{
    color: #5ea1de;
}

a.gw_activeGetawaysLink 
{
    color: #5ea1de !important;
}


/*** header section ***/
.gw_header
{
    width: 100%;
    background-color: yellow;
    font-family: Arial,Helvetica,sans-serif;
    float:left;
    top:0; 
    border-bottom: 1px solid #dae8f6;
}
.gw_header_top_container{
    width:100%;
    /*height:450px;*/
    background-color: #00285e;
}
.gw_header_bottom_container{
    width:100%;
    /*height:450px;*/
    background-color: #FFFFFF;
}
.gw_header_top
{
    position: relative;
    width: 960px;
    left: 50%;
    margin-left:-480px;
    height: 40px;
    background-color: #00285e;
}
.gw_header_bottom
{
    position: relative;
    width: 960px;
    left: 50%;
    margin-left:-480px;
    background-color: #FFFFFF;
    height: 90px;
}
.gw_hb_logo
{
    width: 183px;
    height: 74px;
    float: left;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -138px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.gw_header_bottom_include
{
    float:left;
    width:809px;
}
.gw_hb_links
{
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    float: left;
    width:626px;
    padding-top:36px;
    text-align:center;
    /*padding-left:24px;*/
}
.gw_hb_links_bookContainer
{
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    float: right;
}
.gw_hb_links .gw_hb_linkDiv
{
    margin-right: 28px;
}
.gw_hb_linkDiv
{
    height: 90px;
    float: left;
    width: auto;
}
.gw_hb_links a
{
    color: #004990;
    text-decoration: none;
    padding-top: 36px;
    display: inline;
    margin-right: 28px;
}
.gw_hb_links a.last-child
{
    margin-right: 0px;
}
.gw_hb_linksDiv a
{
    color: #004990;
    text-decoration: none;
    display: block;
}
.gw_hb_links a:hover
{
    color: #4D90CD;
}

.gw_hb_booknow
{
    position: absolute;
    right:0;
    height:92px;
    width: 154px;
    background: url("../img/gw_spritesheet.png") no-repeat -158px -42px;
    cursor: pointer;
}
.gw_hb_booknow:hover
{
    color: #FFFFFF !important;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -42px;
}
.gw_hb_booknow_open
{
    position: absolute;
    right:0;
    height:92px;
    width: 154px;
    cursor: pointer;
    background:  url("../img/gw_spritesheet.png") no-repeat -316px -42px;
}
.gw_hb_booknowText
{
    color: #FFFFFF;
    padding-left: 20px;
    margin-top: 36px;
    display:block;
}
.gw_hb_booknow_open .gw_hb_booknowText
{
    color: #5ea1de;    
}

.gw_ht_logo
{
    float: left;
    width: 76px;
    font-size: 20px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 10px;
}
.gw_ht_dealSignUp
{
    float: left;
    /*width: 143px;*/
    height: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #b5d2ee;
    font-weight: bold;
    border-right: solid 1px #003977;
    margin-top: 7px;
    padding-top: 6px;
}
.gw_ht_dealSignUp span
{
    float:left;    
}
.gw_ht_dealSignUp a
{
    color: #b5d2ee;
}
.gw_ht_dealSignUp a:hover
{
    /*color: #004990;*/
    text-decoration: underline;
}

.gw_ht_dealsMail
{
    display: block;
    float: left;
    width: 16px;
    height: 13px;
    margin-right: 6px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -552px;
}
.gw_ht_dealsArrow
{
    display: block;
    float: right;
    width: 12px;
    height: 11px;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 11px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -654px;
}

.gw_ht_callJetBlue
{
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #b5d2ee;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 8px;
}
.gw_ht_callJBIcon
{
    float: left;
    width: 13px;
    height: 16px;
    margin-left: 11px;
    margin-right: 2px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -637px;
}

/***  Main Content  ***/
.gw_mainContent_Container
{
    float:left;
    width: 100%;
    background-color: #FFFFFF;
    z-index:30;     
}


/*** Destination footer section ***/

.gw_footer_destinations_Container
{
    float:left;
    width:100%;
    /*height:450px;*/
    background-color: #004488;
    margin-top:58px;
    overflow:hidden;
}

.footer_viewAllDestinations
{
    position:relative;
    width: 960px;
    left:50%;
    margin-left: -480px;
    background-color: #004488;
    font-family: Arial,Helvetica,sans-serif;
    /*height: 360px;*/    
    padding-bottom: 22px;
}
.footer_vadTitle
{
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 28px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    position:relative;
    height: 70px;
    padding-top: 40px;
    cursor: pointer;
}
.footer_vadTitleText
{
    width:390px;
    float:left;    
    margin-left: -480px;
    left:50%;
    position: relative;
}
.footer_toggleButton_closed
{
    float:left;
    width: 19px;
    height: 14px;
    cursor: pointer;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -683px;
    margin-top: 8px;
    left:50%;
    position: relative;
    margin-left: -80px;
}
.footer_toggleButton_open
{
     float:left;
    width: 19px;
    height: 11px;
    cursor: pointer;
    margin-top: 8px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -698px !important;
    margin-top: 8px;
    left:50%;
    position: relative;
    margin-left: -80px;
}
.footer_vadBody
{
    float:left;
    border-top: 1px solid #195693;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 18px;
}
.footer_vadB1
{
    width: 480px;
    /*width: 415px;*/
    /*height: 285px;*/
    float: left;
}
.footer_vadB2
{
    width: 480px;
    /*width: 370px;*/
    /*height: 285px;*/
    float: left;
}
.footer_vadB3
{
    float: left;
    width:175px;
}
.footer_vadBTitle
{
    float:left;
    color: #FFF;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.footer_vadBContent1
{
    font-size: 13px;
    color: #b5d2ee;
    float: left;
    width: 480px;
    padding-top: 10px;
}
.footer_vadBody a
{
     color: #b5d2ee;
    text-decoration: none;
}
.footer_vadBody a:hover
{
    text-decoration: underline;
}

.footer_vadBContent1 ul
{
    padding: 0;
    margin: 0;
    float: left; /* width: 186px; */
    list-style-type: none;
    padding-right: 18px;
}
.footer_vadBContent1 li
{
    padding-bottom: 10px;
}
.footer_vadBContent2
{
    width: 480px;
    font-size: 13px;
    color: #b5d2ee;
    float: left;
    padding-top: 10px;
}

.footer_vadBContent2 ul
{
    padding: 0;
    margin: 0;
    float: left; /* width: 186px; */
    list-style-type: none;
    padding-right: 18px;
}
.footer_vadBContent2 li
{
    padding-bottom: 10px;
}
.footer_vadBContent3
{
    width: 480px;
    font-size: 13px;
    color: #b5d2ee;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer_vadBContent3 ul
{
    padding: 0;
    margin: 0;
    float: left; /* width: 186px; */
    list-style-type: none;
}
.footer_vadBContent3 li
{
    padding-bottom: 2px;
}


/* Main Footer  Section*/
.gw_footer_mainFooter_Container
{
    float:left;
    width:100%;
    /*height:130px;*/
    background-color: #00285e; 
}

.gw_footer_mainFooter
{
    position:relative;
    width: 960px;
    background-color: #00285e;
    font-family: Arial,Helvetica,sans-serif;
    height: 130px;
    left:50%;
    margin-left: -480px;
}
.gw_footer_mfLinks
{
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 750px;
}

.gw_mfLinks_links
{
    float: left;
    font-size: 14px;
    clear: right;
    /*width: 600px;*/      
}
.gw_mfLinks_links a
{
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 28px;
    line-height: 1.2; 
}
.gw_mfLinks_links a:hover
{
    text-decoration: underline;
}
.gw_mfLinks_links sup
{
    font-size: 11px;
}
.gw_mfLinks_legal
{
    float: left;
    color: #8094af;
    font-size: 11px;
    margin-top: 18px;
    width: 100%;
    height: 20px;
}
.gw_mfLinks_legal span
{
    float:left;
    margin-right: 3px;
}
.gw_mfFooterDivider {
	float:none !important;
	margin: 0 7px 0 7px !important;
}
.gw_tripAdvisorText
{
    color: #FFFFFF;
}
.gw_tripAdvisorLogo
{
    display: block;
    float: right;
    margin-left: 5px;
    margin-top: -2px;
    width: 24px;
    height: 16px;
    background: url("../img/gw_spritesheet.png") no-repeat 0px -666px;
}
.gw_footer_mfSocialIcons
{
    float: right;
    padding-top: 26px;
}
.gw_footer_mfSocialIcons a
{
    float: left;
    height: 40px;
    width: 40px;
    margin-left: 6px;
}
.gw_facebook_icon
{
    background: url("../img/gw_spritesheet.png") no-repeat 0px 0px;
}
.gw_twitter_icon
{
    background: url("../img/gw_spritesheet.png") no-repeat -82px 0px;
}
.gw_youtube_icon
{
    background: url("../img/gw_spritesheet.png") no-repeat -41px 0px;
}
.gw_jbBlog_icon
{
    background: url("../img/gw_spritesheet.png") no-repeat -123px 0px;
}




/* General Hero/Slider CSS */
  .jshero{
  overflow: hidden;
  position:relative;
  }
  .heroChildContainer{
    float: left;
  }

  .heroChildContainer div{
    float: left;
  }


  .heroOrbsContainer
  {
    position:absolute;
    height: 19px;
    padding: 5px 8px 5px 8px;
    background-color: #FFFFFF;
    background-color: white !important;
  }
  .orb{
    width: 11px;
    height: 11px;
    position: absolute;
    background: url("../img/gw_spritesheet.png") no-repeat -188px 0px;
    float: left;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
  }
  .orbactive
  {
    background: url("../img/gw_spritesheet.png") no-repeat -164px 0px !important;    
  }


.gw_modalIcon
{
    height:9px;
    width:10px;
    float:left;
    margin-top:5px;
    margin-right:5px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -601px; 
}
.gw_modalLink
{
    margin-top:8px;
}

/*** modal win  ***/ 
.gw_modalOverlay
{
    width:100%;
    height:100%;
    background:#000; 
    left:0px;
 top:0px; 
}
.jbModalCloseBtn
{
   position:relative;
   top:-380px;
   right:30px;
    display:block; 
    float:right;
    width:30px; 
    height:30px;
    cursor:pointer;
    background: url("//www.jetblue.com/img/context-switcher-btn-sp.png") no-repeat scroll 0 -128px transparent;}
 
 /**************** modal class listents to this class, it can be 
applied to any element you want to use to trigger closing of the modal ******************/
   .jbModalClose
   {
      cursor:pointer;  
   }


.jbModalContainer
{
 width:100%;
 height:100%;
 left:0px;
 top:0px;    
}

.gw_modalBody .gw_smallTitle
{
    color:#004990;
    margin-bottom:5px;
}
.gw_modalContent
{ 
    display:block;
    float:left; 
    padding:20px 40px 20px 40px;
    line-height:25px;
    color:#454545;
    font-size:12px;
    font-family: Arial,Helvetica,sans-serif;
    overflow:auto;
    max-height:280px;
    min-height:280px;
    width:530px;
    top:50%;
    left:50%;
}
.gw_modalWrapper .gw_midTitle
{
    color:#fff;
    height:auto; 
    line-height:75px;
    
}
.jbModalWrapper .gw_modalLink
{
    display:none;
} 


.gw_modalBody
{ 
 margin-left:-2px\9; 
  margin-top:-3px\9; 
 padding:0px\9;   
 width:610px\9;     
}
 
.gw_modalBody, #gw_modalBody
{
display:none;
   float:left; 
color:#454545;   
   font-family: Arial,Helvetica,sans-serif;
font-size:12px; 
}

 
.gw_modalWrapper
{
  
    width:610px;
height:400px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: #666 0px 2px 5px;
-moz-box-shadow: #666 0px 2px 5px;
box-shadow: #666 0px 2px 5px; 
 background:#fff;
display:block; 
margin-top:-200px;
margin-left:0px;
padding-left:0px; 

}
.gw_modalHeader
{  
    
     background:#004990;
  height:75px;
    width:580px;
-webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
position:relative !important;
display:block; 
padding-left:30px;
float:left; 
}

.gw_modalContent
{     
  margin-left  :-2px\9;
}
.gw_modalHeader
{  
    margin-left:-2px\9;
     margin-top:-1px\9;
}

/*** Destination Details Page ***/ 
.gw_dd_container
{
    left: 50%;
    width: 960px;
    margin-left: -480px;
    height:auto;
    float:left;
    position:relative;
}

.gw_dd_header
{
    float:left;
    margin-top: 38px;
    padding-bottom: 13px;
    width:100%;
    border-bottom: solid 1px #dae8f6;
}

.gw_dd_subtitle
{
    float: left;
    font-size: 28px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight:bold;
    color: #004990;
}

.gw_dd_socialbar
{
    float: right;  
    width:314px; 
}

.gw_dd_socialbar .social-share
{
    float: right;
    width: 312px;
}
.gw_dd_socialbar .social-share .addthis_toolbox
{
    float: right;
    width: 300px !important;
    /*background:green;*/
    
}
.gw_dd_socialbar .social-share .addthis_toolbox a
{
   /* float: right;*/
}
a#googlePlusLike
{
    position:absolute;
    right:0;
   /* float:left !important;*/
}

.gw_dd_socialbar iframe #facebook .pluginCountButtonNub i
{
    left:0px !important;
}


.gw_dd_mainHero
{
    float: left;
    margin-top: 20px;
    margin-bottom:20px;
}

div.gw_dd_mainHero div.gw_hero_title_subtitle {
  font-size: 20px;
  font-weight: bold;
  padding-top: 1px;
  position: absolute;
  text-shadow: 1px 1px 1px #111111;
  top: 57%;
  width: 100%;
  left:0;
  opacity:0;
  display:none;
  
 /* animation: fadein 4.5s; /* IE 10 */ 
 /* -moz-animation: fadein 4.5s; /* Firefox */
 /* -webkit-animation: fadein 4.5s; /* Safari and Chrome */
 /* -o-animation: fadein 4.5s; /* Opera */
}

div.gw_dd_mainHero div.gw_hero_title_subtitle.iefilterfix 
{

   
}

.oldie div.gw_dd_mainHero div.gw_hero_title_subtitle {
   /* filter:Shadow(Color=#111111, Direction=135, Strength=2); */
    
}

div.gw_dd_mainHero div.gw_dd_hero_text {

}

/*@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​
*/
   
.gw_dd_submenu
{
    float: left;
    width: 960px;
}
.gw_dd_sm_container
{
   float: left;
   width: 640px;
   margin-left:160px;
}
.gw_dd_sm_main div
{
   float: left;
   width: 158px;
   height: 26px;
   border-right: solid 1px #dae8f6;
   border-top: solid 1px #dae8f6;
   border-bottom: solid 1px #dae8f6;
   background-color: #f1f5f8;
   font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
   font-weight: bold;
   font-size: 13px;
   color: #004990;
   text-align: center;
   padding-top: 16px;
   cursor: pointer;
}
.gw_dd_sm_main div:hover
{
    background-color: #4D90CD;    
    border-color:#4D90CD;
    color: #FFF;
}

.gwsubmain_active
{
    background-color: #004990 !important;
    color: #FFF !important;
    border-color: #004990 !important;
}
.gw_dd_sm_pointer div
{
    float:left;
    margin-left:72px;
    /* width: 160px;*/
    height: 9px;
    margin-bottom:11px;
    width: 88px;
}
.gwsubpoint_active
{
    background: url("../img/gw_spritesheet.png") no-repeat 0px -728px;    
}

.gw_dd_sm_main div:first-child
{
   border: solid 1px #dae8f6;
}

.gw_dd_content_container
{
    margin-top:8px;
    float: left;
    width: 960px;
}
.gw_dd_content_hero_container
{
    float:left;
}
.gw_dd_content_title
{
    float:left;
   font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
   font-weight: bold;
   font-size: 28px;
   color: #004990;
   border-bottom: 1px solid #dae8f6;
   padding-bottom: 16px;
   margin-bottom: 20px;
   width: 960px;
   padding-top:36px;
}
.gw_dd_content_stack
{
    float:left;
    width:960px;
    margin-bottom: 20px;
}
.gw_dd_content_stack>div
{
    float:left;
    width:310px;
    height: 380px;
}
.gw_dd_content_stack_middle
{
    margin-left: 15px;
    margin-right: 15px;
}
.gw_dd_content_stack_img
{
    width:310px;
    height: 180px;
    float:left;
}
.gw_dd_content_stack_offer
{
    float:left;
    width:252px;
    height: 170px;
    padding-left:28px;
    padding-right:28px;
    padding-top: 28px;
}

.gw_dd_content_stack_title
{
    float:left;
    color: #004990;
    width:100%;
}
.gw_dd_content_stack_description{
    float:left;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    color: #454545;
    margin-top: 10px;
    margin-bottom: 17px;
    width:100%;
    line-height:1.7;    
}
.gw_dd_content_stack_starrating{
    float:left;
    padding-bottom:17px;
    
    width:100%;
}
.gw_dd_content_stack_buttondiv
{
    float:left;
    margin-right:28px;
    margin-left:28px;
    border-top: 1px solid #F1F5F8;
    padding-top: 14px;
    margin-top: 6px;
    width:252px;
}

.gw_dd_content_poi
{
    float:left;
    width:960px;
}
.gw_dd_content_poi_container
{
    float:left;
    height:auto;
    width:100%;
    padding-bottom:38px;
}
.gw_dd_content_poi_numImg
{
    float:left;
    width: 62px;
    height:56px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 56px;
    color:#CCCCCC;
}
.gw_dd_content_poi_title
{
    float:left;
    width: 898px;
    height: 40px;
    color: #004990;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.gw_dd_content_poi_content
{
    float:left;
    width: 898px;
    height:auto;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #454545;
    line-height:1.7;
}

.gw_dd_content_activities
{
    float:left;
    width:960px;    
}
.gw_dd_content_activities_stack
{
    float:left; 
    width:100%;   
    padding-bottom:35px;
}
.gw_dd_content_activities_container
{
    float:left;  
    width: 430px;
    padding-right:50px;  
}
.gw_dd_content_activities_title
{
    float:left;    
    width:100%;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size:20px;
    color: #004990;
    padding-bottom:19px;
}
.gw_dd_content_activities_content
{
    float:left;
    width:100%;
    height: auto;    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #454545;
}


.gw_dd_content_ymalike_title
{
    width: 960px;
    margin-top:20px;
    float:left;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #004990;
    padding-bottom:14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DAE8F6;
}
.gw_dd_content_ymalike_offer
{
    float:left;
    width: 232px;
    height:162px;   
    margin-right:10px;
}
.gw_dd_content_ymalike_offer_container>.gw_firstchild
{
    margin-right:11px;
}
.gw_dd_content_ymalike_offer_container>.gw_lastchild 
{   
    margin-right:0px;
    float:right;
}
.gw_dd_content_ymalike_offer .gw_dd_content_ymalike_img
{
    float:left;
    width:100%;
}
.gw_dd_content_ymalike_offer .gw_bluebar
{
    float:left;
    position:relative;
    margin-top: -35px;
    width: 100%;
    height: 35px;
    background-color:#004890;
    opacity:0.8;
    filter:alpha(opacity=80);
}
.gw_dd_content_ymalike_offer .gw_ymalike_text
{
    float:left;
    position:relative;
    margin-top:-35px;
    color: #FFF;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-left:20px;
    padding-top:11px;
}

.gw_dd_content_legal
{
    float:left;
    margin-top:40px;
    padding-top:30px;
    border-top: 1px solid #999999;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 10px;
}



.gw_arrow_price_container>div
{
    float:left;
    width:100%;
}
.gw_arrow_price_container
{
    position:relative;
    background-color: green;
    float:left;
    width:133px;
    height: 48px;
    left:0;
    top:-170px;
    padding-left:10px;
    padding-right:18px;
    padding-top: 7px;
    background: url("../img/gw_spritesheet.png") no-repeat -95px -737px; 
    color:#FFF;
    
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 11px;
}
.gw_arrow_price_text
{
    display:block;
    float:right;
    margin-top:2px;
}
.gw_arrow_price_currency
{
    font-size:24px;
    display:block;
    float:left;
    margin-top:2px;
}
.gw_arrow_price_price
{
    font-size: 36px;
    display:block;
    float:left;
}





/*  Probably unneeded CSS once Handed to IM   */

.gw_dd_content_hero_container .jshero
{
    float:left;
    width:960px;
    background-color: #F1F5F8;
    height: 180px;  
    overflow: hidden;
}

.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_title
{
    color: #004990;
    font-size:20px;
    height: 20px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_content
{
    float:left;
    height: auto;
    color: #454545;
    font-size: 15px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    margin-top:9px;
    margin-left: 30px;
    width: 810px;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_button
{
    height :90px;
    width: 100%;
    float:left;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_button .gw_orangebutton
{
    float:right;
    margin-right: 120px;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_content_full
{
    float:left;
    width:100%;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_content_readmore
{
    float:left;    
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_content_readmore .gw_modalLink a
{
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
    font-size:11px;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_content_readmore .linkArrow
{
    background: url("../img/gw_spritesheet.png") no-repeat 0px -712px; 
    width:7px;
    height:6px;
    display:inline-block;
}

.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_button .gw_modalLink
{
    margin-left:30px;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_button .gw_modalLink a
{
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
    font-size:11px;
}
.gw_dd_content_hero_container .jshero .heroChildContainer .gw_dd_ch_button .linkArrow
{
    background: url("../img/gw_spritesheet.png") no-repeat 0px -712px; 
    width:7px;
    height:6px;
    display:inline-block;
}

/* homepage */
 #gw_homeTopSlider .blueBar  .gw_greybutton
{
 padding-left   :30px;
 padding-top:10px;
 margin-right:305px;
  padding-bottom:10px;
 padding-right:30px;
 margin-top:8px;
 font-size:14px;
 color:#004990;
 /*color:Red;*/
 z-index:20000;
}
#gw_homeTopSlider .gw_greybutton a
{
    color:#004990 !important;
}
#gw_homeTopSlider .gw_greybutton a:visited
{
    color:#004990 !important;
}
#gw_homeTopSlider .gw_hero_title
{
    position:absolute;
    width:1280px;
    /*top:-500px;*/
    top:0;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-align:center;
    padding-top: 0px;
    text-shadow: #111111 1px 1px 1px;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=1);  
    filter: Shadow(Color=#111111, Direction=135, Strength=2);    
}

#gw_homeTopSlider .gw_hero_title_subtitle
{
    float:left;
    width:100%;
    font-size: 20px;  
}
#gw_homeTopSlider .gw_hero_title_location
{
    float:left;
    width:100%;
    font-size:48px; 
}
#gw_homeTopSlider .gw_hero_title_resort
{
    width:100%;
    float:left;
    font-size:76px;
}
#gw_homeTopSlider .jshero .gw_priceTag
{
    position:relative; 
    top:-620px; 
}
#gw_homeTopSlider .jshero
{
    width:1280px;
    height:520px;
    left:50%;
    margin-left: -640px;   
    position:relative;
    overflow: hidden;
}



#gw_homeTopSlider .jshero .gw_smallTitle
{ 
    width:800px;
    height:50px;
    display:block; 
    color: #FFFFFF;   
    margin-top:7px;
    margin-left:15px;
}

#gw_homeTopSlider .jshero .heroChildContainer
{
 height:520px;   
}
#gw_homeTopSlider .heroOrbsContainer 
{
    background-color: transparent !important;    
    top: 484px !important;
}

#gw_homeTopSlider .gw_homeBlueBar
{
    width:100%;
    height:50px;
    display:block;
    top:-50px;
    float:left;
    position:relative;  
    background-color:#004890;
    background: url("/vacations/img/bluebar.png") repeat;
    /*opacity:0.8;*/
   /* filter:alpha(opacity=80); */
}
/* this should prob be moved to experiences */
.gw_homeBlueBar
{
    width:100%;
    height:50px;
    display:block;
    top:-50px;
    position:relative;  
    background-color:#004890;
    background: url("/vacations/img/bluebar.png") repeat;
    z-index:0;
    /*opacity:0.8;*/
    /*filter:alpha(opacity=80); */
}

#gw_largeIcons
{ 
    padding-top:30px;
    height:170px;
}

#gw_topRowPckgs
{
    height:300px;
    padding-top:20px;
}
#gw_homepageContainer .jshero
{
    width:638px;
    height:424px;
    float:left;
}
#gw_homepageContainer .jshero img
{
    width:638px;
    height:424px;
}
#gw_homepageContainer .gw_midTitle
{
    margin-bottom:0px;
}
.gw_offerCallOut .gw_orangebutton 
{
    
 font-weight: bold;
    text-align: center;
    cursor: pointer;
      -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    position:relative !important;
}
#gw_homeTopSlider
{
    position:relative;
    width:100%;
    height:520px;
}
#gw_homepageContainer
{
   /*max-width:1280px;*/
   width:960px;
   /*overflow:hidden;*/
   margin:auto;
   padding:auto;
   /* border:3px solid black;*/ 
}
#gw_homepageContainer .gw_container .gw_container
{
    height:430px;
   /* border:3px solid black;*/ 
}
.hero_buttons
{
    position:absolute;
    top:50%;
    margin-top:-25px;
}
.hero_buttons div
{
    width:30px;
    height:50px;
    position absolute;
    background:none;
}

.gw_heroArrowRght
{  
   float:right;
   margin-right:30px;
}
.gw_heroArrowLft
{
   float:left;
   margin-left:30px;
}

.gw_heroArrowLft .gw_SliderArrow
{   
    background: url("../img/gw_spritesheet.png") no-repeat 0px -482px;
    cursor:pointer;
     width:30px; 
     height:50px;
}

.gw_heroArrowRght .gw_SliderArrow
{    
     background: url("../img/gw_spritesheet.png") no-repeat -35px -482px;
     width:30px; 
     height:50px;
     cursor:pointer;
}

.gw_heroContainer 
{
    width:638px;
    float:left;
    height:424px;
    margin-right:12px;
}

#gw_topHeroContainer
{
    width:100%;
    overflow:hidden; 
    height:520px; 
    margin:auto;
    padding:auto;   
}
#gw_topHeroContainer .hero_buttons
{
    width:100%;    
}
#gw_redeem
{
   width:233px;
   float:left; 
   margin-right:50px;
   height:130px;  
   cursor:pointer;
} 
#gw_redeem .gw_largeIcon
{
    
    margin:auto;
    padding:auto;
     height:61px;
    width:174px;
   background: url("../img/gw_spritesheet.png") no-repeat -0px -290px; 
    padding:auto;
    margin-top:6px;
}
        
 #gw_guaruntee {
    width:213px;
     float:left; 
   margin-right:50px;
   height:130px;  
   cursor:pointer;
    } 
#gw_guaruntee .gw_largeIcon
{
    height:70px;width:114px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -354px;margin:auto; 
    padding:auto;
    margin-top:6px;
    }

#gw_support
{
    height:76px;width:143px;  float:left; 
   margin-right:50px;
   height:130px; 
   cursor:pointer;
    }
#gw_support .gw_largeIcon
{
    
     height:76px;width:81px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -213px;margin:auto; 
    padding:auto;  
    margin-top:6px;
    }    
#gw_save
{
   height:76px;
   width:220px;  
   float:left;  
   height:130px; 
   cursor:pointer;
}
   
    
#gw_save .gw_largeIcon
{
    
    height:54px;width:140px;
    background: url("../img/gw_spritesheet.png") no-repeat -0px -426px;margin:auto; 
    padding:auto; 
    margin-top:5px;
    }    

.gw_largeIcon:last-child
{ 
 margin-right:0px; 

}

#gw_topPackages
{
    position:relative;
    background:#f1f5f8;
    height:424px;
}
#gw_topPackages .gw_offerDetails
{ 
height:212px;
}
#gw_topPackages img
{
    position:relative;

 }

/* Specific Hero/Slider CSS (use IDs) */
  
  /* San Franciso Destination Details Page */
  #firstGWDDHero{
    float:left;
    width: 960px;
    height: 420px;
  }

  #firstGWDDHero .heroChildContainer>div
  {
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-size: 48px;
    color: #FFF;
    text-align: center;
    height:420px;
    text-align:center;
  }
  #firstGWDDHero .heroChildContainer .gw_dd_hero_text
  {
    position:absolute;
    width:100%;
    font-weight:bold;
    font-size: 76px;
    top:0px;
    text-shadow: #111111 1px 1px 1px; 
  }
  
  .oldie #firstGWDDHero .heroChildContainer .gw_dd_hero_text 
  {
   /* filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=1); 
    filter: Shadow(Color=#111111, Direction=135, Strength=2); */    
  }

  
/* Featured Destinations */
.gw_fd_container
{
    left: 50%;
    width: 960px;
    margin-left: -480px;
    margin-bottom: 40px;
    height:100%;
    float:left;
    position:relative;    
}

.gw_fd_header
{
    float:left;
    /*margin-top: 38px;*/
    margin-bottom: 21px;
    /*padding-bottom: 13px;*/
    width:100%;
    border-bottom: solid 1px #dae8f6;
}

.gw_fd_header .gw_midTitle { margin-bottom: 0; }


.gw_fd_subtitle
{
    float: left;
    font-size: 28px;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight:bold;
    color: #004990;
}

.gw_fd_socialbar
{
    float: right; 
    width: 302px;
    *width: 320px;  
    margin-top: 45px;
}

.gw_fd_socialbar iframe #facebook .pluginCountButtonNub i
{
    left:0px !important;
}

.gw_fd_container .row
{
    height: 335px;
    float: left;
    width: 100%;
    margin: 0 0 10px 0;    
}

.gw_fd_container .hero,
.gw_fd_container .destinationsBlock 
{
    width: 475px;
}

.gw_fd_container .hero.left
{
    float: left;
    margin: 0 8px 0 0;     
    height: 100%;
}

.gw_fd_container .hero.right
{
    float: right;    
    height: 100%;
}

.gw_fd_container .destinationsBlock .row 
{
    height: 162px;
    margin: 0 0 10px 0;
}

.gw_fd_container .destinationsBlock .destination 
{
    width: 232px;
    height: 162px;
}

.gw_fd_container .destinationsBlock.left,
.gw_fd_container .destinationsBlock .destination.left  
{
    float: left;
}

.gw_fd_container .destinationsBlock.right,
.gw_fd_container .destinationsBlock .destination.right
{
    float: right;
}


.gw_fd_container .jshero .heroChildContainer div
{
    height: 335px !important;
    width: 475px;
    cursor: pointer;
}

.gw_fd_container .jshero .heroChildContainer span
{
    float: left;
    width: 100%;
    cursor: pointer;
}


#gwFDLeftHero .heroOrbsContainer 
{
    background-color: transparent !important;   
    /*margin-left: 409px !important;
    margin-top: 300px !important;*/
    top: 300px !important;
    left: 409px !important;
    *top: -40px !important;  
    z-index: 50;
}

#gwFDRightHero .heroOrbsContainer 
{
    background-color:  transparent !important;  
    /*margin-left: 409px !important;
    margin-top: 300px !important;*/
    top: 300px !important;
    left: 409px !important;
    *top: -40px !important;
    z-index:1001;
}

.gw_fd_container .jshero .heroChildContainer .blueBar
{
    margin-top: -50px;
    height: 50px;    
}

/*.gw_fd_container .hero .blueBar
{
    height: 50px;    
    display: block;    
    margin-top: -50px;
    width: 100%;
    float: left;
}*/


/*.gw_fd_container #gwFDLeftHero .heroChildContainer .gw_hero_titleContainer
{
    height: 50px;
    margin-top: -50px;
    background: url("../img/heroPlaceHolder476x50.png") no-repeat 0 0;
}*/

/*.gw_fd_container .jshero .heroChildContainer .gw_smallTitle {
       
       font-size: 20px;
       padding: 0;
       height: 50px;
    color: white;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
   /* margin: -35px 0 0 12px;*/
   /*margin: 15px 0 0 12px;
}*/

.gw_fd_container .hero .gw_smallTitle {       
   font-size: 20px;
   float: left;
   padding: 0;
   height: 50px;
   color: white;
   font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
   font-weight: bold;
   /* margin: -35px 0 0 12px;*/
   margin: -35px 0 0 12px;
   position: absolute;
}

.destinationsBlock .gw_smallTitle
{
    color: White;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 0 0 0 18px;
    position: relative;
    margin-top: -25px;
    float: left;
}

.gw_fd_container .destinationsBlock .blueBar
{
    height: 34px;
    width: 100%;
    margin-top: -34px;
    cursor: pointer;
    float: left;
}


/*.gw_fd_container .destinationsBlock .gw_hero_titleContainer .gw_smallTitle
{
    height: 50px;
}*/

.gw_fd_container .row.otherGetaways
{    
    height: 309px;
}

.gw_fd_container .row.otherGetaways div,
.gw_fd_container .row.otherGetaways span
{
    width: 310px;
    float: left;
    margin: 0 15px 0 0;
}

.gw_fd_container .row.otherGetaways .otherGetawaysChild3 
{
       margin-right: 0px;
}

.gw_fd_container .row.otherGetaways .gw_OGContentContainer
{    
    border: 1px solid #e5e5e5;
    width: 99.5%;
    margin-right: 0;
    height: 128px;
    cursor: pointer;
}

.gw_fd_container .row.otherGetaways .gw_OGContentContainer .gw_smallTitle
{
    padding-top: 9%;
    padding-left: 30px;
    padding-right: 15px;
    width: 80%;      
    color: #004b93;
    font-size: 18px;
}

.gw_fd_container .row.otherGetaways .gw_OGContentContainer .gw_OgContent 
{ 
    padding-top: 2%;
    padding-left: 30px; 
   padding-right: 15px;
    width: 80%;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
}

#gwFDLeftHero, #gwFDRightHero {
	height: 335px;
}

/*End of Featured Destinations*/


/**** Experiences Page ****/
.gw_ex_container
{
    left: 50%;
    width: 960px;
    margin-left: -480px;
    height:auto;
    float:left;
    position:relative;
}

.gw_ex_sm_container
{
   float: left;
   width: 958px;
   margin-left:2px;
}

#gwExperiencesLanding .gw_dd_header {
	margin-bottom: 20px;
}
.gw_ex_sm_pointer div
{
    float: left;
    height: 9px;
    margin-bottom: 11px;
    margin-left: 72px;
    width: 87px;
}

.gw_ex_content_escape_title
{
    width: 960px;
    margin-top:20px;
    float:left;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #004990;
    padding-bottom:14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999999; 
}
.gw_ex_content_escape_container
{
    float:left;    

}
.gw_ex_content_escape_browse
{
    float:left;    
    width:931px;
    height:auto;
    background-color:#004990;
    padding-top: 29px;
    padding-left: 29px;
    padding-bottom: 23px;
}
.gw_ex_content_escape_browse_title
{
    float:left;  
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 13px;  
    color: #FFFFFF;
}
.gw_ex_content_escape_browse_filters
{
    float:left;    
    margin-top: 14px;
}
.gw_ex_content_escape_list
{
    float:left;    
    background-color: #f1f5f8;
    padding-top: 30px;
    padding-bottom:45px;
    padding-left:32px;
    width:928px;
}
.gw_ex_content_escape_list .footer_vadBTitle
{
    color: #004990;
    font-size:18px;
}
.gw_ex_content_escape_list .footer_vadBTitle
{
    color: #004990;
    font-size:18px;
}
.gw_ex_content_escape_list .footer_vadBContent1 a,.gw_ex_content_escape_list .footer_vadBContent2 a, .gw_ex_content_escape_list .footer_vadBContent3 a
{
    color: #4d90cd;
}
.gw_ex_content_escape_list .footer_vadB1
{
    width: 398px;
}

.gw_ex_content_escape_list .footer_vadB2
{
    width: 352px;
}

.gw_dd_content_stack .gw_Offer
{
    margin-bottom: 0;
}

.gw_ex_content_stack_right
{
    margin: 0px !important;    
}

.gw_ex_mainHero
{
    float: left;
}   


.gw_ex_mainHero .jshero
{
    float:left;
    width:960px;
    background-color: #F1F5F8;
    height: 420px;  
    overflow: hidden;
}
.gw_ex_mainHero .hero_buttons
{
    float:left;
    width:100%;
    height:auto;
    position:absolute;
    left:0;
}
.gw_ex_mainHero .hero_buttons .gw_SliderArrow
{
    margin:0px;
    position: relative;
}

.gw_ex_mainHero .heroOrbsContainer 
{
    background-color: transparent !important;    
    top: 385px !important;
}

.gw_ex_mainHero .heroChildContainer .gw_ex_hero_title
{
    position:absolute;
    width:960px;
    /*top:-468px;*/
    top:0;
    font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-align:center;
    text-shadow: #111111 1px 1px 1px;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=1);  
    filter: Shadow(Color=#111111, Direction=135, Strength=2);    
}
.gw_ex_mainHero .heroChildContainer .gw_ex_hero_title_location
{
    float:left;
    width:960px;
    font-size: 30px;  
}
.gw_ex_mainHero .heroChildContainer .gw_ex_hero_title_resort
{
    width:960px;
    float:left;
    font-size: 50px;  
}
.gw_ex_mainHero .heroChildContainer .gw_greybutton
{
    margin-right:210px;
    margin-top: 9px;
}
#gw_homeTopSlider .heroOrbsContainer 
{
    background-color: transparent !important;    
    top: 484px !important;
}
#gw_homeTopSlider .gw_dd_child1>a
{
    display:block;
    height:520px;
    overflow:hidden;
}
#gw_homeTopSlider .gw_dd_child2>a
{
    display:block;
    height:520px;
    overflow:hidden;
}
#gw_homeTopSlider .gw_dd_child3>a
{
    display:block;
    height:520px;
    overflow:hidden;
}
a
{
    cursor:pointer;    
}


.gw_dd_content_stack .gw_Offer
{
    min-height: auto;  
    padding-bottom: 17px;
}
.gw_dd_content_stack > div 
{
    height: auto;
}
.gw_dd_content_stack_offer 
{
    height:auto;    
}


/*************** deals deals DEALS!! *************/

 .gw_horizontalPackage
        {
            width: 960px;
            height: 260px;
            float: left;
        }
        
        .gw_horizlPackageContent
        {
            width: 480px;
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0px;
            height: 224px;
            border-top: 1px solid #d8dcdf;
            border-right: 1px solid #d8dcdf;
            border-bottom: 1px solid #d8dcdf;
            margin-left: -1px; /*   border-radius: 3px 3px 0px 0px; 
            -moz-border-radius: 3px 3px 0px 0px; 
            -webkit-border-radius: 3px 3px 0px 0px; */
        }
        .gw_horizPckgRow>a
        {
            margin-top:5px;
            display:block;
        }
        .gw_horizontalPackage .gw_horizPckgRow>.gw_vertDivider
        {
            height:39px;    
        }
        
        .gw_horizontalPackage .gw_midTitle
        {
            height: auto;
            line-height: 1;
            margin-bottom: 0px;
            height:55px;
        }
        .gw_horizontalPackage .gw_largBluePrice
        {
            margin-left: 5px;
            margin-top:5px;
            height:39px;
        }
        .gw_stars .gw_pTagSmallTxt, .gw_largBluePrice .gw_pTagSmallTxt, .gw_largBluePrice .gw_pTagLargeTxt, .gw_largBluePrice .gw_pTagMidTxt
        {
            color: #004990;
        }
        .gw_horizontalPackage .gw_pTagMidTxt
        {
            font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
            font-size: 28px;
            font-weight: bold;
            margin-left: 4px;
            position: relative;
            top: -14px;
        }
        .gw_horizontalPackage .gw_stars img
        {
            margin-top: 5px;
        }
        
        .gw_horizontalPackage .gw_stars
        {
            margin-right: 10px;
            margin-top: 3px;
        }
        .gw_horizontalPackage .gw_largBluePrice .gw_pTagRight
        {
            margin-top: 15px;
        }
        
        .gw_horizontalPackage .gw_fromTxt
        {
            display: block;
            float: left;
            margin-top: 5px;
        }
        .gw_horizontalPackage .gw_largBluePrice .gw_pTagLeft
        {
            margin-top: 0px;
        }
        
        .gw_horizontalPackage .gw_largBluePrice .gw_pTagLargeTxt
        {
            font-size: 50px;
            margin-top: 0px;
            font-weight:bold !important;
        }
        
        .gw_horizPckgRow
        {
            width: 480px;
            float: left;
            overflow:hidden;
        }
       .gw_horizPckgRow  .gw_clickTagArrow
        {
             float:right;
             margin-top:3px;
        }
        .gw_horizPckgRow .gw_pTagSmallTxt
        {
            margin-left:0px;
        }
        
        .gw_horizPckgRow .gw_launchModal
        {
            float: right;
        }
    
       
        .gw_topDealRow .gw_launchModal
        {
            float: left;
        }
        .gw_TopDealsDesc
        {
            line-height: 20px;
            margin-bottom: 20px;
            color: #454545;
            font-size: 12px;
        }
        .gw_horizPckgRow h2
        {
            width: 100%;
        }
        .gw_horizPckgRow .gw_modalLink
        {
            margin-top: 0px;
        }
        .gw_horizontalPackage .gw_vertDivider
        {
            border-left: 1px solid #d8dcdf;
            height: 15px;
            width:2px; 
            margin-top:5px;
            margin-left: 10px;
            margin-right: 10px; 
            display:block;
            float:left;
        }
        
        .gw_horizlPackageContent .gw_greyLine
        {
           height:140px;
           margin-top: 0px;
           margin-bottom: 10px;
           padding-bottom: 5px;
           float:left;
           width:480px;
           position:static; 
        }
        .gw_horizlPackageContent .gw_orangebutton
        {
            width: 90px;
            height: 23px;
            padding-top: 12px;
            margin-top:3px;
        }
        .gw_horizontalPackage .gw_pTagRight gw_pTagSmallTxt gw_floatLeft
        {
            line-height: 0px;
        }
        .gw_leftNumber
        {
            font-size: 70px;
            line-height: 240px;
            color: #cccccc;
            font-weight: bold;
            width: 70px;
            padding-right:10px;
            font-family: din-web-jetblue,Arial,Helvetica,sans-serif;
            text-align: right;
        }
        
        .gw_lightBlueTxt
        {
            color: #4d90cd;
            font-size: 10px;
        }
        .gw_viewMap
        {
            color: #4d90cd;
            font-weight: bold;
        }
        
        .gw_horizPckgRow .gw_modalLink .gw_smallLink
        {
            font-weight: bold;
            font-size: 11px;
            float:left;
        }
        .gw_horizPckgRow>.gw_modalLink
        {
            float:left;
            margin-left:200px;    
            margin-top:7px;
            width:140px;
        }
        .gw_iconDetails
        {
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            background: url("../img/gw_spritesheet.png") no-repeat -0px -1456px;
        }
        .gw_iconSavings
        {
            float: left;
            width: 25px;
            height: 22px;
            background: url("../img/gw_spritesheet.png") no-repeat -0px -1480px;
        }
        .gw_iconHotel
        {
            margin-right: 5px;
            float: left;
            width: 20px;
            height: 24px;
            margin-top: -2px;
            background: url("../img/gw_spritesheet.png") no-repeat -0px -1428px;
        }
        
        .gw_tinyQMark
        {
            margin-right: 0px;
            display: inline-block;
            width: 12px;
            height: 18px; 
            background: url("../img/gw_spritesheet.png") no-repeat -7px -1501px;
        }
        .gw_orangTxt
        {
            color: #FF9900;
        }
        
        .gw_topDealRow
        { 
            font-size:11px;
            width: 100%;
            float: left;
        }
        .gw_topDealRow .gw_modalLink .gw_smallLink
        {
            font-weight:normal;
            font-size: 10px;
        }
        
        .gw_ExclusiveTxt
        {
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
            padding-left: 10px;
            margin-top: 10px;
        }
        .gw_priceTagExclusive
        {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 255px;
            height: 60px;
            background: url("../img/gw_spritesheet.png") no-repeat -150px -737px;
        }
        
        .gw_horizontalPackage .gw_leftImage
        {
            position: relative;
        }
        
        
         I will address preventing  as soon as we are done here so it will go out first after production

        .gw_horizontalPackage .gw_greyLine
        {
            display:block;
            border-bottom:1px solid #d8dcdf; 
             
            margin-bottom:5px;
            width:100%;
            position:static;
        }
  
.gafootercityul {
	width: 220px;
	line-height:1.2;
}
.gafootercitylist {
	padding-bottom:8px;
}


.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

.centerVertically
{
    display:none;
}

