
#flight, .active, #calroot {
    -moz-border-radius:4px;
}

#flight {
    font-family:sans-serif;
    background:#333 ;
    height:56px;
    padding:12px 0 12px 30px;
    color:#ddd;
    font-size:11px;
    width:520px;
    margin:0 auto;
    -moz-box-shadow:0 0 10px #666;
    -webkit-box-shadow:0 0 10px #666;
}

#flight label {
    float:left;
    width:215px;
    display:block;
    padding:6px;
    border:1px solid transparent;
    margin-right:30px;
}

#flight .active {
    background-color:#fff;
    color:#333;
    border:1px solid #ccc;
    border-bottom:0;
}

.active input {
    color:#333;
    text-shadow:none;
}

/* date input */
.date {
    float:left; 
    display:block;
    border:0;
    font-size:12px;
    color:#555;
    width:128px;   
    cursor:pointer; margin-left: 4px; padding-left: 7px; margin-bottom: 12px; border-radius: 4px; 
  border: none;}
.rightout { margin-right: 0px; float: right; }
.leftadd { float: left; width: 85px;}
.rightadd  label{ position: relative; left: 5px;}