
/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
a{ color: #444;}
/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#333333;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#333333;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size: 15px; line-height:1.25;margin-bottom:1.25em; font-family:'open sans',Sans-Serif; color: #333333; }
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}

blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#dfdfdf;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* --------------------------------------------------------------

   BLUEPRINT CSS
    * Filename:        grid.css
    * Version:         1.0.1 (2011-05-14)
    * Website:         http://code.google.com/p/blueprintcss/

   Generated by:
    * BlueCalc (2012-07-10) [http://bluecalc.xily.info]

   Blueprint.css is licensed by the conditions of the MIT license.
   This document has been created by BlueCalc, a grid creation utility for blueprint.
   Also check out the "Blueprint CSS Generator" by kematzy (http://kematzy.com/blueprint-generator/)
	
   == STRUCTURE: ========================
    * Page width:            1000 px
    * Number of columns:     42 
    * Column width:          16 px
    * Margin width:          8 px
   ======================================
   
   The blueprint grid is calculated as follows:
   Total width = (number_of_columns * column_width) - margin_width
   
   For more information on blueprint.css check out http://wiki.github.com/joshuaclayton/blueprint-css
   
-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 1000px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(src/grid.png); 
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24, .span-25, .span-26, .span-27, .span-28, .span-29, .span-30, .span-31, .span-32, .span-33, .span-34, .span-35, .span-36, .span-37, .span-38, .span-39, .span-40, .span-41, .span-42 {
  float: left;
  margin-right: 8px;
}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 { width: 16px; }
.span-2 { width: 40px; }
.span-3 { width: 64px; }
.span-4 { width: 88px; }
.span-5 { width: 112px; }
.span-6 { width: 136px; }
.span-7 { width: 160px; }
.span-8 { width: 184px; }
.span-9 { width: 208px; }
.span-10 { width: 232px; }
.span-11 { width: 256px; }
.span-12 { width: 280px; }
.span-13 { width: 304px; }
.span-14 { width: 328px; }
.span-15 { width: 352px; }
.span-16 { width: 376px; }
.span-17 { width: 400px; }
.span-18 { width: 424px; }
.span-19 { width: 448px; }
.span-20 { width: 472px; }
.span-21 { width: 496px; }
.span-22 { width: 520px; }
.span-23 { width: 544px; }
.span-24 { width: 568px; }
.span-25 { width: 592px; }
.span-26 { width: 616px; }
.span-27 { width: 640px; }
.span-28 { width: 664px; }
.span-29 { width: 688px; }
.span-30 { width: 712px; }
.span-31 { width: 736px; }
.span-32 { width: 760px; }
.span-33 { width: 784px; }
.span-34 { width: 808px; }
.span-35 { width: 832px; }
.span-36 { width: 856px; }
.span-37 { width: 880px; }
.span-38 { width: 904px; }
.span-39 { width: 928px; }
.span-40 { width: 952px; }
.span-41 { width: 976px; }
.span-42 { width: 1000px; margin-right: 0; }

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24, input.span-25, textarea.span-25, input.span-26, textarea.span-26, input.span-27, textarea.span-27, input.span-28, textarea.span-28, input.span-29, textarea.span-29, input.span-30, textarea.span-30, input.span-31, textarea.span-31, input.span-32, textarea.span-32, input.span-33, textarea.span-33, input.span-34, textarea.span-34, input.span-35, textarea.span-35, input.span-36, textarea.span-36, input.span-37, textarea.span-37, input.span-38, textarea.span-38, input.span-39, textarea.span-39, input.span-40, textarea.span-40, input.span-41, textarea.span-41, input.span-42, textarea.span-42 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 4px; }
input.span-2, textarea.span-2 { width: 28px; }
input.span-3, textarea.span-3 { width: 52px; }
input.span-4, textarea.span-4 { width: 76px; }
input.span-5, textarea.span-5 { width: 100px; }
input.span-6, textarea.span-6 { width: 124px; }
input.span-7, textarea.span-7 { width: 148px; }
input.span-8, textarea.span-8 { width: 172px; }
input.span-9, textarea.span-9 { width: 196px; }
input.span-10, textarea.span-10 { width: 220px; }
input.span-11, textarea.span-11 { width: 244px; }
input.span-12, textarea.span-12 { width: 268px; }
input.span-13, textarea.span-13 { width: 292px; }
input.span-14, textarea.span-14 { width: 316px; }
input.span-15, textarea.span-15 { width: 340px; }
input.span-16, textarea.span-16 { width: 364px; }
input.span-17, textarea.span-17 { width: 388px; }
input.span-18, textarea.span-18 { width: 412px; }
input.span-19, textarea.span-19 { width: 436px; }
input.span-20, textarea.span-20 { width: 460px; }
input.span-21, textarea.span-21 { width: 484px; }
input.span-22, textarea.span-22 { width: 508px; }
input.span-23, textarea.span-23 { width: 532px; }
input.span-24, textarea.span-24 { width: 556px; }
input.span-25, textarea.span-25 { width: 580px; }
input.span-26, textarea.span-26 { width: 604px; }
input.span-27, textarea.span-27 { width: 628px; }
input.span-28, textarea.span-28 { width: 652px; }
input.span-29, textarea.span-29 { width: 676px; }
input.span-30, textarea.span-30 { width: 700px; }
input.span-31, textarea.span-31 { width: 724px; }
input.span-32, textarea.span-32 { width: 748px; }
input.span-33, textarea.span-33 { width: 772px; }
input.span-34, textarea.span-34 { width: 796px; }
input.span-35, textarea.span-35 { width: 820px; }
input.span-36, textarea.span-36 { width: 844px; }
input.span-37, textarea.span-37 { width: 868px; }
input.span-38, textarea.span-38 { width: 892px; }
input.span-39, textarea.span-39 { width: 916px; }
input.span-40, textarea.span-40 { width: 940px; }
input.span-41, textarea.span-41 { width: 964px; }
input.span-42, textarea.span-42 { width: 988px; }

/* Add these to a column to append empty cols. */

.append-1 { padding-right: 24px; }
.append-2 { padding-right: 48px; }
.append-3 { padding-right: 72px; }
.append-4 { padding-right: 96px; }
.append-5 { padding-right: 120px; }
.append-6 { padding-right: 144px; }
.append-7 { padding-right: 168px; }
.append-8 { padding-right: 192px; }
.append-9 { padding-right: 216px; }
.append-10 { padding-right: 240px; }
.append-11 { padding-right: 264px; }
.append-12 { padding-right: 288px; }
.append-13 { padding-right: 312px; }
.append-14 { padding-right: 336px; }
.append-15 { padding-right: 360px; }
.append-16 { padding-right: 384px; }
.append-17 { padding-right: 408px; }
.append-18 { padding-right: 432px; }
.append-19 { padding-right: 456px; }
.append-20 { padding-right: 480px; }
.append-21 { padding-right: 504px; }
.append-22 { padding-right: 528px; }
.append-23 { padding-right: 552px; }
.append-24 { padding-right: 576px; }
.append-25 { padding-right: 600px; }
.append-26 { padding-right: 624px; }
.append-27 { padding-right: 648px; }
.append-28 { padding-right: 672px; }
.append-29 { padding-right: 696px; }
.append-30 { padding-right: 720px; }
.append-31 { padding-right: 744px; }
.append-32 { padding-right: 768px; }
.append-33 { padding-right: 792px; }
.append-34 { padding-right: 816px; }
.append-35 { padding-right: 840px; }
.append-36 { padding-right: 864px; }
.append-37 { padding-right: 888px; }
.append-38 { padding-right: 912px; }
.append-39 { padding-right: 936px; }
.append-40 { padding-right: 960px; }
.append-41 { padding-right: 984px; }

/* Add these to a column to prepend empty cols. */

.prepend-1 { padding-left: 24px; }
.prepend-2 { padding-left: 48px; }
.prepend-3 { padding-left: 72px; }
.prepend-4 { padding-left: 96px; }
.prepend-5 { padding-left: 120px; }
.prepend-6 { padding-left: 144px; }
.prepend-7 { padding-left: 168px; }
.prepend-8 { padding-left: 192px; }
.prepend-9 { padding-left: 216px; }
.prepend-10 { padding-left: 240px; }
.prepend-11 { padding-left: 264px; }
.prepend-12 { padding-left: 288px; }
.prepend-13 { padding-left: 312px; }
.prepend-14 { padding-left: 336px; }
.prepend-15 { padding-left: 360px; }
.prepend-16 { padding-left: 384px; }
.prepend-17 { padding-left: 408px; }
.prepend-18 { padding-left: 432px; }
.prepend-19 { padding-left: 456px; }
.prepend-20 { padding-left: 480px; }
.prepend-21 { padding-left: 504px; }
.prepend-22 { padding-left: 528px; }
.prepend-23 { padding-left: 552px; }
.prepend-24 { padding-left: 576px; }
.prepend-25 { padding-left: 600px; }
.prepend-26 { padding-left: 624px; }
.prepend-27 { padding-left: 648px; }
.prepend-28 { padding-left: 672px; }
.prepend-29 { padding-left: 696px; }
.prepend-30 { padding-left: 720px; }
.prepend-31 { padding-left: 744px; }
.prepend-32 { padding-left: 768px; }
.prepend-33 { padding-left: 792px; }
.prepend-34 { padding-left: 816px; }
.prepend-35 { padding-left: 840px; }
.prepend-36 { padding-left: 864px; }
.prepend-37 { padding-left: 888px; }
.prepend-38 { padding-left: 912px; }
.prepend-39 { padding-left: 936px; }
.prepend-40 { padding-left: 960px; }
.prepend-41 { padding-left: 984px; }

/* Border on right hand side of a column. */
.border {
	padding-right: 4px;
	margin-right: 5px;
	border-right: 1px solid #ddd;
}

/* Border with more whitespace, spans one column. */
.colborder {
	padding-right: 24px;
	margin-right: 25px;
	border-right: 1px solid #ddd;
}

/* Use these classes on an element to push it into the 
next column, or to pull it into the previous column.  */
.pull-1 { margin-left: -24px; }
.pull-2 { margin-left: -48px; }
.pull-3 { margin-left: -72px; }
.pull-4 { margin-left: -96px; }
.pull-5 { margin-left: -120px; }
.pull-6 { margin-left: -144px; }
.pull-7 { margin-left: -168px; }
.pull-8 { margin-left: -192px; }
.pull-9 { margin-left: -216px; }
.pull-10 { margin-left: -240px; }
.pull-11 { margin-left: -264px; }
.pull-12 { margin-left: -288px; }
.pull-13 { margin-left: -312px; }
.pull-14 { margin-left: -336px; }
.pull-15 { margin-left: -360px; }
.pull-16 { margin-left: -384px; }
.pull-17 { margin-left: -408px; }
.pull-18 { margin-left: -432px; }
.pull-19 { margin-left: -456px; }
.pull-20 { margin-left: -480px; }
.pull-21 { margin-left: -504px; }
.pull-22 { margin-left: -528px; }
.pull-23 { margin-left: -552px; }
.pull-24 { margin-left: -576px; }
.pull-25 { margin-left: -600px; }
.pull-26 { margin-left: -624px; }
.pull-27 { margin-left: -648px; }
.pull-28 { margin-left: -672px; }
.pull-29 { margin-left: -696px; }
.pull-30 { margin-left: -720px; }
.pull-31 { margin-left: -744px; }
.pull-32 { margin-left: -768px; }
.pull-33 { margin-left: -792px; }
.pull-34 { margin-left: -816px; }
.pull-35 { margin-left: -840px; }
.pull-36 { margin-left: -864px; }
.pull-37 { margin-left: -888px; }
.pull-38 { margin-left: -912px; }
.pull-39 { margin-left: -936px; }
.pull-40 { margin-left: -960px; }
.pull-41 { margin-left: -984px; }
.pull-42 { margin-left: -1008px; }
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24, .pull-25, .pull-26, .pull-27, .pull-28, .pull-29, .pull-30, .pull-31, .pull-32, .pull-33, .pull-34, .pull-35, .pull-36, .pull-37, .pull-38, .pull-39, .pull-40, .pull-41, .pull-42 { 
	float: left;
	position:relative;
}

.push-1 { margin: 0 -24px 1.5em 24px; }
.push-2 { margin: 0 -48px 1.5em 48px; }
.push-3 { margin: 0 -72px 1.5em 72px; }
.push-4 { margin: 0 -96px 1.5em 96px; }
.push-5 { margin: 0 -120px 1.5em 120px; }
.push-6 { margin: 0 -144px 1.5em 144px; }
.push-7 { margin: 0 -168px 1.5em 168px; }
.push-8 { margin: 0 -192px 1.5em 192px; }
.push-9 { margin: 0 -216px 1.5em 216px; }
.push-10 { margin: 0 -240px 1.5em 240px; }
.push-11 { margin: 0 -264px 1.5em 264px; }
.push-12 { margin: 0 -288px 1.5em 288px; }
.push-13 { margin: 0 -312px 1.5em 312px; }
.push-14 { margin: 0 -336px 1.5em 336px; }
.push-15 { margin: 0 -360px 1.5em 360px; }
.push-16 { margin: 0 -384px 1.5em 384px; }
.push-17 { margin: 0 -408px 1.5em 408px; }
.push-18 { margin: 0 -432px 1.5em 432px; }
.push-19 { margin: 0 -456px 1.5em 456px; }
.push-20 { margin: 0 -480px 1.5em 480px; }
.push-21 { margin: 0 -504px 1.5em 504px; }
.push-22 { margin: 0 -528px 1.5em 528px; }
.push-23 { margin: 0 -552px 1.5em 552px; }
.push-24 { margin: 0 -576px 1.5em 576px; }
.push-25 { margin: 0 -600px 1.5em 600px; }
.push-26 { margin: 0 -624px 1.5em 624px; }
.push-27 { margin: 0 -648px 1.5em 648px; }
.push-28 { margin: 0 -672px 1.5em 672px; }
.push-29 { margin: 0 -696px 1.5em 696px; }
.push-30 { margin: 0 -720px 1.5em 720px; }
.push-31 { margin: 0 -744px 1.5em 744px; }
.push-32 { margin: 0 -768px 1.5em 768px; }
.push-33 { margin: 0 -792px 1.5em 792px; }
.push-34 { margin: 0 -816px 1.5em 816px; }
.push-35 { margin: 0 -840px 1.5em 840px; }
.push-36 { margin: 0 -864px 1.5em 864px; }
.push-37 { margin: 0 -888px 1.5em 888px; }
.push-38 { margin: 0 -912px 1.5em 912px; }
.push-39 { margin: 0 -936px 1.5em 936px; }
.push-40 { margin: 0 -960px 1.5em 960px; }
.push-41 { margin: 0 -984px 1.5em 984px; }
.push-42 { margin: 0 -1008px 1.5em 1008px; }
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24, .push-25, .push-26, .push-27, .push-28, .push-29, .push-30, .push-31, .push-32, .push-33, .push-34, .push-35, .push-36, .push-37, .push-38, .push-39, .push-40, .push-41, .push-42 { 
	float: right;
	position:relative;
}

/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top { margin-top: 1.5em; }
div.append-bottom, .append-bottom { margin-bottom: 1.5em; }

/* Use a .box to create a padded box inside a column.  */ 
.box {
	padding: 1.5em;
	margin-bottom: 1.5em;
	background: #E5ECF9;
}

/* Use this to create a horizontal ruler across a column. */
hr {
	background: #DDD;
	color: #DDD;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 0 0 17px;
	border: none;
}

hr.space {
	background: #FFF;
	color: #FFF;
	visibility: hidden;
}
div.stripe{
	border: 1px dashed #ccc; border-left: none; border-right: none; border-top: none; border-none; height: 10px; margin: 0px 10px 10px 10px; 
}

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.clearfix, .container { display: block; }

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear: both; }
.left { float: left; }
.right { float: right; }
